<ng-container *ngIf="!showDetailView">
  <div
    class="mb-3"
    *ngIf="currentRole === 'owner' || currentRole === 'property-manager'"
  >
    <app-white-card>
      <div class="commonTabs">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
          <li class="nav-item" role="presentation">
            <button
              class="nav-link"
              [class.active]="activeTab === 'properties'"
              (click)="activeTab = 'properties'; showDetailView = false"
            >
              {{ "PROPERTIES" | translate }}
            </button>
          </li>

          <li class="nav-item" role="presentation">
            <button
              class="nav-link"
              [class.active]="activeTab === 'leads'"
              (click)="activeTab = 'leads'; showDetailView = false"
            >
              {{ "PROPERTY_LEADS" | translate }}
            </button>
            <span class="count-badge" *ngIf="activeTab === 'leads'">125</span>
          </li>
        </ul>
      </div>
    </app-white-card>
  </div>

  <!-- <router-outlet></router-outlet> -->

  <!-- PropertiesComponent.html -->
  <ng-container *ngIf="activeTab === 'properties'">
    <div
      *ngIf="currentRole === 'owner' || currentRole === 'property-manager'"
      class="mb-3 d-xl-none"
    >
      <div class="row align-items-center justify-content-between g-3">
        <div class="col">
          <app-dash-title title="Properties" />
        </div>
        <div class="col-auto">
          <button
            type="button"
            class="btn btnCommon"
            (click)="goToAddProperty()"
          >
            <i><app-plus-icon /></i>{{ "ADD_PROPERTY" | translate }}
          </button>
        </div>
      </div>
    </div>
    <div class="cmmnTblOuter">
      <div class="cmmnTblHdr">
        <div class="row g-3 align-items-center">
          <div class="col-md">
            <div *ngIf="currentRole === 'tenant'" class="cmmnTblRadio">
              <label>
                <input
                  type="radio"
                  name="property"
                  value="my-properties"
                  [(ngModel)]="propertyView"
                  (change)="onPropertyViewChange()"
                />
                <span>{{ "MY_PROPERTIES" | translate }} <i>(2)</i></span>
              </label>
              <label>
                <input
                  type="radio"
                  name="property"
                  value="all-properties"
                  [(ngModel)]="propertyView"
                  (change)="onPropertyViewChange()"
                />
                <span
                  >{{ "ALL_PROPERTIES" | translate }}
                  <i>({{ totalRecords }})</i>
                  <button type="button"><app-refresh-icon /></button
                ></span>
              </label>
            </div>
            <ng-container
              *ngIf="
                currentRole === 'owner' || currentRole === 'property-manager'
              "
            >
              <app-table-title
                [title]="'ALL_PROPERTIES' | translate"
                [subtitle]="'(' + totalRecords + ')'"
                (onRefresh)="onRefresh()"
              ></app-table-title>
            </ng-container>
          </div>
          <div class="col-md-auto">
            <div class="d-flex align-items-center gap-2 gap-md-3">
              <ng-container *ngIf="propertyView === 'my-properties'">
                <!-- <app-custom-select
                [options]="[
                  'Falcom city',
                  'Novatis AG...',
                  'Agriculture',
                  'Honda',
                  'TVS',
                  'Samsung'
                ]"
                [placeholder]="selected"
                [selectedOption]="selected"
                (optionSelected)="onOptionSelected($event)"
                [isFilter]="true"
              >
              </app-custom-select> -->
              </ng-container>
              <ng-container *ngIf="propertyView === 'all-properties'">
                <app-table-search
                  [placeholder]="'SEARCH_HERE' | translate"
                  (onValueChange)="searchTextChange($event)"
                />
                <app-filter-popup-btn #filterPopup>
                  <app-table-filter-btn
                    [title]="'FILTER' | translate"
                    [hasIcon]="true"
                  >
                    <app-filter-icon />
                  </app-table-filter-btn>

                  <ng-container form>
                    <form>
                      <div class="row g-3">
                        <div class="col-md-6">
                          <label class="form-label">{{
                            "TENANCY_STATUS" | translate
                          }}</label>
                          <app-custom-select
                            [options]="rentalStatus"
                            key="key"
                            value="value"
                            [placeholder]="'SELECT_TENANCY_STATUS' | translate"
                            (optionSelected)="selectedrentalstatus = $event"
                            (click)="onRentalTenancyClick()"
                          >
                          </app-custom-select>
                        </div>
                      </div>
                    </form>
                  </ng-container>
                  <ng-container action>
                    <button
                      type="button"
                      class="btn btnCommon"
                      (click)="removeFilter(); filterPopup.closePopup()"
                    >
                      {{ "REMOVE_ALL" | translate }}
                    </button>
                    <button
                      type="button"
                      class="btn btnCommon"
                      (click)="applyFilter()"
                    >
                      {{ "APPLY" | translate }}
                    </button>
                  </ng-container>
                </app-filter-popup-btn>
                <app-table-filter-btn
                  [title]="'EXPORT' | translate"
                  [hasIcon]="true"
                  (clicked)="handleExportClick()"
                >
                  <app-export-icon />
                </app-table-filter-btn>
              </ng-container>
            </div>
          </div>
        </div>
      </div>
      <div class="cmmnTblBody">
        <!-- My Properties -->
        <app-white-card
          *ngIf="propertyView === 'my-properties'"
          class="myProprtyCard"
        >
          <app-property-view-card
            [propertyImages]="property.propertyImages"
            [name]="property.name"
            [location]="property.location"
            [status]="property.status"
            [price]="property.rent"
            [bhk]="property.bhk"
            [sqft]="property.sqft"
            [sections]="property.sections"
          >
          </app-property-view-card>
          <div class="mt-4">
            <app-card-title
              [title]="'ALL_DOCUMENTS' | translate"
            ></app-card-title>

            <div class="commonTabs mt-2">
              <ul class="nav nav-tabs" id="myTab" role="tablist">
                @for (type of propertyDocumentType; track type.key) {
                  <li class="nav-item" role="presentation">
                    <button
                      class="nav-link"
                      [class.active]="type.key === activeDocTypeKey"
                      [id]="type.key + '-tab'"
                      data-bs-toggle="tab"
                      [attr.data-bs-target]="'#' + type.key + '-tab-pane'"
                      type="button"
                      role="tab"
                      [attr.aria-controls]="type.key + '-tab-pane'"
                      [attr.aria-selected]="type.key === activeDocTypeKey"
                      (click)="onDocTabClick(type)"
                    >
                      {{ type.value }}
                    </button>
                  </li>
                }
              </ul>
            </div>
            <div class="commonTabsContent">
              <div class="tab-content" id="myTabContent">
                @for (
                  type of propertyDocumentType;
                  track type.key;
                  let i = $index
                ) {
                  <div
                    [ngClass]="{
                      'tab-pane': true,
                      fade: true,
                      show: type.key === activeDocTypeKey,
                      active: type.key === activeDocTypeKey,
                    }"
                    [id]="type.key + '-tab-pane'"
                    role="tabpanel"
                    [attr.aria-labelledby]="type.key + '-tab'"
                    [tabindex]="i"
                  >
                    <div class="row g-2">
                      @for (
                        docsGroup of propertyDocuments[activeDocTypeKey];
                        track docsGroup.id
                      ) {
                        <div class="col-auto">
                          <app-document-type-item
                            [title]="docsGroup.file_name"
                          />
                        </div>
                      } @empty {
                        <div class="col-auto m-auto">
                          Documents not available!
                        </div>
                      }
                    </div>
                  </div>
                }
              </div>
            </div>
          </div>
        </app-white-card>

        <!-- All Properties -->
        <div *ngIf="propertyView === 'all-properties'" class="table-responsive">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th *ngIf="currentRole === 'property-manager'">
                  {{ "PROPERTY_ID" | translate }}
                </th>
                <th>
                  <button type="button">
                    {{ "PROPERTY_UNIT" | translate }}<i><app-sorting-icon /></i>
                  </button>
                </th>
                <th>
                  <button type="button">
                    {{ "PROPERTY_NAME" | translate }}<i><app-sorting-icon /></i>
                  </button>
                </th>
                <th
                  *ngIf="
                    currentRole === 'owner' ||
                    currentRole === 'property-manager'
                  "
                >
                  <button type="button">
                    {{ "TENANT_NAME" | translate }} <i><app-sorting-icon /></i>
                  </button>
                </th>
                <th *ngIf="currentRole === 'owner'">
                  {{ "AGREEMENT_EXPIRATION" | translate }}
                </th>
                <th
                  *ngIf="
                    currentRole === 'tenant' ||
                    currentRole === 'property-manager'
                  "
                >
                  {{ "OWNER_NAME" | translate }}
                </th>
                <th
                  *ngIf="
                    currentRole === 'property-manager' ||
                    currentRole === 'tenant'
                  "
                >
                  {{ "TENANCY_STATUS" | translate }}
                </th>
                <th *ngIf="currentRole === 'owner' || currentRole === 'tenant'">
                  {{ "DIMENSION" | translate }}
                </th>
                <th *ngIf="currentRole === 'owner' || currentRole === 'tenant'">
                  {{ "PMC" | translate }}
                </th>
                <th
                  *ngIf="
                    currentRole === 'owner' ||
                    currentRole === 'property-manager'
                  "
                  width="200"
                ></th>
              </tr>
            </thead>
            <tbody>
              @for (property of propertiesList; track $index) {
                <tr>
                  <td *ngIf="currentRole === 'property-manager'">
                    {{ property.property_unit_id }}
                  </td>
                  <td>
                    <app-table-img-item
                      [img]="
                        property?.property_image ??
                        '../../../../assets/property/property-img-default.svg'
                      "
                      size="md"
                      [title]="property.property_unit_name"
                      [clickable]="true"
                      (clicked)="handleViewClick(property.property_unit_id)"
                    />
                  </td>
                  <td>{{ property.property_name }}</td>
                  <td
                    *ngIf="
                      currentRole === 'owner' ||
                      currentRole === 'property-manager'
                    "
                  >
                    @if (property?.tenant_name) {
                      <app-table-img-item
                        [img]="
                          property?.tenant_profile_image ??
                          '../../../../assets/userDefaultProImg.png'
                        "
                        [title]="property?.tenant_name || 'N/A'"
                      />
                    } @else {
                      N/A
                    }
                  </td>
                  <td *ngIf="currentRole === 'owner'">
                    <app-badge
                      [title]="property.agreement_expiration || 'N/A'"
                      [status]="
                        getAgreementExpirationStatusColor(
                          property.agreement_expiration
                        )
                      "
                    />
                  </td>
                  <td
                    *ngIf="
                      currentRole === 'tenant' ||
                      currentRole === 'property-manager'
                    "
                  >
                    {{ property?.owner_name || "N/A" }}
                  </td>
                  <td
                    *ngIf="
                      currentRole === 'property-manager' ||
                      currentRole === 'tenant'
                    "
                  >
                    <app-badge
                      [title]="property.tenancy_status"
                      [status]="
                        property.tenancy_status === 'Available'
                          ? 'red'
                          : 'green'
                      "
                    />
                  </td>
                  <td
                    *ngIf="currentRole === 'owner' || currentRole === 'tenant'"
                  >
                    {{ property.dimension || "N/A" }}
                  </td>
                  <td
                    *ngIf="currentRole === 'owner' || currentRole === 'tenant'"
                  >
                    {{ property?.company_name || "N/A" }}
                  </td>
                  <td
                    *ngIf="
                      currentRole === 'owner' ||
                      currentRole === 'property-manager'
                    "
                    align="center"
                  >
                    <div class="cmmnTblActnBtnDiv">
                      <app-table-action-btn
                        type="edit"
                        (clicked)="handleEditClick(property.property_unit_id)"
                      />
                      <!-- <app-table-action-btn
                    type="delete"
                    (clicked)="handleDeleteClick()"
                  /> -->
                      <app-table-action-dropdown
                        [dropdownItems]="documentActions"
                        (actionClicked)="handleDropdownAction($event)"
                      >
                      </app-table-action-dropdown>
                    </div>
                  </td>
                </tr>
              } @empty {
                <tr>
                  <td colspan="20" align="center">
                    <app-no-data></app-no-data>
                  </td>
                </tr>
              }
            </tbody>
          </table>
        </div>
      </div>
      <div class="cmmnTblFtr" *ngIf="propertyView === 'all-properties'">
        <app-table-select
          [componentName]="componentName"
          [rowsPerPage]="rowsPerPage"
          [rowsPerPageOptions]="rowsPerPageOptions"
          (rowsPerPageChange)="onPageSizeChange($event)"
        />
        <app-table-pagination
          [componentName]="componentName"
          [currentPage]="currentPage"
          [totalRecords]="totalRecords"
          [rowsPerPage]="rowsPerPage"
          (pageChange)="onPageChange($event)"
        />
      </div>
    </div>
  </ng-container>

  <ng-container *ngIf="activeTab === 'leads'">
    <app-property-leads></app-property-leads>
  </ng-container>
</ng-container>

<ng-container *ngIf="showDetailView">
  <app-white-card>
    <app-property-view-card
      [propertyImages]="property.propertyImages"
      [name]="property.name"
      [location]="property.location"
      [status]="property.status"
      [price]="property.rent"
      [bhk]="property.bhk"
      [sqft]="property.sqft"
      [sections]="property.sections"
      [showBack]="true"
      (back)="handleBackClick()"
    >
    </app-property-view-card>
  </app-white-card>
  <div class="mt-3">
    <app-white-card title="All Documents">
      <div class="commonTabs">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
          @for (type of propertyDocumentType; track type.key) {
            <li class="nav-item" role="presentation">
              <button
                class="nav-link"
                [class.active]="type.key === activeDocTypeKey"
                [id]="type.key + '-tab'"
                data-bs-toggle="tab"
                [attr.data-bs-target]="'#' + type.key + '-tab-pane'"
                type="button"
                role="tab"
                [attr.aria-controls]="type.key + '-tab-pane'"
                [attr.aria-selected]="type.key === activeDocTypeKey"
                (click)="onDocTabClick(type)"
              >
                {{ type.value }}
              </button>
            </li>
          }
        </ul>
      </div>
      <div class="commonTabsContent">
        <div class="tab-content" id="myTabContent">
          @for (type of propertyDocumentType; track type.key; let i = $index) {
            <div
              [ngClass]="{
                'tab-pane': true,
                fade: true,
                show: type.key === activeDocTypeKey,
                active: type.key === activeDocTypeKey,
              }"
              [id]="type.key + '-tab-pane'"
              role="tabpanel"
              [attr.aria-labelledby]="type.key + '-tab'"
              [tabindex]="i"
            >
              <div class="row g-2">
                @for (
                  docsGroup of propertyDocuments[activeDocTypeKey];
                  track docsGroup.id
                ) {
                  <div class="col-auto">
                    <app-document-type-item [title]="docsGroup.file_name" />
                  </div>
                } @empty {
                  <div class="col-auto m-auto">Documents not available!</div>
                }
              </div>
            </div>
          }
        </div>
      </div>
    </app-white-card>
  </div>
</ng-container>
