.badgeText {
  font-size: 13px;
  color: var(--greyText);
  font-weight: 500;
  line-height: 18px;
}

.badgeText.green {
  color: var(--greenText);
}

.badgeText.greenLight {
  color: var(--greenLightText);
}

.badgeText.orange {
  color: var(--orangeText);
}

.badgeText.blue {
  color: var(--blueText);
}

.badgeText.red {
  color: var(--redText);
}

.badgeText.yellow {
  color: var(--yellowText);
}

.status-badge {
  font-size: 14px;
  font-weight: 500;
}

.completed {
  color: #2e7d32;
}

.in-progress {
  color: #fb8c00;
}

.assigned {
  color: #2979ff;
}

.rejected {
  color: #d32f2f;
}
