<div
  class="badgeText"
  [class.green]="status === 'green'"
  [class.greenLight]="status === 'light-green'"
  [class.orange]="status === 'orange'"
  [class.blue]="status === 'blue'"
  [class.red]="status === 'red'"
  [class.yellow]="status === 'yellow'"
  [class.pill]="enableBg"
>
  <i *ngIf="showIcon && status === 'green'">
    <span style="color: green">&#x2713;</span>
  </i>

  <i *ngIf="showIcon && status === 'orange'"> </i>

  <i *ngIf="showIcon && status === 'black'">
    <app-amount-credited-icon></app-amount-credited-icon>
  </i>

  <i *ngIf="showIcon && status === 'red'">
    <app-disable-icon></app-disable-icon>
  </i>

  <i *ngIf="showIcon && status === 'yellow'">
    <app-pending-icon></app-pending-icon>
  </i>
  {{ title }}
</div>
