<svg
  width="34"
  height="21"
  viewBox="0 0 34 21"
  fill="none"
  xmlns="http://www.w3.org/2000/svg"
>
  <rect width="34" height="18" rx="9" fill="#1988FD" />
  <g filter="url(#filter0_d_16415_80684)">
    <circle cx="9" cy="9" r="6" fill="white" />
  </g>
  <defs>
    <filter
      id="filter0_d_16415_80684"
      x="1"
      y="1"
      width="20"
      height="20"
      filterUnits="userSpaceOnUse"
      color-interpolation-filters="sRGB"
    >
      <feFlood flood-opacity="0" result="BackgroundImageFix" />
      <feColorMatrix
        in="SourceAlpha"
        type="matrix"
        values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
        result="hardAlpha"
      />
      <feOffset dx="2" dy="2" />
      <feGaussianBlur stdDeviation="2" />
      <feComposite in2="hardAlpha" operator="out" />
      <feColorMatrix
        type="matrix"
        values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"
      />
      <feBlend
        mode="normal"
        in2="BackgroundImageFix"
        result="effect1_dropShadow_16415_80684"
      />
      <feBlend
        mode="normal"
        in="SourceGraphic"
        in2="effect1_dropShadow_16415_80684"
        result="shape"
      />
    </filter>
  </defs>
</svg>
