.userProCol {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-bottom: 32px;
}

.usertProIcon {
    background-color: var(--whiteBg);
    width: 60px;
    height: 60px;
    border-radius: 8px;
}

.usertProIcon i {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--greyLightText);
    width: 60px;
    min-width: 60px;
    height: 60px;
    border: 1px dashed var(--muteBorder2);
    border-radius: 8px;
}

.usertProIcon img {
    width: 60px;
    min-width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 8px;
}

.userProTtl button {
    background-color: var(--whiteBg);
    font-size: 14px;
    color: var(--greyText);
    font-weight: 400;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 38px;
    padding: 10px;
    border: 0;
    border-radius: 10px;
    box-shadow: 0 0 6px 0 #00000026;
}

.userProTtl p {
    font-size: 12px;
    color: var(--greyText);
    font-weight: 400;
    line-height: 16px;
    margin: 8px 0 0 0;
}