<app-modal-form-card>
  <form>
    <div class="userProCol">
      <div class="usertProIcon">
        <i *ngIf="!userImage"><app-upload-big-icon /></i>
        <img
          *ngIf="userImage"
          [src]="userImage"
          width="60"
          height="60"
          alt="User Profile Image"
        />
      </div>
      <div class="userProTtl">
        <button type="button" (click)="triggerFileInput()">
          {{ "UPLOAD_IMAGE" | translate }}
        </button>
        <input
          type="file"
          #fileInput
          (change)="onFileSelected($event)"
          accept=".png, .jpg, .jpeg"
          hidden
        />
        <p>JPG, GIF or PNG. Max size of 800K</p>
      </div>
    </div>
    <div class="row g-3">
      <div class="col-md-6">
        <div class="mb-0">
          <label for="fName" class="form-label"
            >{{ "FIRST_NAME" | translate }}<span>*</span></label
          >
          <input
            class="form-control"
            type="email"
            name="fName"
            [placeholder]="'ENTER_HERE' | translate"
          />
        </div>
      </div>
      <div class="col-md-6">
        <div class="mb-0">
          <label for="lName" class="form-label"
            >{{ "LAST_NAME" | translate }}<span>*</span></label
          >
          <input
            class="form-control"
            type="email"
            name="lName"
            [placeholder]="'ENTER_HERE' | translate"
          />
        </div>
      </div>
      <div class="col-md-6">
        <div class="mb-0">
          <label for="email" class="form-label"
            >{{ "EMAIL" | translate }}<span>*</span></label
          >
          <div class="iconInput">
            <i><app-email-icon /></i>
            <input
              class="form-control"
              type="email"
              name="email"
              [placeholder]="'ENTER_HERE' | translate"
            />
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="mb-0">
          <label for="phone" class="form-label"
            >{{ "PHONE_NUMBER" | translate }}<span>*</span></label
          >
          <input
            class="form-control"
            type="number"
            name="phone"
            [placeholder]="'ENTER_HERE' | translate"
          />
        </div>
      </div>
      <div class="col-md-6">
        <div class="mb-0">
          <label for="role" class="form-label"
            >{{ "ROLE" | translate }}<span>*</span></label
          >
          <app-custom-select
            [options]="['Admin', 'Owner', 'PM', 'User', 'Lead']"
            (optionSelected)="onOptionSelected($event)"
          ></app-custom-select>
        </div>
      </div>
      <div class="col-md-6">
        <div class="mb-0">
          <label for="location" class="form-label"
            >{{ "LOCATION" | translate }}<span>*</span></label
          >
          <input
            class="form-control"
            type="email"
            name="location"
            [placeholder]="'ENTER_HERE' | translate"
          />
        </div>
      </div>
      <div class="col-md-6">
        <div class="mb-0">
          <label for="password" class="form-label"
            >{{ "ENTER_PASSWORD" | translate }}<span>*</span></label
          >
          <div class="password">
            <input
              class="form-control"
              [type]="hidePassword ? 'password' : 'text'"
              name="password"
              [placeholder]="'ENTER_HERE' | translate"
            />
            <i class="right" (click)="togglePasswordHidden()">
              <app-password-show-icon
                *ngIf="hidePassword"
              ></app-password-show-icon>
              <app-password-hide-icon
                *ngIf="!hidePassword"
              ></app-password-hide-icon>
            </i>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="mb-0">
          <label for="confirmPassword" class="form-label"
            >{{ "CONFIRM_PASSWORD" | translate }}<span>*</span></label
          >
          <div class="password">
            <input
              class="form-control"
              [type]="hideConfirmPassword ? 'password' : 'text'"
              name="confirmPassword"
              [placeholder]="'ENTER_HERE' | translate"
            />
            <i class="right" (click)="toggleConfirmPasswordHidden()">
              <app-password-show-icon
                *ngIf="hideConfirmPassword"
              ></app-password-show-icon>
              <app-password-hide-icon
                *ngIf="!hideConfirmPassword"
              ></app-password-hide-icon>
            </i>
          </div>
        </div>
      </div>
    </div>
  </form>
</app-modal-form-card>
