<app-modal-form-card>
  <form [formGroup]="tenantForm">
    <div class="mb-0">
      <label for="email" class="form-label">Email address<span>*</span></label>
      <input
        class="form-control"
        type="email"
        name="email"
        formControlName="email"
        placeholder="Enter email address here"
      />
      @if (isInvalid(tenantForm, 'email').status) {
      <small class="errorMsg"> {{ isInvalid(tenantForm, "email").msg }}</small>
      }
    </div>
  </form>
</app-modal-form-card>
