<ng-container *ngIf="!showDetailView">
    <div class="cmmnTblOuter">
        <div class="cmmnTblHdr">
            <div class="row g-3 align-items-center">
                <div class="col-md">
                    <app-table-title title="All Staff" [subtitle]="'(' + totalRecords + ')'"
                        (onRefresh)="onRefresh()"></app-table-title>

                </div>
                <div class="col-md-auto">
                    <div class="d-flex align-items-center gap-2 gap-md-3">
                        <app-table-search placeholder="Search here..." (onValueChange)="searchTextChange($event)" />
                        <app-table-filter-btn title="Filter" [hasIcon]="true" (clicked)="handleFilterClick()">
                            <app-filter-icon />
                        </app-table-filter-btn>
                        <app-table-filter-btn title="Export" [hasIcon]="true" (clicked)="handleExportClick()">
                            <app-export-icon />
                        </app-table-filter-btn>
                        <app-table-filter-btn title="Add Staff" [hasIcon]="true"
                            (clicked)="openAddStaffModal(addStaffContent)">
                            <app-plus-icon />
                        </app-table-filter-btn>
                    </div>
                </div>
            </div>
        </div>
        <div class="cmmnTblBody">
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th><button type="button">Staff Name <i><app-sorting-icon /></i></button></th>
                            <th>Code</th>
                            <th>Contact Number</th>
                            <th><button type="button">Properties <i><app-sorting-icon /></i></button></th>
                            <th>Tenancy Ratio</th>
                            <th>Staff Role</th>
                            <th width="200"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- When data exists -->
                        <tr *ngFor="let staff of staffRoles; let i = index">
                            <td>
                                <app-table-img-item img="../../../../assets/user/user-1.png" [title]="staff.staff_name"
                                    [clickable]="true" (clicked)="handleViewClick(staff.id)">
                                </app-table-img-item>
                            </td>

                            <td>{{staff.staff_id}}</td>
                            <td>{{ staff.phone_number | maskPhone }}</td>

                            <td>
                                <app-table-multi-img-item [images]="[
                                    'assets/property/property-list-1.png',
                                    'assets/property/property-list-2.png',
                                    'assets/property/property-list-2.png',
                                    'assets/property/property-list-2.png',
                                    'assets/property/property-list-2.png',
                                    'assets/property/property-list-3.png'
                                ]" size="md">
                                </app-table-multi-img-item>
                            </td>

                            <td>{{ staff.tanancy_ration || '_' }}</td>
                            <td>{{staff.staff_role?.name}}</td>

                            <td align="center">
                                <div class="cmmnTblActnBtnDiv">
                                    <app-table-action-btn type="edit" (clicked)="handleEditClick()">
                                    </app-table-action-btn>

                                    <app-table-action-btn type="delete" (clicked)="handleDeleteClick()">
                                    </app-table-action-btn>

                                    <app-table-action-dropdown [dropdownItems]="documentActions"
                                        (actionClicked)="handleDropdownAction($event)">
                                    </app-table-action-dropdown>
                                </div>
                            </td>
                        </tr>

                        <!-- When no data exists -->
                        <tr *ngIf="staffRoles.length === 0">
                            <td colspan="7" align="center">No Data to Show</td>
                        </tr>
                    </tbody>

                </table>
            </div>
        </div>
        <div class="cmmnTblFtr">
            <app-table-select [componentName]="componentName" [rowsPerPage]="rowsPerPage"
                [rowsPerPageOptions]="rowsPerPageOptions" (rowsPerPageChange)="onPageSizeChange($event)" />
            <app-table-pagination [componentName]="componentName" [currentPage]="currentPage"
                [totalRecords]="totalRecords" [rowsPerPage]="rowsPerPage" (pageChange)="onPageChange($event)" />
        </div>
    </div>
</ng-container>

<ng-template #addStaffContent let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-title">Add Staff</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
        <app-add-staff-form />
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btnCommon btnTransparent" (click)="modal.dismiss('Save click')">Cancel</button>
        <button type="button" class="btn btnCommon" (click)="modal.close('Save click')">Submit Details</button>
    </div>
</ng-template>

<ng-container *ngIf="showDetailView && selectedStaff">
    <app-table-view-card [title]="selectedStaff.staff_name" [imgSrc]="'../../../assets/user/user-2.png'" [items]="[
        { label: 'Email', value: selectedStaff.user_email },
        { label: 'Phone Number', value: selectedStaff.phone_number },
        { label: 'Emirates ID', value: selectedStaff.emirates_id },
        { label: 'City', value: selectedStaff.city },
        { label: 'Locality', value: selectedStaff.locality },
        { label: 'Postal Code', value: selectedStaff.postal_code },
        { label: 'Address Line 1', value: selectedStaff.address_line_1 },
        { label: 'Address Line 2', value: selectedStaff.address_line_2 },
        { label: 'Staff Role', value: selectedStaff.staff_role?.name },
        { 
          label: 'Assigned Property', 
          value: selectedStaff.assigned_properties?.length > 0 ? selectedStaff.assigned_properties[0].name : 'None',
          link: '/dashboard/staff'
        }
      ]" [showEdit]="true" (edit)="handleEditClick()" (back)="handleBackClick()"></app-table-view-card>

    <div class="cmmnTblOuter mt-3">
        <div class="cmmnTblHdr">
            <div class="row align-items-center">
                <div class="col-md">
                    <app-table-title title="Properties Assigned" subtitle="(5)"></app-table-title>
                </div>
                <div class="col-md-auto">
                    <div class="d-flex align-items-center gap-2 gap-md-3">
                        <app-table-search placeholder="Search here..." />
                        <app-table-filter-btn title="Filter" [hasIcon]="true" (clicked)="handleExportClick()">
                            <app-filter-icon />
                        </app-table-filter-btn>
                        <app-table-filter-btn title="Export" [hasIcon]="true" (clicked)="handleExportClick()">
                            <app-export-icon />
                        </app-table-filter-btn>
                    </div>
                </div>
            </div>
        </div>
        <div class="cmmnTblBody">
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Code</th>
                            <th><button type="button">Property Name <i><app-sorting-icon /></i></button></th>
                            <th><button type="button">Tenant Name <i><app-sorting-icon /></i></button></th>
                            <th>Assigned Staff</th>
                            <th>Owner Name</th>
                            <th width="200">Document</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>LP9021</td>
                            <td>
                                <app-table-img-item img="../../assets/property/property-list-1.png" size="md"
                                    title="Novatis AG..." />
                            </td>
                            <td>N/A</td>
                            <td>Staff 1</td>
                            <td>Ali Musfiq Rahman</td>
                            <td align="center">
                                <div class="cmmnTblActnBtnDiv">
                                    <app-table-action-btn type="download" (clicked)="handleDownloadDocumentClick()" />
                                    <app-table-action-btn type="preview" (clicked)="handlePreviewDocumentClick()" />
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>LP8021</td>
                            <td>
                                <app-table-img-item img="../../assets/property/property-list-2.png" size="md"
                                    title="Agriculture...." />
                            </td>
                            <td>
                                <app-table-img-item img="../../assets/user/user-2.png" title="Richard" />
                            </td>
                            <td>Staff 2</td>
                            <td>Ali Musfiq Rahman</td>
                            <td align="center">
                                <div class="cmmnTblActnBtnDiv">
                                    <app-table-action-btn type="download" (clicked)="handleDownloadDocumentClick()" />
                                    <app-table-action-btn type="preview" (clicked)="handlePreviewDocumentClick()" />
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>VC79021</td>
                            <td>
                                <app-table-img-item img="../../assets/property/property-list-2.png" size="md"
                                    title="Honda..." />
                            </td>
                            <td>
                                <app-table-img-item img="../../assets/user/user-3.png" title="Thaomas" />
                            </td>
                            <td>Staff 3</td>
                            <td>Ali Musfiq Rahman</td>
                            <td align="center">
                                <div class="cmmnTblActnBtnDiv">
                                    <app-table-action-btn type="download" (clicked)="handleDownloadDocumentClick()" />
                                    <app-table-action-btn type="preview" (clicked)="handlePreviewDocumentClick()" />
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>VC69021</td>
                            <td>
                                <app-table-img-item img="../../assets/property/property-list-2.png" size="md"
                                    title="TVS" />
                            </td>
                            <td>
                                <app-table-img-item img="../../assets/user/user-4.png" title="Akshay" />
                            </td>
                            <td>Staff 4</td>
                            <td>Ali Musfiq Rahman</td>
                            <td align="center">
                                <div class="cmmnTblActnBtnDiv">
                                    <app-table-action-btn type="download" (clicked)="handleDownloadDocumentClick()" />
                                    <app-table-action-btn type="preview" (clicked)="handlePreviewDocumentClick()" />
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>VC59021</td>
                            <td>
                                <app-table-img-item img="../../assets/property/property-list-2.png" size="md"
                                    title="Samsung" />
                            </td>
                            <td>
                                <app-table-img-item img="../../assets/user/user-5.png" title="Avanshi" />
                            </td>
                            <td>Staff 5</td>
                            <td>Ali Musfiq Rahman</td>
                            <td align="center">
                                <div class="cmmnTblActnBtnDiv">
                                    <app-table-action-btn type="download" (clicked)="handleDownloadDocumentClick()" />
                                    <app-table-action-btn type="preview" (clicked)="handlePreviewDocumentClick()" />
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</ng-container>