<ng-container *ngIf="!showDetailView">
  <div class="cmmnTblOuter">
    <div class="cmmnTblHdr">
      <div class="row g-3 align-items-center">
        <div class="col-md">
          <app-table-title
            [title]="'All_EMPLOYEE' | translate"
            [subtitle]="'(' + totalRecords + ')'"
            (onRefresh)="onRefresh()"
          ></app-table-title>
        </div>
        <div class="col-md-auto">
          <div class="d-flex align-items-center gap-2 gap-md-3">
            <div class="selected-filters d-flex gap-2 flex-wrap mb-2">
              <!-- Complaint Status -->
              <div class="filter-chip" *ngIf="selectedstaffRole?.value">
                {{ selectedstaffRole?.value }}

                <span class="cross-icon" (click)="clearUserStatus()"> ✕ </span>
              </div>
            </div>
            <app-table-search
              placeholder="Search here..."
              (onValueChange)="searchTextChange($event)"
            />
            <app-filter-popup-btn #filterPopup>
              <app-table-filter-btn
                [title]="'FILTER' | translate"
                [hasIcon]="true"
              >
                <app-filter-icon />
              </app-table-filter-btn>

              <ng-container form>
                <form>
                  <div class="row g-3">
                    <div class="col-md-6">
                      <label class="form-label">{{
                        "STAFF_ROLE" | translate
                      }}</label>
                      <!--- <app-custom-select
                        [options]="staffRole"
                        key="key"
                        value="value"
                        
                        [placeholder]="'SELECT_STAFF_ROLE' | translate"
                        (optionSelected)="selectedstaffRole = $event"
                        (click)="onhandleSelectClick()"
                      >
                      </app-custom-select> --->
                      <app-custom-select
                        [options]="staffRole"
                        [(ngModel)]="selectedstaffRole"
                        name="staffRole"
                        key="key"
                        value="value"
                        [placeholder]="'SELECT_STAFF_ROLE' | translate"
                        (click)="onhandleSelectClick()"
                      >
                      </app-custom-select>
                    </div>
                  </div>
                </form>
              </ng-container>
              <ng-container action>
                <button
                  type="button"
                  class="btn btnCommon"
                  (click)="removeFilter(); filterPopup.closePopup()"
                >
                  {{ "REMOVE_ALL" | translate }}
                </button>
                <button
                  type="button"
                  class="btn btnCommon"
                  (click)="applyFilter(); filterPopup.closePopup()"
                >
                  {{ "APPLY" | translate }}
                </button>
              </ng-container>
            </app-filter-popup-btn>
            <app-table-filter-btn
              [title]="'EXPORT' | translate"
              [hasIcon]="true"
              (clicked)="handleExportClick()"
            >
              <app-export-icon />
            </app-table-filter-btn>
            <app-table-filter-btn
              [title]="'ADD_EMPLOYEE' | translate"
              [hasIcon]="true"
              (clicked)="openAddStaffModal(addStaffContent)"
            >
              <app-plus-icon />
            </app-table-filter-btn>
          </div>
        </div>
      </div>
    </div>
    <div class="cmmnTbl">
      <div class="table-responsive">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th (click)="sort('staff_name')" style="cursor: pointer">
                {{ "STAFF_NAME" | translate }} <i><app-sorting-icon /></i>
              </th>
              <th>{{ "PMC" | translate }}</th>
              <th>{{ "CODE" | translate }}</th>
              <th>{{ "CONTACT_NUMBER" | translate }}</th>
              <th>
                {{ "PROPERTIES" | translate }} <i><app-sorting-icon /></i>
              </th>
              <th>{{ "TENANCY_RATIO" | translate }}</th>
              <th>{{ "STAFF_ROLE" | translate }}</th>
              <th width="100">{{ "ACTIONS" | translate }}</th>
            </tr>
          </thead>
          <tbody>
            @for (staff of staffRoles; track $index) {
              <tr>
                <td>
                  <app-table-img-item
                    img="../../../../assets/user/user-1.png"
                    [title]="staff.staff_name"
                    [clickable]="true"
                    (clicked)="handleViewClick(staff.staff_id)"
                  >
                  </app-table-img-item>
                </td>
                <td>{{ staff?.pmcs?.[0]?.value || "--" }}</td>
                <td>{{ staff.code || "_" }}</td>
                <td>{{ staff.contact_number | maskPhone }}</td>

                <td>
                  <app-table-multi-img-item
                    [images]="
                      staff.property_images?.length
                        ? staff.property_images
                        : ['assets/property/property-list-1.png']
                    "
                    [totalCount]="staff.property_count"
                    size="md"
                  />
                </td>

                <td>{{ staff.tenancy_ratio || "_" }}</td>
                <td>
                  {{ staff.roles?.length ? staff.roles.join(", ") : "_" }}
                </td>

                <td align="center">
                  <div class="cmmnTblActnBtnDiv">
                    <app-table-action-btn
                      type="edit"
                      (clicked)="
                        openEditStaffModal(addStaffContent, staff.staff_id)
                      "
                    >
                      <!-- (clicked)="handleEditClick()" -->
                    </app-table-action-btn>

                    <!-- <app-table-action-btn
                      type="delete"
                      (clicked)="handleDeleteClick()"
                    ></app-table-action-btn> -->

                    <app-table-action-dropdown
                      [dropdownItems]="documentActions"
                      (actionClicked)="handleDropdownAction($event, staff)"
                    >
                    </app-table-action-dropdown>
                  </div>
                </td>
              </tr>
            } @empty {
              <tr>
                <td colspan="7" align="center"><app-no-data /></td>
              </tr>
            }
          </tbody>
        </table>
      </div>
    </div>
    <div class="cmmnTblFtr">
      <app-table-select
        [componentName]="componentName"
        [rowsPerPage]="rowsPerPage"
        [rowsPerPageOptions]="rowsPerPageOptions"
        (rowsPerPageChange)="onPageSizeChange($event)"
      />
      <app-table-pagination
        [componentName]="componentName"
        [currentPage]="currentPage"
        [totalRecords]="totalRecords"
        [rowsPerPage]="rowsPerPage"
        (pageChange)="onPageChange($event)"
      />
    </div>
  </div>
</ng-container>

<ng-template #addStaffContent let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-title">
      {{
        isEditMode ? ("EDIT_STAFF" | translate) : ("ADD_EMPLOYEE" | translate)
      }}
    </h4>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    ></button>
  </div>
  <div class="modal-body">
    <app-add-staff-form
      #AddStaffFormComponent
      [editData]="selectedStaff"
      (formSubmitted)="onUserSave($event, modal)"
    />
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btnCommon btnTransparent"
      (click)="modal.dismiss('Save click')"
    >
      {{ "CANCEL" | translate }}
    </button>
    <button
      type="submit"
      class="btn btnCommon"
      (click)="AddStaffFormComponent.submitStaffForm()"
    >
      <!-- (click)="modal.close('Save click')" -->
      {{ "SUBMIT_DETAILS" | translate }}
    </button>
  </div>
</ng-template>

<ng-container *ngIf="showDetailView && selectedStaff">
  <app-table-view-card
    [title]="selectedStaff.staff_name"
    [imgSrc]="selectedStaff.profile_image || '../../../assets/user/user-2.png'"
    [items]="[
      { label: getLabel('CODE'), value: selectedStaff.code || 'N/A' },
      { label: getLabel('EMAIL'), value: selectedStaff.email },
      { label: getLabel('PHONE_NUMBER'), value: selectedStaff.contact_number },
      {
        label: getLabel('EMIRATES_ID'),
        value: selectedStaff.emirate_id || 'N/A',
      },
      { label: getLabel('CITY'), value: selectedStaff.city || 'N/A' },
      { label: getLabel('LOCALITY'), value: selectedStaff.locality || 'N/A' },
      {
        label: getLabel('POSTAL_CODE'),
        value: selectedStaff.postal_code || 'N/A',
      },
      {
        label: getLabel('ADDRESS_LINE_1'),
        value: selectedStaff.address || 'N/A',
      },
      {
        label: getLabel('ADDRESS_LINE_2'),
        value: selectedStaff.additional_address || 'N/A',
      },
      {
        label: getLabel('STAFF_ROLE'),
        value: selectedStaff.roles?.length
          ? selectedStaff.roles.join(', ')
          : 'N/A',
      },
    ]"
    [showEdit]="true"
    (edit)="openEditStaffModal(addStaffContent, selectedStaff.staff_id)"
    (back)="handleBackClick()"
  ></app-table-view-card>

  <div class="cmmnTblOuter mt-3">
    <div class="cmmnTblHdr">
      <div class="row align-items-center">
        <div class="col-md">
          <app-table-title
            [title]="'PROPERTIES_ASSIGNED' | translate"
            [subtitle]="'(' + totalRecords + ')'"
          ></app-table-title>
        </div>
        <div class="col-md-auto">
          <div class="d-flex align-items-center gap-2 gap-md-3">
            <app-table-search
              placeholder="Search properties..."
              (onValueChange)="onDetailSearch($event)"
            />
            <app-table-filter-btn
              [title]="'EXPORT' | translate"
              [hasIcon]="true"
              (clicked)="handleInternalTableExport()"
            >
              <app-export-icon />
            </app-table-filter-btn>
          </div>
        </div>
      </div>
    </div>
    <div class="cmmnTbl">
      <div class="table-responsive">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>{{ "CODE" | translate }}</th>
              <th>
                {{ "UNIT_NAME" | translate }} <i><app-sorting-icon /></i>
              </th>
              <th>
                {{ "TENANT_NAME" | translate }} <i><app-sorting-icon /></i>
              </th>
              <th>{{ "ASIGNED_STAFF" | translate }}</th>
              <th>{{ "OWNER_NAME" | translate }}</th>
              <th width="200">{{ "DOCUMENT" | translate }}</th>
            </tr>
          </thead>

          <tbody>
            @for (property of filteredAssignedProperties; track $index) {
              <tr>
                <td>{{ property.property_code || "_" }}</td>

                <td>
                  <app-table-img-item
                    [img]="
                      property.property_image ||
                      'assets/property/property-list-1.png'
                    "
                    size="md"
                    [title]="property.property_name"
                  />
                </td>

                <td>
                  {{ property.tenant_name || "N/A" }}
                </td>

                <td>
                  {{ selectedStaff?.staff_name || "_" }}
                </td>

                <td>
                  {{ property.owner_name || "N/A" }}
                </td>

                <td align="center">
                  <div class="cmmnTblActnBtnDiv">
                    <app-table-action-btn
                      type="download"
                      (clicked)="handleDownloadDocumentClick()"
                    />
                    <app-table-action-btn
                      type="preview"
                      (clicked)="handlePreviewDocumentClick()"
                    />
                  </div>
                </td>
              </tr>
            } @empty {
              <tr>
                <td colspan="6" align="center"><app-no-data></app-no-data></td>
              </tr>
            }
          </tbody>
        </table>
      </div>
    </div>
    <div class="cmmnTblFtr">
      <app-table-select
        [componentName]="detailComponentName"
        [rowsPerPage]="detailRowsPerPage"
        [rowsPerPageOptions]="rowsPerPageOptions"
        (rowsPerPageChange)="onDetailPageSizeChange($event)"
      />
      <app-table-pagination
        [componentName]="detailComponentName"
        [currentPage]="detailCurrentPage"
        [totalRecords]="detailTotalRecords"
        [rowsPerPage]="detailRowsPerPage"
        (pageChange)="onDetailPageChange($event)"
      />
    </div></div
></ng-container>
