<!-- Waiting/Status Overlay -->

<app-white-card>
  <div class="stepper-container">
    <div class="sub-stepper" *ngIf="currentSubStep">
      <div class="sub-step active">
        {{ currentSubStep.title }}
        <span class="sub-desc">
          {{ currentSubStep.description || "" }}
        </span>
      </div>
    </div>
    <div class="step-item-container">
      <div
        class="step-item"
        *ngFor="let step of steps(); let i = index"
        [class.active]="i === activeIndex()"
        [class.completed]="i < activeIndex()"
      >
        <div class="circle">
          <ng-container *ngIf="i < activeIndex(); else stepNumber">
            <i>
              <app-send-invite-icon></app-send-invite-icon>
            </i>
          </ng-container>
          <ng-template #stepNumber>
            {{ i + 1 }}
          </ng-template>
        </div>

        <div class="label">{{ step.title }}</div>

        <div class="line" *ngIf="i < steps().length - 1"></div>
      </div>
    </div>

    <div class="stepper-actions">
      <button
        class="btn-back"
        *ngIf="activeIndex() > 0 || subIndex() > 0"
        (click)="prev()"
      >
        <app-left-arrow-icon></app-left-arrow-icon>
      </button>
      <button
        class="btn-refresh"
        *ngIf="
          (currentSubStep?.component === ProfileComponent &&
            subIndex() === 0) ||
          showRefresh$()
        "
      >
        <app-refresh-icon></app-refresh-icon>
      </button>

      <button
        class="cmmnTblFltrBtn"
        *ngIf="
          !(
            currentSubStep?.component === OnboardingComponent ||
            currentSubStep?.component === ProfileComponent
          )
        "
      >
        Add / Edit Fields
      </button>

      <button
        *ngIf="currentSubStep?.component !== OnboardingComponent"
        [ngClass]="{
          'profile-save-btn':
            currentSubStep?.component === ProfileComponent && subIndex() === 0,
          'save-btn':
            currentSubStep?.component !== ProfileComponent &&
            getNextBtnLabel() === 'Save & Next',
          'invite-btn': getNextBtnLabel() === 'Send Invite',
        }"
        (click)="next()"
      >
        {{ getNextBtnLabel() }}
      </button>
      <!-- <div
        *ngIf="currentSubStep?.component === OnboardingComponent"
        class="send-negotiation-wrap"
      >
        <button class="send-negotiation-btn" (click)="onMainClick()">
          {{ btnTitle$() }}
          <span
            class="arrow-down"
            (click)="openAddTenantModal(inviteTenantContent)"
            ><app-arrow-down-icon></app-arrow-down-icon
          ></span>
        </button>
      </div>
      <i><app-circular-cross-btn-icon></app-circular-cross-btn-icon></i>
    </div> -->
      <div
        *ngIf="currentSubStep?.component === OnboardingComponent"
        class="send-negotiation-wrap"
      >
        <button class="send-negotiation-btn" (click)="onMainClick()">
          {{ btnTitle$() }}

          <!-- Dropdown icon ONLY for Send Negotiation -->
          <span
            *ngIf="btnTitle$() === 'Send Negotiation'"
            class="arrow-down"
            (click)="
              openAddTenantModal(inviteTenantContent); $event.stopPropagation()
            "
          >
            <app-arrow-down-icon></app-arrow-down-icon>
          </span>
        </button>
      </div>
      <i><app-circular-cross-btn-icon></app-circular-cross-btn-icon></i>
    </div>
  </div>
</app-white-card>
<div class="step-content">
  <ng-container *ngIf="currentSubStep">
    <ng-container
      *ngComponentOutlet="
        currentSubStep.component;
        inputs: { form: currentSubStep.formGroup }
      "
    ></ng-container>
  </ng-container>
</div>

<ng-template #inviteTenantContent let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-title">
      {{ "INVITE_TENANT" | translate }}
    </h4>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    ></button>
  </div>
  <div class="modal-body">
    <app-send-negotiation></app-send-negotiation>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btnCommon btnTransparent"
      (click)="modal.dismiss('Save click')"
    >
      {{ "CANCEL" | translate }}
    </button>
    <button type="button" class="btn btnCommon">
      {{ "SEND_INVITATION" | translate }}
    </button>
  </div>
</ng-template>
