<app-white-card>
  <div class="stepper-container">
    <div class="sub-stepper" *ngIf="currentSubStep">
      <div class="sub-step active">
        {{ currentSubStep.title }}
        <span class="sub-desc">
          {{ currentSubStep.description || "" }}
        </span>
      </div>
    </div>
    <div class="step-item-container">
      <div
        class="step-item"
        *ngFor="let step of steps(); let i = index"
        [class.active]="i === activeIndex()"
        [class.completed]="i < activeIndex()"
      >
        <div class="circle">
          <ng-container *ngIf="i < activeIndex(); else stepNumber">
            <i>
              <app-send-invite-icon></app-send-invite-icon>
            </i>
          </ng-container>
          <ng-template #stepNumber>
            {{ i + 1 }}
          </ng-template>
        </div>

        <div class="label">{{ step.title }}</div>

        <div class="line" *ngIf="i < steps().length - 1"></div>
      </div>
    </div>

    <div class="stepper-actions">
      <button
        class="btn-back"
        *ngIf="activeIndex() > 0 || subIndex() > 0"
        (click)="prev()"
      >
        <app-left-arrow-icon></app-left-arrow-icon>
      </button>
      <!-- Refresh button instead of Edit Fields -->
      <button
        class="btn-refresh"
        *ngIf="
          currentSubStep?.component === ProfileComponent && subIndex() === 0
        "
      >
        <app-refresh-icon></app-refresh-icon>
      </button>

      <button
        class="cmmnTblFltrBtn"
        *ngIf="
          !(currentSubStep?.component === ProfileComponent && subIndex() === 0)
        "
      >
        Add / Edit Fields
      </button>
      <!-- <button
        class="btn btnCommon"
        [ngClass]="{
          'save-btn': getNextBtnLabel() === 'Save & Next',

          'invite-btn': getNextBtnLabel() === 'Send Invite',
        }"
        (click)="next()"
      >
        {{ getNextBtnLabel() }}
      </button> -->

      <button
        [ngClass]="{
          'profile-save-btn':
            currentSubStep?.component === ProfileComponent && subIndex() === 0,
          'save-btn':
            currentSubStep?.component !== ProfileComponent &&
            getNextBtnLabel() === 'Save & Next',
          'invite-btn': getNextBtnLabel() === 'Send Invite',
        }"
        (click)="next()"
      >
        {{ getNextBtnLabel() }}
      </button>
      <i><app-circular-cross-btn-icon></app-circular-cross-btn-icon></i>
    </div>
  </div>
</app-white-card>
<div class="step-content">
  <ng-container *ngIf="currentSubStep">
    <ng-container
      *ngComponentOutlet="
        currentSubStep.component;
        inputs: { form: currentSubStep.formGroup }
      "
    ></ng-container>
  </ng-container>
</div>
