/* steps = this.engine.getSteps;
  activeIndex = this.engine.getActiveIndex; */
.stepper-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.stepper-item {
  flex: 1;
  text-align: center;
  cursor: pointer;
}

.step-counter {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background: #ddd;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.stepper-item.active .step-counter {
  background: #2563eb;
  color: #fff;
}

.stepper-item.completed .step-counter {
  background: #16a34a;
  color: #fff;
}
