<ng-container *ngIf="!showDetailView">
  <div class="mb-3">
    <app-white-card>
      <div class="row align-items-center justify-content-between g-3">
        <div class="col">
          <app-card-title [title]="'ROLES' | translate" />
        </div>
        <div class="col-auto">
          <button
            type="button"
            class="btn btnCommon"
            (click)="openAddRoleModal(addRoleContent)"
          >
            <i><app-plus-icon /></i>{{ "NEW_ROLE" | translate }}
          </button>
        </div>
      </div>
    </app-white-card>
  </div>

  <div class="cmmnTblOuter">
    <div class="cmmnTblHdr">
      <div class="row align-items-center">
        <div class="col-md">
          <app-table-title
            title="6"
            [subtitle]="'ROLES_FOUND' | translate"
          ></app-table-title>
        </div>
        <div class="col-md-auto">
          <div class="d-flex align-items-center gap-2 gap-md-3"></div>
        </div>
      </div>
    </div>
    <div class="cmmnTblBody">
      <div class="table-responsive">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>{{ "ROLE" | translate }}</th>
              <th>
                <button type="button">
                  {{ "CREATED_ON" | translate }} <i><app-sorting-icon /></i>
                </button>
              </th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let role of roles">
              <td>{{ role.role_name }}</td>
              <td>{{ role.created_on }}</td>
              <td>
                <div class="cmmnTblActnBtnDiv">
                  <app-table-action-btn
                    type="edit"
                    (clicked)="handleEditClick()"
                  />
                  <app-table-action-btn
                    type="view"
                    (clicked)="handleViewClick()"
                  />
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="cmmnTblFtr">
      <app-table-select />
      <app-table-pagination />
    </div>
  </div>
</ng-container>

<ng-container *ngIf="showDetailView">
  <div class="mb-3">
    <app-white-card>
      <div class="row align-items-center justify-content-between g-3">
        <div class="col">
          <app-card-title title="Admin" />
        </div>
        <div class="col-auto">
          <button
            type="button"
            class="btn btnCommon btnWhite"
            (click)="handleBackClick()"
          >
            <i><app-back-icon /></i> Back
          </button>
        </div>
      </div>
    </app-white-card>
  </div>

  <div class="cmmnTblOuter">
    <div class="cmmnTblHdr">
      <div class="row align-items-center">
        <div class="col-md">
          <app-table-title title="6" subtitle="Roles Found"></app-table-title>
        </div>
        <div class="col-md-auto">
          <div class="d-flex align-items-center gap-2 gap-md-3"></div>
        </div>
      </div>
    </div>
    <div class="cmmnTblBody">
      <div class="table-responsive">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Modules</th>
              <th>Created</th>
              <th>Edit</th>
              <th>Delete</th>
              <th>View</th>
              <th>All all</th>
            </tr>
          </thead>
          <tbody>
            <!-- @for (property of RoleAndPermission; track $index){ -->
            <tr>
              <td>Properties</td>
              <td>
                <div class="cmmnCheckbox">
                  <label>
                    <input
                      type="checkbox"
                      name="properties"
                      value="Created"
                      checked
                    />
                    <span></span>
                  </label>
                </div>
              </td>
              <td>
                <div class="cmmnCheckbox">
                  <label>
                    <input
                      type="checkbox"
                      name="properties"
                      value="Edit"
                      checked
                    />
                    <span></span>
                  </label>
                </div>
              </td>
              <td>
                <div class="cmmnCheckbox">
                  <label>
                    <input
                      type="checkbox"
                      name="properties"
                      value="Delete"
                      checked
                    />
                    <span></span>
                  </label>
                </div>
              </td>
              <td>
                <div class="cmmnCheckbox">
                  <label>
                    <input
                      type="checkbox"
                      name="properties"
                      value="View"
                      checked
                    />
                    <span></span>
                  </label>
                </div>
              </td>
              <td>
                <div class="cmmnCheckbox">
                  <label>
                    <input
                      type="checkbox"
                      name="properties"
                      value="All all"
                      checked
                    />
                    <span></span>
                  </label>
                </div>
              </td>
            </tr>
            <tr>
              <td>Tenant Management</td>
              <td>
                <div class="cmmnCheckbox">
                  <label>
                    <input
                      type="checkbox"
                      name="tenantManagement"
                      value="Created"
                      checked
                    />
                    <span></span>
                  </label>
                </div>
              </td>
              <td>
                <div class="cmmnCheckbox">
                  <label>
                    <input
                      type="checkbox"
                      name="tenantManagement"
                      value="Edit"
                      checked
                    />
                    <span></span>
                  </label>
                </div>
              </td>
              <td>
                <div class="cmmnCheckbox">
                  <label>
                    <input
                      type="checkbox"
                      name="tenantManagement"
                      value="Delete"
                      checked
                    />
                    <span></span>
                  </label>
                </div>
              </td>
              <td>
                <div class="cmmnCheckbox">
                  <label>
                    <input
                      type="checkbox"
                      name="tenantManagement"
                      value="View"
                      checked
                    />
                    <span></span>
                  </label>
                </div>
              </td>
              <td>
                <div class="cmmnCheckbox">
                  <label>
                    <input
                      type="checkbox"
                      name="tenantManagement"
                      value="All all"
                      checked
                    />
                    <span></span>
                  </label>
                </div>
              </td>
            </tr>
            <tr>
              <td>Owner Management</td>
              <td>
                <div class="cmmnCheckbox">
                  <label>
                    <input
                      type="checkbox"
                      name="ownerManagement"
                      value="Created"
                      checked
                    />
                    <span></span>
                  </label>
                </div>
              </td>
              <td>
                <div class="cmmnCheckbox">
                  <label>
                    <input
                      type="checkbox"
                      name="ownerManagement"
                      value="Edit"
                      checked
                    />
                    <span></span>
                  </label>
                </div>
              </td>
              <td>
                <div class="cmmnCheckbox">
                  <label>
                    <input
                      type="checkbox"
                      name="ownerManagement"
                      value="Delete"
                      checked
                    />
                    <span></span>
                  </label>
                </div>
              </td>
              <td>
                <div class="cmmnCheckbox">
                  <label>
                    <input
                      type="checkbox"
                      name="ownerManagement"
                      value="View"
                      checked
                    />
                    <span></span>
                  </label>
                </div>
              </td>
              <td>
                <div class="cmmnCheckbox">
                  <label>
                    <input
                      type="checkbox"
                      name="ownerManagement"
                      value="All all"
                      checked
                    />
                    <span></span>
                  </label>
                </div>
              </td>
            </tr>
            <tr>
              <td>Role Management</td>
              <td>
                <div class="cmmnCheckbox">
                  <label>
                    <input
                      type="checkbox"
                      name="roleManagement"
                      value="Created"
                    />
                    <span></span>
                  </label>
                </div>
              </td>
              <td>
                <div class="cmmnCheckbox">
                  <label>
                    <input type="checkbox" name="roleManagement" value="Edit" />
                    <span></span>
                  </label>
                </div>
              </td>
              <td>
                <div class="cmmnCheckbox">
                  <label>
                    <input
                      type="checkbox"
                      name="roleManagement"
                      value="Delete"
                    />
                    <span></span>
                  </label>
                </div>
              </td>
              <td>
                <div class="cmmnCheckbox">
                  <label>
                    <input type="checkbox" name="roleManagement" value="View" />
                    <span></span>
                  </label>
                </div>
              </td>
              <td>
                <div class="cmmnCheckbox">
                  <label>
                    <input
                      type="checkbox"
                      name="roleManagement"
                      value="All all"
                    />
                    <span></span>
                  </label>
                </div>
              </td>
            </tr>
            <!-- }@empty {
            <tr>
              <td colspan="20" align="center">
                <app-no-data />
              </td>
            </tr>
            } -->
          </tbody>
        </table>
      </div>
    </div>
    <div class="cmmnTblFtr">
      <app-table-select />
      <app-table-pagination />
    </div>
  </div>
</ng-container>

<ng-template #addRoleContent let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-title">
      {{ "ADD_NEW_ROLE" | translate }}
    </h4>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    ></button>
  </div>
  <div class="modal-body">
    <app-add-role-form [form]="roleForm" />
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btnCommon btnTransparent"
      (click)="modal.dismiss('Save click')"
    >
      {{ "CANCEL" | translate }}
    </button>
    <button type="button" class="btn btnCommon" (click)="createRole()">
      <!-- (click)="modal.close('Save click')" -->

      {{ "CREATE_ROLE" | translate }}
    </button>
  </div>
</ng-template>
