<ng-container *ngIf="!showDetailView">
  <div class="mb-3">
    <app-white-card>
      <div class="row align-items-center justify-content-between g-3">
        <div class="col">
          <app-card-title [title]="'ROLES' | translate" />
        </div>
        <div class="col-auto">
          <button
            type="button"
            class="btn btnCommon"
            (click)="openAddRoleModal(addRoleContent)"
          >
            <i><app-plus-icon /></i>{{ "NEW_ROLE" | translate }}
          </button>
        </div>
      </div>
    </app-white-card>
  </div>

  <div class="cmmnTblOuter">
    <div class="cmmnTblHdr">
      <div class="row align-items-center">
        <div class="col-md">
          <app-table-title
            [title]="totalRecords.toString()"
            [subtitle]="'ROLES_FOUND' | translate"
            (onRefresh)="onRefresh()"
          ></app-table-title>
        </div>
        <div class="col-md-auto">
          <div class="d-flex align-items-center gap-2 gap-md-3"></div>
        </div>
      </div>
    </div>
    <div class="cmmnTbl">
      <div class="table-responsive">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>{{ "ROLE" | translate }}</th>
              <th (click)="sort('created_on')" style="cursor: pointer">
                {{ "CREATED_ON" | translate }} <i><app-sorting-icon /></i>
              </th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let role of roles">
              <td>{{ role.role_name }}</td>
              <td>{{ role.created_on | date: "dd MMM yyyy" }}</td>
              <td>
                <div class="cmmnTblActnBtnDiv">
                  <app-table-action-btn
                    type="edit"
                    (click)="openAddRoleModal(addRoleContent, true, role)"
                  />
                  <app-table-action-btn
                    type="view"
                    (clicked)="handleViewClick(role)"
                  />
                </div>
              </td>
            </tr>
            <tr *ngIf="!roles.length && !tableLoading">
              <td colspan="3" align="center"><app-no-data /></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="cmmnTblFtr">
      <app-table-select
        [componentName]="componentName"
        [rowsPerPage]="pageSize"
        (rowsPerPageChange)="onPageSizeChange($event)"
      />
      <app-table-pagination
        [componentName]="componentName"
        [currentPage]="currentPage"
        [totalRecords]="totalRecords"
        [rowsPerPage]="pageSize"
        (pageChange)="onPageChange($event)"
      />
    </div>
  </div>
</ng-container>

<ng-container *ngIf="showDetailView && selectedRole">
  <div class="mb-3">
    <app-white-card>
      <div class="row align-items-center justify-content-between g-3">
        <div class="col">
          <app-card-title [title]="selectedRole.role_name" />
        </div>
        <div class="col-auto">
          <button
            type="button"
            class="btn btnCommon btnWhite"
            (click)="handleBackClick()"
          >
            <i><app-back-icon /></i> {{ "BACK" | translate }}
          </button>
        </div>
      </div>
    </app-white-card>
  </div>

  <div class="cmmnTblOuter">
    <div class="cmmnTblHdr">
      <div class="row align-items-center">
        <div class="col-md">
          <app-table-title
            [title]="(selectedRole.permissions?.length || 0).toString()"
            [subtitle]="'PERMISSIONS' | translate"
          />
        </div>
      </div>
    </div>
    <div class="cmmnTbl">
      <div class="table-responsive">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>{{ "MODULE" | translate }}</th>
              <th class="text-center">{{ "CREATE" | translate }}</th>
              <th class="text-center">{{ "EDIT" | translate }}</th>
              <th class="text-center">{{ "DELETE" | translate }}</th>
              <th class="text-center">{{ "VIEW" | translate }}</th>
            </tr>
          </thead>
          <tbody>
            @for (perm of selectedRole.permissions; track $index) {
              <tr>
                <td>{{ perm.module_name }}</td>
                <td class="text-center">
                  <div class="cmmnCheckbox">
                    <label
                      ><input
                        type="checkbox"
                        [checked]="perm.create"
                        disabled /><span></span
                    ></label>
                  </div>
                </td>
                <td class="text-center">
                  <div class="cmmnCheckbox">
                    <label
                      ><input
                        type="checkbox"
                        [checked]="perm.edit"
                        disabled /><span></span
                    ></label>
                  </div>
                </td>
                <td class="text-center">
                  <div class="cmmnCheckbox">
                    <label
                      ><input
                        type="checkbox"
                        [checked]="perm.delete"
                        disabled /><span></span
                    ></label>
                  </div>
                </td>
                <td class="text-center">
                  <div class="cmmnCheckbox">
                    <label
                      ><input
                        type="checkbox"
                        [checked]="perm.view"
                        disabled /><span></span
                    ></label>
                  </div>
                </td>
              </tr>
            } @empty {
              <tr>
                <td colspan="5" align="center"><app-no-data /></td>
              </tr>
            }
          </tbody>
        </table>
      </div>
    </div>
  </div>
</ng-container>

<ng-template #addRoleContent let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-title">
      {{
        isEditMode ? ("EDIT_ROLE" | translate) : ("ADD_NEW_ROLE" | translate)
      }}
    </h4>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    ></button>
  </div>
  <div class="modal-body">
    <app-add-role-form [form]="roleForm" />
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btnCommon btnTransparent"
      (click)="modal.dismiss('Save click')"
    >
      {{ "CANCEL" | translate }}
    </button>
    <button
      type="button"
      class="btn btnCommon"
      (click)="saveRole()"
      [disabled]="roleForm.invalid || isLoading"
    >
      <!-- (click)="modal.close('Save click')" -->

      {{ (isEditMode ? "UPDATE_ROLE" : "CREATE_ROLE") | translate }}
    </button>
  </div>
</ng-template>
