<div class="cmmnTblViewCol">
  <div class="cmmnTblViewHdr">
    <div class="cmmnTblViewTtl">
      <i *ngIf="showImage">
        <ng-container *ngIf="imgSrc; else noImg">
          <img [src]="imgSrc" alt="" />
        </ng-container>
        <ng-template #noImg>
          <div class="avatar">{{ titleInitial }}</div>
        </ng-template>
      </i>
      <div>
        <h4>{{ title }}</h4>

        <ul *ngIf="headerItems.length > 0">
          <li *ngFor="let h of headerItems">
            {{ h.label }}: <span>{{ h.value || "--" }}</span>
          </li>
        </ul>
      </div>
    </div>
    <div class="cmmnTblViewBtns">
      <button
        *ngIf="showEdit"
        type="button"
        class="cmmnTblViewEditBtn"
        (click)="onEditClick()"
      >
        <app-edit-icon />
      </button>
      <div class="column">
        <!-- *ngIf="hasProjectedContent; else noActionButtons" -->
        <button
          *ngIf="showBack || !showApprovalActions"
          type="button"
          class="btn btnWhite btnCommon"
          (click)="onBackClick()"
        >
          <i><app-back-icon /></i>{{ "BACK" | translate }}
        </button>
        <button
          *ngIf="showBack"
          type="button"
          class="btn btnWhite btnCommon"
          (click)="onBackClick()"
        >
          <i><app-back-icon /></i>{{ "BACK" | translate }}
          <button
            *ngIf="showApprovalActions"
            type="button"
            class="btn btnCommon btnReject"
            (click)="handleRejectClick()"
          >
            Reject
          </button>

          <button
            type="button"
            *ngIf="showApprovalActions"
            class="btn btnCommon btnApprove"
            (click)="handleApproveClick()"
          >
            Approve
          </button>
        </button>

        <button
          class="btn btnCommon btnWhite"
          *ngIf="showDownload"
          (click)="download.emit('pdf')"
        >
          <i><app-download-icon></app-download-icon></i>
          Download
        </button>
        <div class="dropdownWrap" *ngIf="showShare">
          <button class="btn btnCommon btnWhite">
            <i><app-share-icon></app-share-icon></i>
            Share
          </button>

          <ul class="dropdownMenu">
            <li (click)="share.emit('email')">Email</li>
            <li (click)="share.emit('whatsapp')">WhatsApp</li>
            <li (click)="share.emit('link')">Copy Link</li>
          </ul>
        </div>

        <div class="actionRow">
          <ng-content select="[header-actions]"></ng-content>
        </div>
      </div>
      <ng-content select="[rental-btn]"></ng-content>
      <ng-template #noActionButtons>
        <button
          type="button"
          class="btnWhite btnCommon"
          (click)="onBackClick()"
        >
          <i><app-back-icon /></i> {{ "BACK" | translate }}
        </button>
      </ng-template>
    </div>
  </div>
  <div class="cmmnTblViewBdy">
    <ng-content select="[body-summary]"></ng-content>
    <ul>
      <li *ngFor="let item of items">
        <span>{{ item.label }}</span>
        <p *ngIf="!item.link">{{ item.value || "--" }}</p>
        <p *ngIf="item.link">
          <a [href]="item.link">{{ item.value }}</a>
        </p>
      </li>
    </ul>
    <div class="rentalActions">
      <ng-content select="[rental]"></ng-content>
    </div>
  </div>
</div>
