.iconInput {
  display: flex;
  align-items: center;
  position: relative;
}

.iconInput i:first-child {
  position: absolute;
  left: 10px;
  display: flex;
  align-items: center;
}

.iconInput .form-control {
  padding-left: 36px;
  padding-right: 36px;
}

.iconInput i.right {
  position: absolute;
  right: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
}
