<div class="suggested-matches-queue">
  <p *ngIf="loadFailed">{{ "FINANCE_UNABLE_TO_LOAD_SUGGESTED_MATCHES" | translate }}</p>

  <ng-container *ngIf="!loadFailed">
    <p *ngIf="!loading && suggestions.length === 0">
      {{ "FINANCE_NO_SUGGESTED_MATCHES" | translate }}
    </p>

    <div class="table-responsive" *ngIf="suggestions.length > 0">
      <table class="table">
        <thead>
          <tr>
            <th>{{ "FINANCE_COL_STATEMENT_DATE" | translate }}</th>
            <th>{{ "FINANCE_COL_AMOUNT" | translate }}</th>
            <th>{{ "FINANCE_COL_POSTED_AT" | translate }}</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let suggestion of suggestions; trackBy: trackByRowKey">
            <td>{{ suggestion.statement_date | date: 'medium' }}</td>
            <td>{{ suggestion.amount }}</td>
            <td>{{ suggestion.posted_at | date: 'medium' }}</td>
            <td>
              <button
                type="button"
                class="btn btn-primary"
                [disabled]="!!decidingKey"
                (click)="confirm(suggestion)"
              >
                {{ "FINANCE_CONFIRM" | translate }}
              </button>
              <button
                type="button"
                class="btn btn-secondary"
                [disabled]="!!decidingKey"
                (click)="reject(suggestion)"
              >
                {{ "FINANCE_REJECT" | translate }}
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </ng-container>
</div>
