<div class="mb-4" [ngClass]="{ arabic: currentLanguage === 'ar' }">
  <app-dash-form>
    <form>
      <app-white-card
        title="{{ 'ACCOUNT_DETAILS' | translate }}"
        description="{{ 'HYLA' | translate }}"
        [showActions]="true"
      >
        <div class="myPrflFrm" [class.editMode]="editUserMode">
          <div class="row align-items-center g-2">
            <div class="col-md-auto">
              <div class="usrProCol">
                <div class="usrProImg">
                  <img
                    [src]="userImage"
                    width="50"
                    height="50"
                    alt="User Profile Image"
                  />
                </div>
                <div class="usrProIcon" (click)="triggerFileInput()">
                  <i>
                    <app-edit-icon />
                  </i>
                </div>
                <input
                  type="file"
                  #fileInput
                  (change)="onFileSelected($event)"
                  accept=".png, .jpg, .jpeg"
                  hidden
                />
              </div>
            </div>
            <div class="col-md">
              <div
                class="myPrflFrmGrp"
                [class.changed]="changedFields.name"
                *ngIf="!editUserMode"
              >
                <input
                  type="text"
                  name="name"
                  [(ngModel)]="profile.name"
                  [disabled]="!editUserMode"
                  (input)="onFieldChange('name')"
                />
              </div>
              <div class="d-flex gap-3">
                <div
                  class="myPrflFrmGrp"
                  [class.changed]="changedFields.firstName"
                  *ngIf="editUserMode"
                >
                  <label for="firstName">{{ "FIRST_NAME" | translate }}</label>
                  <input
                    type="text"
                    name="firstName"
                    [(ngModel)]="profile.firstName"
                    [disabled]="!editUserMode"
                    (input)="onFieldChange('firstName')"
                  />
                </div>

                <div
                  class="myPrflFrmGrp"
                  [class.changed]="changedFields.lastName"
                  *ngIf="editUserMode"
                >
                  <label for="lastName">{{ "LAST_NAME" | translate }}</label>
                  <input
                    type="text"
                    name="lastName"
                    [(ngModel)]="profile.lastName"
                    [disabled]="!editUserMode"
                    (input)="onFieldChange('lastName')"
                  />
                </div>
              </div>
            </div>
          </div>
          <div class="myPrflFrmGrpLst mt-3">
            <div class="myPrflFrmGrp" [class.changed]="changedFields.email">
              <label for="email">{{ "PRIMARY_EMAIL_ID" | translate }}</label>
              <input
                type="email"
                name="email"
                [(ngModel)]="profile.email"
                [disabled]="!editUserMode"
                (input)="onFieldChange('email')"
              />
            </div>
            <div class="myPrflFrmGrp" [class.changed]="changedFields.contact">
              <label for="contact">{{ "CONTACT" | translate }}</label>
              <input
                type="number"
                name="contact"
                [(ngModel)]="profile.contact"
                [disabled]="!editUserMode"
                (input)="onFieldChange('contact')"
              />
            </div>
            <div
              class="myPrflFrmGrp"
              [class.changed]="changedFields.firstName"
              *ngIf="profile.role === 'PROPERTY_MANAGER'"
            >
              <label for="companyName">{{ "COMAPANY_NAME" | translate }}</label>
              <input
                type="text"
                name="companyName"
                [(ngModel)]="profile.companyName"
                [disabled]="!editUserMode"
                (input)="onFieldChange('companyName')"
              />
            </div>
            <div class="myPrflFrmGrp" [class.changed]="changedFields.role">
              <label for="role">{{ "ROLE" | translate }}</label>
              <input
                type="text"
                name="role"
                [(ngModel)]="profile.role"
                [disabled]="!editUserMode"
                (input)="onFieldChange('role')"
              />
            </div>
            <div class="myPrflFrmGrp" [class.changed]="changedFields.password">
              <label for="password">{{ "PASSWORD" | translate }}</label>
              <input
                type="password"
                name="password"
                [(ngModel)]="profile.password"
                [disabled]="!editUserMode"
                (input)="onFieldChange('password')"
              />

              <app-password-popupbtn></app-password-popupbtn>
            </div>
          </div>
        </div>
        <ng-container card-actions>
          <button
            *ngIf="!editUserMode"
            type="button"
            class="btn btnCommon btnWhite"
            (click)="enableUserEdit()"
          >
            <i><app-edit-icon /></i>{{ "EDIT" | translate }}
          </button>
          <button
            *ngIf="editUserMode"
            type="submit"
            class="btn btnCommon btnActive"
            (click)="saveAccountDetails()"
          >
            {{ "SAVE_CHANGES" | translate }}
          </button>
          <button
            *ngIf="editUserMode"
            type="button"
            class="btn btnCommon btnDarkGrey"
            (click)="cancelUser()"
          >
            {{ "CANCEL" | translate }}
          </button>
        </ng-container>
      </app-white-card>
    </form>
  </app-dash-form>
</div>
<app-dash-form>
  <form>
    <app-white-card
      title="{{ 'OTHER_DETAILS' | translate }}"
      [showActions]="true"
    >
      <div class="myPrflFrm othrDtlFrm" [class.editMode]="editOtherDetailsMode">
        <div class="myPrflFrmGrpLst">
          <div class="myPrflFrmGrp" [class.changed]="changedFields.country">
            <label for="country">{{ "COUNTRY" | translate }}</label>
            <input
              type="text"
              name="country"
              [(ngModel)]="otherDetails.country"
              [disabled]="!editOtherDetailsMode"
              (input)="onFieldChange('country')"
            />
          </div>
          <div class="myPrflFrmGrp" [class.changed]="changedFields.timeZone">
            <label for="timeZone">{{ "TIME_ZONE" | translate }}</label>
            <input
              type="text"
              name="timeZone"
              [(ngModel)]="otherDetails.timeZone"
              [disabled]="!editOtherDetailsMode"
              (input)="onFieldChange('timeZone')"
            />
          </div>
          <div class="myPrflFrmGrp" [class.changed]="changedFields.address">
            <label for="address">{{ "ADDRESS" | translate }}</label>
            <textarea
              name="address"
              [(ngModel)]="otherDetails.address"
              [disabled]="!editOtherDetailsMode"
              (input)="onFieldChange('address')"
            ></textarea>
          </div>
          <div class="myPrflFrmGrp" [class.changed]="changedFields.state">
            <label for="state">{{ "STATE" | translate }}</label>
            <input
              type="text"
              name="state"
              [(ngModel)]="otherDetails.state"
              [disabled]="!editOtherDetailsMode"
              (input)="onFieldChange('state')"
            />
          </div>
          <div class="myPrflFrmGrp" [class.changed]="changedFields.postalCode">
            <label for="postalCode">{{ "POSTAL_CODE" | translate }}</label>
            <input
              type="number"
              inputmode="numeric"
              maxlength="6"
              name="postalCode"
              [(ngModel)]="otherDetails.postalCode"
              [disabled]="!editOtherDetailsMode"
              (input)="onFieldChange('postalCode')"
            />
          </div>
        </div>
      </div>
      <ng-container card-actions>
        <button
          *ngIf="!editOtherDetailsMode"
          type="button"
          class="btn btnCommon btnWhite"
          (click)="enableOtherDetailsEdit()"
        >
          <i><app-edit-icon /></i>{{ "EDIT" | translate }}
        </button>
        <button
          *ngIf="editOtherDetailsMode"
          type="submit"
          class="btn btnCommon btnActive"
          (click)="saveOtherDetails()"
        >
          {{ "SAVE_CHANGES" | translate }}
        </button>
        <button
          *ngIf="editOtherDetailsMode"
          type="button"
          class="btn btnCommon btnDarkGrey"
          (click)="cancelOtherDetails()"
        >
          {{ "CANCEL" | translate }}
        </button>
      </ng-container>
    </app-white-card>
  </form>
</app-dash-form>
