<div class="statusIcons" *ngIf="type === 'icons'">
  <img src="assets/platfrom/property-finder1.svg" />
  <img src="assets/platfrom/buyut1.svg" />
  <div class="shareIconWrapper">
    <img
      src="assets/platfrom/list-more-icon.svg"
      (click)="toggleShare()"
      class="clickIcon"
    />

    <!-- Popup -->
    <div class="sharePopup" *ngIf="showSharePopup">
      <div class="shareItem">
        <input type="checkbox" checked />
        <span class="propertyFinder"
          ><img src="assets/platfrom/property-finder.svg"
        /></span>
      </div>

      <div class="shareItem">
        <input type="checkbox" checked />
        <span class="bayut"><img src="assets/platfrom/buyut.svg" /></span>
      </div>

      <button class="shareBtn">
        <i class="fa fa-paper-plane"
          ><app-share-platfrom-icon></app-share-platfrom-icon>
        </i>
        Share
      </button>
    </div>
  </div>
</div>
<div *ngIf="type === 'list'" class="listProperty">
  <div class="listIcon">
    <app-upload-blue-icon></app-upload-blue-icon>
  </div>

  <span class="listText">List Property</span>
</div>
