<!-- <div class="stepper-wrapper">
  <div
    class="stepper-item"
    *ngFor="let step of steps; let i = index"
    [class.active]="i === activeIndex"
    [class.completed]="i < activeIndex"
    (click)="goToStep(i)"
  >
    <div class="step-counter">
      <ng-container *ngIf="i < activeIndex; else num"> ✓ </ng-container>
      <ng-template #num>{{ i + 1 }}</ng-template>
    </div>
    <div class="step-name">{{ step.title }}</div>
  </div>
</div>

Dynamic Page Load
<router-outlet></router-outlet>

Footer Navigation
<div class="d-flex justify-content-between mt-4">
  <button
    class="btn btn-outline-secondary"
    (click)="prev()"
    [disabled]="activeIndex === 0"
  >
    Back
  </button>

  <button
    class="btn btn-primary"
    (click)="next()"
    *ngIf="activeIndex < steps.length - 1"
  >
    Next
  </button>
</div> -->
<app-form-render [steps]="steps" [activeIndex]="activeIndex"></app-form-render>
