<!-- <apx-chart
  *ngIf="chartOptions"
  #chart
  [series]="chartOptions.series!"
  [chart]="chartOptions.chart!"
  [xaxis]="chartOptions.xaxis!"
  [dataLabels]="chartOptions.dataLabels!"
  [colors]="chartOptions.colors!"
  [legend]="chartOptions.legend!"
  [fill]="chartOptions.fill!"
>
</apx-chart> -->
<apx-chart
  *ngIf="chartOptions"
  #chart
  [series]="chartOptions.series"
  [chart]="chartOptions.chart"
  [xaxis]="chartOptions.xaxis"
  [dataLabels]="chartOptions.dataLabels"
  [colors]="chartOptions.colors"
  [legend]="chartOptions.legend"
  [fill]="chartOptions.fill"
  [stroke]="chartOptions.stroke"
  [markers]="chartOptions.markers"
>
</apx-chart>
