<svg width="16" height="17" viewBox="0 0 16 17" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M14 6.5C12.4 8.278 10.4 9.16667 8 9.16667C5.6 9.16667 3.6 8.278 2 6.5" stroke="currentColor"
        stroke-width="1.16667" stroke-linecap="round" stroke-linejoin="round" />
    <path d="M2 10.5L3.66667 7.96667" stroke="currentColor" stroke-width="1.16667" stroke-linecap="round"
        stroke-linejoin="round" />
    <path d="M14 10.484L12.3386 7.96667" stroke="currentColor" stroke-width="1.16667" stroke-linecap="round"
        stroke-linejoin="round" />
    <path d="M6 11.8333L6.33333 9.16663" stroke="currentColor" stroke-width="1.16667" stroke-linecap="round"
        stroke-linejoin="round" />
    <path d="M10.0001 11.8333L9.66675 9.16663" stroke="currentColor" stroke-width="1.16667" stroke-linecap="round"
        stroke-linejoin="round" />
</svg>