.editLeadForm .form-label span {
  color: var(--errorColor);
  margin-left: 2px;
}

.errorMsg {
  color: var(--errorColor);
  font-size: 12px;
  margin-top: 4px;
  display: block;
}

.form-check .form-check-label {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  color: var(--greyDarkText1);
}
