<app-auth-title
  title="Fill the Details to continue"
  description="Give us your identification details"
/>

<app-auth-form>
  <form class="mt-2">
    <!-- Property Manage Through -->
    <div class="mb-3">
      <label class="form-label">Property Manage Through</label>
      <div class="d-flex gap-3">
        <label class="d-flex align-items-center gap-1">
          <input
            type="radio"
            name="manageThrough"
            formControlName="manageThrough"
            value="myself"
          />
          Myself
        </label>
        <label class="d-flex align-items-center gap-1">
          <input
            type="radio"
            name="manageThrough"
            formControlName="manageThrough"
            value="pmc"
          />
          PMC
        </label>
      </div>
    </div>

    <!-- Emirate ID -->
    <div class="mb-3">
      <label class="form-label">Emirate ID</label>

      <input
        type="text"
        class="form-control"
        placeholder="Enter here"
        formControlName="emirateId"
      />
      <!-- </div> -->
    </div>

    <!-- UAE Residence Visa -->
    <div class="mb-3">
      <label class="form-label">UAE Residence Visa</label>

      <input
        type="text"
        class="form-control"
        placeholder="Enter here"
        formControlName="residenceVisa"
      />
    </div>

    <!-- Trade License Number -->
    <div class="mb-3">
      <label class="form-label">Trade License Number</label>

      <input
        type="text"
        class="form-control"
        placeholder="Enter here"
        formControlName="tradeLicense"
      />
    </div>

    <div class="frmBtnss d-flex justify-content-center gap-3 mt-2">
      <button type="button" class="btn btnLight custom-shadow" (click)="back()">
        <app-arrow-icon></app-arrow-icon>
        Back
      </button>
      <button
        type="submit"
        class="btn btnCommon btn-wide"
        (click)="goToResetPassword()"
      >
        Next
      </button>
    </div>
    <br />
    <br />
    <div></div>
  </form>
</app-auth-form>
