.frmBtns {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 12px;
}
.custom-shadow {
  box-shadow: 0 4px 6px rgba(190, 187, 187, 0.8);
}
.btn-wide {
  width: 120px;
}