<app-auth-title
  title="Fill the Details to continue"
  description="Give us your identification details"
/>

<app-auth-form>
  <form class="mt-2" [formGroup]="detailForm">
    <!-- Property Manage Through -->
    <div class="mb-3" *ngIf="currentRole === 'owner'">
      <label class="form-label">Property Manage Through</label>
      <div class="d-flex gap-3">
        <label class="d-flex align-items-center gap-1">
          <input
            type="radio"
            name="manageThrough"
            formControlName="manageThrough"
            value="MYSELF"
          />
          Myself
        </label>
        <label class="d-flex align-items-center gap-1">
          <input
            type="radio"
            name="manageThrough"
            formControlName="manageThrough"
            value="PMC"
          />
          PMC
        </label>
      </div>
    </div>

    <!-- Emirate ID -->
    <div class="mb-3">
      <label class="form-label">Emirate ID</label>

      <input
        type="text"
        class="form-control"
        placeholder="Enter here"
        formControlName="emirateId"
      />
      @if (isInvalid(detailForm, 'emirateId').status) {
      <small class="errorMsg">
        {{
          isInvalid(detailForm, "emirateId", {
            pattern:
              "Enter a valid Emirates ID (15 digits). Example: 784-1995-1234567-1"
          }).msg
        }}
      </small>
      }
    </div>

    <!-- UAE Residence Visa -->
    <div class="mb-3">
      <label class="form-label">UAE Residence Visa</label>

      <input
        type="text"
        class="form-control"
        placeholder="Enter here"
        formControlName="residenceVisa"
      />
      @if (isInvalid(detailForm, 'residenceVisa').status) {
      <small class="errorMsg">
        {{
          isInvalid(detailForm, "residenceVisa", {
            pattern:
              "Enter a valid UAE Resident Visa number. Format: 201/1234567/123456"
          }).msg
        }}
      </small>
      }
    </div>

    <!-- Trade License Number -->
    <div class="mb-3">
      <label class="form-label">Trade License Number</label>

      <input
        type="text"
        class="form-control"
        placeholder="Enter here"
        formControlName="tradeLicense"
      />
      @if (isInvalid(detailForm, 'tradeLicense').status) {
      <small class="errorMsg">
        {{
          isInvalid(detailForm, "tradeLicense", {
            pattern:
              " Enter a valid UAE Trade License number. Use 5-10 digits (numbers only)."
          }).msg
        }}
      </small>
      }
    </div>

    <div class="frmBtnss d-flex justify-content-center gap-3 mt-2">
      <button type="button" class="btn btnLight custom-shadow" (click)="back()">
        <app-arrow-icon></app-arrow-icon>
        Back
      </button>
      <button
        type="submit"
        class="btn btnCommon btn-wide"
        (click)="goToUploadDocument()"
      >
        Next
      </button>
    </div>
    <br />
    <br />
    <div></div>
  </form>
</app-auth-form>
