<div class="platform-wrapper">
  <div class="platform-badge">
    <img *ngIf="logoSrc" [src]="logoSrc" [alt]="label" class="platform-logo" />
    <span *ngIf="!logoSrc" class="platform-text">{{ label }}</span>
  </div>
  <div class="platform-hover-card">
    <div class="card-header">
      <img src="assets/user/user-2.png" class="avatar" alt="user" />
      <div>
        <div class="name">Tenant / User Name</div>
        <div class="id">ID: 252272</div>
      </div>
    </div>

    <div class="card-footer">
      <app-call-icons-new></app-call-icons-new>
      <span class="number">+41-373937202</span>
      <app-double-copy-icon></app-double-copy-icon>
    </div>
  </div>
</div>
