.approvalBody {
  padding: 20px;
}

.recipientLabel {
  display: block;
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 10px;
  color: var(--textPrimaryDark);
}

.inputBox {
  width: 100%;
  min-height: 110px;
  padding: 16px;
  border-radius: 12px;
  border: 1px solid var(--borderLight);
  background-color: var(--inputBg);
  font-size: 14px;
  color: var(--textSecondary);
  line-height: 1.5;
}
