<header
  class="dashHdrMain"
  [class.dashHdrSmallMain]="openSidebarValue === false"
  [ngClass]="{ arabic: currentLanguage === 'ar' }"
>
  <div class="dashHdrTop">
    <div class="row g-3 align-items-center justify-space-between">
      <div class="col">
        <div class="dashHdrLogo d-md-none">
          <a href="javascript:void(0);" (click)="goToDashboard()">
            <img src="../../../../assets/mainLogoIcon.svg" alt="Doqfy Logo" />
          </a>
        </div>
        <div class="d-none d-md-block">
          <app-dash-title [title]="pageTitle" />
        </div>
      </div>
      <div class="col-auto">
        <div class="hdrOptns">
          <ng-container
            *ngIf="
              currentRole === 'owner' || currentRole === 'property-manager'
            "
          >
            <button
              type="button"
              class="btn btnCommon btnMinWidth d-none d-xl-flex"
              (click)="goToAddProperty()"
              [ngClass]="isAddPropertyActive ? 'btnActive' : 'btnGrey'"
            >
              <i><app-plus-icon></app-plus-icon></i>
              {{ "ADD_PROPERTY" | translate }}
            </button>
          </ng-container>
          <ng-container *ngIf="currentRole === 'property-manager'">
            <button
              type="button"
              class="btn btnCommon btnMinWidth d-none d-xl-flex"
              (click)="goToAddLease()"
              [ngClass]="isAddLeaseActive ? 'btnActive' : 'btnWhite'"
            >
              <i><app-plus-icon></app-plus-icon></i>
              {{ "NEW_LEASE" | translate }}
            </button>
          </ng-container>
          <button type="button" class="btn btnCommon btnWhite">
            <i><app-appearance-icon></app-appearance-icon></i>
          </button>
          <button type="button" class="btn btnCommon btnWhite">
            <i><app-notification-icon></app-notification-icon></i>
          </button>
          <div ngbDropdown class="hdrDrpdwn hdrLanguageDrpdwn">
            <button
              type="button"
              class="hdrDrpdwnBtn"
              id="userLanguageDropdown"
              ngbDropdownToggle
            >
              <i>
                <img
                  [src]="flagIcon"
                  width="24"
                  height="24"
                  [alt]="currentLang === 'ar' ? 'Arabic' : 'English'"
                />
              </i>
              <em>
                <span class="down"><app-arrow-down-icon /></span>
                <span class="up"><app-arrow-up-icon /></span>
              </em>
            </button>
            <div
              class="hdrDrpdwnMenu hdrLanguageDrpdwnMenu"
              ngbDropdownMenu
              aria-labelledby="userProfileDropdown"
            >
              <div class="hdrUserDrpdwnLinks">
                <button ngbDropdownItem (click)="setLanguage('en')">
                  <i
                    ><img
                      src="assets/language/united-kingdom.png"
                      alt="English"
                  /></i>
                  English
                </button>
                <div class="dropdown-divider"></div>
                <button ngbDropdownItem (click)="setLanguage('ar')">
                  <i
                    ><img
                      src="assets/language/united-arab-emirates.png"
                      alt="Arabic"
                  /></i>
                  العربية
                </button>
              </div>
            </div>
          </div>

          <div ngbDropdown class="hdrDrpdwn hdrUserDrpdwn">
            <button
              type="button"
              class="hdrDrpdwnBtn"
              id="userProfileDropdown"
              ngbDropdownToggle
              [ngClass]="{ active: isProfileActive }"
            >
              <i><img src="../../../assets/userImg.png" alt="AI Musfiq" /></i>
              <span>AI Musfiq</span>
              <em>
                <span class="down">
                  <app-arrow-down-icon />
                </span>
                <span class="up">
                  <app-arrow-up-icon />
                </span>
              </em>
            </button>
            <div
              class="hdrDrpdwnMenu hdrUserDrpdwnMenu"
              ngbDropdownMenu
              aria-labelledby="userProfileDropdown"
            >
              <div class="hdrUserDrpdwnTop">
                <div class="hdrUserDrpdwnTopInfo">
                  <p>Amir Ali</p>
                  <span>User ID: ali&#64;gmail.in</span>
                </div>
              </div>
              <div class="hdrUserDrpdwnLinks">
                <button ngbDropdownItem (click)="goToMyProfile()">
                  <i><app-profile-icon /></i>{{ "MY_PROFILE" | translate }}
                </button>
                <button ngbDropdownItem>
                  <i><app-document-icon /></i>{{ "DOCUMENTATION" | translate }}
                </button>
                <div class="dropdown-divider"></div>
                <button
                  ngbDropdownItem
                  (click)="openLogoutModal(logoutContent)"
                >
                  <i><app-logout-icon></app-logout-icon></i
                  >{{ "LOGOUT" | translate }}
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-dash-breadcrumb [breadcrumbItems]="breadcrumbData"></app-dash-breadcrumb>
</header>

<ng-template #logoutContent let-modal>
  <div class="modal-body logoutMdlBody">
    <div class="logoutMdlInfo">
      <i>
        <app-logout-modal-icon />
      </i>
      <h3>{{ "LOGOUT" | translate }}</h3>
      <p>{{ "LOGOUT_CONFIRM" | translate }}</p>
    </div>
    <div class="logoutMdlBtns">
      <button
        type="button"
        (click)="modal.dismiss('Cross click')"
        class="btn btnCommon btnSmall btnTransparent"
      >
        {{ "CANCEL" | translate }}
      </button>
      <button type="button" (click)="logout()" class="btn btnCommon btnSmall">
        {{ "LOGOUT" | translate }}
      </button>
    </div>
  </div>
</ng-template>
