<header class="dashHdrMain" [class.dashHdrSmallMain]="openSidebarValue === false">
    <div class="dashHdrTop">
        <div class="row g-3 align-items-center justify-space-between">
            <div class="col">
                <div class="dashHdrLogo d-md-none">
                    <a href="javascript:void(0);" (click)="goToDashboard()">
                        <img src="../../../../assets/mainLogoIcon.svg" alt="Doqfy Logo" />
                    </a>
                </div>
                <div class="d-none d-md-block">
                    <app-dash-title [title]="pageTitle" />
                </div>
            </div>
            <div class="col-auto">
                <div class="hdrOptns">
                    <ng-container *ngIf="currentRole === 'owner' || currentRole === 'property-manager'">
                        <button type="button" class="btn btnCommon btnMinWidth d-none d-xl-flex"
                            (click)="goToAddProperty()" [ngClass]="isAddPropertyActive ? 'btnActive' : 'btnGrey'">
                            <i><app-plus-icon></app-plus-icon></i>
                            Add Property
                        </button>
                    </ng-container>
                    <ng-container *ngIf="currentRole === 'property-manager'">
                        <button type="button" class="btn btnCommon btnMinWidth d-none d-xl-flex"
                            (click)="goToAddLease()" [ngClass]="isAddLeaseActive ? 'btnActive' : 'btnWhite'">
                            <i><app-plus-icon></app-plus-icon></i>
                            New Lease
                        </button>
                    </ng-container>
                    <button type="button"
                        class="btn btnCommon btnWhite"><i><app-appearance-icon></app-appearance-icon></i></button>
                    <button type="button"
                        class="btn btnCommon btnWhite"><i><app-notification-icon></app-notification-icon></i></button>
                    <div ngbDropdown class="hdrDrpdwn hdrLanguageDrpdwn">
                        <button type="button" class="hdrDrpdwnBtn" id="userLanguageDropdown" ngbDropdownToggle>
                            <i><img src="../../../assets/language/united-arab-emirates.png" width="24" height="24"
                                    alt="United Arab Emirates" /></i>
                            <em>
                                <span class="down">
                                    <app-arrow-down-icon />
                                </span>
                                <span class="up">
                                    <app-arrow-up-icon />
                                </span>
                            </em>
                        </button>
                        <div class="hdrDrpdwnMenu hdrLanguageDrpdwnMenu" ngbDropdownMenu
                            aria-labelledby="userProfileDropdown">
                            <div class="hdrUserDrpdwnLinks">
                                <button ngbDropdownItem><i><img src="../../../assets/language/united-arab-emirates.png"
                                            alt="United Arab Emirates" /></i>United Arab Emirates</button>
                                <div class="dropdown-divider"></div>
                                <button ngbDropdownItem><i><img src="../../../assets/language/united-arab-emirates.png"
                                            alt="United Arab Emirates" /></i>US English</button>
                                <div class="dropdown-divider"></div>
                                <button ngbDropdownItem><i><img src="../../../assets/language/united-arab-emirates.png"
                                            alt="United Arab Emirates" /></i>French</button>
                                <div class="dropdown-divider"></div>
                                <button ngbDropdownItem><i><img src="../../../assets/language/united-arab-emirates.png"
                                            alt="United Arab Emirates" /></i>Canadian</button>
                            </div>
                        </div>
                    </div>
                    <div ngbDropdown class="hdrDrpdwn hdrUserDrpdwn">
                        <button type="button" class="hdrDrpdwnBtn" id="userProfileDropdown" ngbDropdownToggle
                            [ngClass]="{'active': isProfileActive}">
                            <i><img src="../../../assets/userImg.png" alt="AI Musfiq" /></i> <span>AI Musfiq</span>
                            <em>
                                <span class="down">
                                    <app-arrow-down-icon />
                                </span>
                                <span class="up">
                                    <app-arrow-up-icon />
                                </span>
                            </em>
                        </button>
                        <div class="hdrDrpdwnMenu hdrUserDrpdwnMenu" ngbDropdownMenu
                            aria-labelledby="userProfileDropdown">
                            <div class="hdrUserDrpdwnTop">
                                <div class="hdrUserDrpdwnTopInfo">
                                    <p>Amir Ali</p>
                                    <span>User ID: ali&#64;gmail.in</span>
                                </div>
                            </div>
                            <div class="hdrUserDrpdwnLinks">
                                <button ngbDropdownItem (click)="goToMyProfile()"><i><app-profile-icon /></i>My
                                    Profile</button>
                                <button ngbDropdownItem><i><app-document-icon /></i>Documentation</button>
                                <div class="dropdown-divider"></div>
                                <button ngbDropdownItem
                                    (click)="openLogoutModal(logoutContent)"><i><app-logout-icon></app-logout-icon></i>Logout</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <app-dash-breadcrumb [breadcrumbItems]="breadcrumbData"></app-dash-breadcrumb>
</header>

<ng-template #logoutContent let-modal>
    <div class="modal-body logoutMdlBody">
        <div class="logoutMdlInfo">
            <i>
                <app-logout-modal-icon />
            </i>
            <h3>logout</h3>
            <p>Are you sure you want to logout?</p>
        </div>
        <div class="logoutMdlBtns">
            <button type="button" (click)="modal.dismiss('Cross click')"
                class="btn btnCommon btnSmall btnTransparent">Cancel</button>
            <button type="button" (click)="logout()" class="btn btnCommon btnSmall">Logout</button>
        </div>
    </div>
</ng-template>