<label for="password" class="form-label"
  >Password <app-password-tooltip
/></label>
<div class="password-field-wrapper">
  <div class="iconInput password">
    <i><app-password-icon /></i>
    <input
      class="form-control"
      [type]="showPassword ? 'text' : 'password'"
      [value]="value"
      (input)="onInput($any($event.target).value)"
      placeholder="Enter your password"
    />
    <i class="right" (click)="toggleVisibility()">
      <app-password-show-icon *ngIf="!showPassword"></app-password-show-icon>
      <app-password-hide-icon *ngIf="showPassword"></app-password-hide-icon>
    </i>
  </div>

  <div class="password-strength-indicator">
    <span *ngFor="let i of [0, 1, 2, 3]" [ngClass]="getStrengthClass(i)"></span>
  </div>
</div>
