.no-data-container {
  text-align: center;
  padding: 30px 20px;
  color: var(--textPrimary);
}

.no-data-img {
  width: 160px;
  margin-bottom: 15px;
}

.title {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 5px;
  color: var(--textPrimary);
}

.subtitle {
  font-size: 14px;
  color: var(--textSecondary);
}
