<div class="errorBlock">
    <div class="errorCol">
        <div class="errorLogo">
            <a routerLink="/">
                <img src="../.././assets/mainLogo.svg" alt="Doqfy Logo" />
            </a>
        </div>
        <div class="errorIcon"></div>
        <div class="errorCntnt">
            <h2 class="gradientText">Page not found!</h2>
            <p>Don’t worry, team Doqfy is here to help</p>
            <div class="errorBtn">
                <button type="button" (click)="goToHome()"
                    class="btn btnCommon btnSmall"><i><app-home-icon></app-home-icon></i> Take me home</button>
            </div>
        </div>
    </div>
</div>