<div class="accordion prprtyAcrdn" id="propertyExample">
  <div class="accordion-item" *ngFor="let item of accordianData; let i = index">
    <h2 class="accordion-header">
      <button
        class="accordion-button"
        [ngClass]="{ collapsed: !isAccordionOpen(i) }"
        type="button"
        [attr.data-bs-target]="'#collapse' + i"
        [attr.aria-expanded]="isAccordionOpen(i)"
        [attr.aria-controls]="'collapse' + i"
        data-bs-toggle="collapse"
        (click)="toggleAccordion(i)"
      >
        {{ item.title | translate }}
      </button>
    </h2>

    <div
      class="accordion-collapse collapse"
      [class.show]="isAccordionOpen(i)"
      [attr.id]="'collapse' + i"
      data-bs-parent="#propertyExample"
    >
      <div class="accordion-body">
        <!-- Table layout -->
        <ng-container *ngIf="item.tableColumns?.length; else listLayout">
          <div class="table-responsive acrd-table-wrap">
            <table class="table table-bordered acrd-table">
              <thead>
                <tr>
                  <th *ngFor="let col of item.tableColumns">{{ col.label }}</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let row of item.tableRows">
                  <td
                    *ngFor="let col of item.tableColumns"
                    class="custom-tooltip"
                  >
                    {{ row[col.key] ?? "--" }}
                  </td>
                </tr>
                <tr *ngIf="!item.tableRows?.length">
                  <td
                    [attr.colspan]="item.tableColumns?.length"
                    style="text-align: center; color: #9ca3af; font-size: 13px"
                  >
                    No data available
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </ng-container>
        <!-- Default label/value list layout -->
        <ng-template #listLayout>
          <ul>
            <li *ngFor="let content of item.items">
              <span>{{ content.label | translate }}</span>
              <p
                *ngIf="content.isLink"
                class="unit-link truncate-text"
                (click)="navigateToUnit(content.unitId)"
                [ngbTooltip]="content.value"
                placement="top"
                container="body"
              >
                {{ content.value }}
              </p>
              <p
                *ngIf="!content.isLink"
                class="truncate-text"
                [ngbTooltip]="content.value"
                placement="top"
                container="body"
              >
                {{ content.value }}
              </p>
              <!-- Action Icon -->
              <p *ngIf="content.isAction">
                <app-preview-icon
                  style="cursor: pointer"
                  (click)="navigateToUnit(content.unitId)"
                >
                </app-preview-icon>
              </p>
            </li>
          </ul>
        </ng-template>
      </div>
    </div>
  </div>
</div>
