<app-raise-complaint-card>
  <ng-container form-content>
    <div class="textareaCombo">
      <textarea
        class="form-control"
        type="text"
        name="contactMsg"
        [(ngModel)]="message"
        placeholder="{{ 'HELP_PROMPT' | translate }}"
      ></textarea>
      <button type="button" class="btn btnCommon btnWhite btnExtraSmall">
        <i><app-send-icon /></i>{{ "SEND" | translate }}
      </button>
      <!-- (click)="sendComplaint()" -->
    </div>
  </ng-container>
  <ng-container accordion-content>
    <app-faq-accordian-card [accordianData]="faqList" />
  </ng-container>
</app-raise-complaint-card>
