<app-white-card title="{{ 'YOUR_STATISTICS' | translate }}">
  <div class="row g-3">
    <div class="col-lg-3">
      <app-stats-card
        [stats]="[
          {
            label: ('MONTHLY_COMMISSION' | translate),
            value: ('AED 1,20,573' | translate)
          }
        ]"
      >
        <ng-container icon>
          <app-graph-stats-icon />
        </ng-container>
        <ng-container action>
          <app-custom-select
            [options]="['Sep 2025', 'Aug 2025', 'Sep 2025', 'Oct 2025']"
            [placeholder]="selectedMonthly"
            [selectedOption]="selectedMonthly"
            (optionSelected)="onOptionSelectedMonthly($event)"
            [isFilter]="true"
            [isPlain]="true"
          >
          </app-custom-select>
        </ng-container>
      </app-stats-card>
    </div>
    <div class="col-lg-9">
      <div class="row g-3">
        <div class="col-md-6">
          <app-stats-card
            [title]="'PROPERTIES' | translate"
            [stats]="[
              {
                label: ('TOTAL' | translate),
                value: stats?.properties?.total ?? 'N/A'
              },
              {
                label: ('RENTED' | translate),
                value: stats?.properties?.rented ?? 'N/A'
              },
              {
                label: ('VACANT' | translate),
                value: stats?.properties?.vacant ?? 'N/A'
              }
            ]"
          >
            <ng-container icon>
              <app-property-stats-icon />
            </ng-container>
          </app-stats-card>
        </div>
        <div class="col-md-6">
          <app-stats-card
            [title]="'TENANTS' | translate"
            [stats]="[
              {
                label: ('ACTIVE' | translate),
                value: stats?.tenants?.active ?? 'N/A'
              },
              {
                label: ('UPCOMING RENEWALS' | translate),
                value: stats?.tenants?.upcoming_renewals ?? 'N/A'
              },
              {
                label: ('NEGOTIATIONS' | translate),
                value: stats?.tenants?.negotiations ?? 'N/A'
              }
            ]"
          >
            <ng-container icon>
              <app-tenant-stats-icon />
            </ng-container>
          </app-stats-card>
        </div>
      </div>
    </div>
  </div>
</app-white-card>

<div class="mt-3">
  <div class="row g-3">
    <div class="col-lg-5">
      <app-white-card title="{{ 'MOST_REVENUE_PROPERTIES' | translate }}">
        <app-progress-bar-table [rows]="propertyData"></app-progress-bar-table>
      </app-white-card>
    </div>
    <div class="col-lg-7">
      <app-white-card
        title="{{ 'REVENUE' | translate }}"
        subtitle="{{ 'SUBTITLE' | translate }}"
        [showActions]="true"
        customClass="pb-0"
      >
        <ng-container card-actions>
          <app-filter-popup-btn>
            <ng-container form>
              <form>
                <div class="row g-3">
                  <div class="col-md-6">
                    <label class="form-label">{{
                      "PROPERTY" | translate
                    }}</label>
                    <app-custom-select
                      [options]="properties"
                      key="key"
                      value="value"
                      [selectedOption]="selectedFilter"
                      (optionSelected)="onPropertySelected($event)"
                    >
                    </app-custom-select>
                  </div>
                  <div class="col-md-6">
                    <label class="form-label"
                      >{{ "UNIT" | translate }}<span>*</span></label
                    >
                    <app-custom-select
                      [options]="units"
                      key="key"
                      value="value"
                      [selectedOption]="selectedUnit"
                      (optionSelected)="onUnitSelected($event)"
                    >
                    </app-custom-select>
                  </div>
                  <div class="col-md-6">
                    <label class="form-label">
                      {{ "YEARS" | translate }}
                    </label>
                    <input
                      class="form-control"
                      type="year"
                      name="year"
                      [(ngModel)]="selectedYear"
                      [placeholder]="'please Enter a year' | translate"
                    />
                  </div>
                  <!-- <div class="col-md-6">
                    <label class="form-label">{{
                      "DATE_RANGE" | translate
                    }}</label>
                    <label class="form-label small">{{
                      "FROM" | translate
                    }}</label>
                    <div class="datePicker">
                      <input
                        class="form-control"
                        placeholder="DD-MM-YYYY"
                        name="dp"
                        [(ngModel)]="model"
                        ngbDatepicker
                        #d="ngbDatepicker"
                      />
                      <button type="button" (click)="d.toggle()">
                        <app-date-icon />
                      </button>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <label class="form-label d-none d-md-block">&nbsp;</label>
                    <label class="form-label small">{{
                      "TO" | translate
                    }}</label>
                    <div class="datePicker">
                      <input
                        class="form-control"
                        placeholder="DD-MM-YYYY"
                        name="dp"
                        [(ngModel)]="model"
                        ngbDatepicker
                        #d="ngbDatepicker"
                      />
                      <button type="button" (click)="d.toggle()">
                        <app-date-icon />
                      </button>
                    </div>
                  </div> -->
                </div>
              </form>
            </ng-container>
            <ng-container action>
              <button
                type="button"
                class="btn btnCommon"
                (click)="handleFilterClick('revenue')"
              >
                {{ "APPLY" | translate }}
              </button>
            </ng-container>
          </app-filter-popup-btn>
        </ng-container>
        <app-column-chart [data]="monthlyRevenue"></app-column-chart>
      </app-white-card>
    </div>
  </div>
</div>

<div class="mt-3">
  <div class="row g-3">
    <div class="col-lg-5">
      <app-white-card
        title="{{ 'OCCUPANCY' | translate }}"
        [showActions]="true"
      >
        <ng-container card-actions>
          <app-custom-select
            [options]="occupancyOptions"
            placeholder="select property"
            [selectedOption]="selectedOccupancy"
            (optionSelected)="onOptionSelectedOccupancy($event)"
            [isFilter]="true"
            [isSmall]="true"
            (click)="getOccupancyOptions()"
          >
          </app-custom-select>
        </ng-container>
        <app-donut-chart
          [vacancy]="stats?.occupancy_data?.vacant_percent || 0"
          [occupied]="stats?.occupancy_data?.occupied_percent || 0"
        ></app-donut-chart>
      </app-white-card>
    </div>
    <div class="col-lg-7">
      <app-white-card
        title="{{ 'DUES' | translate }}"
        subtitle="{{ 'TOTAL_DUE_AMOUNT' | translate }}"
        [showActions]="true"
        customClass="pb-0"
      >
        <ng-container card-actions>
          <app-filter-popup-btn>
            <ng-container form>
              <form>
                <div class="row g-3">
                  <div class="col-md-6">
                    <label class="form-label">{{
                      "PROPERTY" | translate
                    }}</label>
                    <app-custom-select
                      [options]="properties"
                      [selectedOption]="selectedFilter"
                      (optionSelected)="onPropertySelected($event)"
                    >
                    </app-custom-select>
                  </div>
                  <div class="col-md-6">
                    <label class="form-label"
                      >{{ "UNIT" | translate }}<span>*</span></label
                    >
                    <app-custom-select
                      [options]="units"
                      key="key"
                      value="value"
                      [selectedOption]="selectedUnit"
                      (optionSelected)="onUnitSelected($event)"
                    >
                    </app-custom-select>
                  </div>
                  <div class="col-md-6">
                    <label class="form-label"> {{ "YEARS" | translate }}</label>

                    <input
                      type="number"
                      class="form-control"
                      placeholder="Enter year"
                      [(ngModel)]="selectedYear"
                      name="year"
                    />
                  </div>
                </div>
              </form>
            </ng-container>
            <ng-container action>
              <button
                type="button"
                class="btn btnCommon"
                (click)="handleFilterClick('dues')"
              >
                {{ "APPLY" | translate }}
              </button>
            </ng-container>
          </app-filter-popup-btn>
        </ng-container>
        <app-line-chart
          *ngIf="monthlyData && monthlyData.length > 0"
          [monthlyData]="monthlyData"
        ></app-line-chart>
      </app-white-card>
    </div>
  </div>
</div>

<div class="mt-3">
  <div class="row g-3">
    <div class="col-lg-5">
      <app-white-card
        title="{{ 'CHEQUES AGING' | translate }}"
        [showActions]="true"
      >
        <ng-container card-actions>
          <app-custom-select
            [options]="properties"
            key="key"
            value="value"
            placeholder="Select Property"
            [selectedOption]="selectedProperty"
            (optionSelected)="onOptionSelectedChequesAging($event)"
            [isFilter]="true"
          >
          </app-custom-select>
        </ng-container>
        <app-cheque-status [chequeData]="chequeData"></app-cheque-status>
      </app-white-card>
    </div>
    <div class="col-lg-7">
      <div class="cmmnTblOuter">
        <div class="cmmnTblHdr">
          <div class="row align-items-center">
            <div class="col">
              <app-table-title
                size="md"
                title="{{ 'CHEQUES VISIBILITY' | translate }}"
              ></app-table-title>
            </div>
            <div class="col-auto">
              <ng-container card-actions>
                <app-filter-popup-btn>
                  <ng-container form>
                    <form>
                      <div class="row g-3">
                        <div class="col-md-6">
                          <label class="form-label">{{
                            "PROPERTY" | translate
                          }}</label>
                          <app-custom-select
                            [options]="properties"
                            [selectedOption]="selectedFilter"
                            (optionSelected)="onPropertySelected($event)"
                          >
                          </app-custom-select>
                        </div>
                        <div class="col-md-6">
                          <label class="form-label"
                            >{{ "UNIT" | translate }}<span>*</span></label
                          >
                          <app-custom-select
                            [options]="units"
                            key="key"
                            value="value"
                            [selectedOption]="selectedUnit"
                            (optionSelected)="onUnitSelected($event)"
                          >
                          </app-custom-select>
                        </div>
                        <div class="col-md-12">
                          <div class="cmmnFltrRadioOuter">
                            <div class="cmmnFltrRadio">
                              <label>
                                <input
                                  type="radio"
                                  name="filterPeriod"
                                  value="month"
                                  [checked]="selectedPeriodType === 'month'"
                                  (change)="selectPeriod('month')"
                                />
                                <span>{{ "MONTH" | translate }}</span>
                              </label>
                              <label>
                                <input
                                  type="radio"
                                  name="filterPeriod"
                                  value="last6"
                                  [checked]="selectedPeriodType === 'last6'"
                                  (change)="selectPeriod('last6')"
                                />
                                <span>{{ "LAST_6_MONTHS" | translate }}</span>
                              </label>
                              <label>
                                <input
                                  type="radio"
                                  name="filterPeriod"
                                  value="year"
                                  [checked]="selectedPeriodType === 'year'"
                                  (change)="selectPeriod('year')"
                                />
                                <span>{{ "YEARS" | translate }}</span>
                              </label>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <label class="form-label">
                            {{ "YEARS" | translate }}</label
                          >

                          <input
                            type="number"
                            class="form-control"
                            placeholder="Enter year"
                            [(ngModel)]="selectedYear"
                            name="year"
                          />
                        </div>
                      </div>
                    </form>
                  </ng-container>
                  <ng-container action>
                    <button
                      type="button"
                      class="btn btnCommon"
                      (click)="handleApplyFilter()"
                    >
                      {{ "APPLY" | translate }}
                    </button>
                  </ng-container>
                </app-filter-popup-btn>
              </ng-container>
            </div>
          </div>
        </div>
        <div class="cmmnTblBody">
          <div class="table-responsive">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>{{ "SI.No" | translate }}</th>
                  <th>{{ "PROPERETY" | translate }}</th>
                  <th>{{ "NAME" | translate }}</th>
                  <th>{{ "CHEQUE NUMBER" | translate }}</th>
                  <th>{{ "STATUS" | translate }}</th>
                  <th width="200">{{ "AMOUNT" | translate }}</th>
                </tr>
              </thead>
              <tbody *ngIf="chequeList.length; else noData">
                <tr *ngFor="let c of chequeList; let i = index">
                  <!-- <td>{{ i + 1 }}</td> -->
                  <td>{{ c.lease_number || "N/A" }}</td>
                  <td>{{ c.property_unit_name }}</td>
                  <td>{{ c.tenant_name }}</td>
                  <td>{{ c.cheque_number || "N/A" }}</td>
                  <td>
                    <ng-container
                      *ngIf="c?.status; else noStatus"
                    ></ng-container>
                    <app-badge
                      [title]="c.status"
                      [status]="
                        c.status === 'Payment Successful'
                          ? 'light-green'
                          : c.status === 'Payment Bounced'
                          ? 'red'
                          : 'yellow'
                      "
                    />
                    <ng-template #noStatus>
                      <span>No Status</span>
                    </ng-template>
                  </td>
                  <td>AED {{ c.amount | number }}</td>
                </tr>
              </tbody>
              <ng-template #noData>
                <tr>
                  <td colspan="6" class="text-center">No Data Found</td>
                </tr>
              </ng-template>
            </table>
          </div>
        </div>
        <div class="cmmnTblFtr"></div>
      </div>
    </div>
  </div>
</div>

<div class="mt-3">
  <div class="row g-3">
    <div class="col-lg-5">
      <app-white-card
        title="{{ 'PROPERTIES OWNED' | translate }}"
        [showActions]="true"
        customClass="pb-0"
      >
        <ng-container card-actions>
          <app-custom-select
            [options]="[
              'All',
              'Dubai hiils golf club',
              'Sillicon central mall',
              'Falcon city of wonders',
              'Majan'
            ]"
            [placeholder]="selectedPropertiesOwned"
            [selectedOption]="selectedPropertiesOwned"
            (optionSelected)="onOptionSelectedPropertiesOwned($event)"
            [isFilter]="true"
          >
          </app-custom-select>
        </ng-container>
        <app-group-bar-chart></app-group-bar-chart>
      </app-white-card>
    </div>
    <div class="col-lg-7">
      <app-white-card
        title="{{ 'OTHER TYPE PAYMENTS' | translate }}"
        subtitle="{{ 'Total Revenue - AED 1,54,456' | translate }}"
        [showActions]="true"
        customClass="pb-0"
      >
        <ng-container card-actions>
          <app-filter-popup-btn>
            <ng-container form>
              <form>
                <div class="row g-3">
                  <div class="col-md-6">
                    <label class="form-label">{{
                      "PROPERTY" | translate
                    }}</label>
                    <app-custom-select
                      [options]="properties"
                      [selectedOption]="selectedFilter"
                      (optionSelected)="onPropertySelected($event)"
                    >
                    </app-custom-select>
                  </div>
                  <div class="col-md-6">
                    <label class="form-label">{{ "UNIT" | translate }}</label>
                    <app-custom-select
                      [options]="units"
                      key="key"
                      value="value"
                      [selectedOption]="selectedUnit"
                      (optionSelected)="onUnitSelected($event)"
                    >
                    </app-custom-select>
                  </div>
                  <!-- <div class="col-md-12">
                    <div class="cmmnFltrRadioOuter">
                      <div class="cmmnFltrRadio">
                        <label>
                          <input
                            type="radio"
                            name="filterMonth"
                            value="month"
                          />
                          <span>{{ "MONTH" | translate }}</span>
                        </label>
                        <label>
                          <input
                            type="radio"
                            name="filterMonth"
                            value="last6Months"
                            checked
                          />
                          <span>{{ "LAST_6_MONTHS" | translate }}</span>
                        </label>
                        <label>
                          <input type="radio" name="filterMonth" value="year" />
                          <span>{{ "YEARS" | translate }}</span>
                        </label>
                      </div>
                    </div>
                  </div> -->
                  <div class="col-md-6">
                    <label class="form-label"> {{ "YEARS" | translate }}</label>

                    <input
                      type="number"
                      class="form-control"
                      placeholder="Enter year"
                      [(ngModel)]="selectedYear"
                      name="year"
                    />
                  </div>
                </div>
              </form>
            </ng-container>
            <ng-container action>
              <button
                type="button"
                class="btn btnCommon"
                (click)="handleFilterClick('payment')"
              >
                {{ "APPLY" | translate }}
              </button>
            </ng-container>
          </app-filter-popup-btn>
        </ng-container>
        <app-stacked-column-chart
          [monthlyData]="monthlyData"
        ></app-stacked-column-chart>
      </app-white-card>
    </div>
  </div>
</div>
