<!-- <app-white-card title="{{ 'YOUR_STATISTICS' | translate }}"> -->
<app-white-card>
  <div class="stats-header">
    <div class="stats-title">
      {{ "YOUR_STATISTICS" | translate }}
    </div>

    <div class="stats-actions position-relative">
      <button class="stats-filter-btn" (click)="toggleStatsDropdown()">
        {{ "STATISTICS" | translate }}
      </button>

      <div class="stats-dropdown" *ngIf="showStatsDropdown">
        <label *ngFor="let item of visualization">
          <input
            type="checkbox"
            [(ngModel)]="item.is_visible"
            (change)="updateVisualization()"
          />
          {{ item.key | translate }}
        </label>
      </div>
    </div>
  </div>
  <div class="row g-3" *ngIf="isVisible('OVERVIEW')">
    <div class="col-lg-3">
      <app-stats-card
        [stats]="[
          {
            label: ('MONTHLY_COMMISSION' | translate),
            value: ('AED 1,20,573' | translate),
          },
        ]"
      >
        <ng-container icon>
          <app-graph-stats-icon />
        </ng-container>
        <ng-container action>
          <app-custom-select
            [options]="['Sep 2025', 'Aug 2025', 'Sep 2025', 'Oct 2025']"
            [placeholder]="selectedMonthly"
            [selectedOption]="selectedMonthly"
            (optionSelected)="onOptionSelectedMonthly($event)"
            [isFilter]="true"
            [isPlain]="true"
          >
          </app-custom-select>
        </ng-container>
      </app-stats-card>
    </div>
    <div class="col-lg-9">
      <div class="row g-3">
        <div class="col-md-6">
          <app-stats-card
            [title]="'PROPERTIES' | translate"
            [stats]="[
              {
                label: ('TOTAL_UNITS' | translate),
                value: stats?.properties?.total ?? 0,
              },
              {
                label: ('RENTED' | translate),
                value: stats?.properties?.rented ?? 0,
              },
              {
                label: ('VACANT' | translate),
                value: stats?.properties?.vacant ?? 0,
              },
            ]"
          >
            <ng-container icon>
              <app-property-stats-icon />
            </ng-container>
          </app-stats-card>
        </div>
        <div class="col-md-6">
          <app-stats-card
            [title]="'TENANTS' | translate"
            [stats]="[
              {
                label: ('ACTIVE' | translate),
                value: stats?.tenants?.active ?? 0,
              },
              {
                label: ('UPCOMING RENEWALS' | translate),
                value: stats?.tenants?.upcoming_renewals ?? 0,
              },
              {
                label: ('NEGOTIATIONS' | translate),
                value: stats?.tenants?.negotiations ?? 0,
              },
            ]"
          >
            <ng-container icon>
              <app-tenant-stats-icon />
            </ng-container>
          </app-stats-card>
        </div>
      </div>
    </div>
  </div>
</app-white-card>

<div class="mt-3">
  <div class="row g-3">
    <div
      class="col-lg-5 proegress-bar-graph"
      [class.col-lg-5]="
        isVisible('TOP_REVENUE_PROPERTIES') && isVisible('MONTHLY_REVENUE')
      "
      [class.col-lg-12]="
        isVisible('TOP_REVENUE_PROPERTIES') && !isVisible('MONTHLY_REVENUE')
      "
      *ngIf="isVisible('TOP_REVENUE_PROPERTIES')"
    >
      <app-white-card title="{{ 'MOST_REVENUE_PROPERTIES' | translate }}">
        <app-progress-bar-table [rows]="propertyData"></app-progress-bar-table>
      </app-white-card>
    </div>
    <div
      class="col-lg-7"
      [class.col-lg-7]="
        isVisible('TOP_REVENUE_PROPERTIES') && isVisible('MONTHLY_REVENUE')
      "
      [class.col-lg-12]="
        !isVisible('TOP_REVENUE_PROPERTIES') && isVisible('MONTHLY_REVENUE')
      "
      *ngIf="isVisible('MONTHLY_REVENUE')"
    >
      <app-white-card
        title="{{ 'REVENUE' | translate }}"
        subtitle="{{ 'SUBTITLE' | translate }} - AED {{ mrr }}"
        [showActions]="true"
        customClass="pb-0"
      >
        <ng-container card-actions>
          <app-filter-popup-btn #revenueFilterPopup>
            <ng-container form>
              <form>
                <div class="row g-3">
                  <div class="col-md-6">
                    <label class="form-label">{{
                      "PROPERTY" | translate
                    }}</label>
                    <app-custom-select
                      [options]="properties"
                      key="key"
                      value="value"
                      [selectedOption]="selectedProperty"
                      (optionSelected)="onPropertySelected($event)"
                    >
                    </app-custom-select>
                  </div>
                  <div class="col-md-6">
                    <label class="form-label"
                      >{{ "UNIT" | translate }}<span>*</span></label
                    >
                    <app-custom-select
                      [options]="units"
                      key="key"
                      value="value"
                      [selectedOption]="selectedUnit"
                      (optionSelected)="onUnitSelected($event)"
                    >
                    </app-custom-select>
                  </div>
                  <div class="col-md-6">
                    <label class="form-label">
                      {{ "YEARS" | translate }}
                    </label>
                    <input
                      class="form-control"
                      type="year"
                      name="year"
                      [(ngModel)]="selectedYear"
                      [placeholder]="'PLEASE_ENTER_YEAR' | translate"
                    />
                  </div>
                  <!-- <div class="col-md-6">
                    <label class="form-label">{{
                      "DATE_RANGE" | translate
                    }}</label>
                    <label class="form-label small">{{
                      "FROM" | translate
                    }}</label>
                    <div class="datePicker">
                      <input
                        class="form-control"
                        placeholder="DD-MM-YYYY"
                        name="dp"
                        [(ngModel)]="model"
                        ngbDatepicker
                        #d="ngbDatepicker"
                      />
                      <button type="button" (click)="d.toggle()">
                        <app-date-icon />
                      </button>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <label class="form-label d-none d-md-block">&nbsp;</label>
                    <label class="form-label small">{{
                      "TO" | translate
                    }}</label>
                    <div class="datePicker">
                      <input
                        class="form-control"
                        placeholder="DD-MM-YYYY"
                        name="dp"
                        [(ngModel)]="model"
                        ngbDatepicker
                        #d="ngbDatepicker"
                      />
                      <button type="button" (click)="d.toggle()">
                        <app-date-icon />
                      </button>
                    </div>
                  </div> -->
                </div>
              </form>
            </ng-container>
            <ng-container action>
              <button
                type="button"
                class="btn btnCommon"
                (click)="
                  removeFilter('revenue'); revenueFilterPopup.closePopup()
                "
              >
                {{ "REMOVE_ALL" | translate }}
              </button>
              <button
                type="button"
                class="btn btnCommon"
                (click)="handleFilterClick('revenue')"
              >
                {{ "APPLY" | translate }}
              </button>
            </ng-container>
          </app-filter-popup-btn>
        </ng-container>
        <app-column-chart [data]="monthlyRevenue"></app-column-chart>
      </app-white-card>
    </div>
  </div>
</div>

<div class="mt-3">
  <div class="row g-3 equal-height-row">
    <div
      class="col-lg-5 d-flex flex-column"
      *ngIf="isVisible('OCCUPANCY')"
      [class.col-lg-5]="isVisible('OCCUPANCY') && isVisible('YEARLY_DUES')"
      [class.col-lg-12]="isVisible('OCCUPANCY') && !isVisible('YEARLY_DUES')"
    >
      <app-white-card
        title="{{ 'OCCUPANCY' | translate }}"
        [showActions]="true"
      >
        <ng-container card-actions>
          <app-custom-select
            [options]="occupancyOptions"
            [placeholder]="'SELECT_PROPERTY' | translate"
            [selectedOption]="selectedOccupancy"
            (optionSelected)="onOptionSelectedOccupancy($event)"
            [isFilter]="true"
            [isSmall]="true"
            (click)="getOccupancyOptions()"
          >
          </app-custom-select>
        </ng-container>
        <app-donut-chart
          [vacancy]="occupancyVacancy"
          [occupied]="occupancyOccupied"
        ></app-donut-chart>
      </app-white-card>
    </div>
    <div
      class="col-lg-7 d-flex flex-column"
      *ngIf="isVisible('YEARLY_DUES')"
      [class.col-lg-7]="isVisible('OCCUPANCY') && isVisible('YEARLY_DUES')"
      [class.col-lg-12]="!isVisible('OCCUPANCY') && isVisible('YEARLY_DUES')"
    >
      <app-white-card
        title="{{ 'DUES' | translate }}"
        [showActions]="true"
        customClass="pb-0"
      >
        <ng-container card-actions>
          <app-filter-popup-btn #duesFilterPopup>
            <ng-container form>
              <form>
                <div class="row g-3">
                  <div class="col-md-6">
                    <label class="form-label">{{
                      "PROPERTY" | translate
                    }}</label>
                    <app-custom-select
                      [options]="properties"
                      key="key"
                      value="value"
                      [selectedOption]="duesSelectedProperty"
                      (optionSelected)="onDuesPropertySelected($event)"
                    >
                    </app-custom-select>
                  </div>
                  <div class="col-md-6">
                    <label class="form-label"
                      >{{ "UNIT" | translate }}<span>*</span></label
                    >
                    <app-custom-select
                      [options]="duesUnits"
                      key="key"
                      value="value"
                      [selectedOption]="duesSelectedUnit"
                      (optionSelected)="onDuesUnitSelected($event)"
                    >
                    </app-custom-select>
                  </div>
                  <div class="col-md-6">
                    <label class="form-label"> {{ "YEARS" | translate }}</label>

                    <input
                      type="number"
                      class="form-control"
                      [placeholder]="'ENTER_YEAR' | translate"
                      [(ngModel)]="duesSelectedYear"
                      name="duesYear"
                    />
                  </div>
                </div>
              </form>
            </ng-container>
            <ng-container action>
              <button
                type="button"
                class="btn btnCommon"
                (click)="removeFilter('dues'); duesFilterPopup.closePopup()"
              >
                {{ "REMOVE_ALL" | translate }}
              </button>
              <button
                type="button"
                class="btn btnCommon"
                (click)="handleFilterClick('dues')"
              >
                {{ "APPLY" | translate }}
              </button>
            </ng-container>
          </app-filter-popup-btn>
        </ng-container>
        <div class="dues-summary">
          <div class="dues-stat">
            <span class="dues-stat-label">{{
              "TOTAL_AMOUNT" | translate
            }}</span>
            <span class="dues-stat-value total"
              >AED {{ duesOverall.total_amount | number: "1.0-0" }}</span
            >
          </div>
          <div class="dues-stat">
            <span class="dues-stat-label">{{ "RECEIVED" | translate }}</span>
            <span class="dues-stat-value received"
              >AED {{ duesOverall.received_amount | number: "1.0-0" }}</span
            >
          </div>
          <div class="dues-stat">
            <span class="dues-stat-label">{{ "DUE" | translate }}</span>
            <span class="dues-stat-value due"
              >AED {{ duesOverall.due_amount | number: "1.0-0" }}</span
            >
          </div>
        </div>
        <app-line-chart [monthlyData]="duesData"></app-line-chart>
      </app-white-card>
    </div>
  </div>
</div>

<div class="mt-3">
  <div class="row g-3">
    <div
      class="col-lg-5 proegress-bar-graph"
      *ngIf="isVisible('CHEQUE_AGING')"
      [class.col-lg-5]="
        isVisible('CHEQUE_AGING') && isVisible('CHEQUE_VISIBILITY')
      "
      [class.col-lg-12]="
        isVisible('CHEQUE_AGING') && !isVisible('CHEQUE_VISIBILITY')
      "
    >
      <app-white-card
        title="{{ 'CHEQUES AGING' | translate }}"
        [showActions]="true"
        #chequesAgingGraph
      >
        <ng-container card-actions>
          <app-custom-select
            [options]="properties"
            key="key"
            value="value"
            [placeholder]="'SELECT_PROPERTY' | translate"
            [selectedOption]="selectedProperty"
            (optionSelected)="onOptionSelectedChequesAging($event)"
            [isFilter]="true"
          >
          </app-custom-select>
        </ng-container>
        <app-cheque-status [chequeData]="chequeData"></app-cheque-status>
      </app-white-card>
    </div>
    <div
      class="col-lg-7"
      *ngIf="isVisible('CHEQUE_VISIBILITY')"
      [class.col-lg-7]="
        isVisible('CHEQUE_AGING') && isVisible('CHEQUE_VISIBILITY')
      "
      [class.col-lg-12]="
        !isVisible('CHEQUE_AGING') && isVisible('CHEQUE_VISIBILITY')
      "
    >
      <div class="cmmnTblOuter">
        <div class="cmmnTblHdr">
          <div class="row align-items-center">
            <div class="col">
              <app-table-title
                size="md"
                title="{{ 'CHEQUES VISIBILITY' | translate }}"
              ></app-table-title>
            </div>
            <div class="col-auto">
              <ng-container card-actions>
                <app-filter-popup-btn #chequeVisFilterPopup>
                  <ng-container form>
                    <form>
                      <div class="row g-3">
                        <div class="col-md-6">
                          <label class="form-label">{{
                            "PROPERTY" | translate
                          }}</label>
                          <app-custom-select
                            [options]="properties"
                            key="key"
                            value="value"
                            [selectedOption]="chequeVisSelectedProperty"
                            (optionSelected)="
                              onChequeVisPropertySelected($event)
                            "
                          ></app-custom-select>
                        </div>
                        <div class="col-md-6">
                          <label class="form-label">{{
                            "UNIT" | translate
                          }}</label>
                          <app-custom-select
                            [options]="chequeVisUnits"
                            key="key"
                            value="value"
                            [selectedOption]="chequeVisSelectedUnit"
                            (optionSelected)="onChequeVisUnitSelected($event)"
                          ></app-custom-select>
                        </div>
                        <div class="col-md-6">
                          <label class="form-label">{{
                            "STATUS" | translate
                          }}</label>
                          <app-custom-select
                            [options]="chequeStatusOptions"
                            key="key"
                            value="value"
                            [selectedOption]="chequeVisSelectedStatus"
                            (optionSelected)="chequeVisSelectedStatus = $event"
                          ></app-custom-select>
                        </div>
                        <div class="col-md-12">
                          <div class="cmmnFltrRadioOuter">
                            <div class="cmmnFltrRadio">
                              <label>
                                <input
                                  type="radio"
                                  name="chequeVisPeriod"
                                  value="month"
                                  [checked]="
                                    chequeVisSelectedPeriodType === 'month'
                                  "
                                  (change)="
                                    chequeVisSelectedPeriodType = 'month'
                                  "
                                />
                                <span>{{ "MONTH" | translate }}</span>
                              </label>
                              <label>
                                <input
                                  type="radio"
                                  name="chequeVisPeriod"
                                  value="last6"
                                  [checked]="
                                    chequeVisSelectedPeriodType === 'last6'
                                  "
                                  (change)="
                                    chequeVisSelectedPeriodType = 'last6'
                                  "
                                />
                                <span>{{ "LAST_6_MONTHS" | translate }}</span>
                              </label>
                              <label>
                                <input
                                  type="radio"
                                  name="chequeVisPeriod"
                                  value="year"
                                  [checked]="
                                    chequeVisSelectedPeriodType === 'year'
                                  "
                                  (change)="
                                    chequeVisSelectedPeriodType = 'year'
                                  "
                                />
                                <span>{{ "YEARS" | translate }}</span>
                              </label>
                            </div>
                          </div>
                        </div>
                        <div
                          class="col-md-6"
                          *ngIf="chequeVisSelectedPeriodType === 'month'"
                        >
                          <label class="form-label">{{
                            "MONTH" | translate
                          }}</label>
                          <input
                            type="month"
                            class="form-control"
                            [(ngModel)]="chequeVisSelectedMonthly"
                            name="chequeVisMonth"
                          />
                        </div>
                        <div
                          class="col-md-6"
                          *ngIf="chequeVisSelectedPeriodType === 'year'"
                        >
                          <label class="form-label">{{
                            "YEARS" | translate
                          }}</label>
                          <input
                            type="number"
                            class="form-control"
                            [placeholder]="'ENTER_YEAR' | translate"
                            [(ngModel)]="chequeVisSelectedYear"
                            name="chequeVisYear"
                          />
                        </div>
                      </div>
                    </form>
                  </ng-container>
                  <ng-container action>
                    <button
                      type="button"
                      class="btn btnCommon"
                      (click)="
                        handleRemoveFilter(); chequeVisFilterPopup.closePopup()
                      "
                    >
                      {{ "REMOVE_ALL" | translate }}
                    </button>
                    <button
                      type="button"
                      class="btn btnCommon"
                      (click)="handleApplyFilter()"
                    >
                      {{ "APPLY" | translate }}
                    </button>
                  </ng-container>
                </app-filter-popup-btn>
              </ng-container>
            </div>
          </div>
        </div>
        <div class="cmmnTbl">
          <div
            class="table-responsive"
            [style.height]="tableMaxHeight"
            style="overflow-y: auto"
          >
            <!-- [style]="{
              'max-height': computHeight(),
            }" -->
            <table class="header-stickey table-bordered table">
              <thead>
                <tr>
                  <th>{{ "SI.No" | translate }}</th>
                  <th>{{ "PROPERTY" | translate }}</th>
                  <th>{{ "UNIT" | translate }}</th>
                  <th>{{ "NAME" | translate }}</th>
                  <th>{{ "CHEQUE NUMBER" | translate }}</th>
                  <th>{{ "CHEQUE_DATE" | translate }}</th>
                  <th>{{ "AMOUNT" | translate }}</th>
                  <th>{{ "STATUS" | translate }}</th>
                </tr>
              </thead>
              <tbody>
                @for (c of chequeList; track $index) {
                  <tr>
                    <td>{{ $index + 1 }}</td>
                    <td>{{ c.property_name || "—" }}</td>
                    <td>{{ c.property_unit_name || "—" }}</td>
                    <td>{{ c.tenant_name || "—" }}</td>
                    <td>{{ c.cheque_number || "—" }}</td>
                    <td>{{ c.cheque_date || "—" }}</td>
                    <td>AED {{ c.amount | number }}</td>
                    <td>
                      <app-badge
                        [title]="c.status_display || c.status"
                        [status]="
                          c.status === 'REALIZED'
                            ? 'light-green'
                            : c.status === 'BOUNCED'
                              ? 'red'
                              : c.status === 'CREDITED'
                                ? 'blue'
                                : 'yellow'
                        "
                      />
                    </td>
                  </tr>
                } @empty {
                  <tr>
                    <td colspan="8" align="center">
                      <app-no-data></app-no-data>
                    </td>
                  </tr>
                }
              </tbody>
              <ng-template #noData>
                <tr>
                  <td colspan="6" class="text-center">No Data Found</td>
                </tr>
              </ng-template>
            </table>
          </div>
        </div>
        <div class="cmmnTblFtr"></div>
      </div>
    </div>
  </div>
</div>

<div class="mt-3">
  <div class="row g-3">
    <div
      class="col-lg-5"
      *ngIf="isVisible('PROPERTY_OWNED')"
      [class.col-lg-5]="
        isVisible('PROPERTY_OWNED') && isVisible('OTHER_TYPE_PAYMENTS')
      "
      [class.col-lg-12]="
        isVisible('PROPERTY_OWNED') && !isVisible('OTHER_TYPE_PAYMENTS')
      "
    >
      <app-white-card
        title="{{ 'PROPERTIES OWNED' | translate }}"
        [showActions]="true"
        customClass="pb-0"
      >
        <!--<ng-container card-actions>
          <app-custom-select
            [options]="[
              'All',
              'Dubai hiils golf club',
              'Sillicon central mall',
              'Falcon city of wonders',
              'Majan',
            ]"
            [placeholder]="selectedPropertiesOwned"
            [selectedOption]="selectedPropertiesOwned"
            (optionSelected)="onOptionSelectedPropertiesOwned($event)"
            [isFilter]="true"
          >
          </app-custom-select>
        </ng-container> -->
        <app-group-bar-chart
          [properties]="propertyOwnedData"
          [currentPage]="currentPage"
          [totalPages]="totalPages"
          (pageChange)="onPageChange($event)"
        ></app-group-bar-chart>
      </app-white-card>
    </div>
    <div
      class="col-lg-7"
      *ngIf="isVisible('OTHER_TYPE_PAYMENTS')"
      [class.col-lg-7]="
        isVisible('PROPERTY_OWNED') && isVisible('OTHER_TYPE_PAYMENTS')
      "
      [class.col-lg-12]="
        !isVisible('PROPERTY_OWNED') && isVisible('OTHER_TYPE_PAYMENTS')
      "
    >
      <app-white-card
        title="{{ 'Other Payment Types' | translate }}"
        subtitle="Total Revenue - AED {{
          paymentTotalRevenue | number: '1.0-0'
        }}"
        [showActions]="true"
        customClass="pb-0 other-payment-card  "
      >
        <ng-container card-actions>
          <app-filter-popup-btn #paymentFilterPopup>
            <ng-container form>
              <form>
                <div class="row g-3">
                  <div class="col-md-6">
                    <label class="form-label">{{
                      "PROPERTY" | translate
                    }}</label>
                    <app-custom-select
                      [options]="properties"
                      [selectedOption]="selectedProperty"
                      (optionSelected)="onPropertySelected($event)"
                    >
                    </app-custom-select>
                  </div>
                  <div class="col-md-6">
                    <label class="form-label">{{ "UNIT" | translate }}</label>
                    <app-custom-select
                      [options]="units"
                      key="key"
                      value="value"
                      [selectedOption]="selectedUnit"
                      (optionSelected)="onUnitSelected($event)"
                    >
                    </app-custom-select>
                  </div>
                  <!-- <div class="col-md-12">
                    <div class="cmmnFltrRadioOuter">
                      <div class="cmmnFltrRadio">
                        <label>
                          <input
                            type="radio"
                            name="filterMonth"
                            value="month"
                          />
                          <span>{{ "MONTH" | translate }}</span>
                        </label>
                        <label>
                          <input
                            type="radio"
                            name="filterMonth"
                            value="last6Months"
                            checked
                          />
                          <span>{{ "LAST_6_MONTHS" | translate }}</span>
                        </label>
                        <label>
                          <input type="radio" name="filterMonth" value="year" />
                          <span>{{ "YEARS" | translate }}</span>
                        </label>
                      </div>
                    </div>
                  </div> -->
                  <div class="col-md-6">
                    <label class="form-label"> {{ "YEARS" | translate }}</label>

                    <input
                      type="number"
                      class="form-control"
                      [placeholder]="'ENTER_YEAR' | translate"
                      [(ngModel)]="selectedYear"
                      name="year"
                    />
                  </div>
                </div>
              </form>
            </ng-container>
            <ng-container action>
              <button
                type="button"
                class="btn btnCommon"
                (click)="
                  removeFilter('payment'); paymentFilterPopup.closePopup()
                "
              >
                {{ "REMOVE_ALL" | translate }}
              </button>
              <button
                type="button"
                class="btn btnCommon"
                (click)="handleFilterClick('payment')"
              >
                {{ "APPLY" | translate }}
              </button>
            </ng-container>
          </app-filter-popup-btn>
        </ng-container>
        <app-stacked-column-chart
          [monthlyData]="monthlyData"
        ></app-stacked-column-chart>
      </app-white-card>
    </div>
  </div>
</div>
