<div class="dashDrpdwn" ngbDropdown container="body" placement="bottom-end" (openChange)="onOpenChange($event)">
  <button type="button" class="dashDrpdwnBtn" ngbDropdownToggle>
    <i><app-dots-icon /></i>
  </button>

  <div ngbDropdownMenu class="dashDrpdwnMenu">
    <button
      *ngFor="let item of dropdownItems"
      ngbDropdownItem
      (click)="onActionClick(item.action)"
    >
      <i *ngIf="item.icon">
        <ng-container *ngComponentOutlet="item.icon"></ng-container>
      </i>
      <span>{{ item.label }}</span>
    </button>
  </div>
</div>
