<app-step-form-layout
  [leftCardTitle]="'LEASE_DETAILS' | translate"
  [finishButtonText]="'FINALIZE_AGREEMENT' | translate"
  [engine]="engine"
  [stepSchema]="steps"
  (finish)="submitLease()"
>
  <!-- Step Property Details Content -->
  <app-step-pane
    [title]="'PROPERTY_DETAILS' | translate"
    [description]="'FILL_ALL_FIELDS_CREATE_LEASE' | translate"
  >
    <form class="row g-4" [formGroup]="propertyDetailsForm">
      <div class="col-md-6">
        <label class="form-label">{{ "PROPERETY" | translate }}</label>
        <app-custom-select
          [options]="propertyList"
          key="key"
          value="value"
          formControlName="property"
        ></app-custom-select>
        @if (isInvalid(propertyDetailsForm, 'property').status) {
        <small class="errorMsg">
          {{ isInvalid(propertyDetailsForm, "property").msg }}
        </small>
        }
      </div>
      <div class="col-md-6">
        <label class="form-label">{{ "TENANT" | translate }}</label>
        <app-custom-select
          [options]="tenantList"
          key="key"
          value="value"
          formControlName="tenant"
        ></app-custom-select>
        @if (isInvalid(propertyDetailsForm, 'tenant').status) {
        <small class="errorMsg">
          {{ isInvalid(propertyDetailsForm, "tenant").msg }}
        </small>
        }
      </div>
      <div class="col-md-6">
        <label class="form-label">{{ "START_DATE" | translate }}</label>
        <div class="datePicker">
          <input
            class="form-control"
            placeholder="YYYY-MM-DD"
            ngbDatepicker
            #startDate="ngbDatepicker"
            formControlName="startDate"
          />
          <button type="button" (click)="startDate.toggle()">
            <app-date-icon />
          </button>
        </div>
        @if (isInvalid(propertyDetailsForm, 'startDate').status) {
        <small class="errorMsg">
          {{ isInvalid(propertyDetailsForm, "startDate").msg }}
        </small>
        }
      </div>
      <div class="col-md-6">
        <label class="form-label">{{ "END_DATE" | translate }}</label>
        <div class="datePicker">
          <input
            class="form-control"
            placeholder="YYYY-MM-DD"
            ngbDatepicker
            #endDate="ngbDatepicker"
            formControlName="endDate"
          />
          <button type="button" (click)="endDate.toggle()">
            <app-date-icon />
          </button>
        </div>
        @if (isInvalid(propertyDetailsForm, 'endDate').status) {
        <small class="errorMsg">
          {{ isInvalid(propertyDetailsForm, "endDate").msg }}
        </small>
        }
      </div>
      <div class="col-md-6">
        <label class="form-label">{{ "GRACE_START_DATE" | translate }}</label>
        <div class="datePicker">
          <input
            class="form-control"
            placeholder="YYYY-MM-DD"
            ngbDatepicker
            #graceStartDate="ngbDatepicker"
            formControlName="graceStartDate"
          />
          <button type="button" (click)="graceStartDate.toggle()">
            <app-date-icon />
          </button>
        </div>
        @if (isInvalid(propertyDetailsForm, 'graceStartDate').status) {
        <small class="errorMsg">
          {{ isInvalid(propertyDetailsForm, "graceStartDate").msg }}
        </small>
        }
      </div>
      <div class="col-md-6">
        <label class="form-label">{{ "GRACE_END_DATE" | translate }}</label>
        <div class="datePicker">
          <input
            class="form-control"
            placeholder="YYYY-MM-DD"
            ngbDatepicker
            #graceEndDate="ngbDatepicker"
            formControlName="graceEndDate"
          />
          <button type="button" (click)="graceEndDate.toggle()">
            <app-date-icon />
          </button>
        </div>
        @if (isInvalid(propertyDetailsForm, 'graceEndDate').status) {
        <small class="errorMsg">
          {{ isInvalid(propertyDetailsForm, "graceEndDate").msg }}
        </small>
        }
      </div>
      <div class="col-md-12">
        <label class="form-label">{{ "REMARKS" | translate }}</label>
        <textarea
          type="text"
          class="form-control large"
          [placeholder]="'WRITE_HERE' | translate"
          formControlName="remark"
        ></textarea>
        @if (isInvalid(propertyDetailsForm, 'remark').status) {
        <small class="errorMsg">
          {{ isInvalid(propertyDetailsForm, "remark").msg }}
        </small>
        }
      </div>
    </form>
  </app-step-pane>

  <!-- Step Commercials Content -->
  <app-step-pane
    [title]="'COMMERCIALS' | translate"
    [description]="'FILL_ALL_FIELDS_CREATE_LEASE' | translate"
  >
    <form class="row g-3" [formGroup]="commercialDetailsForm">
      <div class="col-md-3">
        <label class="form-label">{{ "ANNUAL_AMOUNT" | translate }}</label>
        <input
          type="text"
          class="form-control"
          [placeholder]="'ENTER_HERE' | translate"
          formControlName="annualAmount"
        />
        @if (isInvalid(commercialDetailsForm, 'annualAmount').status) {
        <small class="errorMsg">
          {{ isInvalid(commercialDetailsForm, "annualAmount").msg }}
        </small>
        }
      </div>
      <div class="col-md-3">
        <label class="form-label">{{
          "ACTUAL_ANNUAL_AMOUNT" | translate
        }}</label>
        <input
          type="text"
          class="form-control"
          [placeholder]="'ENTER_HERE' | translate"
          formControlName="actualAnnualAmount"
        />
        @if (isInvalid(commercialDetailsForm, 'actualAnnualAmount').status) {
        <small class="errorMsg">
          {{ isInvalid(commercialDetailsForm, "actualAnnualAmount").msg }}
        </small>
        }
      </div>
      <div class="col-md-3">
        <label class="form-label">{{ "BOOKING_AMOUNT" | translate }}</label>
        <input
          type="text"
          class="form-control"
          [placeholder]="'ENTER_HERE' | translate"
          formControlName="bookingAmount"
        />
        @if (isInvalid(commercialDetailsForm, 'bookingAmount').status) {
        <small class="errorMsg">
          {{ isInvalid(commercialDetailsForm, "bookingAmount").msg }}
        </small>
        }
      </div>
      <div class="col-md-3">
        <label class="form-label">{{ "MAINTENCE_CHARGES" | translate }}</label>
        <input
          type="text"
          class="form-control"
          [placeholder]="'ENTER_HERE' | translate"
          formControlName="maintenanceCharges"
        />
        @if (isInvalid(commercialDetailsForm, 'maintenanceCharges').status) {
        <small class="errorMsg">
          {{ isInvalid(commercialDetailsForm, "maintenanceCharges").msg }}
        </small>
        }
      </div>
      <div class="col-md-3">
        <label class="form-label">{{ "RENT" | translate }}</label>
        <input
          type="text"
          class="form-control"
          [placeholder]="'ENTER_HERE' | translate"
          formControlName="rent"
        />
        @if (isInvalid(commercialDetailsForm, 'rent').status) {
        <small class="errorMsg">
          {{ isInvalid(commercialDetailsForm, "rent").msg }}
        </small>
        }
      </div>
      <div class="col-md-3">
        <label class="form-label">{{ "SECURITY_DEPOSIT" | translate }}</label>
        <input
          type="text"
          class="form-control"
          [placeholder]="'ENTER_HERE' | translate"
          formControlName="securityDeposite"
        />
        @if (isInvalid(commercialDetailsForm, 'securityDeposite').status) {
        <small class="errorMsg">
          {{ isInvalid(commercialDetailsForm, "securityDeposite").msg }}
        </small>
        }
      </div>
      <div class="col-md-3">
        <label class="form-label">{{ "COMMISION_IN %" | translate }}</label>
        <input
          type="number"
          class="form-control"
          [placeholder]="'ENTER_HERE' | translate"
          formControlName="commission"
        />
        @if (isInvalid(commercialDetailsForm, 'commission').status) {
        <small class="errorMsg">
          {{ isInvalid(commercialDetailsForm, "commission").msg }}
        </small>
        }
      </div>
      <div class="col-md-3">
        <label class="form-label">{{ "NOTICE_PERIOD" | translate }}</label>
        <input
          type="number"
          class="form-control"
          [placeholder]="'ENTER_HERE' | translate"
          formControlName="noticePeriod"
        />
        @if (isInvalid(commercialDetailsForm, 'noticePeriod').status) {
        <small class="errorMsg">
          {{ isInvalid(commercialDetailsForm, "noticePeriod").msg }}
        </small>
        }
      </div>
      <div class="col-md-3">
        <label class="form-label">{{
          "DISCOUNT_(OPTIONAL)" | translate
        }}</label>
        <input
          type="text"
          class="form-control"
          [placeholder]="'ENTER_HERE' | translate"
          formControlName="discount"
        />
        @if (isInvalid(commercialDetailsForm, 'discount').status) {
        <small class="errorMsg">
          {{ isInvalid(commercialDetailsForm, "discount").msg }}
        </small>
        }
      </div>
    </form>
  </app-step-pane>

  <!-- Step Document Layout Content -->
  <app-step-pane
    [title]="'DOCUMENT_LAYOUT' | translate"
    [description]="'SELECT' | translate"
  >
    <form class="tmpltRadioOuter" [formGroup]="documentLayoutForm">
      <div class="tmpltRadio">
        <label>
          <input
            type="radio"
            name="documentLayout"
            value="createLayoutByAI"
            formControlName="documentLayout"
            (change)="onLayoutChange($event)"
          />
          <span>
            <i>
              <img
                src="../../../../assets/createLayoutIcon.png"
                width="24"
                height="24"
                alt=""
              />
            </i>
            <em
              >{{ "CREATE_LAYOUT" | translate }} <br />{{
                "BY_AI" | translate
              }}</em
            >
            <i class="newIcon">
              <img src="../../../../assets/newIcon.gif" alt="New Icon" />
            </i>
          </span>
        </label>
        <label>
          <input
            type="radio"
            name="documentLayout"
            value="predefinedTemplate"
            formControlName="documentLayout"
            (change)="onLayoutChange($event)"
          />
          <span>
            <i>
              <img
                src="../../../../assets/selectTemplateIcon.png"
                width="24"
                height="24"
                alt="Select Template"
              />
            </i>
            <em
              >{{ "SELECT" | translate }} <br />{{ "TEMPLATE" | translate }}</em
            >
          </span>
        </label>
      </div>
      <div class="tmpltOr">
        <span>{{ "OR" | translate }}</span>
      </div>
      <div class="tmpltUpld">
        <div class="tmpltUpldIcon">
          <i>
            <app-upload-icon />
          </i>
          <input type="file" />
        </div>
        <span
          >{{ "UPLOAD" | translate }} <br />{{ "TEMPLATE" | translate }}</span
        >
      </div>
    </form>
    @if (documentLayout === 'predefinedTemplate') {
    <form [formGroup]="documentLayoutForm">
      <div class="tmpltRadio">
        @for (template of templateList; track $index) {
        <label>
          <input
            type="radio"
            name="template"
            [value]="template.key"
            formControlName="template"
          />
          <span class="templateCard">
            <em>{{ template.value }}</em>
            <p>{{ template.description ?? "N/A" }}</p>
          </span>
        </label>
        }
      </div>
    </form>
    }
  </app-step-pane>

  <!-- Step Negotiation Content -->
  <app-step-pane
    [title]="'NEGOTIATIONS' | translate"
    [description]="'FILL_IN_THE_BELOW_TEMPLATE' | translate"
  >
    <div class="agrmntCntntOuter">
      <div
        class="agrmntCntntView"
        #docContainer
        [innerHTML]="processedTemplate"
        (DOMNodeInserted)="onDocRendered()"
        (DOMNodeRemoved)="onDocRendered()"
      ></div>
      <div class="editTempltOuter">
        <div class="editTempltHdr">
          <h4>{{ "EDIT_TEMPLATE" | translate }}</h4>
          <button type="button">
            <app-cross-icon />
          </button>
        </div>
        <form class="editTempltBdy" [formGroup]="negotiationForm">
          <ng-container formGroupName="dynamicVariables">
            @for (field of fields; track $index) {
            <div class="mb-3">
              <label class="form-label">{{ field?.label }}</label>
              <input
                [type]="field.html_tag.toLowerCase()"
                class="form-control"
                [formControlName]="field.id_attribute"
                [placeholder]="'ENTER_HERE' | translate"
              />
            </div>
            }
          </ng-container>
        </form>
      </div>
    </div>
  </app-step-pane>

  <!-- Step Upload Ejari Content -->
  <app-step-pane
    [title]="'UPLOAD_EJARI' | translate"
    [description]="'UPLOAD_DOCUMENT' | translate"
  >
    <div class="commonTabs">
      <ul class="nav nav-tabs" id="documentsTab" role="tablist">
        <li class="nav-item" role="presentation">
          <button
            class="nav-link active"
            id="emiratesId-tab"
            data-bs-toggle="tab"
            data-bs-target="#emiratesId-tab-pane"
            type="button"
            role="tab"
            aria-controls="emiratesId-tab-pane"
            aria-selected="true"
          >
            {{ "EMIRATES_ID" | translate }}
          </button>
        </li>
        <li class="nav-item" role="presentation">
          <button
            class="nav-link"
            id="passportSelf-tab"
            data-bs-toggle="tab"
            data-bs-target="#passportSelf-tab-pane"
            type="button"
            role="tab"
            aria-controls="passportSelf-tab-pane"
            aria-selected="false"
          >
            {{ "Passport" | translate }}
          </button>
        </li>
        <li class="nav-item" role="presentation">
          <button
            class="nav-link"
            id="passportFamily-tab"
            data-bs-toggle="tab"
            data-bs-target="#passportFamily-tab-pane"
            type="button"
            role="tab"
            aria-controls="passportFamily-tab-pane"
            aria-selected="false"
          >
            {{ "Family Passport" | translate }}
          </button>
        </li>
        <li class="nav-item" role="presentation">
          <button
            class="nav-link"
            id="employmentProof-tab"
            data-bs-toggle="tab"
            data-bs-target="#employmentProof-tab-pane"
            type="button"
            role="tab"
            aria-controls="employmentProof-tab-pane"
            aria-selected="false"
          >
            {{ "Employment Proof" | translate }}
          </button>
        </li>
        <li class="nav-item" role="presentation">
          <button
            class="nav-link"
            id="visa-tab"
            data-bs-toggle="tab"
            data-bs-target="#visa-tab-pane"
            type="button"
            role="tab"
            aria-controls="visa-tab-pane"
            aria-selected="false"
          >
            {{ "Visa" | translate }}
          </button>
        </li>
      </ul>
    </div>
    <div class="commonTabsContent">
      <div class="tab-content" id="documentsTabContent">
        <div
          class="tab-pane fade show active"
          id="emiratesId-tab-pane"
          role="tabpanel"
          aria-labelledby="emiratesId-tab"
          tabindex="0"
        >
          <app-upload-document
            [isMultipleFiles]="true"
            [fileTypes]="['jpg', 'jpeg', 'png']"
            [maxSize]="20"
            (uploadProgress)="onUpload('EMIRATES_ID', $event)"
          />

          <div class="uploads-list" *ngIf="getItems('EMIRATES_ID').length">
            <app-file-upload-item
              *ngFor="let image of getItems('EMIRATES_ID')"
              [item]="image"
              (remove)="remove('EMIRATES_ID', image)"
            ></app-file-upload-item>
          </div>
        </div>
        <div
          class="tab-pane fade"
          id="passportSelf-tab-pane"
          role="tabpanel"
          aria-labelledby="passportSelf-tab"
          tabindex="0"
        >
          <app-upload-document
            [isMultipleFiles]="true"
            [fileTypes]="['jpg', 'jpeg', 'png']"
            [maxSize]="20"
            (uploadProgress)="onUpload('PASSPORT_SELF', $event)"
          />
          <div class="uploads-list" *ngIf="getItems('PASSPORT_SELF').length">
            <app-file-upload-item
              *ngFor="let image of getItems('PASSPORT_SELF')"
              [item]="image"
              (remove)="remove('PASSPORT_SELF', image)"
            ></app-file-upload-item>
          </div>
        </div>
        <div
          class="tab-pane fade"
          id="passportFamily-tab-pane"
          role="tabpanel"
          aria-labelledby="passportFamily-tab"
          tabindex="0"
        >
          <app-upload-document
            [isMultipleFiles]="true"
            [fileTypes]="['jpg', 'jpeg', 'png']"
            [maxSize]="20"
            (uploadProgress)="onUpload('PASSPORT_FAMILY', $event)"
          />
          <div class="uploads-list" *ngIf="getItems('PASSPORT_FAMILY').length">
            <app-file-upload-item
              *ngFor="let image of getItems('PASSPORT_FAMILY')"
              [item]="image"
              (remove)="remove('PASSPORT_FAMILY', image)"
            ></app-file-upload-item>
          </div>
        </div>
        <div
          class="tab-pane fade"
          id="employmentProof-tab-pane"
          role="tabpanel"
          aria-labelledby="employmentProof-tab"
          tabindex="0"
        >
          <app-upload-document
            [isMultipleFiles]="true"
            [fileTypes]="['jpg', 'jpeg', 'png']"
            [maxSize]="20"
            (uploadProgress)="onUpload('EMPLOYMENT_PROOF', $event)"
          />
          <div class="uploads-list" *ngIf="getItems('EMPLOYMENT_PROOF').length">
            <app-file-upload-item
              *ngFor="let image of getItems('EMPLOYMENT_PROOF')"
              [item]="image"
              (remove)="remove('EMPLOYMENT_PROOF', image)"
            ></app-file-upload-item>
          </div>
        </div>
        <div
          class="tab-pane fade"
          id="visa-tab-pane"
          role="tabpanel"
          aria-labelledby="visa-tab"
          tabindex="0"
        >
          <app-upload-document
            [isMultipleFiles]="true"
            [fileTypes]="['jpg', 'jpeg', 'png']"
            [maxSize]="20"
            (uploadProgress)="onUpload('VISA_SELF', $event)"
          />
          <div class="uploads-list" *ngIf="getItems('VISA_SELF').length">
            <app-file-upload-item
              *ngFor="let image of getItems('VISA_SELF')"
              [item]="image"
              (remove)="remove('VISA_SELF', image)"
            ></app-file-upload-item>
          </div>
        </div>
      </div>
    </div>
  </app-step-pane>
</app-step-form-layout>
