<app-step-form-layout
  [leftCardTitle]="'LEASE_DETAILS' | translate"
  [finishButtonText]="'FINALIZE_AGREEMENT' | translate"
  [engine]="engine"
  [stepSchema]="steps"
  (finish)="submitLease()"
>
  <!-- Step Property Selection Content -->
  <ng-container>
    <app-step-pane
      [title]="'PROPERTY_DETAILS' | translate"
      [description]="
        'Select property and unit to see property details' | translate
      "
    >
      <form class="row g-4" [formGroup]="propertyDetailForm">
        <div class="col-md-6">
          <label class="form-label">{{ "PROPERETY" | translate }}</label>
          <app-custom-select
            [options]="propertyList"
            key="key"
            value="value"
            formControlName="property"
            (optionSelected)="onPropertySelect($event)"
          ></app-custom-select>
          @if (isInvalid(propertyDetailForm, 'property').status) {
          <small class="errorMsg">
            {{ isInvalid(propertyDetailForm, "property").msg }}
          </small>
          }
        </div>

        <div class="col-md-6">
          <label class="form-label">{{ "PROPERTY_UNIT" | translate }}</label>
          <app-custom-select
            [options]="propertyUnitList"
            key="key"
            value="value"
            formControlName="unit"
            (optionSelected)="onUnitSelect($event)"
          ></app-custom-select>
          @if (isInvalid(propertyDetailForm, 'unit').status) {
          <small class="errorMsg">
            {{ isInvalid(propertyDetailForm, "unit").msg }}
          </small>
          }
        </div>
      </form>
    </app-step-pane>

    <ng-container>
      <app-step-pane
        [title]="'PROPERTY_DETAILS' | translate"
        [secondCard]="true"
      >
        <form class="row g-4">
          <div class="col-md-6">
            <label for="" class="form-label">{{
              "PROPERTY_NAME" | translate
            }}</label>
            <input
              type="text"
              class="form-control"
              disabled
              [value]="selectedPropertyDetails?.parent_property?.property_name"
            />
          </div>
          <div class="col-md-6">
            <label for="" class="form-label">{{
              "PROPERTY_UNIT_NAME" | translate
            }}</label>
            <input
              type="text"
              class="form-control"
              disabled
              [value]="
                selectedPropertyDetails?.property_unit?.property_unit_name
              "
            />
          </div>
          <div class="col-md-6">
            <label for="" class="form-label">{{
              "LAND_AREA" | translate
            }}</label>
            <input
              type="text"
              class="form-control"
              disabled
              [value]="selectedPropertyDetails?.property_unit?.land_area"
            />
          </div>
          <div class="col-md-6">
            <label for="" class="form-label">{{
              "AREA_OF_PROPERTY" | translate
            }}</label>
            <input
              type="text"
              class="form-control"
              disabled
              [value]="selectedPropertyDetails?.property_unit?.area_of_property"
            />
          </div>
          <div class="col-md-6">
            <label for="" class="form-label">{{ "PLOT_NO" | translate }}</label>
            <input
              type="text"
              class="form-control"
              disabled
              [value]="selectedPropertyDetails?.property_unit?.plot_no"
            />
          </div>
          <div class="col-md-6">
            <label for="" class="form-label">{{
              "UNIT_USAGE" | translate
            }}</label>
            <input
              type="text"
              class="form-control"
              disabled
              [value]="selectedPropertyDetails?.parent_property?.property_type"
            />
          </div>
          <div class="col-md-6">
            <label for="" class="form-label">{{
              "LAND_DM_NO(AFFECTION PLAN)" | translate
            }}</label>
            <input
              type="text"
              class="form-control"
              disabled
              [value]="selectedPropertyDetails?.property_unit?.land_dm_no"
            />
          </div>
          <div class="col-md-6">
            <label for="" class="form-label">{{
              "MAKANI_NO" | translate
            }}</label>
            <input
              type="text"
              class="form-control"
              disabled
              [value]="selectedPropertyDetails?.property_unit?.makani_no"
            />
          </div>
          <div class="col-md-6">
            <label for="" class="form-label">{{ "DEWA_NO" | translate }}</label>
            <input
              type="text"
              class="form-control"
              disabled
              [value]="selectedPropertyDetails?.property_unit?.dewa_no"
            />
          </div>
          <div class="col-md-6">
            <label for="" class="form-label">{{
              "PROPERTY_TYPE" | translate
            }}</label>
            <input
              type="text"
              class="form-control"
              disabled
              [value]="selectedPropertyDetails?.parent_property?.property_type"
            />
          </div>
          <div class="col-md-6">
            <label for="" class="form-label">{{ "SUBTYPE" | translate }}</label>
            <input
              type="text"
              class="form-control"
              disabled
              [value]="selectedPropertyDetails?.parent_property?.property_type"
            />
          </div>
          <div class="col-md-6">
            <label for="" class="form-label">{{
              "FLOOR_NO" | translate
            }}</label>
            <input
              type="text"
              class="form-control"
              disabled
              [value]="selectedPropertyDetails?.property_unit?.floor_no"
            />
          </div>
          <div class="col-12">
            <label for="" class="form-label">{{ "Address" | translate }}</label>
            <textarea
              type="text"
              class="form-control"
              disabled
              [value]="selectedPropertyDetails?.property_unit?.address"
            ></textarea>
          </div>
        </form>
      </app-step-pane>

      <app-step-pane [title]="'OWNER' | translate" [secondCard]="true">
        <form class="row g-4">
          <div class="col-md-6">
            <label for="" class="form-label">{{ "NAME" | translate }}</label>
            <input
              type="text"
              class="form-control"
              disabled
              [value]="selectedPropertyDetails?.owner?.name"
            />
          </div>
          <div class="col-md-6">
            <label for="" class="form-label">{{
              "EMAIL_ADDRESS" | translate
            }}</label>
            <input
              type="text"
              class="form-control"
              disabled
              [value]="selectedPropertyDetails?.owner?.email"
            />
          </div>
          <div class="col-md-6">
            <label for="" class="form-label">{{
              "CONTACT_NUMBER" | translate
            }}</label>
            <input
              type="text"
              class="form-control"
              disabled
              [value]="selectedPropertyDetails?.owner?.contact_number"
            />
          </div>
          <div class="col-md-6">
            <label for="" class="form-label">{{
              "TRADE_LICENSE_NO" | translate
            }}</label>
            <input
              type="text"
              class="form-control"
              disabled
              [value]="
                selectedPropertyDetails?.property_unit?.trade_license_number
              "
            />
          </div>
          <div class="col-md-6">
            <label for="" class="form-label">{{ "CODE" | translate }}</label>
            <input
              type="text"
              class="form-control"
              disabled
              [value]="selectedPropertyDetails?.owner?.owner_code"
            />
          </div>
        </form>
      </app-step-pane>

      <app-step-pane
        [title]="'PROPERTY_MANAGER' | translate"
        [secondCard]="true"
      >
        <form class="row g-4">
          <div class="col-md-6">
            <label for="" class="form-label">{{
              "Company Name" | translate
            }}</label>
            <input
              type="text"
              class="form-control"
              disabled
              [value]="selectedPropertyDetails?.company?.company_name"
            />
          </div>
          <div class="col-md-6">
            <label for="" class="form-label">{{ "CODE" | translate }}</label>
            <input
              type="text"
              class="form-control"
              disabled
              [value]="selectedPropertyDetails?.company?.company_code"
            />
          </div>
          <div class="col-md-6">
            <label for="" class="form-label">{{
              "LICENSE_NO_&_EXPIRY" | translate
            }}</label>
            <input
              type="text"
              class="form-control"
              disabled
              [value]="
                selectedPropertyDetails?.company?.licence_number
                  ? selectedPropertyDetails?.company?.licence_number +
                    '/' +
                    (selectedPropertyDetails?.company?.licence_expiry_date
                      | date : 'yyyy-MM-dd')
                  : ''
              "
            />
          </div>
          <div class="col-md-6">
            <label for="" class="form-label">{{
              "LICENSE_ISSUER" | translate
            }}</label>
            <input
              type="text"
              class="form-control"
              disabled
              [value]="selectedPropertyDetails?.company?.licence_issuer"
            />
          </div>
          <div class="col-md-6">
            <label for="" class="form-label">{{
              "CONTACT_NUMBER" | translate
            }}</label>
            <input
              type="text"
              class="form-control"
              disabled
              [value]="
                selectedPropertyDetails?.company?.company_user?.contact_number
              "
            />
          </div>
          <div class="col-md-6">
            <label for="" class="form-label">{{
              "EMAIL_ADDRESS" | translate
            }}</label>
            <input
              type="text"
              class="form-control"
              disabled
              [value]="selectedPropertyDetails?.company?.company_user?.email"
            />
          </div>
          <div class="col-md-6">
            <label for="" class="form-label">{{
              "FAX_NUMBER" | translate
            }}</label>
            <input
              type="text"
              class="form-control"
              disabled
              [value]="
                selectedPropertyDetails?.company?.company_user?.fax_number
              "
            />
          </div>
          <div class="col-md-6">
            <label for="" class="form-label">{{
              "POSTAL_CODE" | translate
            }}</label>
            <input
              type="text"
              class="form-control"
              disabled
              [value]="selectedPropertyDetails?.company?.postal_code"
            />
          </div>
          <div class="col-12">
            <label for="" class="form-label">{{ "Address" | translate }}</label>
            <textarea
              type="text"
              class="form-control"
              disabled
              [value]="selectedPropertyDetails?.company?.company_address"
            ></textarea>
          </div>
        </form>
      </app-step-pane>
    </ng-container>
  </ng-container>

  <!-- Step Tenant Selection Content -->
  <ng-container>
    <app-step-pane
      [title]="'TENANT_DETAILS' | translate"
      [description]="'Select tenant to see tenant details' | translate"
    >
      <form class="row g-4" [formGroup]="tenantDetailsForm">
        <div class="col-md-6">
          <label class="form-label">{{ "TENANT" | translate }}</label>
          <app-custom-select
            [options]="tenantList"
            key="key"
            value="value"
            formControlName="tenant"
            (optionSelected)="onTenantSelect($event)"
          ></app-custom-select>
          @if (isInvalid(propertyDetailForm, 'tenant').status) {
          <small class="errorMsg">
            {{ isInvalid(propertyDetailForm, "tenant").msg }}
          </small>
          }
        </div>
      </form>
    </app-step-pane>

    <ng-container>
      <app-step-pane [title]="'TENANT_DETAILS' | translate" [secondCard]="true">
        <form class="row g-4">
          <div class="col-md-6">
            <label for="" class="form-label">{{ "NAME" | translate }}</label>
            <input
              type="text"
              class="form-control"
              disabled
              [value]="selectedTenantDetails?.full_name"
            />
          </div>
          <div class="col-md-6">
            <label for="" class="form-label">{{
              "EMAIL_ADDRESS" | translate
            }}</label>
            <input
              type="text"
              class="form-control"
              disabled
              [value]="selectedTenantDetails?.email"
            />
          </div>
          <div class="col-md-6">
            <label for="" class="form-label">{{
              "CONTACT_NUMBER" | translate
            }}</label>
            <input
              type="text"
              class="form-control"
              disabled
              [value]="selectedTenantDetails?.contact_number"
            />
          </div>
          <div class="col-md-6">
            <label for="" class="form-label">{{ "CODE" | translate }}</label>
            <input
              type="text"
              class="form-control"
              disabled
              [value]="selectedTenantDetails?.user_code"
            />
          </div>
          <div class="col-md-6">
            <label for="" class="form-label">{{
              "NATIONALITY" | translate
            }}</label>
            <input
              type="text"
              class="form-control"
              disabled
              [value]="selectedTenantDetails?.natioanlity"
            />
          </div>
          <div class="col-md-6">
            <label for="" class="form-label">{{
              "PASSPORT_NO_&_EXPIRY" | translate
            }}</label>
            <input
              type="text"
              class="form-control"
              disabled
              [value]="
                selectedTenantDetails?.passport_number
                  ? selectedTenantDetails?.passport_number +
                    '/' +
                    (selectedTenantDetails?.passport_expiry_date
                      | date : 'yyyy-MM-dd')
                  : ''
              "
            />
          </div>
          <div class="col-12">
            <label for="" class="form-label">{{ "Address" | translate }}</label>
            <textarea
              type="text"
              class="form-control"
              disabled
              [value]="selectedTenantDetails?.address"
            ></textarea>
          </div>
        </form>
      </app-step-pane>
    </ng-container>
  </ng-container>

  <!-- Step Lease Details Content -->
  <app-step-pane
    [title]="'LEASE_DETAILS' | translate"
    [description]="'FILL_ALL_FIELDS_CREATE_LEASE' | translate"
  >
    <form class="row g-4" [formGroup]="leaseDetailsForm">
      <div class="col-md-6">
        <label class="form-label">{{ "START_DATE" | translate }}</label>
        <div class="datePicker">
          <input
            class="form-control"
            placeholder="YYYY-MM-DD"
            ngbDatepicker
            #startDate="ngbDatepicker"
            formControlName="startDate"
          />
          <button type="button" (click)="startDate.toggle()">
            <app-date-icon />
          </button>
        </div>
        @if (isInvalid(leaseDetailsForm, 'startDate').status) {
        <small class="errorMsg">
          {{ isInvalid(leaseDetailsForm, "startDate").msg }}
        </small>
        }
      </div>
      <div class="col-md-6">
        <label class="form-label">{{ "END_DATE" | translate }}</label>
        <div class="datePicker">
          <input
            class="form-control"
            placeholder="YYYY-MM-DD"
            ngbDatepicker
            #endDate="ngbDatepicker"
            formControlName="endDate"
          />
          <button type="button" (click)="endDate.toggle()">
            <app-date-icon />
          </button>
        </div>
        @if (isInvalid(leaseDetailsForm, 'endDate').status) {
        <small class="errorMsg">
          {{ isInvalid(leaseDetailsForm, "endDate").msg }}
        </small>
        }
      </div>
      <div class="col-md-6">
        <label class="form-label">{{ "GRACE_START_DATE" | translate }}</label>
        <div class="datePicker">
          <input
            class="form-control"
            placeholder="YYYY-MM-DD"
            ngbDatepicker
            #graceStartDate="ngbDatepicker"
            formControlName="graceStartDate"
          />
          <button type="button" (click)="graceStartDate.toggle()">
            <app-date-icon />
          </button>
        </div>
        @if (isInvalid(leaseDetailsForm, 'graceStartDate').status) {
        <small class="errorMsg">
          {{ isInvalid(leaseDetailsForm, "graceStartDate").msg }}
        </small>
        }
      </div>
      <div class="col-md-6">
        <label class="form-label">{{ "GRACE_END_DATE" | translate }}</label>
        <div class="datePicker">
          <input
            class="form-control"
            placeholder="YYYY-MM-DD"
            ngbDatepicker
            #graceEndDate="ngbDatepicker"
            formControlName="graceEndDate"
          />
          <button type="button" (click)="graceEndDate.toggle()">
            <app-date-icon />
          </button>
        </div>
        @if (isInvalid(leaseDetailsForm, 'graceEndDate').status) {
        <small class="errorMsg">
          {{ isInvalid(leaseDetailsForm, "graceEndDate").msg }}
        </small>
        }
      </div>
      <div class="col-md-3">
        <label class="form-label">{{ "ANNUAL_AMOUNT" | translate }}</label>
        <input
          type="text"
          class="form-control"
          [placeholder]="'ENTER_HERE' | translate"
          formControlName="annualAmount"
        />
        @if (isInvalid(leaseDetailsForm, 'annualAmount').status) {
        <small class="errorMsg">
          {{ isInvalid(leaseDetailsForm, "annualAmount").msg }}
        </small>
        }
      </div>
      <div class="col-md-3">
        <label class="form-label">{{
          "ACTUAL_ANNUAL_AMOUNT" | translate
        }}</label>
        <input
          type="text"
          class="form-control"
          [placeholder]="'ENTER_HERE' | translate"
          formControlName="actualAnnualAmount"
        />
        @if (isInvalid(leaseDetailsForm, 'actualAnnualAmount').status) {
        <small class="errorMsg">
          {{ isInvalid(leaseDetailsForm, "actualAnnualAmount").msg }}
        </small>
        }
      </div>
      <div class="col-md-3">
        <label class="form-label">{{ "BOOKING_AMOUNT" | translate }}</label>
        <input
          type="text"
          class="form-control"
          [placeholder]="'ENTER_HERE' | translate"
          formControlName="bookingAmount"
        />
        @if (isInvalid(leaseDetailsForm, 'bookingAmount').status) {
        <small class="errorMsg">
          {{ isInvalid(leaseDetailsForm, "bookingAmount").msg }}
        </small>
        }
      </div>
      <div class="col-md-3">
        <label class="form-label">{{ "MAINTENCE_CHARGES" | translate }}</label>
        <input
          type="text"
          class="form-control"
          [placeholder]="'ENTER_HERE' | translate"
          formControlName="maintenanceCharges"
        />
        @if (isInvalid(leaseDetailsForm, 'maintenanceCharges').status) {
        <small class="errorMsg">
          {{ isInvalid(leaseDetailsForm, "maintenanceCharges").msg }}
        </small>
        }
      </div>
      <div class="col-md-3">
        <label class="form-label">{{ "RENT" | translate }}</label>
        <input
          type="text"
          class="form-control"
          [placeholder]="'ENTER_HERE' | translate"
          formControlName="rent"
        />
        @if (isInvalid(leaseDetailsForm, 'rent').status) {
        <small class="errorMsg">
          {{ isInvalid(leaseDetailsForm, "rent").msg }}
        </small>
        }
      </div>
      <div class="col-md-3">
        <label class="form-label">{{ "SECURITY_DEPOSIT" | translate }}</label>
        <input
          type="text"
          class="form-control"
          [placeholder]="'ENTER_HERE' | translate"
          formControlName="securityDeposite"
        />
        @if (isInvalid(leaseDetailsForm, 'securityDeposite').status) {
        <small class="errorMsg">
          {{ isInvalid(leaseDetailsForm, "securityDeposite").msg }}
        </small>
        }
      </div>
      <div class="col-md-3">
        <label class="form-label">{{ "COMMISION_IN %" | translate }}</label>
        <input
          type="number"
          class="form-control"
          [placeholder]="'ENTER_HERE' | translate"
          formControlName="commission"
        />
        @if (isInvalid(leaseDetailsForm, 'commission').status) {
        <small class="errorMsg">
          {{ isInvalid(leaseDetailsForm, "commission").msg }}
        </small>
        }
      </div>
      <div class="col-md-3">
        <label class="form-label">{{ "NOTICE_PERIOD" | translate }}</label>
        <input
          type="number"
          class="form-control"
          [placeholder]="'ENTER_HERE' | translate"
          formControlName="noticePeriod"
        />
        @if (isInvalid(leaseDetailsForm, 'noticePeriod').status) {
        <small class="errorMsg">
          {{ isInvalid(leaseDetailsForm, "noticePeriod").msg }}
        </small>
        }
      </div>
      <div class="col-md-3">
        <label class="form-label">{{
          "DISCOUNT_(OPTIONAL)" | translate
        }}</label>
        <input
          type="text"
          class="form-control"
          [placeholder]="'ENTER_HERE' | translate"
          formControlName="discount"
        />
        @if (isInvalid(leaseDetailsForm, 'discount').status) {
        <small class="errorMsg">
          {{ isInvalid(leaseDetailsForm, "discount").msg }}
        </small>
        }
      </div>
      <div class="col-md-12">
        <label class="form-label">{{ "REMARKS" | translate }}</label>
        <textarea
          type="text"
          class="form-control large"
          [placeholder]="'WRITE_HERE' | translate"
          formControlName="remark"
        ></textarea>
        @if (isInvalid(leaseDetailsForm, 'remark').status) {
        <small class="errorMsg">
          {{ isInvalid(leaseDetailsForm, "remark").msg }}
        </small>
        }
      </div>
    </form>
  </app-step-pane>

  <!-- Step Document Layout Content -->
  <!-- <app-step-pane
    [title]="'DOCUMENT_LAYOUT' | translate"
    [description]="'SELECT' | translate"
  >
    <form class="tmpltRadioOuter" [formGroup]="documentLayoutForm">
      <div class="tmpltRadio">
        <label>
          <input
            type="radio"
            name="documentLayout"
            value="createLayoutByAI"
            formControlName="documentLayout"
            (change)="onLayoutChange($event)"
          />
          <span>
            <i>
              <img
                src="../../../../assets/createLayoutIcon.png"
                width="24"
                height="24"
                alt=""
              />
            </i>
            <em
              >{{ "CREATE_LAYOUT" | translate }} <br />{{
                "BY_AI" | translate
              }}</em
            >
            <i class="newIcon">
              <img src="../../../../assets/newIcon.gif" alt="New Icon" />
            </i>
          </span>
        </label>
        <label>
          <input
            type="radio"
            name="documentLayout"
            value="predefinedTemplate"
            formControlName="documentLayout"
            (change)="onLayoutChange($event)"
          />
          <span>
            <i>
              <img
                src="../../../../assets/selectTemplateIcon.png"
                width="24"
                height="24"
                alt="Select Template"
              />
            </i>
            <em
              >{{ "SELECT" | translate }} <br />{{ "TEMPLATE" | translate }}</em
            >
          </span>
        </label>
      </div>
      <div class="tmpltOr">
        <span>{{ "OR" | translate }}</span>
      </div>
      <div class="tmpltUpld">
        <div class="tmpltUpldIcon">
          <i>
            <app-upload-icon />
          </i>
          <input type="file" />
        </div>
        <span
          >{{ "UPLOAD" | translate }} <br />{{ "TEMPLATE" | translate }}</span
        >
      </div>
    </form>
    @if (documentLayout === 'predefinedTemplate') {
    <form [formGroup]="documentLayoutForm">
      <div class="tmpltRadio">
        @for (template of templateList; track $index) {
        <label>
          <input
            type="radio"
            name="template"
            [value]="template.key"
            formControlName="template"
          />
          <span class="templateCard">
            <em>{{ template.value }}</em>
            <p>{{ template.description ?? "N/A" }}</p>
          </span>
        </label>
        }
      </div>
    </form>
    }
  </app-step-pane> -->

  <!-- Step Negotiation Content -->
  <!-- <app-step-pane
    [title]="'NEGOTIATIONS' | translate"
    [description]="'FILL_IN_THE_BELOW_TEMPLATE' | translate"
  >
    <div class="agrmntCntntOuter">
      <div
        class="agrmntCntntView"
        #docContainer
        [innerHTML]="processedTemplate"
        (DOMNodeInserted)="onDocRendered()"
        (DOMNodeRemoved)="onDocRendered()"
      ></div>
      <div class="editTempltOuter">
        <div class="editTempltHdr">
          <h4>{{ "EDIT_TEMPLATE" | translate }}</h4>
          <button type="button">
            <app-cross-icon />
          </button>
        </div>
        <form class="editTempltBdy" [formGroup]="negotiationForm">
          <ng-container formGroupName="dynamicVariables">
            @for (field of fields; track $index) {
            <div class="mb-3">
              <label class="form-label">{{ field?.label }}</label>
              <input
                [type]="field.html_tag.toLowerCase()"
                class="form-control"
                [formControlName]="field.id_attribute"
                [placeholder]="'ENTER_HERE' | translate"
              />
            </div>
            }
          </ng-container>
        </form>
      </div>
    </div>
  </app-step-pane> -->

  <!-- Step Payment Details Content -->
   <app-step-pane [title]="'PAYMENT_DETAILS' | translate" [description]="'Fill info of payments' | translate"></app-step-pane>

  <!-- Step Terms and Conditions Content -->
  <app-step-pane [title]="'TERMS_&_CONDITIONS' | translate" [description]="'You can also add your conditions' | translate"></app-step-pane>

  <!-- Step Upload Ejari Content -->
  <app-step-pane
    [title]="'UPLOAD_DOCUMENT' | translate"
    [description]="'UPLOAD_DOCUMENT' | translate"
  >
    <div class="commonTabs">
      <ul class="nav nav-tabs" id="documentsTab" role="tablist">
        @for (type of documetUploadTypes; track $index) {
        <li class="nav-item" role="presentation">
          <button
            class="nav-link"
            [class.active]="type.typeKey === activeDocTab"
            [id]="type.typeKey + '-tab'"
            data-bs-toggle="tab"
            [attr.data-bs-target]="'#' + type.typeKey + '-tab-pane'"
            type="button"
            role="tab"
            [attr.aria-controls]="type.typeKey + '-tab-pane'"
            [attr.aria-selected]="type.typeKey === activeDocTab"
          >
            {{ type.typeLabel }}
          </button>
        </li>
        }
      </ul>
    </div>
    <div class="commonTabsContent">
      <div class="tab-content" id="documentsTabContent">
        @for (type of documetUploadTypes; track $index) {
        <div
          [ngClass]="{
            'tab-pane': true,
            fade: true,
            show: type.typeKey === activeDocTab,
            active: type.typeKey === activeDocTab
          }"
          [id]="type.typeKey + '-tab-pane'"
          role="tabpanel"
          [attr.aria-labelledby]="type.typeKey + '-tab'"
          [tabindex]="$index"
        >
          <app-upload-document
            [isMultipleFiles]="true"
            [fileTypes]="['jpg', 'jpeg', 'png']"
            [maxSize]="20"
            (uploadProgress)="onUpload(type.typeKey, $event)"
          />

          <div class="uploads-list" *ngIf="getItems(type.typeKey).length">
            <app-file-upload-item
              *ngFor="let image of getItems(type.typeKey)"
              [item]="image"
              (remove)="remove(type.typeKey, image)"
            />
          </div>
        </div>
        }
      </div>
    </div>
  </app-step-pane>
</app-step-form-layout>
