<app-step-form-layout
  [leftCardTitle]="'Lease Details' | translate"
  [finishButtonText]="'Finalize Agreement' | translate"
  (finish)="submitLease()"
>
  <!-- Step Property Details Content -->
  <app-step-pane
    [title]="'Property Details' | translate"
    [description]="'Fill all the fields to add create your lease' | translate"
  >
    <div class="row g-4">
      <div class="col-md-6">
        <label class="form-label">{{ "Property" | translate }}</label>
        <app-custom-select
          [options]="[
            'Novatis AG...',
            'Agriculture....',
            'Honda...',
            'TVS',
            'Samsung'
          ]"
          (optionSelected)="onOptionSelected($event)"
        ></app-custom-select>
      </div>
      <div class="col-md-6">
        <label class="form-label">{{ "Tenant" | translate }}</label>
        <app-custom-select
          [options]="['Novatis', 'fghf', 'Honda', 'TVS', 'Samsung']"
          (optionSelected)="onOptionSelected($event)"
        ></app-custom-select>
      </div>
      <div class="col-md-6">
        <label class="form-label">{{ "Start Date" | translate }}</label>
        <div class="datePicker">
          <input
            class="form-control"
            placeholder="DD-MM-YYYY"
            name="dp"
            [(ngModel)]="model"
            ngbDatepicker
            #d="ngbDatepicker"
          />
          <button type="button" (click)="d.toggle()">
            <app-date-icon />
          </button>
        </div>
      </div>
      <div class="col-md-6">
        <label class="form-label">{{ "End Date" | translate }}</label>
        <div class="datePicker">
          <input
            class="form-control"
            placeholder="DD-MM-YYYY"
            name="dp"
            [(ngModel)]="model"
            ngbDatepicker
            #d="ngbDatepicker"
          />
          <button type="button" (click)="d.toggle()">
            <app-date-icon />
          </button>
        </div>
      </div>
      <div class="col-md-6">
        <label class="form-label">{{ "Grace Start Date" | translate }}</label>
        <div class="datePicker">
          <input
            class="form-control"
            placeholder="DD-MM-YYYY"
            name="dp"
            [(ngModel)]="model"
            ngbDatepicker
            #d="ngbDatepicker"
          />
          <button type="button" (click)="d.toggle()">
            <app-date-icon />
          </button>
        </div>
      </div>
      <div class="col-md-6">
        <label class="form-label">{{ "Grace End Date" | translate }}</label>
        <div class="datePicker">
          <input
            class="form-control"
            placeholder="DD-MM-YYYY"
            name="dp"
            [(ngModel)]="model"
            ngbDatepicker
            #d="ngbDatepicker"
          />
          <button type="button" (click)="d.toggle()">
            <app-date-icon />
          </button>
        </div>
      </div>
      <div class="col-md-12">
        <label class="form-label">{{ "Remarks" | translate }}</label>
        <textarea
          type="text"
          class="form-control large"
          [placeholder]="'Write here' | translate"
        ></textarea>
      </div>
    </div>
  </app-step-pane>

  <!-- Step Commercials Content -->
  <app-step-pane
    [title]="'Commercials' | translate"
    [description]="'Fill all the fields to add create your lease' | translate"
  >
    <div class="row g-3">
      <div class="col-md-3">
        <label class="form-label">{{ "Annual Amount" | translate }}</label>
        <input
          type="text"
          class="form-control"
          [placeholder]="'Enter here' | translate"
        />
      </div>
      <div class="col-md-3">
        <label class="form-label">{{
          "Actual Annual Amount" | translate
        }}</label>
        <input
          type="text"
          class="form-control"
          [placeholder]="'Enter here' | translate"
        />
      </div>
      <div class="col-md-3">
        <label class="form-label">{{ "Booking Amount" | translate }}</label>
        <input
          type="text"
          class="form-control"
          [placeholder]="'Enter here' | translate"
        />
      </div>
      <div class="col-md-3">
        <label class="form-label">{{
          "Maintenance Charges" | translate
        }}</label>
        <input
          type="text"
          class="form-control"
          [placeholder]="'Enter here' | translate"
        />
      </div>
      <div class="col-md-3">
        <label class="form-label">{{ "Rent" | translate }}</label>
        <input
          type="text"
          class="form-control"
          [placeholder]="'Enter here' | translate"
        />
      </div>
      <div class="col-md-3">
        <label class="form-label">{{ "Security Deposit" | translate }}</label>
        <input
          type="text"
          class="form-control"
          [placeholder]="'Enter here' | translate"
        />
      </div>
      <div class="col-md-3">
        <label class="form-label">{{ "Commission in %" | translate }}</label>
        <input
          type="text"
          class="form-control"
          [placeholder]="'Enter here' | translate"
        />
      </div>
      <div class="col-md-3">
        <label class="form-label">{{ "Notice Period" | translate }}</label>
        <app-custom-select
          [options]="[
            '1 Month',
            '2 Months',
            '3 Months',
            '4 Months',
            '5 Months'
          ]"
          (optionSelected)="onOptionSelected($event)"
        ></app-custom-select>
      </div>
      <div class="col-md-3">
        <label class="form-label">{{
          "Discount (Optional)" | translate
        }}</label>
        <input
          type="text"
          class="form-control"
          [placeholder]="'Enter here' | translate"
        />
      </div>
    </div>
  </app-step-pane>

  <!-- Step Document Layout Content -->
  <app-step-pane title="Document Layout" description="Select">
    <div class="tmpltRadioOuter">
      <div class="tmpltRadio">
        <label>
          <input type="radio" name="documentLayout" value="" checked />
          <span>
            <i>
              <img
                src="../../../../assets/createLayoutIcon.png"
                width="24"
                height="24"
                alt=""
              />
            </i>
            <em
              >{{ "Create Layout" | translate }} <br />{{
                "by AI" | translate
              }}</em
            >
            <i class="newIcon">
              <img src="../../../../assets/newIcon.gif" alt="New Icon" />
            </i>
          </span>
        </label>
        <label>
          <input type="radio" name="documentLayout" value="" />
          <span>
            <i>
              <img
                src="../../../../assets/selectTemplateIcon.png"
                width="24"
                height="24"
                alt="Select Template"
              />
            </i>
            <em
              >{{ "Select" | translate }} <br />{{ "Template" | translate }}</em
            >
          </span>
        </label>
      </div>
      <div class="tmpltOr">
        <span>{{ "OR" | translate }}</span>
      </div>
      <div class="tmpltUpld">
        <div class="tmpltUpldIcon">
          <i>
            <app-upload-icon />
          </i>
          <input type="file" />
        </div>
        <span
          >{{ "Upload" | translate }} <br />{{ "Template" | translate }}</span
        >
      </div>
    </div>
  </app-step-pane>

  <!-- Step Negotiation Content -->
  <app-step-pane
    [title]="'Negotiation' | translate"
    [description]="'Fill the below template' | translate"
  >
    <div class="agrmntCntntOuter">
      <div class="agrmntCntntView">
        <br />
        <div>{{ "BY AND BETWEEN" | translate }}</div>
        <br />
        <div>
          <strong>{{ "DOQFY" | translate }}</strong>
        </div>
        <br />
        <div>{{ "And" | translate }}</div>
        <div>
          <strong>{{ "ZEN" | translate }}</strong>
        </div>
        <br />
        <div>
          {{
            "This Non-Disclosure and Confidentiality Agreement (“ Rent ”) is made and entered into on 2024-10-16 ."
              | translate
          }}
        </div>
        <br />
        <div>{{ "BY AND BETWEEN" | translate }}</div>
        <br />
        <div>
          <strong>{{ "DOQFY" | translate }}</strong> ,{{
            " a has its registered office at Bangalore (hereinafter referred to as the “FIRST PARTY”, which expression shall,  be deemed to mean and include its successors and permitted assigns)."
              | translate
          }}
        </div>
        <br />
        <div>{{ "AND" | translate }}</div>
        <br />
        <div>
          <strong>{{ "ZEN" | translate }}</strong> ,
          {{
            "a has its registered office at Marathalli (hereinafter referred to as the “SECOND PARTY”, which  expression shall, unless repugnant to or inconsistent with the  context, mean and include its partners, successors and permitted  assigns) of the SECOND PARTY."
              | translate
          }}
        </div>
        <br />
        <div>
          {{
            "  “FIRST PARTY” and “SECOND PARTY” are hereinafter referred to individually as a “Party” and collectively as the “Parties”."
              | translate
          }}
        </div>
      </div>
      <div class="editTempltOuter">
        <div class="editTempltHdr">
          <h4>{{ "Edit Template" | translate }}</h4>
          <button type="button">
            <app-cross-icon />
          </button>
        </div>
        <div class="editTempltBdy">
          <div class="mb-3">
            <label class="form-label">{{
              "Token_Mapped_Acc" | translate
            }}</label>
            <input
              type="text"
              class="form-control"
              [placeholder]="'Enter here' | translate"
            />
          </div>
          <div class="mb-3">
            <label class="form-label">{{ "Token_Emi" | translate }}</label>
            <input
              type="text"
              class="form-control"
              [placeholder]="'Enter here' | translate"
            />
          </div>
          <div class="mb-3">
            <label class="form-label">{{
              "Token_Calculate_Pf" | translate
            }}</label>
            <input
              type="text"
              class="form-control"
              [placeholder]="'Enter here' | translate"
            />
          </div>
          <div class="mb-3">
            <label class="form-label">{{ "Token_Tenure" | translate }}</label>
            <input
              type="text"
              class="form-control"
              [placeholder]="'Enter here' | translate"
            />
          </div>
          <div class="mb-3">
            <label class="form-label">{{ "Token_Pin" | translate }}</label>
            <input
              type="text"
              class="form-control"
              [placeholder]="'Enter here' | translate"
            />
          </div>
          <div class="mb-3">
            <label class="form-label">{{ "Token_Date" | translate }}</label>
            <input
              type="text"
              class="form-control"
              [placeholder]="'Enter here' | translate"
            />
          </div>
        </div>
      </div>
    </div>
  </app-step-pane>

  <!-- Step Upload Ejari Content -->
  <app-step-pane title="Upload Ejari" description="Upload document">
    <div class="commonTabs">
      <ul class="nav nav-tabs" id="documentsTab" role="tablist">
        <li class="nav-item" role="presentation">
          <button
            class="nav-link active"
            id="propertyFloorPlan-tab"
            data-bs-toggle="tab"
            data-bs-target="#propertyFloorPlan-tab-pane"
            type="button"
            role="tab"
            aria-controls="propertyFloorPlan-tab-pane"
            aria-selected="true"
          >
            {{ "Property Floor Plan" | translate }}
          </button>
        </li>
        <li class="nav-item" role="presentation">
          <button
            class="nav-link"
            id="tenantDoc-tab"
            data-bs-toggle="tab"
            data-bs-target="#tenantDoc-tab-pane"
            type="button"
            role="tab"
            aria-controls="tenantDoc-tab-pane"
            aria-selected="false"
          >
            {{ "Tenant Doc" | translate }}
          </button>
        </li>
        <li class="nav-item" role="presentation">
          <button
            class="nav-link"
            id="ejariCertificates-tab"
            data-bs-toggle="tab"
            data-bs-target="#ejariCertificates-tab-pane"
            type="button"
            role="tab"
            aria-controls="ejariCertificates-tab-pane"
            aria-selected="false"
          >
            {{ "Ejari Certificates" | translate }}
          </button>
        </li>
        <li class="nav-item" role="presentation">
          <button
            class="nav-link"
            id="pmcDocs-tab"
            data-bs-toggle="tab"
            data-bs-target="#pmcDocs-tab-pane"
            type="button"
            role="tab"
            aria-controls="pmcDocs-tab-pane"
            aria-selected="false"
          >
            {{ "PMC DOCS" | translate }}
          </button>
        </li>
        <li class="nav-item" role="presentation">
          <button
            class="nav-link"
            id="cheque-tab"
            data-bs-toggle="tab"
            data-bs-target="#cheque-tab-pane"
            type="button"
            role="tab"
            aria-controls="cheque-tab-pane"
            aria-selected="false"
          >
            {{ "Cheque" | translate }}
          </button>
        </li>
      </ul>
    </div>
    <div class="commonTabsContent">
      <div class="tab-content" id="documentsTabContent">
        <div
          class="tab-pane fade show active"
          id="propertyFloorPlan-tab-pane"
          role="tabpanel"
          aria-labelledby="propertyFloorPlan-tab"
          tabindex="0"
        >
          <app-upload-document />
        </div>
        <div
          class="tab-pane fade"
          id="tenantDoc-tab-pane"
          role="tabpanel"
          aria-labelledby="tenantDoc-tab"
          tabindex="0"
        >
          <app-upload-document />
        </div>
        <div
          class="tab-pane fade"
          id="ejariCertificates-tab-pane"
          role="tabpanel"
          aria-labelledby="ejariCertificates-tab"
          tabindex="0"
        >
          <app-upload-document />
        </div>
        <div
          class="tab-pane fade"
          id="ejariCertificates-tab-pane"
          role="tabpanel"
          aria-labelledby="ejariCertificates-tab"
          tabindex="0"
        >
          <app-upload-document />
        </div>
        <div
          class="tab-pane fade"
          id="pmcDocs-tab-pane"
          role="tabpanel"
          aria-labelledby="pmcDocs-tab"
          tabindex="0"
        >
          <app-upload-document />
        </div>
        <div
          class="tab-pane fade"
          id="cheque-tab-pane"
          role="tabpanel"
          aria-labelledby="cheque-tab"
          tabindex="0"
        >
          <app-upload-document />
        </div>
      </div>
    </div>
  </app-step-pane>
</app-step-form-layout>
