<div class="page">
  <!-- Header -->
  <header class="header">
    <div class="logo">
      <span class="wa-icon"><app-wahstapp-icon1></app-wahstapp-icon1></span>
      <span><app-whatsapp-text></app-whatsapp-text> </span>
    </div>
  </header>

  <!-- Main Card -->
  <div class="container">
    <!-- Download Banner -->
    <div class="download-card">
      <div class="download-left">
        <div class="icon-box"><app-call-on-desktop> </app-call-on-desktop></div>
        <div>
          <p>{{ "WHATSAPP_FOR_WINDOWS" | translate }}</p>
          <p>
            {{ "CALL_SHARE_FAST" | translate }}
          </p>
        </div>
      </div>
      <button class="download-btn">
        {{ "DOWNLOAD" | translate }}
        <app-whatsapp-download-icons></app-whatsapp-download-icons>
      </button>
    </div>

    <div class="login-card">
      <div class="login-left">
        <h2>{{ "STEPS_TO_LOGIN" | translate }}</h2>
        <ol class="wa-steps">
          <li>
            {{ "OPEN" | translate }}
            <strong>{{ "WHATSAPP" | translate }}</strong>
            <span class="wa-icon"
              ><app-whatsapp-icon2></app-whatsapp-icon2
            ></span>
            {{ "ON_PHONE" | translate }}
          </li>
          <li>
            {{ "ON_ANDROID_TAP" | translate }}
            <strong>{{ "MENU" | translate }}</strong>
            <span class="menu-icon"
              ><app-three-dots-icons></app-three-dots-icons
            ></span>
            · {{ "ON_IPHONE_TAP" | translate }}<strong>Settings</strong
            ><span class="setting-icon"
              ><app-setting-icon></app-setting-icon
            ></span>
          </li>
          <li>
            {{ "TAP" | translate }}
            <strong>{{ "LINKED_DEVICES" | translate }}</strong
            >, {{ "THEN" | translate }}
            <strong>{{ "LINK_DEVICE" | translate }}</strong>
          </li>
          <li>{{ "SCAN_QR_CONFIRM" | translate }}</li>
        </ol>

        <label class="stay-logged">
          <input type="checkbox" checked />
          {{ "STAY_LOGGED_IN" | translate }}
          <span class="checkmark"><app-unicode-icon></app-unicode-icon></span>
        </label>
      </div>

      <div class="login-right">
        <img src="assets/Sample-QR-code.svg" alt="QR Code" />
        <a href="#" class="phone-link"
          >{{ "PHONE_LOGIN" | translate }}<app-angle-icon></app-angle-icon
        ></a>
      </div>
    </div>
  </div>
</div>
