.custom-img {
  width: 95px;
  height: 30px;
  object-fit: contain;
}
.card-body .from-label {
  text-decoration: underline;
}

.form {
  display: inline-block;
  padding-bottom: 4px;
  text-decoration: underline;
}
.lease-header h6 {
  text-decoration: underline;
}
.form-label {
  white-space: nowrap;
}
