<form [formGroup]="form">
  <!-- Platform -->
  <app-white-card>
    <div class="card-body">
      <label class="form-label fw-semibold">Platform</label>
      <div class="d-flex gap-4 mt-2 flex-wrap">
        <div class="form-check">
          <input
            class="form-check-input"
            type="radio"
            name="platform"
            checked
          />
          <label class="form-check-label text-danger fw-semibold">
            <img src="assets/platfrom/platfrom-1.png" class="custom-img" />
          </label>
        </div>

        <div class="form-check">
          <input class="form-check-input" type="radio" name="platform" />
          <label class="form-check-label text-success fw-semibold">
            <img src="assets/platfrom/platfrom-2.png" class="custom-img" />
          </label>
        </div>

        <div class="form-check">
          <input class="form-check-input" type="radio" name="platform" />
          <label class="form-check-label"> Direct </label>
        </div>
      </div>
    </div>
  </app-white-card>
  <div class="mt-3">
    <app-white-card>
      <div class="lease-wrapper">
        <div class="lease-card">
          <!-- Header -->
          <div class="lease-header">
            <h6>Leased Unit</h6>
            <span class="badge">01</span>
          </div>

          <!-- Form Grid -->
          <div class="form-grid row g-3">
            <div class="col-md-6">
              <label class="form-label">{{ "property" }}</label>
              <app-custom-select [width]="'300px'"></app-custom-select>
            </div>

            <div class="col-md-6">
              <label class="form-label">{{ "property" }}</label>
              <app-custom-select [width]="'300px'"></app-custom-select>
            </div>

            <div class="col-md-6">
              <label class="form-label">{{ "property" }}</label>
              <app-custom-select [width]="'300px'"></app-custom-select>
            </div>
            <div class="col-md-6">
              <label class="form-label">{{ "property" }}</label>
              <app-custom-select [width]="'300px'"></app-custom-select>
            </div>

            <div class="col-md-6">
              <label class="form-label">{{ "property" }}</label>
              <app-custom-select [width]="'300px'"></app-custom-select>
            </div>

            <div class="col-md-6">
              <label class="form-label">{{ "property" }}</label>
              <app-custom-select [width]="'300px'"></app-custom-select>
            </div>

            <div class="col-md-6">
              <label class="form-label">{{ "property" }}</label>
              <app-custom-select [width]="'300px'"></app-custom-select>
            </div>

            <div class="col-md-6">
              <label class="form-label">{{ "property" }}</label>
              <app-custom-select [width]="'300px'"></app-custom-select>
            </div>

            <div class="col-md-6">
              <label class="form-label">{{ "property" }}</label>
              <app-custom-select [width]="'300px'"></app-custom-select>
            </div>

            <div class="col-md-6">
              <label class="form-label">{{ "property" }}</label>
              <app-custom-select [width]="'300px'"></app-custom-select>
            </div>

            <div class="col-md-6">
              <label class="form-label">{{ "property" }}</label>
              <app-custom-select [width]="'300px'"></app-custom-select>
            </div>

            <div class="col-md-6">
              <label class="form-label">{{ "property" }}</label>
              <app-custom-select [width]="'300px'"></app-custom-select>
            </div>
          </div>
        </div>
      </div>
    </app-white-card>
  </div>
  <div class="mt-3">
    <app-white-card>
      <!-- <div class="col-md-6">
      <label class="form-label">{{ "property" }}</label>
      <app-custom-select
        key="key"
        value="value"
        formControlName="property"
      ></app-custom-select>
    </div>
    <div class="col-md-6">
      <label class="form-label">
        {{ "PROPERTY_UNIT_NAME" }}
      </label>
      <input
        type="text"
        class="form-control"
        [placeholder]="'ENTER_HERE'"
        formControlName="propertyUnitName"
      />
    </div>
    <div class="col-md-6">
      <label class="form-label">{{ "PROPERTY_TYPE" }}</label>
      <app-custom-select
        key="key"
        value="value"
        formControlName="propertyType"
      ></app-custom-select>
    </div>
    <div class="col-md-6">
      <label class="form-label"
        >{{ "LAND_AREA" }} <small>{{ "SQ-FT" }}</small></label
      >
      <input
        type="number"
        class="form-control"
        [placeholder]="'ENTER_HERE'"
        formControlName="landArea"
      />
    </div>
    <div class="col-md-6">
      <label class="form-label">{{ "LAND_DM_NO(AFFECTION PLAN)" }}</label>
      <input
        type="text"
        class="form-control"
        [placeholder]="'ENTER_LAND_DM_NO'"
        formControlName="landDMNo"
      />
    </div>
    <div class="col-md-6">
      <label class="form-label">{{ "APARTMENT_NO" }}</label>
      <input
        type="text"
        class="form-control"
        [placeholder]="'ENTER_APARTMENT_NUMBER'"
        formControlName="apartmentNo"
      />
    </div>
    <div class="col-md-6">
      <label class="form-label">{{ "COUNTRY" }}</label>
      <app-custom-select
        key="key"
        value="value"
        formControlName="country"
      ></app-custom-select>
    </div>
    <div class="col-md-6">
      <label class="form-label">{{ "STATE" }}</label>
      <app-custom-select
        key="key"
        value="value"
        formControlName="state"
      ></app-custom-select>
    </div>
    <div class="col-md-6">
      <label class="form-label">{{ "CITY" }}</label>
      <app-custom-select
        key="key"
        value="value"
        formControlName="city"
      ></app-custom-select>
    </div>
    <div class="col-md-6">
      <label class="form-label">{{ "LOCALITY" }}</label>
      <input
        type="text"
        class="form-control"
        [placeholder]="'ENTER_HERE'"
        formControlName="locality"
      />
    </div>
    <div class="col-md-6">
      <label class="form-label">{{ "ADDRESS_LINE_1" }}</label>
      <input
        type="text"
        class="form-control"
        [placeholder]="'ENTER_ADDRESS_HERE'"
        formControlName="addressLine1"
      />
    </div>
    <div class="col-md-6">
      <label class="form-label">{{ "ADDRESS_LINE_2" }}</label>
      <input
        type="text"
        class="form-control"
        [placeholder]="'ENTER_ADDRESS_HERE'"
        formControlName="addressLine2"
      />
    </div>
    <div class="col-md-6">
      <label class="form-label">{{ "POSTAL_CODE" }}</label>
      <input
        type="number"
        class="form-control"
        [placeholder]="'ENTER_HERE'"
        formControlName="postalCode"
      />
    </div>
    <div class="col-md-6">
      <label class="form-label">{{ "NO_OF_BEDROOMS" }}</label>
      <input
        type="number"
        class="form-control"
        [placeholder]="'ENTER_HERE'"
        formControlName="NoOfBedrooms"
      />
    </div>
    <div class="col-md-6">
      <label class="form-label"
        >{{ "AREA_OF_PROPERTY" }} <small>{{ "SQ-FT" }}</small></label
      >
      <input
        type="number"
        class="form-control"
        [placeholder]="'ENTER_HERE'"
        formControlName="areaOfProperty"
      />
    </div>
    <div class="col-md-6">
      <label class="form-label">{{ "NO_OF_FLOORS" }}</label>
      <input
        type="number"
        class="form-control"
        [placeholder]="'ENTER_HERE'"
        formControlName="NoOfFloors"
      />
    </div>
    <div class="col-md-6">
      <label class="form-label">{{ "NO_OF_PARKING" }}</label>
      <input
        type="number"
        class="form-control"
        [placeholder]="'ENTER_HERE'"
        formControlName="NoOfParking"
      />
    </div>
    <div class="col-md-3">
      <label class="form-label">{{ "NO_OF_BALCONY" }}</label>
      <input
        type="number"
        class="form-control"
        [placeholder]="'ENTER_HERE'"
        formControlName="NoOfBalcony"
      />
    </div>
    <div class="col-md-3">
      <label class="form-label">{{ "PLOT_NO" }}</label>
      <input
        type="text"
        class="form-control"
        [placeholder]="'ENTER_HERE'"
        formControlName="plotNo"
      />
    </div>
    <div class="col-md-3">
      <label class="form-label">{{ "MAKANI_NO" }}</label>
      <input
        type="text"
        class="form-control"
        [placeholder]="'ENTER_HERE'"
        formControlName="makaniNo"
      />
    </div>
    <div class="col-md-3">
      <label class="form-label">{{ "DEWA_NO" }}</label>
      <input
        type="text"
        class="form-control"
        [placeholder]="'ENTER_HERE'"
        formControlName="dewaNo"
      />
    </div> -->
    </app-white-card>
  </div>
</form>
