<div
  class="customSelect"
  [class.customSelectFilter]="isFilter"
  [class.customSelectPlain]="isPlain"
  [class.customSelectSmall]="isSmall"
  [class.customSelectGrey]="isGrey"
  [class.show]="isDropdownOpen"
  (click)="toggleDropdown()"
>
  <div class="customSelectInput">
    <span
      *ngIf="!selectedOption"
      class="customSelectPlaceholder"
      [innerHTML]="placeholder"
      >{{ placeholder }}</span
    >
    <span *ngIf="selectedOption">{{ selectedOption[value] }}</span>
    <i *ngIf="!isDropdownOpen">
      <app-arrow-down-icon />
    </i>
    <i *ngIf="isDropdownOpen">
      <app-arrow-up-icon />
    </i>
  </div>
  <ul *ngIf="isDropdownOpen" class="customSelectDropdown">
    <li
      *ngFor="let option of options"
      (click)="selectOption(option); $event.stopPropagation()"
      [class.active]="option[key] === selectedOption?.[key]"
    >
      {{ option[value] }}
    </li>
  </ul>
</div>
