<!-- <div class="customSelect" [ngStyle]="{ width: width }" [class.customSelectFilter]="isFilter"
  [class.customSelectPlain]="isPlain" [class.customSelectSmall]="isSmall" [class.customSelectGrey]="isGrey"
  [class.show]="isDropdownOpen" (click)="toggleDropdown()">
  <div class="customSelectInput" [class.highlight]="highlight"> <span *ngIf="!selectedOption"
      class="customSelectPlaceholder" [innerHTML]="placeholder | translate">{{ placeholder |
      translate }}</span>
    <span *ngIf="selectedOption">{{ selectedOption[value] }}</span>
    <i *ngIf="!isDropdownOpen">
      <app-arrow-down-icon />
    </i>
    <i *ngIf="isDropdownOpen">
      <app-arrow-up-icon />
    </i>
    <div class="rightSection">
      <span *ngIf="unitText" class="unitText">
        {{ unitText }}
      </span>
      <i *ngIf="iconType === 'default'">
        <app-arrow-down-icon *ngIf="!isDropdownOpen" />
        <app-arrow-up-icon *ngIf="isDropdownOpen" />
      </i>

      <i *ngIf="iconType === 'custom'">
        <app-calender-icon *ngIf="!isDropdownOpen" />
        <app-calender-icon *ngIf="isDropdownOpen" />
      </i>
    </div>
    <ul *ngIf="isDropdownOpen" class="customSelectDropdown" [ngStyle]="dropdownStyle">
      <li *ngIf="showFilterInput || allowAddOption" class="customSelectSearch">
        <input type="text" [placeholder]="allowAddOption ? 'Search or add...' : 'Search...'" [(ngModel)]="filterText"
          (ngModelChange)="onInputChange($event)" (click)="$event.stopPropagation()"
          (keydown.enter)="$event.preventDefault(); $event.stopPropagation()" />

        <button *ngIf="allowAddOption" class="addBtn" (click)="addOption(); $event.stopPropagation()">
          Add
        </button>
      </li>
      @for (option of displayOptions; track option[key]) {
      <li (click)="selectOption(option); $event.stopPropagation()"
        [class.active]="option[key] === selectedOption?.[key]">
        {{ option[value] }}
      </li>
      } @empty {
      <li>No Data Found</li>
      }
    </ul>
  </div>
</div> -->

<div
  class="customSelect"
  [ngStyle]="{ width: width }"
  [class.customSelectFilter]="isFilter"
  [class.customSelectPlain]="isPlain"
  [class.customSelectSmall]="isSmall"
  [class.customSelectGrey]="isGrey"
  [class.show]="isDropdownOpen"
  (click)="toggleDropdown()"
>
  <div class="customSelectInput" [class.highlight]="highlight">
    <span
      *ngIf="
        (!multiple && !selectedOption) || (multiple && !selectedOptions?.length)
      "
      class="customSelectPlaceholder"
    >
      {{ placeholder | translate }}
    </span>

    <span *ngIf="!multiple && selectedOption">
      {{ selectedOption[value] }}
    </span>
    <!-- Multiple Select -->
    <span *ngIf="multiple && selectedOptions?.length">
      {{ getSelectedLabels() }}
    </span>

    <div class="rightSection">
      <span *ngIf="unitText" class="unitText">
        {{ unitText }}
      </span>

      <i>
        <app-arrow-down-icon *ngIf="!isDropdownOpen" />
        <app-arrow-up-icon *ngIf="isDropdownOpen" />
      </i>
    </div>
  </div>

  <ul
    *ngIf="isDropdownOpen"
    class="customSelectDropdown"
    [ngStyle]="dropdownStyle"
  >
    <li *ngIf="showFilterInput || allowAddOption" class="customSelectSearch">
      <input
        type="text"
        [(ngModel)]="filterText"
        (ngModelChange)="onInputChange($event)"
        (click)="$event.stopPropagation()"
        placeholder="Search..."
      />

      <button
        *ngIf="allowAddOption"
        (click)="addOption(); $event.stopPropagation()"
      >
        Add
      </button>
    </li>

    <li
      *ngFor="let option of displayOptions"
      (click)="
        multiple ? toggleSelection(option) : selectOption(option);
        $event.stopPropagation()
      "
      [class.active]="!multiple && option[key] === selectedOption?.[key]"
    >
      <ng-container *ngIf="multiple; else singleOption">
        <label class="d-flex align-items-center w-100 mb-0">
          <input
            type="checkbox"
            class="form-check-input me-2"
            [checked]="isSelected(option)"
            (change)="toggleSelection(option)"
            (click)="$event.stopPropagation()"
          />
          <span>{{ option[value] }}</span>
        </label>
      </ng-container>

      <ng-template #singleOption>
        {{ option[value] }}
      </ng-template>
    </li>

    <li *ngIf="!displayOptions.length">No Data Found</li>
  </ul>
</div>
