<div class="chart-container">
  <apx-chart
    [series]="chartSeries"
    [chart]="chartOptions.chart!"
    [plotOptions]="chartOptions.plotOptions!"
    [dataLabels]="chartOptions.dataLabels!"
    [grid]="chartOptions.grid!"
    [tooltip]="chartOptions.tooltip!"
    [xaxis]="chartOptions.xaxis!"
    [colors]="chartOptions.colors!"
    [legend]="chartOptions.legend!"
  >
  </apx-chart>
  <div class="chart-pagination">
    <button
      class="page-btn"
      [disabled]="currentPage === 1"
      (click)="previousPage()"
    >
      ‹
    </button>

    <span class="page-info"> {{ currentPage }} / {{ totalPages }} </span>

    <button
      class="page-btn"
      [disabled]="currentPage === totalPages"
      (click)="nextPage()"
    >
      ›
    </button>
  </div>
</div>
