<ng-container *ngIf="!showDetailView">
  <div class="mb-3">
    <app-white-card>
      <div class="p-2 mb-2">
        <app-card-title
          [title]="'LIST OF DOCUMENT TO BE APPROVED' | translate"
        />
      </div>
      <div class="commonTabs">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
          <li class="nav-item" role="presentation">
            <button
              class="nav-link active"
              id="inQue-tab"
              data-bs-toggle="tab"
              data-bs-target="#inQue-tab-pane"
              type="button"
              role="tab"
              aria-controls="inQue-tab-pane"
              aria-selected="true"
              (click)="changeStatus('PENDING')"
            >
              {{ "IN_QUE" | translate }}
            </button>
          </li>
          <li class="nav-item" role="presentation">
            <button
              class="nav-link"
              id="accepted-tab"
              data-bs-toggle="tab"
              data-bs-target="#accepted-tab-pane"
              type="button"
              role="tab"
              aria-controls="accepted-tab-pane"
              aria-selected="false"
              (click)="changeStatus('APPROVED')"
            >
              <i><app-accept-icon /></i> {{ "ACCEPTED" | translate }}
            </button>
          </li>
          <li class="nav-item" role="presentation">
            <button
              class="nav-link"
              id="rejected-tab"
              data-bs-toggle="tab"
              data-bs-target="#rejected-tab-pane"
              type="button"
              role="tab"
              aria-controls="rejected-tab-pane"
              aria-selected="false"
              (click)="changeStatus('REJECTED')"
            >
              <i><app-reject-icon /></i>{{ "REJECTED" | translate }}
            </button>
          </li>
        </ul>
      </div>
    </app-white-card>
  </div>

  <div class="tab-content" id="myTabContent">
    <div
      class="tab-pane fade show active"
      id="inQue-tab-pane"
      role="tabpanel"
      aria-labelledby="inQue-tab"
      tabindex="0"
    >
      <div class="cmmnTblOuter">
        <div class="cmmnTblBody">
          <div class="table-responsive">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>
                    <button type="button">
                      {{ "TENANT_NAME" | translate }}
                      <i><app-sorting-icon /></i>
                    </button>
                  </th>
                  <th>{{ "EMIRATES_ID" | translate }}</th>
                  <th>{{ "DATE_REQUESTED" | translate }}</th>
                  <th>{{ "CONTACT_NUMBER" | translate }}</th>
                  <th>{{ "EMAIL_ADDRESS" | translate }}</th>
                  <th width="200"></th>
                </tr>
              </thead>
              <tbody>
                @for (approval of pendingList; track $index){
                <tr>
                  <td>
                    <app-table-img-item
                      [img]="
                        approval?.profile_image
                          ? approval?.profile_image
                          : '../../../../assets/userDefaultProImg.png'
                      "
                      [clickable]="true"
                      (clicked)="
                        handleViewClick(approval.id, approval.lease_id)
                      "
                      [title]="approval.tenant_name"
                    />
                  </td>
                  <td>{{ approval.emirates_id }}</td>
                  <td>
                    {{ approval?.date_request ? approval.date_request : "N/A" }}
                  </td>
                  <td>{{ approval.mobile_number }}</td>
                  <td>{{ approval.email }}</td>
                  <!-- <td align="center">
                    <div class="cmmnTblActnBtnDiv">
                      <app-table-action-btn
                        type="reject"
                        (clicked)="handleRejectClick()"
                      />
                      <app-table-action-btn
                        type="approve"
                        (clicked)="handleApproveClick()"
                      />
                    </div>
                  </td> 
                </tr>
                 <tr>
                  <td>
                    <app-table-img-item
                      img="../../../../assets/user/user-2.png"
                      title="Richard"
                      [clickable]="true"
                      (clicked)="handleViewClick()"
                    />
                  </td>
                  <td>LP8021</td>
                  <td>25-09-2025</td>
                  <td>+91-99******76</td>
                  <td>jensi&#64;example.com</td>
                  <td align="center">
                    <div class="cmmnTblActnBtnDiv">
                      <app-table-action-btn
                        type="reject"
                        (clicked)="handleRejectClick()"
                      />
                      <app-table-action-btn
                        type="approve"
                        (clicked)="handleApproveClick()"
                      />
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <app-table-img-item
                      img="../../../../assets/user/user-3.png"
                      title="Thaomas"
                      [clickable]="true"
                      (clicked)="handleViewClick()"
                    />
                  </td>
                  <td>VC79021</td>
                  <td>25-09-2025</td>
                  <td>+91-89******12</td>
                  <td>thaomas&#64;example.com</td>
                  <td align="center">
                    <div class="cmmnTblActnBtnDiv">
                      <app-table-action-btn
                        type="reject"
                        (clicked)="handleRejectClick()"
                      />
                      <app-table-action-btn
                        type="approve"
                        (clicked)="handleApproveClick()"
                      />
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <app-table-img-item
                      img="../../../../assets/user/user-4.png"
                      title="Akshay"
                      [clickable]="true"
                      (clicked)="handleViewClick()"
                    />
                  </td>
                  <td>VC69021</td>
                  <td>25-09-2025</td>
                  <td>+91-90******45</td>
                  <td>akshay&#64;example.com</td>
                  <td align="center">
                    <div class="cmmnTblActnBtnDiv">
                      <app-table-action-btn
                        type="reject"
                        (clicked)="handleRejectClick()"
                      />
                      <app-table-action-btn
                        type="approve"
                        (clicked)="handleApproveClick()"
                      />
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <app-table-img-item
                      img="../../../../assets/user/user-5.png"
                      title="JeAvanshinsi"
                      [clickable]="true"
                      (clicked)="handleViewClick()"
                    />
                  </td>
                  <td>VC59021</td>
                  <td>25-09-2025</td>
                  <td>+91-78******90</td>
                  <td>avanshi&#64;example.com</td>-->
                  <td align="center">
                    <div class="cmmnTblActnBtnDiv">
                      <app-table-action-btn
                        type="reject"
                        (clicked)="handleRejectClick(approval.lease_id)"
                      />
                      <app-table-action-btn
                        type="approve"
                        (clicked)="handleApproveClick(approval.lease_id)"
                      />
                    </div>
                  </td>
                </tr>
                }@empty {
                <tr>
                  <td colspan="20" align="center">
                    <app-no-data></app-no-data>
                  </td>
                </tr>
                }
              </tbody>
            </table>
          </div>
        </div>
        <div class="cmmnTblFtr">
          <app-table-select />
          <app-table-pagination />
        </div>
      </div>
    </div>
    <div
      class="tab-pane fade"
      id="accepted-tab-pane"
      role="tabpanel"
      aria-labelledby="accepted-tab"
      tabindex="0"
    >
      <!-- accepted  -->
      <div class="cmmnTblOuter">
        <div class="cmmnTblBody">
          <div class="table-responsive">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>
                    <button type="button">
                      Tenant Name <i><app-sorting-icon /></i>
                    </button>
                  </th>
                  <th>Emirates ID</th>
                  <th>Date Requested</th>
                  <th>Contact Number</th>
                  <th>Email Address</th>
                  <th width="200"></th>
                </tr>
              </thead>
              @for (approval of approvedList; track $index){
              <tbody>
                <tr>
                  <td>
                    <app-table-img-item
                      [img]="
                        approval?.profile_image
                          ? approval?.profile_image
                          : '../../../../assets/userDefaultProImg.png'
                      "
                      [clickable]="true"
                      [title]="approval.tenant_name"
                    />
                    <!-- (clicked)="handleViewClick()" -->
                  </td>
                  <td>{{ approval.emirates_id }}</td>
                  <td>
                    {{ approval?.date_request ? approval.date_request : "N/A" }}
                  </td>
                  <td>{{ approval.mobile_number }}</td>
                  <td>{{ approval.email }}</td>
                  <!-- <td align="center">
                    <div class="cmmnTblActnBtnDiv">
                      <app-table-action-btn
                        type="reject"
                        (clicked)="handleRejectClick()"
                      />
                      <app-table-action-btn
                        type="approve"
                        (clicked)="handleApproveClick()"
                      />
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <app-table-img-item
                      img="../../../../assets/user/user-2.png"
                      title="Richard"
                      [clickable]="true"
                      (clicked)="handleViewClick()"
                    />
                  </td>
                  <td>LP8021</td>
                  <td>25-09-2025</td>
                  <td>+91-99******76</td>
                  <td>jensi&#64;example.com</td>
                  <td align="center">
                    <div class="cmmnTblActnBtnDiv">
                      <app-table-action-btn
                        type="reject"
                        (clicked)="handleRejectClick()"
                      />
                      <app-table-action-btn
                        type="approve"
                        (clicked)="handleApproveClick()"
                      />
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <app-table-img-item
                      img="../../../../assets/user/user-3.png"
                      title="Thaomas"
                      [clickable]="true"
                      (clicked)="handleViewClick()"
                    />
                  </td>
                  <td>VC79021</td>
                  <td>25-09-2025</td>
                  <td>+91-89******12</td>
                  <td>thaomas&#64;example.com</td>
                  <td align="center">
                    <div class="cmmnTblActnBtnDiv">
                      <app-table-action-btn
                        type="reject"
                        (clicked)="handleRejectClick()"
                      />
                      <app-table-action-btn
                        type="approve"
                        (clicked)="handleApproveClick()"
                      />
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <app-table-img-item
                      img="../../../../assets/user/user-4.png"
                      title="Akshay"
                      [clickable]="true"
                      (clicked)="handleViewClick()"
                    />
                  </td>
                  <td>VC69021</td>
                  <td>25-09-2025</td>
                  <td>+91-90******45</td>
                  <td>akshay&#64;example.com</td>
                  <td align="center">
                    <div class="cmmnTblActnBtnDiv">
                      <app-table-action-btn
                        type="reject"
                        (clicked)="handleRejectClick()"
                      />
                      <app-table-action-btn
                        type="approve"
                        (clicked)="handleApproveClick()"
                      />
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <app-table-img-item
                      img="../../../../assets/user/user-5.png"
                      title="JeAvanshinsi"
                      [clickable]="true"
                      (clicked)="handleViewClick()"
                    />
                  </td>
                  <td>VC59021</td>
                  <td>25-09-2025</td>
                  <td>+91-78******90</td>
                  <td>avanshi&#64;example.com</td>-->
                  <td align="center">
                    <div class="cmmnTblActnBtnDiv">
                      <app-table-action-btn
                        type="reject"
                        (clicked)="handleRejectClick(approval.lease_id)"
                      />
                      <app-table-action-btn
                        type="approve"
                        (clicked)="handleApproveClick(approval.lease_id)"
                      />
                    </div>
                  </td>
                </tr>
                <!-- </tr> -->
              </tbody>

              }@empty {
              <tr>
                <td colspan="20" align="center">
                  <app-no-data></app-no-data>
                </td>
              </tr>
              }
            </table>
          </div>
        </div>
        <div class="cmmnTblFtr">
          <app-table-select />
          <app-table-pagination />
        </div>
      </div>
    </div>
    <div
      class="tab-pane fade"
      id="rejected-tab-pane"
      role="tabpanel"
      aria-labelledby="rejected-tab"
      tabindex="0"
    >
      <div class="cmmnTblOuter">
        <div class="cmmnTblBody">
          <div class="table-responsive">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>
                    <button type="button">
                      Tenant Name <i><app-sorting-icon /></i>
                    </button>
                  </th>
                  <th>Emirates ID</th>
                  <th>Date Requested</th>
                  <th>Contact Number</th>
                  <th>Email Address</th>
                  <th width="200"></th>
                </tr>
              </thead>
              @for (approval of rejectedList; track $index){
              <tbody>
                <tr>
                  <td>
                    <app-table-img-item
                      [img]="
                        approval?.profile_image
                          ? approval?.profile_image
                          : '../../../../assets/userDefaultProImg.png'
                      "
                      [clickable]="true"
                      [title]="approval.tenant_name"
                    />
                    <!-- (clicked)="handleViewClick('APPROVED')" -->
                  </td>
                  <td>{{ approval.emirates_id }}</td>
                  <td>
                    {{ approval?.date_request ? approval.date_request : "N/A" }}
                  </td>
                  <td>{{ approval.mobile_number }}</td>
                  <td>{{ approval.email }}</td>
                  <!-- <td align="center">
                    <div class="cmmnTblActnBtnDiv">
                      <app-table-action-btn
                        type="reject"
                        (clicked)="handleRejectClick()"
                      />
                      <app-table-action-btn
                        type="approve"
                        (clicked)="handleApproveClick()"
                      />
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <app-table-img-item
                      img="../../../../assets/user/user-2.png"
                      title="Richard"
                      [clickable]="true"
                      (clicked)="handleViewClick()"
                    />
                  </td>
                  <td>LP8021</td>
                  <td>25-09-2025</td>
                  <td>+91-99******76</td>
                  <td>jensi&#64;example.com</td>
                  <td align="center">
                    <div class="cmmnTblActnBtnDiv">
                      <app-table-action-btn
                        type="reject"
                        (clicked)="handleRejectClick()"
                      />
                      <app-table-action-btn
                        type="approve"
                        (clicked)="handleApproveClick()"
                      />
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <app-table-img-item
                      img="../../../../assets/user/user-3.png"
                      title="Thaomas"
                      [clickable]="true"
                      (clicked)="handleViewClick()"
                    />
                  </td>
                  <td>VC79021</td>
                  <td>25-09-2025</td>
                  <td>+91-89******12</td>
                  <td>thaomas&#64;example.com</td>
                  <td align="center">
                    <div class="cmmnTblActnBtnDiv">
                      <app-table-action-btn
                        type="reject"
                        (clicked)="handleRejectClick()"
                      />
                      <app-table-action-btn
                        type="approve"
                        (clicked)="handleApproveClick()"
                      />
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <app-table-img-item
                      img="../../../../assets/user/user-4.png"
                      title="Akshay"
                      [clickable]="true"
                      (clicked)="handleViewClick()"
                    />
                  </td>
                  <td>VC69021</td>
                  <td>25-09-2025</td>
                  <td>+91-90******45</td>
                  <td>akshay&#64;example.com</td>
                  <td align="center">
                    <div class="cmmnTblActnBtnDiv">
                      <app-table-action-btn
                        type="reject"
                        (clicked)="handleRejectClick()"
                      />
                      <app-table-action-btn
                        type="approve"
                        (clicked)="handleApproveClick()"
                      />
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <app-table-img-item
                      img="../../../../assets/user/user-5.png"
                      title="JeAvanshinsi"
                      [clickable]="true"
                      (clicked)="handleViewClick()"
                    />
                  </td>
                  <td>VC59021</td>
                  <td>25-09-2025</td>
                  <td>+91-78******90</td>
                  <td>avanshi&#64;example.com</td>-->
                  <td align="center">
                    <div class="cmmnTblActnBtnDiv">
                      <app-table-action-btn
                        type="reject"
                        (clicked)="handleRejectClick(approval.lease_id)"
                      />

                      <app-table-action-btn
                        type="approve"
                        (clicked)="handleApproveClick(approval.lease_id)"
                      />
                    </div>
                  </td>
                </tr>
              </tbody>
              }@empty {
              <tr>
                <td colspan="20" align="center">
                  <app-no-data></app-no-data>
                </td>
              </tr>
              }
            </table>
          </div>
        </div>
        <div class="cmmnTblFtr">
          <app-table-select />
          <app-table-pagination />
        </div>
      </div>
    </div>
  </div>
</ng-container>

<ng-container *ngIf="showDetailView && selectedTenant">
  <app-table-view-card
    [title]="selectedTenant?.full_name"
    [imgSrc]="selectedTenant?.profile_image"
    [headerItems]="[
      { label: 'Contact', value: selectedTenant?.mobile_number },
      { label: 'Email', value: selectedTenant?.email }
    ]"
    [items]="[
      { label: 'Emirates ID:', value: selectedTenant?.emirates_id },
      { label: 'Nationality', value: selectedTenant?.nationality },
      { label: 'Tenant No', value: selectedTenant?.tenant_number },
      { label: 'Passport Self', value: selectedTenant?.passport_self || '--' },
      {
        label: 'Passport For Family Member (If any)',
        value: selectedTenant?.passport_family_member || '--'
      },
      { label: 'Passport Expiry', value: selectedTenant?.passport_expiry },
      { label: 'Employment Proof', value: selectedTenant?.employment_proof },
      { label: 'Visa Expiry', value: selectedTenant?.visa_expiry },
      { label: 'Visa Self', value: selectedTenant?.visa_self || '--' },
      {
        label: 'Visa For Family Member (If any)',
        value: selectedTenant?.visa_family_member || '--'
      }
    ]"
    (back)="handleBackClick()"
  >
    <app-table-action-btn type="rejectOrange" />
    <!-- (clicked)="handleRejectClick()" -->
    <app-table-action-btn type="approve" />
    <!-- (clicked)="handleApproveClick()" -->
  </app-table-view-card>

  <div class="mt-3">
    <app-white-card title="All Documents">
      <div class="commonTabs">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
          <li class="nav-item" role="presentation">
            <button
              class="nav-link active"
              id="emiratesID-tab"
              data-bs-toggle="tab"
              data-bs-target="#emiratesID-tab-pane"
              type="button"
              role="tab"
              aria-controls="emiratesID-tab-pane"
              aria-selected="true"
            >
              Emirates ID
            </button>
          </li>
          <li class="nav-item" role="presentation">
            <button
              class="nav-link"
              id="passportSelf-tab"
              data-bs-toggle="tab"
              data-bs-target="#passportSelf-tab-pane"
              type="button"
              role="tab"
              aria-controls="passportSelf-tab-pane"
              aria-selected="false"
            >
              Passport(self)
            </button>
          </li>
          <li class="nav-item" role="presentation">
            <button
              class="nav-link"
              id="passportFamily-tab"
              data-bs-toggle="tab"
              data-bs-target="#passportFamily-tab-pane"
              type="button"
              role="tab"
              aria-controls="passportFamily-tab-pane"
              aria-selected="false"
            >
              Passport(Family)
            </button>
          </li>
          <li class="nav-item" role="presentation">
            <button
              class="nav-link"
              id="employmentProof-tab"
              data-bs-toggle="tab"
              data-bs-target="#employmentProof-tab-pane"
              type="button"
              role="tab"
              aria-controls="employmentProof-tab-pane"
              aria-selected="false"
            >
              Employment Proof
            </button>
          </li>
          <li class="nav-item" role="presentation">
            <button
              class="nav-link"
              id="visaSelf-tab"
              data-bs-toggle="tab"
              data-bs-target="#visaSelf-tab-pane"
              type="button"
              role="tab"
              aria-controls="visaSelf-tab-pane"
              aria-selected="false"
            >
              Visa(self)
            </button>
          </li>
          <li class="nav-item" role="presentation">
            <button
              class="nav-link"
              id="visaFamily-tab"
              data-bs-toggle="tab"
              data-bs-target="#visaFamily-tab-pane"
              type="button"
              role="tab"
              aria-controls="visaFamily-tab-pane"
              aria-selected="false"
            >
              Visa(Family)
            </button>
          </li>
          <li class="nav-item" role="presentation">
            <button
              class="nav-link"
              id="bankStatement-tab"
              data-bs-toggle="tab"
              data-bs-target="#bankStatement-tab-pane"
              type="button"
              role="tab"
              aria-controls="bankStatement-tab-pane"
              aria-selected="false"
            >
              Bank Statement
            </button>
          </li>
        </ul>
      </div>
      <div class="commonTabsContent">
        <div class="tab-content" id="myTabContent">
          <div
            class="tab-pane fade show active"
            id="emiratesID-tab-pane"
            role="tabpanel"
            aria-labelledby="emiratesID-tab"
            tabindex="0"
          >
            <div class="row g-2">
              <div
                class="col-auto"
                *ngFor="let item of documentsByType.EMIRATES_ID"
              >
                <app-document-type-item
                  [title]="item.file_name"
                  size="1.2 MB"
                  [fileUrl]="item.data"
                />
              </div>
              <div class="col-auto">
                <app-document-type-item title="dsfds.pdf" size="1.2 MB" />
              </div>
              <div class="col-auto">
                <app-document-type-item title="Marketing.pdf" size="1.2 MB" />
              </div>
              <div class="col-auto">
                <app-document-type-item title="LaunchPlan.pdf" size="1.2 MB" />
              </div>
            </div>
          </div>
          <div
            class="tab-pane fade"
            id="passportSelf-tab-pane"
            role="tabpanel"
            aria-labelledby="passportSelf-tab"
            tabindex="0"
          >
            <div class="row g-2">
              <div class="col-auto">
                <app-document-type-item title="Contract.pdf" size="1.2 MB" />
              </div>
              <div class="col-auto">
                <app-document-type-item title="Finances.png" size="1.2 MB" />
              </div>
              <div class="col-auto">
                <app-document-type-item title="Marketing.pdf" size="1.2 MB" />
              </div>
              <div class="col-auto">
                <app-document-type-item title="LaunchPlan.pdf" size="1.2 MB" />
              </div>
            </div>
          </div>
          <div
            class="tab-pane fade"
            id="passportFamily-tab-pane"
            role="tabpanel"
            aria-labelledby="passportFamily-tab"
            tabindex="0"
          >
            <div class="row g-2">
              <div class="col-auto">
                <app-document-type-item title="Contract.pdf" size="1.2 MB" />
              </div>
              <div class="col-auto">
                <app-document-type-item title="Finances.png" size="1.2 MB" />
              </div>
              <div class="col-auto">
                <app-document-type-item title="Marketing.pdf" size="1.2 MB" />
              </div>
              <div class="col-auto">
                <app-document-type-item title="LaunchPlan.pdf" size="1.2 MB" />
              </div>
            </div>
          </div>
          <div
            class="tab-pane fade"
            id="employmentProof-tab-pane"
            role="tabpanel"
            aria-labelledby="employmentProof-tab"
            tabindex="0"
          >
            <div class="row g-2">
              <div class="col-auto">
                <app-document-type-item title="Contract.pdf" size="1.2 MB" />
              </div>
              <div class="col-auto">
                <app-document-type-item title="Finances.png" size="1.2 MB" />
              </div>
              <div class="col-auto">
                <app-document-type-item title="Marketing.pdf" size="1.2 MB" />
              </div>
              <div class="col-auto">
                <app-document-type-item title="LaunchPlan.pdf" size="1.2 MB" />
              </div>
            </div>
          </div>
          <div
            class="tab-pane fade"
            id="visaSelf-tab-pane"
            role="tabpanel"
            aria-labelledby="visaSelf-tab"
            tabindex="0"
          >
            <div class="row g-2">
              <div class="col-auto">
                <app-document-type-item title="Contract.pdf" size="1.2 MB" />
              </div>
              <div class="col-auto">
                <app-document-type-item title="Finances.png" size="1.2 MB" />
              </div>
              <div class="col-auto">
                <app-document-type-item title="Marketing.pdf" size="1.2 MB" />
              </div>
              <div class="col-auto">
                <app-document-type-item title="LaunchPlan.pdf" size="1.2 MB" />
              </div>
            </div>
          </div>
          <div
            class="tab-pane fade"
            id="visaFamily-tab-pane"
            role="tabpanel"
            aria-labelledby="visaFamily-tab"
            tabindex="0"
          >
            <div class="row g-2">
              <div class="col-auto">
                <app-document-type-item title="Contract.pdf" size="1.2 MB" />
              </div>
              <div class="col-auto">
                <app-document-type-item title="Finances.png" size="1.2 MB" />
              </div>
              <div class="col-auto">
                <app-document-type-item title="Marketing.pdf" size="1.2 MB" />
              </div>
              <div class="col-auto">
                <app-document-type-item title="LaunchPlan.pdf" size="1.2 MB" />
              </div>
            </div>
          </div>
          <div
            class="tab-pane fade"
            id="bankStatement-tab-pane"
            role="tabpanel"
            aria-labelledby="bankStatement-tab"
            tabindex="0"
          >
            <div class="row g-2">
              <div class="col-auto">
                <app-document-type-item title="Contract.pdf" size="1.2 MB" />
              </div>
              <div class="col-auto">
                <app-document-type-item title="Finances.png" size="1.2 MB" />
              </div>
              <div class="col-auto">
                <app-document-type-item title="Marketing.pdf" size="1.2 MB" />
              </div>
              <div class="col-auto">
                <app-document-type-item title="LaunchPlan.pdf" size="1.2 MB" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </app-white-card>
  </div>
</ng-container>
<!-- </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div></div
></ng-container> -->
