<ng-container *ngIf="!showDetailView">
  <div class="mb-3">
    <app-white-card>
      <div class="p-2 mb-2">
        <app-card-title
          [title]="'LIST OF DOCUMENT TO BE APPROVED' | translate"
        />
      </div>
      <div class="commonTabs">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
          <li class="nav-item" role="presentation">
            <button
              class="nav-link active"
              id="inQue-tab"
              data-bs-toggle="tab"
              data-bs-target="#inQue-tab-pane"
              type="button"
              role="tab"
              [class.active]="currentStatus === 'PENDING'"
              aria-controls="inQue-tab-pane"
              aria-selected="true"
              (click)="changeStatus('PENDING')"
            >
              {{ "IN_QUE" | translate }}
            </button>
          </li>
          <li class="nav-item" role="presentation">
            <button
              class="nav-link"
              id="accepted-tab"
              data-bs-toggle="tab"
              data-bs-target="#accepted-tab-pane"
              type="button"
              role="tab"
              aria-controls="accepted-tab-pane"
              aria-selected="false"
              (click)="changeStatus('APPROVED')"
            >
              <i><app-accept-icon /></i> {{ "ACCEPTED" | translate }}
            </button>
          </li>
          <li class="nav-item" role="presentation">
            <button
              class="nav-link"
              id="rejected-tab"
              data-bs-toggle="tab"
              data-bs-target="#rejected-tab-pane"
              type="button"
              role="tab"
              aria-controls="rejected-tab-pane"
              aria-selected="false"
              (click)="changeStatus('REJECTED')"
            >
              <i><app-reject-icon /></i>{{ "REJECTED" | translate }}
            </button>
          </li>
        </ul>
      </div>
    </app-white-card>
  </div>

  <div class="tab-content" id="myTabContent">
    <div
      class="tab-pane fade show active"
      id="inQue-tab-pane"
      role="tabpanel"
      aria-labelledby="inQue-tab"
      tabindex="0"
    >
      <div class="cmmnTblOuter">
        <div class="cmmnTbl">
          <div class="table-responsive">
            <table class="table table-bordered approval-table">
              <thead>
                <tr>
                  <th>{{ "DATE_REQUESTED" | translate }}</th>
                  <th>{{ "REQUESTED_BY" | translate }}</th>
                  <th>{{ "PROPERTY_NAME" | translate }}</th>
                  <th (click)="sort('block_tower')" style="cursor: pointer">
                    {{ "BLOCK_TOWER" | translate
                    }}<i><app-sorting-icon></app-sorting-icon></i>
                  </th>
                  <th>{{ "UNIT" | translate }}</th>

                  <th>
                    {{ "TENANT_NAME" | translate }}
                    <i><app-sorting-icon /></i>
                  </th>
                  <th>{{ "TENURE" | translate }}</th>
                  <th>{{ "RENT" | translate }}</th>
                  <th>{{ "ACTUAL_RENT" | translate }}</th>
                  <th width="200">{{ "ACTION" | translate }}</th>
                </tr>
              </thead>

              <tbody>
                @for (approval of managerApprovalList; track approval.id) {
                  <tr>
                    <td>{{ approval.date_request }}</td>
                    <td>{{ approval.requested_by }}</td>
                    <td>
                      <app-table-img-item
                        [img]="approval.property_image"
                        [title]="approval.property_name"
                        size="md"
                        [showInitialsFallback]="true"
                      />
                    </td>
                    <td>{{ approval.tower }}</td>
                    <td>{{ approval.unit }}</td>
                    <td>
                      <app-table-img-item
                        [img]="approval.profile_image"
                        [title]="approval.tenant_name"
                        size="md"
                        [showInitialsFallback]="true"
                      />
                    </td>
                    <td>{{ approval.tenure }}</td>
                    <td>{{ approval.rent }}</td>
                    <td>{{ approval.actual_rent }}</td>
                    <td align="center">
                      <div class="cmmnTblActnBtnDiv">
                        <app-table-action-btn
                          type="reject"
                          (clicked)="rejectManagerItem(approval.id)"
                        />
                        <app-table-action-btn
                          type="approve"
                          (clicked)="approveManagerItem(approval.id)"
                        />
                      </div>
                    </td>
                  </tr>
                } @empty {
                  <tr>
                    <td colspan="20" align="center">
                      <app-no-data></app-no-data>
                    </td>
                  </tr>
                }
              </tbody>
            </table>
          </div>
        </div>
        <div class="cmmnTblFtr">
          <app-table-select
            [componentName]="componentName"
            [rowsPerPage]="rowsPerPage"
            [rowsPerPageOptions]="rowsPerPageOptions"
            (rowsPerPageChange)="onPageSizeChange($event)"
          />
          <app-table-pagination
            [componentName]="componentName"
            [currentPage]="currentPage"
            [totalRecords]="totalRecords"
            [rowsPerPage]="rowsPerPage"
            (pageChange)="onPageChange($event)"
          />
        </div>
      </div>
    </div>
    <div
      class="tab-pane fade"
      id="accepted-tab-pane"
      role="tabpanel"
      aria-labelledby="accepted-tab"
      tabindex="0"
    >
      <div class="cmmnTblOuter">
        <div class="cmmnTbl">
          <div class="table-responsive">
            <table class="table table-bordered approval-table">
              <thead>
                <tr>
                  <th>{{ "DATE_REQUESTED" | translate }}</th>
                  <th>{{ "REQUESTED_BY" | translate }}</th>
                  <th>{{ "PROPERTY_NAME" | translate }}</th>
                  <th>
                    {{ "BLOCK_TOWER" | translate }}<i><app-sorting-icon /></i>
                  </th>
                  <th>{{ "UNIT" | translate }}</th>
                  <th>
                    {{ "TENANT_NAME" | translate }}<i><app-sorting-icon /></i>
                  </th>
                  <th>{{ "TENURE" | translate }}</th>
                  <th>{{ "RENT" | translate }}</th>
                  <th>{{ "ACTUAL_RENT" | translate }}</th>
                </tr>
              </thead>
              <tbody>
                @for (approval of managerApprovalList; track approval.id) {
                  <tr>
                    <td>{{ approval.date_request }}</td>
                    <td>{{ approval.requested_by }}</td>
                    <td>
                      <app-table-img-item
                        [img]="approval.property_image"
                        [title]="approval.property_name"
                        size="md"
                        [showInitialsFallback]="true"
                      />
                    </td>
                    <td>{{ approval.tower }}</td>
                    <td>{{ approval.unit }}</td>
                    <td>
                      <app-table-img-item
                        [img]="approval.profile_image"
                        [title]="approval.tenant_name"
                        size="md"
                        [showInitialsFallback]="true"
                      />
                    </td>
                    <td>{{ approval.tenure }}</td>
                    <td>{{ approval.rent }}</td>
                    <td>{{ approval.actual_rent }}</td>
                  </tr>
                } @empty {
                  <tr>
                    <td colspan="20" align="center">
                      <app-no-data></app-no-data>
                    </td>
                  </tr>
                }
              </tbody>
            </table>
          </div>
        </div>
        <div class="cmmnTblFtr">
          <app-table-select
            [componentName]="componentName"
            [rowsPerPage]="rowsPerPage"
            [rowsPerPageOptions]="rowsPerPageOptions"
            (rowsPerPageChange)="onPageSizeChange($event)"
          />
          <app-table-pagination
            [componentName]="componentName"
            [currentPage]="currentPage"
            [totalRecords]="totalRecords"
            [rowsPerPage]="rowsPerPage"
            (pageChange)="onPageChange($event)"
          />
        </div>
      </div>
    </div>
    <div
      class="tab-pane fade"
      id="rejected-tab-pane"
      role="tabpanel"
      aria-labelledby="rejected-tab"
      tabindex="0"
    >
      <div class="cmmnTblOuter">
        <div class="cmmnTbl">
          <div class="table-responsive">
            <table class="table table-bordered approval-table">
              <thead>
                <tr>
                  <th>{{ "DATE_REQUESTED" | translate }}</th>
                  <th>{{ "REQUESTED_BY" | translate }}</th>
                  <th>{{ "PROPERTY_NAME" | translate }}</th>
                  <th>
                    {{ "BLOCK_TOWER" | translate }}<i><app-sorting-icon /></i>
                  </th>
                  <th>{{ "UNIT" | translate }}</th>
                  <th>
                    {{ "TENANT_NAME" | translate }}<i><app-sorting-icon /></i>
                  </th>
                  <th>{{ "TENURE" | translate }}</th>
                  <th>{{ "RENT" | translate }}</th>
                  <th>{{ "ACTUAL_RENT" | translate }}</th>
                </tr>
              </thead>
              <tbody>
                @for (approval of managerApprovalList; track approval.id) {
                  <tr>
                    <td>{{ approval.date_request }}</td>
                    <td>{{ approval.requested_by }}</td>
                    <td>
                      <app-table-img-item
                        [img]="approval.property_image"
                        [title]="approval.property_name"
                        size="md"
                        [showInitialsFallback]="true"
                      />
                    </td>
                    <td>{{ approval.tower }}</td>
                    <td>{{ approval.unit }}</td>
                    <td>
                      <app-table-img-item
                        [img]="approval.profile_image"
                        [title]="approval.tenant_name"
                        size="md"
                        [showInitialsFallback]="true"
                      />
                    </td>
                    <td>{{ approval.tenure }}</td>
                    <td>{{ approval.rent }}</td>
                    <td>{{ approval.actual_rent }}</td>
                  </tr>
                } @empty {
                  <tr>
                    <td colspan="20" align="center">
                      <app-no-data></app-no-data>
                    </td>
                  </tr>
                }
              </tbody>
            </table>
          </div>
        </div>
        <div class="cmmnTblFtr">
          <app-table-select
            [componentName]="componentName"
            [rowsPerPage]="rowsPerPage"
            [rowsPerPageOptions]="rowsPerPageOptions"
            (rowsPerPageChange)="onPageSizeChange($event)"
          />
          <app-table-pagination
            [componentName]="componentName"
            [currentPage]="currentPage"
            [totalRecords]="totalRecords"
            [rowsPerPage]="rowsPerPage"
            (pageChange)="onPageChange($event)"
          />
        </div>
      </div>
    </div>
  </div>
</ng-container>

<ng-container *ngIf="showDetailView">
  <!-- <app-table-view-card
    [title]="selectedTenant?.first_name + ' ' + selectedTenant?.last_name"
    [imgSrc]="selectedTenant?.profile_image"
    [headerItems]="[
      { label: 'Contact', value: selectedTenant?.contact_number },
      { label: 'Email', value: selectedTenant?.email },
    ]"
    [items]="[
      { label: 'Emirates ID:', value: selectedTenant?.emirate_id },
      { label: 'Nationality', value: selectedTenant?.nationality },
      { label: 'Tenant No', value: selectedTenant?.tenant_number },
      { label: 'Passport Self', value: selectedTenant?.passport_self || '--' },
      {
        label: 'Passport For Family Member (If any)',
        value: selectedTenant?.passport_family_member || '--',
      },
      { label: 'Passport Expiry', value: selectedTenant?.passport_expiry },
      { label: 'Employment Proof', value: selectedTenant?.employment_proof },
      { label: 'Visa Expiry', value: selectedTenant?.visa_expiry },
      { label: 'Visa Self', value: selectedTenant?.visa_self || '--' },
      {
        label: 'Visa For Family Member (If any)',
        value: selectedTenant?.visa_family_member || '--',
      },
    ]"
    (back)="handleBackClick()"
  >
    <app-table-action-btn
      header-actions
      type="rejectOrange"
      (clicked)="handleRejectClick()"
    />
    <app-table-action-btn
      header-actions
      type="approve"
      (clicked)="handleApproveClick()"
    />
  </app-table-view-card>

  <div class="mt-3">
    <app-white-card title="All Documents">
      <div class="commonTabs">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
          <li class="nav-item" role="presentation">
            <button
              class="nav-link active"
              id="emiratesID-tab"
              data-bs-toggle="tab"
              data-bs-target="#emiratesID-tab-pane"
              type="button"
              role="tab"
              aria-controls="emiratesID-tab-pane"
              aria-selected="true"
            >
              Emirates ID
            </button>
          </li>
          <li class="nav-item" role="presentation">
            <button
              class="nav-link"
              id="passportSelf-tab"
              data-bs-toggle="tab"
              data-bs-target="#passportSelf-tab-pane"
              type="button"
              role="tab"
              aria-controls="passportSelf-tab-pane"
              aria-selected="false"
            >
              Passport(self)
            </button>
          </li>
          <li class="nav-item" role="presentation">
            <button
              class="nav-link"
              id="passportFamily-tab"
              data-bs-toggle="tab"
              data-bs-target="#passportFamily-tab-pane"
              type="button"
              role="tab"
              aria-controls="passportFamily-tab-pane"
              aria-selected="false"
            >
              Passport(Family)
            </button>
          </li>
          <li class="nav-item" role="presentation">
            <button
              class="nav-link"
              id="employmentProof-tab"
              data-bs-toggle="tab"
              data-bs-target="#employmentProof-tab-pane"
              type="button"
              role="tab"
              aria-controls="employmentProof-tab-pane"
              aria-selected="false"
            >
              Employment Proof
            </button>
          </li>
          <li class="nav-item" role="presentation">
            <button
              class="nav-link"
              id="visaSelf-tab"
              data-bs-toggle="tab"
              data-bs-target="#visaSelf-tab-pane"
              type="button"
              role="tab"
              aria-controls="visaSelf-tab-pane"
              aria-selected="false"
            >
              Visa(self)
            </button>
          </li>
          <li class="nav-item" role="presentation">
            <button
              class="nav-link"
              id="visaFamily-tab"
              data-bs-toggle="tab"
              data-bs-target="#visaFamily-tab-pane"
              type="button"
              role="tab"
              aria-controls="visaFamily-tab-pane"
              aria-selected="false"
            >
              Visa(Family)
            </button>
          </li>
          <li class="nav-item" role="presentation">
            <button
              class="nav-link"
              id="bankStatement-tab"
              data-bs-toggle="tab"
              data-bs-target="#bankStatement-tab-pane"
              type="button"
              role="tab"
              aria-controls="bankStatement-tab-pane"
              aria-selected="false"
            >
              Bank Statement
            </button>
          </li>
        </ul>
      </div>
      <div class="commonTabsContent">
        <div class="tab-content" id="myTabContent">
          <div
            class="tab-pane fade show active"
            id="emiratesID-tab-pane"
            role="tabpanel"
            aria-labelledby="emiratesID-tab"
            tabindex="0"
          >
            <div class="row g-2">
              <div
                class="col-auto"
                *ngFor="let item of documentsByType.EMIRATES_ID"
              >
                <app-document-type-item
                  [title]="item.file_name"
                  size="1.2 MB"
                  [fileUrl]="item.data"
                />
              </div>
              <div class="col-auto">
                <app-document-type-item title="dsfds.pdf" size="1.2 MB" />
              </div>
              <div class="col-auto">
                <app-document-type-item title="Marketing.pdf" size="1.2 MB" />
              </div>
              <div class="col-auto">
                <app-document-type-item title="LaunchPlan.pdf" size="1.2 MB" />
              </div>
            </div>
          </div>
          <div
            class="tab-pane fade"
            id="passportSelf-tab-pane"
            role="tabpanel"
            aria-labelledby="passportSelf-tab"
            tabindex="0"
          >
            <div class="row g-2">
              <div class="col-auto">
                <app-document-type-item title="Contract.pdf" size="1.2 MB" />
              </div>
              <div class="col-auto">
                <app-document-type-item title="Finances.png" size="1.2 MB" />
              </div>
              <div class="col-auto">
                <app-document-type-item title="Marketing.pdf" size="1.2 MB" />
              </div>
              <div class="col-auto">
                <app-document-type-item title="LaunchPlan.pdf" size="1.2 MB" />
              </div>
            </div>
          </div>
          <div
            class="tab-pane fade"
            id="passportFamily-tab-pane"
            role="tabpanel"
            aria-labelledby="passportFamily-tab"
            tabindex="0"
          >
            <div class="row g-2">
              <div class="col-auto">
                <app-document-type-item title="Contract.pdf" size="1.2 MB" />
              </div>
              <div class="col-auto">
                <app-document-type-item title="Finances.png" size="1.2 MB" />
              </div>
              <div class="col-auto">
                <app-document-type-item title="Marketing.pdf" size="1.2 MB" />
              </div>
              <div class="col-auto">
                <app-document-type-item title="LaunchPlan.pdf" size="1.2 MB" />
              </div>
            </div>
          </div>
          <div
            class="tab-pane fade"
            id="employmentProof-tab-pane"
            role="tabpanel"
            aria-labelledby="employmentProof-tab"
            tabindex="0"
          >
            <div class="row g-2">
              <div class="col-auto">
                <app-document-type-item title="Contract.pdf" size="1.2 MB" />
              </div>
              <div class="col-auto">
                <app-document-type-item title="Finances.png" size="1.2 MB" />
              </div>
              <div class="col-auto">
                <app-document-type-item title="Marketing.pdf" size="1.2 MB" />
              </div>
              <div class="col-auto">
                <app-document-type-item title="LaunchPlan.pdf" size="1.2 MB" />
              </div>
            </div>
          </div>
          <div
            class="tab-pane fade"
            id="visaSelf-tab-pane"
            role="tabpanel"
            aria-labelledby="visaSelf-tab"
            tabindex="0"
          >
            <div class="row g-2">
              <div class="col-auto">
                <app-document-type-item title="Contract.pdf" size="1.2 MB" />
              </div>
              <div class="col-auto">
                <app-document-type-item title="Finances.png" size="1.2 MB" />
              </div>
              <div class="col-auto">
                <app-document-type-item title="Marketing.pdf" size="1.2 MB" />
              </div>
              <div class="col-auto">
                <app-document-type-item title="LaunchPlan.pdf" size="1.2 MB" />
              </div>
            </div>
          </div>
          <div
            class="tab-pane fade"
            id="visaFamily-tab-pane"
            role="tabpanel"
            aria-labelledby="visaFamily-tab"
            tabindex="0"
          >
            <div class="row g-2">
              <div class="col-auto">
                <app-document-type-item title="Contract.pdf" size="1.2 MB" />
              </div>
              <div class="col-auto">
                <app-document-type-item title="Finances.png" size="1.2 MB" />
              </div>
              <div class="col-auto">
                <app-document-type-item title="Marketing.pdf" size="1.2 MB" />
              </div>
              <div class="col-auto">
                <app-document-type-item title="LaunchPlan.pdf" size="1.2 MB" />
              </div>
            </div>
          </div>
          <div
            class="tab-pane fade"
            id="bankStatement-tab-pane"
            role="tabpanel"
            aria-labelledby="bankStatement-tab"
            tabindex="0"
          >
            <div class="row g-2">
              <div class="col-auto">
                <app-document-type-item title="Contract.pdf" size="1.2 MB" />
              </div>
              <div class="col-auto">
                <app-document-type-item title="Finances.png" size="1.2 MB" />
              </div>
              <div class="col-auto">
                <app-document-type-item title="Marketing.pdf" size="1.2 MB" />
              </div>
              <div class="col-auto">
                <app-document-type-item title="LaunchPlan.pdf" size="1.2 MB" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </app-white-card> 
  </div>---->

  <app-table-view-card
    title="Requested :Ali Amar"
    [showCloseBtn]="false"
    (back)="handleBackClick()"
  >
    <div header-actions class="column">
      <button type="button" class="btn btnWhite btnCommon rejectBtn">
        {{ "REJECT" | translate }}
      </button>

      <button type="button" class="btn btnWhite btnCommon approveBtn">
        {{ "APPROVE" | translate }}
      </button>
    </div>
    <div rental class="mt-3">
      <div class="tenant-property-card">
        <div class="row">
          <!-- Tenant Details -->
          <div class="col-md-2">
            <p class="section-title">{{ "TENANT_DETAILS" | translate }}</p>

            <h6 class="main-name">ABHRAM</h6>

            <p class="info-text">Addr: P.O. BOX # 95801, Sharjah</p>

            <p class="info-text">Phone: +41-8272829282</p>
          </div>

          <!-- Property Details -->
          <div class="col-md-6">
            <p class="section-title">{{ "PROPERTY_DETAILS" | translate }}</p>

            <h6 class="main-name">KHALEEJA BUILDING | 302</h6>

            <p class="info-text">Period: 01-Sep-2025 TO 31-Aug-2026</p>

            <p class="info-text">Lease No: LV-25-01335</p>

            <p class="info-text">Ref No: P48/LGI-25-13230</p>
          </div>
        </div>
      </div>
    </div>
  </app-table-view-card>
  <div class="mt-3">
    <app-white-card>
      <div class="lease-wrapper">
        <div class="lease-card">
          <!-- Header -->
          <div class="lease-header">
            <h6>{{ "LEASED_UNIT" | translate }}</h6>
            <span class="badge">01</span>
          </div>

          <div class="form-grid row g-3">
            <div class="col-md-6">
              <label class="form-label">{{ "START_DATE" | translate }}</label>
              <app-custom-select
                [width]="'300px'"
                [iconType]="'custom'"
              ></app-custom-select>
            </div>

            <div class="col-md-6">
              <label class="form-label">{{ "END_DATE" | translate }}</label>
              <app-custom-select
                [highlight]="true"
                [width]="'300px'"
                [iconType]="'custom'"
              ></app-custom-select>
            </div>

            <div class="col-md-6">
              <label class="form-label">{{
                "GRACE_START_DATE" | translate
              }}</label>
              <app-custom-select
                [width]="'300px'"
                [iconType]="'custom'"
              ></app-custom-select>
            </div>
            <div class="col-md-6">
              <label class="form-label">{{
                "GRACE_END_DATE" | translate
              }}</label>
              <app-custom-select
                [width]="'300px'"
                [iconType]="'custom'"
              ></app-custom-select>
            </div>
          </div>
        </div>
      </div>
    </app-white-card>
  </div>
  <div class="mt-3">
    <app-white-card>
      <div class="lease-wrapper">
        <div class="lease-card">
          <!-- Header -->
          <div class="lease-header">
            <h6>{{ "AMOUNT_RENT_DETAILS" | translate }}</h6>
            <span class="badge">02</span>
          </div>

          <!-- Form Grid -->
          <div class="form-grid row g-3">
            <div class="col-md-6">
              <label class="form-label">{{
                "ANNUAL_AMOUNT" | translate
              }}</label>
              <input
                type="text"
                class="form-control"
                [placeholder]="'ENTER_HERE' | translate"
                style="width: 300px"
              />
            </div>

            <div class="col-md-6">
              <label class="form-label">{{
                "ACTUAL_ANNUAL_AMOUNT" | translate
              }}</label>
              <input
                type="text"
                class="form-control"
                [placeholder]="'ENTER_HERE' | translate"
                style="width: 300px"
              />
            </div>

            <div class="col-md-6">
              <label class="form-label">{{
                "SECURITY_BOOKING_AMOUNT" | translate
              }}</label>
              <input
                type="text"
                class="form-control"
                [placeholder]="'ENTER_HERE' | translate"
                style="width: 300px"
              />
            </div>
            <div class="col-md-6">
              <label class="form-label">{{
                "MAINTENANCE_CHARGES" | translate
              }}</label>
              <input
                type="text"
                class="form-control"
                [placeholder]="'ENTER_HERE' | translate"
                style="width: 300px"
              />
            </div>

            <div class="col-md-6">
              <label class="form-label">{{ "RENT" | translate }}</label>
              <input
                type="text"
                class="form-control rentHighlight"
                [placeholder]="'AED 1,100.00'"
                style="width: 300px"
              />
            </div>
            <div class="col-md-6">
              <label class="form-label">{{
                "SECURITY_DEPOSIT" | translate
              }}</label>
              <input
                type="text"
                class="form-control"
                [placeholder]="'ENTER_HERE' | translate"
                style="width: 300px"
              />
            </div>
            <div class="col-md-6">
              <label class="form-label">{{
                "COMMISION_IN %" | translate
              }}</label>
              <input
                type="text"
                class="form-control"
                [placeholder]="'ENTER_HERE' | translate"
                style="width: 300px"
              />
            </div>

            <div class="col-md-6">
              <label class="form-label">{{
                "NOTICE_PERIOD" | translate
              }}</label>
              <app-custom-select [width]="'300px'"></app-custom-select>
            </div>

            <div class="col-md-6">
              <label class="form-label">{{
                "CONTRACT_AMOUNT" | translate
              }}</label>
              <input
                type="text"
                class="form-control"
                [placeholder]="'ENTER_HERE' | translate"
                style="width: 300px"
              />
            </div>

            <div class="col-md-6">
              <label class="form-label">{{ "DISCOUNT" | translate }}</label>
              <input
                type="text"
                class="form-control"
                [placeholder]="'ENTER_HERE' | translate"
                style="width: 300px"
              />
            </div>

            <div class="col-md-6">
              <label class="form-label">{{
                "SHELL_AND_CORE" | translate
              }}</label>
              <input
                type="text"
                class="form-control"
                [placeholder]="'ENTER_HERE' | translate"
                style="width: 300px"
              />
            </div>

            <div class="col-md-6">
              <label class="form-label">{{
                "PAYMENT_COUNT" | translate
              }}</label>
              <app-custom-select [width]="'300px'"></app-custom-select>
            </div>
          </div>
        </div>
      </div>
    </app-white-card>
  </div>
  <div class="sectionCardThree mt-3">
    <span class="sectionBadge">03</span>
    <h6 class="otherChargesTitle">
      {{ "OTHER_CHARGES" | translate }}
      <span class="totalLabel">
        <span class="totalText">{{ "TOTAL:" | translate }}</span>
        <span class="currency"
          >AED {{ totalAmount | number: "1.2-2" }}</span
        ></span
      >
    </h6>
    <div class="table-responsive">
      <table class="table charges-table">
        <thead>
          <tr>
            <th>{{ "DESCRIPTION" | translate }}</th>
            <th>{{ "AMOUNT" | translate }}</th>
            <th>{{ "TAX_CODE" | translate }}</th>
            <th>{{ "VAT" | translate }}</th>
            <th>{{ "TOTAL_AMOUNT" | translate }}</th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="let c of charges"
            class="tableRow"
            [ngClass]="{ editMode: c.isEdit }"
          >
            <td>
              <label class="d-flex align-items-center gap-2 mb-0">
                <input
                  type="checkbox"
                  [(ngModel)]="c.checked"
                  [ngModelOptions]="{ standalone: true }"
                />
                {{ c.label }}
              </label>
            </td>
            <td>
              <span
                class="amountText"
                [class.editUnderline]="c.isEdit"
                (click)="editRow(c)"
                >{{ c.amount | number: "1.2-2" }}</span
              >
            </td>
            <td>{{ c.tax }}</td>
            <td>{{ c.vat | number: "1.2-2" }}</td>
            <!-- Action Column  -->
            <td class="totalCell">
              <span class="totalValue">
                {{ c.total | number: "1.2-2" }}
              </span>

              <span class="editIcon" (click)="editRow(c)">
                <ng-container *ngIf="!c.isEdit; else saveBtn">
                  <app-edit-icon></app-edit-icon>
                </ng-container>

                <ng-template #saveBtn>
                  <button
                    class="saveBtn"
                    (click)="saveRow(c); $event.stopPropagation()"
                  >
                    Save
                  </button>
                </ng-template>
              </span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</ng-container>
