<ng-container *ngIf="!showDetailView">
  <div class="cmmnTblOuter">
    <div class="cmmnTblHdr">
      <div class="row g-3 align-items-center">
        <div class="col-md">
          <app-table-title
            [title]="'ALL_OWNERS' | translate"
            [subtitle]="'(' + totalRecords + ')'"
            (onRefresh)="onRefresh()"
          ></app-table-title>
        </div>
        <div class="col-md-auto">
          <div class="d-flex align-items-center gap-2 gap-md-3">
            <app-table-search
              [placeholder]="'SEARCH_HERE' | translate"
              (onValueChange)="searchTextChange($event)"
            />
            <!-- <app-table-filter-btn
              [title]="'FILTER' | translate"
              [hasIcon]="true"
              (clicked)="handleFilterClick()"
            >
              <app-filter-icon />
            </app-table-filter-btn> -->
            <app-table-filter-btn
              [title]="'EXPORT' | translate"
              [hasIcon]="true"
              (clicked)="handleExportClick()"
            >
              <app-export-icon />
            </app-table-filter-btn>
            <app-invite-owner-btn />
          </div>
        </div>
      </div>
    </div>
    <div class="cmmnTblBody">
      <div class="table-responsive">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>
                <button type="button">
                  {{ "OWNER_NAME" | translate }} <i><app-sorting-icon /></i>
                </button>
              </th>
              <th>{{ "CODE" | translate }}</th>
              <th>{{ "CONTACT_NUMBER" | translate }}</th>
              <th>
                <button type="button">
                  {{ "PROPERTIES" | translate }} <i><app-sorting-icon /></i>
                </button>
              </th>
              <th>{{ "EMAIL_ADDRESS" | translate }}</th>
              <th width="200"></th>
            </tr>
          </thead>
          <tbody>
            @for (owner of owners; track $index) {
            <tr>
              <td>
                <app-table-img-item
                  [img]="
                    owner?.profile_image
                      ? owner?.profile_image
                      : '../../../../assets/userDefaultProImg.png'
                  "
                  [clickable]="true"
                  (clicked)="handleViewClick(owner.owner_id)"
                  [title]="owner.first_name + '' + ' ' + owner.last_name"
                />
              </td>
              <td>{{ owner.owner_number || "N/A" }}</td>
              <td>{{ owner.contact_number | maskPhone }}</td>
              <td>
                <app-table-multi-img-item
                  [images]="owner.propertyImages || 'N/A'"
                  size="md"
                ></app-table-multi-img-item>
              </td>
              <td>{{ owner.email }}</td>
              <td align="center">
                <div class="cmmnTblActnBtnDiv">
                  <app-table-action-dropdown
                    [dropdownItems]="documentActions"
                    (actionClicked)="handleDropdownAction($event)"
                  ></app-table-action-dropdown>
                </div>
              </td>
            </tr>
            } @empty {
            <tr>
              <td colspan="20" align="center"><app-no-data></app-no-data></td>
            </tr>
            }
          </tbody>
        </table>
      </div>
    </div>
    <div class="cmmnTblFtr">
      <app-table-select
        [componentName]="componentName"
        [rowsPerPage]="rowsPerPage"
        [rowsPerPageOptions]="rowsPerPageOptions"
        (rowsPerPageChange)="onPageSizeChange($event)"
      />
      <app-table-pagination
        [componentName]="componentName"
        [currentPage]="currentPage"
        [totalRecords]="totalRecords"
        [rowsPerPage]="rowsPerPage"
        (pageChange)="onPageChange($event)"
      />
    </div>
  </div>
</ng-container>

<ng-container *ngIf="showDetailView && selectedOwner">
  <app-table-view-card
    [title]="selectedOwner.full_name"
    [imgSrc]="selectedOwner?.profile_image || ''"
    [headerItems]="[
      { label: 'Contact', value: '+91-' + selectedOwner?.contact_number },
      { label: 'Email', value: selectedOwner.email }
    ]"
    [items]="[
      { label: 'Emirates ID', value: selectedOwner.emirate_id },
      { label: 'Residence Visa', value: selectedOwner.uae_residence_visa },
      { label: 'Trade License', value: selectedOwner.trade_license_number },
      { label: 'Owner Code', value: selectedOwner.owner_code },
      { label: 'Role', value: selectedOwner.role }
    ]"
    (back)="handleBackClick()"
  ></app-table-view-card>

  <div class="cmmnTblOuter mt-3">
    <div class="cmmnTblHdr">
      <div class="row g-3 align-items-center">
        <div class="col-md">
          <app-table-title
            title="Owner Properties"
            [subtitle]="'(' + (selectedOwner?.properties?.length || 0) + ')'"
            (onRefresh)="refreshDetailsView()"
          ></app-table-title>
        </div>
        <div class="col-md-auto">
          <div class="d-flex align-items-center gap-2 gap-md-3">
            <app-table-search placeholder="Search here..." />
            <!-- <app-table-filter-btn
              title="Filter"
              [hasIcon]="true"
              (clicked)="handleFilterClick()"
            >
              <app-filter-icon />
            </app-table-filter-btn> -->

            <app-filter-popup-btn>
              <app-table-filter-btn
                [title]="'FILTER' | translate"
                [hasIcon]="true"
              >
                <app-filter-icon />
              </app-table-filter-btn>

              <ng-container form>
                <form>
                  <div class="row g-3">
                    <div class="col-md-6">
                      <label class="form-label">{{
                        "RENTAL_STATUS" | translate
                      }}</label>
                      <app-custom-select
                        [options]="rentalStatus"
                        key="key"
                        value="value"
                        placeholder="Select rental status"
                        (optionSelected)="selectedrentalstatus = $event"
                      >
                      </app-custom-select>
                    </div>
                  </div>
                </form>
              </ng-container>
              <ng-container action>
                <button
                  type="button"
                  class="btn btnCommon"
                  (click)="removeFilter()"
                >
                  {{ "REMOVE_ALL" | translate }}
                </button>
                <button
                  type="button"
                  class="btn btnCommon"
                  (click)="applyFilter()"
                >
                  {{ "APPLY" | translate }}
                </button>
              </ng-container>
            </app-filter-popup-btn>

            <app-table-filter-btn
              title="Export"
              [hasIcon]="true"
              (clicked)="handleExportInternalTable()"
            >
              <app-export-icon />
            </app-table-filter-btn>
          </div>
        </div>
      </div>
    </div>
    <div class="cmmnTblBody">
      <div class="table-responsive">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Code</th>
              <th>
                <button type="button">
                  Property Name <i><app-sorting-icon /></i>
                </button>
              </th>
              <th>
                <button type="button">
                  Tenant Name <i><app-sorting-icon /></i>
                </button>
              </th>
              <th>Tenancy Status</th>
              <th>Agreement</th>
              <th width="200"></th>
            </tr>
          </thead>
          <tbody>
            @for(property of selectedOwner?.table; track $index){
            <tr>
              <td>{{ property?.property_code || "N/A" }}</td>
              <td>
                <app-table-img-item
                  img="../../assets/property/property-img-default.svg"
                  size="md"
                  [title]="property?.property_name"
                />
              </td>
              <td>{{ property?.tenant_name || "N/A" }}</td>
              <td>{{ property?.tenancy_status || "N/A" }}</td>
              <td align="center">
                <div class="cmmnTblActnBtnDiv">
                  <app-table-action-btn
                    type="download"
                    (clicked)="handleDownloadDocumentClick()"
                  />
                  <app-table-action-btn
                    type="preview"
                    (clicked)="handlePreviewDocumentClick()"
                  />
                </div>
              </td>
              <td align="center">
                <div class="cmmnTblActnBtnDiv">
                  <!-- <app-table-action-btn
                    type="edit"
                    (clicked)="handleEditClick()"
                  />
                  <app-table-action-btn
                    type="delete"
                    (clicked)="handleDeleteClick()"
                  /> -->
                  <app-table-action-dropdown
                    [dropdownItems]="documentActions"
                    (actionClicked)="handleDropdownAction($event)"
                  >
                  </app-table-action-dropdown>
                </div>
              </td>
            </tr>
            }@empty {
            <tr>
              <td colspan="20" align="center"><app-no-data></app-no-data></td>
            </tr>
            }
          </tbody>
        </table>
      </div>
    </div>
    <div class="cmmnTblFtr">
      <app-table-select
        [componentName]="componentName"
        [rowsPerPage]="rowsPerPage"
        [rowsPerPageOptions]="rowsPerPageOptions"
        (rowsPerPageChange)="onPageSizeChange($event)"
      />
      <app-table-pagination
        [componentName]="componentName"
        [currentPage]="currentPage"
        [totalRecords]="totalRecords"
        [rowsPerPage]="rowsPerPage"
        (pageChange)="onPageChange($event)"
      />
    </div>
  </div>
</ng-container>
