<ng-container *ngIf="!showDetailView">
    <div class="cmmnTblOuter">
        <div class="cmmnTblHdr">
            <div class="row g-3 align-items-center">
                <div class="col-md">
                    <app-table-title title="All Owners" subtitle="(240)"></app-table-title>
                </div>
                <div class="col-md-auto">
                    <div class="d-flex align-items-center gap-2 gap-md-3">
                        <app-table-search placeholder="Search here..." />
                        <app-table-filter-btn title="Filter" [hasIcon]="true" (clicked)="handleFilterClick()">
                            <app-filter-icon />
                        </app-table-filter-btn>
                        <app-table-filter-btn title="Export" [hasIcon]="true" (clicked)="handleExportClick()">
                            <app-export-icon />
                        </app-table-filter-btn>
                        <app-table-filter-btn title="Invite Owner" [hasIcon]="true"
                            (clicked)="openInviteOwnerModal(inviteOwnerContent)">
                            <app-invite-icon />
                        </app-table-filter-btn>
                    </div>
                </div>
            </div>
        </div>
        <div class="cmmnTblBody">
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th><button type="button">Owner Name <i><app-sorting-icon /></i></button></th>
                            <th>Code</th>
                            <th>Contact Number</th>
                            <th><button type="button">Properties <i><app-sorting-icon /></i></button></th>
                            <th>Email Address</th>
                            <th width="200"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <app-table-img-item img="../../../../assets/user/user-1.png" title="Jensi"
                                    [clickable]="true" (clicked)="handleViewClick()" />
                            </td>
                            <td>LP9021</td>
                            <td>+91-70******23</td>
                            <td>
                                <app-table-multi-img-item [images]="[
                                    'assets/property/property-list-1.png',
                                    'assets/property/property-list-2.png',
                                    'assets/property/property-list-2.png',
                                    'assets/property/property-list-2.png',
                                    'assets/property/property-list-2.png',
                                    'assets/property/property-list-3.png'
                                ]" size="md">
                                </app-table-multi-img-item>
                            </td>
                            <td>jensi&#64;example.com</td>
                            <td align="center">
                                <div class="cmmnTblActnBtnDiv">
                                    <app-table-action-btn type="edit" (clicked)="handleEditClick()" />
                                    <app-table-action-btn type="delete" (clicked)="handleDeleteClick()" />
                                    <app-table-action-dropdown [dropdownItems]="documentActions"
                                        (actionClicked)="handleDropdownAction($event)">
                                    </app-table-action-dropdown>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <app-table-img-item img="../../../../assets/user/user-2.png" title="Richard"
                                    [clickable]="true" (clicked)="handleViewClick()" />
                            </td>
                            <td>LP8021</td>
                            <td>+91-99******76</td>
                            <td>
                                <app-table-multi-img-item [images]="[
                                    'assets/property/property-list-1.png',
                                    'assets/property/property-list-2.png',
                                    'assets/property/property-list-2.png',
                                    'assets/property/property-list-2.png',
                                    'assets/property/property-list-2.png'
                                ]" size="md">
                                </app-table-multi-img-item>
                            </td>
                            <td>richard&#64;example.com</td>
                            <td align="center">
                                <div class="cmmnTblActnBtnDiv">
                                    <app-table-action-btn type="edit" (clicked)="handleEditClick()" />
                                    <app-table-action-btn type="delete" (clicked)="handleDeleteClick()" />
                                    <app-table-action-dropdown [dropdownItems]="documentActions"
                                        (actionClicked)="handleDropdownAction($event)">
                                    </app-table-action-dropdown>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <app-table-img-item img="../../../../assets/user/user-3.png" title="Thaomas"
                                    [clickable]="true" (clicked)="handleViewClick()" />
                            </td>
                            <td>VC79021</td>
                            <td>+91-89******12</td>
                            <td>
                                <app-table-multi-img-item [images]="[
                                    'assets/property/property-list-1.png',
                                    'assets/property/property-list-2.png',
                                    'assets/property/property-list-2.png',
                                    'assets/property/property-list-2.png',
                                    'assets/property/property-list-2.png',
                                    'assets/property/property-list-2.png'
                                ]" size="md">
                                </app-table-multi-img-item>
                            </td>
                            <td>thomas&#64;example.com</td>
                            <td align="center">
                                <div class="cmmnTblActnBtnDiv">
                                    <app-table-action-btn type="edit" (clicked)="handleEditClick()" />
                                    <app-table-action-btn type="delete" (clicked)="handleDeleteClick()" />
                                    <app-table-action-dropdown [dropdownItems]="documentActions"
                                        (actionClicked)="handleDropdownAction($event)">
                                    </app-table-action-dropdown>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <app-table-img-item img="../../../../assets/user/user-4.png" title="Akshay"
                                    [clickable]="true" (clicked)="handleViewClick()" />
                            </td>
                            <td>VC69021</td>
                            <td>+91-90******45</td>
                            <td>
                                <app-table-multi-img-item [images]="[
                                    'assets/property/property-list-1.png',
                                    'assets/property/property-list-2.png',
                                    'assets/property/property-list-2.png',
                                    'assets/property/property-list-2.png'
                                ]" size="md">
                                </app-table-multi-img-item>
                            </td>
                            <td>akshay&#64;example.com</td>
                            <td align="center">
                                <div class="cmmnTblActnBtnDiv">
                                    <app-table-action-btn type="edit" (clicked)="handleEditClick()" />
                                    <app-table-action-btn type="delete" (clicked)="handleDeleteClick()" />
                                    <app-table-action-dropdown [dropdownItems]="documentActions"
                                        (actionClicked)="handleDropdownAction($event)">
                                    </app-table-action-dropdown>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <app-table-img-item img="../../../../assets/user/user-5.png" title="Avanshi"
                                    [clickable]="true" (clicked)="handleViewClick()" />
                            </td>
                            <td>VC59021</td>
                            <td>+91-78******90</td>
                            <td>
                                <app-table-multi-img-item [images]="[
                                    'assets/property/property-list-1.png',
                                    'assets/property/property-list-2.png',
                                    'assets/property/property-list-2.png',
                                    'assets/property/property-list-2.png',
                                    'assets/property/property-list-2.png',
                                    'assets/property/property-list-2.png',
                                    'assets/property/property-list-2.png',
                                    'assets/property/property-list-2.png'
                                ]" size="md">
                                </app-table-multi-img-item>
                            </td>
                            <td>avanshi&#64;example.com</td>
                            <td align="center">
                                <div class="cmmnTblActnBtnDiv">
                                    <app-table-action-btn type="edit" (clicked)="handleEditClick()" />
                                    <app-table-action-btn type="delete" (clicked)="handleDeleteClick()" />
                                    <app-table-action-dropdown [dropdownItems]="documentActions"
                                        (actionClicked)="handleDropdownAction($event)">
                                    </app-table-action-dropdown>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="cmmnTblFtr">
            <app-table-select />
            <app-table-pagination />
        </div>
    </div>

    <ng-template #inviteOwnerContent let-modal>
        <div class="modal-header">
            <h4 class="modal-title" id="modal-title">Invite Owner</h4>
            <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
        </div>
        <div class="modal-body">
            <app-invite-owner-form />
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btnCommon btnTransparent"
                (click)="modal.dismiss('Save click')">Cancel</button>
            <button type="button" class="btn btnCommon" (click)="modal.close('Save click')"><i><app-send-icon /></i>Send
                Invitation</button>
        </div>
    </ng-template>
</ng-container>

<ng-container *ngIf="showDetailView">
    <app-table-view-card [title]="'Ali Musfiq Rahman'" [imgSrc]="''" [headerItems]="[
            { label: 'Contact', value: '+91-8987898765' },
            { label: 'Email', value: 'owner28@gmail.com' }
        ]" [items]="[
            { label: 'Emirates ID', value: '784198657395715' },
            { label: 'Residence Visa', value: '20120247736538' },
            { label: 'Trade License', value: '247334' },
            { label: 'Owner Code', value: '5621009' },
            { label: 'Role', value: 'Owner'}
        ]" (back)="handleBackClick()"></app-table-view-card>

    <div class="cmmnTblOuter mt-3">
        <div class="cmmnTblHdr">
            <div class="row g-3 align-items-center">
                <div class="col-md">
                    <app-table-title title="Owner Properties" subtitle="(5)"></app-table-title>
                </div>
                <div class="col-md-auto">
                    <div class="d-flex align-items-center gap-2 gap-md-3">
                        <app-table-search placeholder="Search here..." />
                        <app-table-filter-btn title="Filter" [hasIcon]="true" (clicked)="handleExportClick()">
                            <app-filter-icon />
                        </app-table-filter-btn>
                        <app-table-filter-btn title="Export" [hasIcon]="true" (clicked)="handleExportClick()">
                            <app-export-icon />
                        </app-table-filter-btn>
                    </div>
                </div>
            </div>
        </div>
        <div class="cmmnTblBody">
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Code</th>
                            <th><button type="button">Property Name <i><app-sorting-icon /></i></button></th>
                            <th><button type="button">Tenant Name <i><app-sorting-icon /></i></button></th>
                            <th>Tenancy Status</th>
                            <th>Agreement</th>
                            <th width="200"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>LP9021</td>
                            <td>
                                <app-table-img-item img="../../assets/property/property-list-1.png" size="md"
                                    title="Novatis AG..." />
                            </td>
                            <td>N/A</td>
                            <td>Vacant/td>
                            <td align="center">
                                <div class="cmmnTblActnBtnDiv">
                                    <app-table-action-btn type="download" (clicked)="handleDownloadDocumentClick()" />
                                    <app-table-action-btn type="preview" (clicked)="handlePreviewDocumentClick()" />
                                </div>
                            </td>
                            <td align="center">
                                <div class="cmmnTblActnBtnDiv">
                                    <app-table-action-btn type="edit" (clicked)="handleEditClick()" />
                                    <app-table-action-btn type="delete" (clicked)="handleDeleteClick()" />
                                    <app-table-action-dropdown [dropdownItems]="documentActions"
                                        (actionClicked)="handleDropdownAction($event)">
                                    </app-table-action-dropdown>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>LP8021</td>
                            <td>
                                <app-table-img-item img="../../assets/property/property-list-2.png" size="md"
                                    title="Agriculture...." />
                            </td>
                            <td>
                                <app-table-img-item img="../../assets/user/user-2.png" title="Richard" />
                            </td>
                            <td>Occupied</td>
                            <td align="center">
                                <div class="cmmnTblActnBtnDiv">
                                    <app-table-action-btn type="download" (clicked)="handleDownloadDocumentClick()" />
                                    <app-table-action-btn type="preview" (clicked)="handlePreviewDocumentClick()" />
                                </div>
                            </td>
                            <td align="center">
                                <div class="cmmnTblActnBtnDiv">
                                    <app-table-action-btn type="edit" (clicked)="handleEditClick()" />
                                    <app-table-action-btn type="delete" (clicked)="handleDeleteClick()" />
                                    <app-table-action-dropdown [dropdownItems]="documentActions"
                                        (actionClicked)="handleDropdownAction($event)">
                                    </app-table-action-dropdown>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>VC79021</td>
                            <td>
                                <app-table-img-item img="../../assets/property/property-list-2.png" size="md"
                                    title="Honda..." />
                            </td>
                            <td>
                                <app-table-img-item img="../../assets/user/user-3.png" title="Thaomas" />
                            </td>
                            <td>Occupied</td>
                            <td align="center">
                                <div class="cmmnTblActnBtnDiv">
                                    <app-table-action-btn type="download" (clicked)="handleDownloadDocumentClick()" />
                                    <app-table-action-btn type="preview" (clicked)="handlePreviewDocumentClick()" />
                                </div>
                            </td>
                            <td align="center">
                                <div class="cmmnTblActnBtnDiv">
                                    <app-table-action-btn type="edit" (clicked)="handleEditClick()" />
                                    <app-table-action-btn type="delete" (clicked)="handleDeleteClick()" />
                                    <app-table-action-dropdown [dropdownItems]="documentActions"
                                        (actionClicked)="handleDropdownAction($event)">
                                    </app-table-action-dropdown>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>VC69021</td>
                            <td>
                                <app-table-img-item img="../../assets/property/property-list-2.png" size="md"
                                    title="TVS" />
                            </td>
                            <td>
                                <app-table-img-item img="../../assets/user/user-4.png" title="Akshay" />
                            </td>
                            <td>Occupied</td>
                            <td align="center">
                                <div class="cmmnTblActnBtnDiv">
                                    <app-table-action-btn type="download" (clicked)="handleDownloadDocumentClick()" />
                                    <app-table-action-btn type="preview" (clicked)="handlePreviewDocumentClick()" />
                                </div>
                            </td>
                            <td align="center">
                                <div class="cmmnTblActnBtnDiv">
                                    <app-table-action-btn type="edit" (clicked)="handleEditClick()" />
                                    <app-table-action-btn type="delete" (clicked)="handleDeleteClick()" />
                                    <app-table-action-dropdown [dropdownItems]="documentActions"
                                        (actionClicked)="handleDropdownAction($event)">
                                    </app-table-action-dropdown>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>VC59021</td>
                            <td>
                                <app-table-img-item img="../../assets/property/property-list-2.png" size="md"
                                    title="Samsung" />
                            </td>
                            <td>
                                <app-table-img-item img="../../assets/user/user-5.png" title="Avanshi" />
                            </td>
                            <td>Occupied</td>
                            <td align="center">
                                <div class="cmmnTblActnBtnDiv">
                                    <app-table-action-btn type="download" (clicked)="handleDownloadDocumentClick()" />
                                    <app-table-action-btn type="preview" (clicked)="handlePreviewDocumentClick()" />
                                </div>
                            </td>
                            <td align="center">
                                <div class="cmmnTblActnBtnDiv">
                                    <app-table-action-btn type="edit" (clicked)="handleEditClick()" />
                                    <app-table-action-btn type="delete" (clicked)="handleDeleteClick()" />
                                    <app-table-action-dropdown [dropdownItems]="documentActions"
                                        (actionClicked)="handleDropdownAction($event)">
                                    </app-table-action-dropdown>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</ng-container>