.table-responsive {
  overflow-x: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.table-responsive::-webkit-scrollbar {
  display: none;
}

.owners-table thead tr th:last-child,
.owners-table tbody tr td:last-child {
  position: sticky;
  right: 0;
  z-index: 2;
  min-width: 100px;
}

.owners-table thead tr th:last-child {
  z-index: 3;
  background-color: var(--activeBg);
  box-shadow: none;
}

.owners-table tbody tr td:last-child {
  background-color: var(--whiteBg);
  box-shadow: -2px 0 4px var(--table-shadow);
}

.owner-name-link {
  color: var(--link-primary);
  font-weight: 500;
  cursor: pointer;
  text-decoration: none;
}
.owner-name-link:hover {
  text-decoration: underline;
}

.ownerNameClickable {
  cursor: pointer;
}

.table td:last-child::before,
.table th:last-child::before {
  content: "";
  position: absolute;
  top: 0;
  left: -12px;
  width: 12px;
  height: 100%;
  pointer-events: none;

  background: linear-gradient(
    to left,
    var(--gradient-dark),
    var(--gradient-light),
    transparent
  );
}
