<ng-container *ngIf="!showDetailView">
  <div class="cmmnTblOuter">
    <div class="cmmnTblHdr">
      <div class="row g-3 align-items-center">
        <div class="col-md">
          <app-table-title
            [title]="'All_PMC' | translate"
            [subtitle]="'(' + totalRecords + ')'"
            (onRefresh)="onRefresh()"
          ></app-table-title>
        </div>
        <div class="col-md-auto">
          <div class="d-flex align-items-center gap-2 gap-md-3">
            <app-table-search
              placeholder="{{ 'SEARCH_HERE' | translate }}"
              (onValueChange)="searchTextChange($event)"
            />
            <app-table-filter-btn
              [title]="'EXPORT' | translate"
              [hasIcon]="true"
              (clicked)="handleExportClick()"
            >
              <app-export-icon />
            </app-table-filter-btn>
            <app-invite-pmc-btn></app-invite-pmc-btn>
            <app-table-filter-btn
              [title]="'ASSIGN_PROPERTY' | translate"
              (clicked)="openAssignPropertyModal(assignPropertyContent)"
            ></app-table-filter-btn>
          </div>
        </div>
      </div>
    </div>
    <div class="cmmnTblBody">
      <div class="table-responsive">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>{{ "CODE" | translate }}</th>
              <th>{{ "PROPERTY_HANDLING" | translate }}</th>
              <th>{{ "PMC_NAME" | translate }}</th>
              <th>{{ "TENANCY_RATIO" | translate }}</th>
              <th width="200">{{ "ADDRESS" | translate }}</th>
              <th width="200"></th>
            </tr>
          </thead>
          <tbody>
            @for (pmc of pmcList; track $index){
            <tr>
              <td>{{ pmc?.code || "N/A" }}</td>
              <td>{{ pmc?.property_handling || "N/A" }}</td>
              <td class="cursor" (click)="handleViewClick()">
                {{ pmc?.pmc_name || "N/A" }}
              </td>
              <td>{{ pmc?.tenancy_ratio || "N/A" }}</td>
              <td>{{ pmc?.address || "N/A" }}</td>
              <td align="center">
                <div class="cmmnTblActnBtnDiv">
                  <!-- <app-table-action-btn
                    type="edit"
                    (clicked)="handleEditClick()"
                  />
                  <app-table-action-btn
                    type="delete"
                    (clicked)="handleDeleteClick()"
                  /> -->
                  <app-table-action-dropdown
                    [dropdownItems]="documentActions"
                    (actionClicked)="handleDropdownAction($event)"
                  >
                  </app-table-action-dropdown>
                </div>
              </td>
            </tr>
            }@empty {
            <tr>
              <td colspan="20" align="center"><app-no-data></app-no-data></td>
            </tr>
            }
          </tbody>
        </table>
      </div>
    </div>
    <div class="cmmnTblFtr">
      <app-table-select
        [componentName]="componentName"
        [rowsPerPage]="rowsPerPage"
        [rowsPerPageOptions]="rowsPerPageOptions"
        (rowsPerPageChange)="onPageSizeChange($event)"
      />
      <app-table-pagination
        [componentName]="componentName"
        [currentPage]="currentPage"
        [totalRecords]="totalRecords"
        [rowsPerPage]="rowsPerPage"
        (pageChange)="onPageChange($event)"
      />
    </div>
  </div>

  <ng-template #assignPropertyContent let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-title">
        {{ "ASSIGN_PROPERTY" | translate }}
      </h4>
      <button
        type="button"
        class="btn-close"
        aria-label="Close"
        (click)="modal.dismiss('Cross click')"
      ></button>
    </div>
    <div class="modal-body">
      <app-assign-property-form />
    </div>
    <div class="modal-footer">
      <button
        type="button"
        class="btn btnCommon btnTransparent"
        (click)="modal.dismiss('Save click')"
      >
        {{ "CANCEL" | translate }}
      </button>
      <button
        type="button"
        class="btn btnCommon"
        (click)="modal.close('Save click')"
      >
        {{ "ASSIGN_PROPERTY" | translate }}
      </button>
    </div>
  </ng-template>
</ng-container>

<ng-container *ngIf="showDetailView">
  <app-table-view-card
    [title]="'Prestige Builders'"
    [imgSrc]="''"
    [headerItems]="[
      { label: 'Company Code', value: 'VC78012' },
      { label: 'Email', value: 'owner28@gmail.com' }
    ]"
    [items]="[
      { label: 'Phone Number', value: '+97-7007836367' },
      { label: 'Company', value: 'Afc25' },
      { label: 'City', value: 'Bengaluru' },
      { label: 'Locality', value: '' },
      { label: 'Postal Code', value: '5621009' },
      { label: 'Address Line 1', value: 'Koramangala' },
      { label: 'Address Line 2', value: 'Bellandur' }
    ]"
    (back)="handleBackClick()"
  ></app-table-view-card>

  <div class="mt-3">
    <app-white-card title="PMC Documents">
      <div class="row g-2">
        <div class="col-auto">
          <app-document-type-item title="Contract.pdf" size="1.2 MB" />
        </div>
        <div class="col-auto">
          <app-document-type-item title="Finances.pdf" size="1.2 MB" />
        </div>
        <div class="col-auto">
          <app-document-type-item title="Marketing.pdf" size="1.2 MB" />
        </div>
        <div class="col-auto">
          <app-document-type-item title="LaunchPlan.pdf" size="1.2 MB" />
        </div>
      </div>
    </app-white-card>
  </div>
  <div class="cmmnTblOuter mt-3">
    <div class="cmmnTblHdr">
      <div class="row align-items-center">
        <div class="col-md">
          <app-table-title
            title="Properties Assigned"
            subtitle="(5)"
          ></app-table-title>
        </div>
        <div class="col-md-auto">
          <div class="d-flex align-items-center gap-2 gap-md-3">
            <app-table-search placeholder="Search here..." />
            <app-table-filter-btn
              title="Filter"
              [hasIcon]="true"
              (clicked)="handleExportClick()"
            >
              <app-filter-icon />
            </app-table-filter-btn>
            <app-table-filter-btn
              title="Export"
              [hasIcon]="true"
              (clicked)="handleExportClick()"
            >
              <app-export-icon />
            </app-table-filter-btn>
          </div>
        </div>
      </div>
    </div>
    <div class="cmmnTblBody">
      <div class="table-responsive">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Code</th>
              <th>
                <button type="button">
                  Property Name <i><app-sorting-icon /></i>
                </button>
              </th>
              <th>
                <button type="button">
                  Tenant Name <i><app-sorting-icon /></i>
                </button>
              </th>
              <th>Tenancy Status</th>
              <th>Dimension</th>
              <th width="200">Document</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>LP9021</td>
              <td>
                <app-table-img-item
                  img="../../assets/property/property-list-1.png"
                  size="md"
                  title="Novatis AG..."
                />
              </td>
              <td>N/A</td>
              <td>Vacant</td>
              <td>1BHK</td>
              <td align="center">
                <div class="cmmnTblActnBtnDiv">
                  <app-table-action-btn
                    type="download"
                    (clicked)="handleDownloadDocumentClick()"
                  />
                  <app-table-action-btn
                    type="preview"
                    (clicked)="handlePreviewDocumentClick()"
                  />
                </div>
              </td>
            </tr>
            <tr>
              <td>LP8021</td>
              <td>
                <app-table-img-item
                  img="../../assets/property/property-list-2.png"
                  size="md"
                  title="Agriculture...."
                />
              </td>
              <td>
                <app-table-img-item
                  img="../../assets/user/user-2.png"
                  title="Richard"
                />
              </td>
              <td>Occupied</td>
              <td>2BHK</td>
              <td align="center">
                <div class="cmmnTblActnBtnDiv">
                  <app-table-action-btn
                    type="download"
                    (clicked)="handleDownloadDocumentClick()"
                  />
                  <app-table-action-btn
                    type="preview"
                    (clicked)="handlePreviewDocumentClick()"
                  />
                </div>
              </td>
            </tr>
            <tr>
              <td>VC79021</td>
              <td>
                <app-table-img-item
                  img="../../assets/property/property-list-2.png"
                  size="md"
                  title="Honda..."
                />
              </td>
              <td>
                <app-table-img-item
                  img="../../assets/user/user-3.png"
                  title="Thaomas"
                />
              </td>
              <td>Occupied</td>
              <td>5BHK</td>
              <td align="center">
                <div class="cmmnTblActnBtnDiv">
                  <app-table-action-btn
                    type="download"
                    (clicked)="handleDownloadDocumentClick()"
                  />
                  <app-table-action-btn
                    type="preview"
                    (clicked)="handlePreviewDocumentClick()"
                  />
                </div>
              </td>
            </tr>
            <tr>
              <td>VC69021</td>
              <td>
                <app-table-img-item
                  img="../../assets/property/property-list-2.png"
                  size="md"
                  title="TVS"
                />
              </td>
              <td>
                <app-table-img-item
                  img="../../assets/user/user-4.png"
                  title="Akshay"
                />
              </td>
              <td>Occupied</td>
              <td>1RK</td>
              <td align="center">
                <div class="cmmnTblActnBtnDiv">
                  <app-table-action-btn
                    type="download"
                    (clicked)="handleDownloadDocumentClick()"
                  />
                  <app-table-action-btn
                    type="preview"
                    (clicked)="handlePreviewDocumentClick()"
                  />
                </div>
              </td>
            </tr>
            <tr>
              <td>VC59021</td>
              <td>
                <app-table-img-item
                  img="../../assets/property/property-list-2.png"
                  size="md"
                  title="Samsung"
                />
              </td>
              <td>
                <app-table-img-item
                  img="../../assets/user/user-5.png"
                  title="Avanshi"
                />
              </td>
              <td>Occupied</td>
              <td>1BHK</td>
              <td align="center">
                <div class="cmmnTblActnBtnDiv">
                  <app-table-action-btn
                    type="download"
                    (clicked)="handleDownloadDocumentClick()"
                  />
                  <app-table-action-btn
                    type="preview"
                    (clicked)="handlePreviewDocumentClick()"
                  />
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</ng-container>
