<div class="statsCol">
  <div class="statsColHdr">
    <div class="statsColIcon">
      <i>
        <ng-content select="[icon]"></ng-content>
      </i>
      <h5 *ngIf="title">{{ title }}</h5>
    </div>
    <div class="statsColActn">
      <ng-content select="[action]"></ng-content>
    </div>
  </div>
  <div class="statsColBdy">
    <ul>
      <li *ngFor="let item of stats">
        <div class="statItem">
          <h4>
            {{ item.value }}

            <span *ngIf="item.badge" class="badge" [ngClass]="item.badgeClass">
              {{ item.badge }}
            </span>

            <!-- EXTRA TEXT -->
            <small *ngIf="item.extra" [ngClass]="item.extraClass">
              {{ item.extra }}
            </small>
          </h4>
          <h6>{{ item.label }}</h6>
        </div>
      </li>
    </ul>
  </div>
</div>
