<ng-container *ngIf="!showDetailView">
  <div class="cmmnTblOuter">
    <div class="cmmnTblHdr">
      <div class="row g-3 align-items-center">
        <div class="col-md">
          <app-table-title
            [title]="'All Properties & Tenants' | translate"
            [subtitle]="'(' + totalRecords + ')'"
            (onRefresh)="onRefresh()"
          ></app-table-title>
        </div>
        <div class="col-md-auto">
          <div class="d-flex align-items-center gap-2 gap-md-3">
            <app-table-search [placeholder]="'SEARCH_HERE' | translate" />

            <app-table-filter-btn
              [title]="'FILTER' | translate"
              [hasIcon]="true"
            >
              <app-filter-icon />
            </app-table-filter-btn>

            <app-table-filter-btn
              [title]="'EXPORT' | translate"
              [hasIcon]="true"
            >
              <app-export-icon />
            </app-table-filter-btn>
          </div>
        </div>
      </div>
    </div>
    <div class="cmmnTbl">
      <div class="table-responsive">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Property ID</th>
              <th>
                Property Name <i><app-sorting-icon></app-sorting-icon></i>
              </th>

              <th>Blocks /Tower</th>
              <th>Unit</th>
              <th>Tenant Name</th>
              <th>Agreement Status</th>
              <th>Dimension</th>
              <th>Property Status</th>
              <th>PMC</th>
              <th>Rental Amount(AED)</th>
              <th>Rera Index(AED)</th>
              <th>Platfrom</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>133</td>
              <td>
                <app-table-img-item
                  [img]="'assets/property/property-img-1.png'"
                  [title]="'Novastis AG'"
                />
              </td>
              <td>A</td>
              <td>A102</td>
              <td>
                <app-table-img-item
                  [img]="'assets/property/property-img-1.png'"
                  [title]="'Jenshin'"
                />
              </td>

              <td>
                <app-badge title="Ongoing" status="green"></app-badge>
              </td>
              <td>1BHK</td>
              <td>
                <app-badge title="Occupied" status="green"></app-badge>
              </td>
              <td>3g real estate</td>
              <td>
                <app-rental-amount [amount]="1200" [percentage]="12">
                </app-rental-amount>
              </td>
              <td>1,300.00</td>
              <td align="center">--</td>
              <td align="center">
                <div class="tbl-action-inline">
                  <app-edit-icon></app-edit-icon>

                  <div class="cmmnTblActnBtnDiv">
                    <app-table-action-dropdown
                      [dropdownItems]="documentActions"
                      (actionClicked)="handleDropdownAction($event)"
                    >
                    </app-table-action-dropdown>
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <td>133</td>
              <td>
                <app-table-img-item
                  [img]="'assets/property/property-img-1.png'"
                  [title]="'Novastis AG'"
                />
              </td>
              <td>A</td>
              <td>A102</td>
              <td>
                <app-table-img-item
                  [img]="'assets/property/property-img-1.png'"
                  [title]="'Jenshin'"
                />
              </td>

              <td>
                <app-badge title="Ongoing" status="green"></app-badge>
              </td>
              <td>1BHK</td>
              <td>
                <app-badge title="Occupied" status="green"></app-badge>
              </td>
              <td>3g real estate</td>
              <td>
                <app-rental-amount [amount]="1200" [percentage]="12">
                </app-rental-amount>
              </td>
              <td>1,300.00</td>
              <td align="center">--</td>
              <td align="center">
                <div class="tbl-action-inline">
                  <app-edit-icon></app-edit-icon>

                  <div class="cmmnTblActnBtnDiv">
                    <app-table-action-dropdown
                      [dropdownItems]="documentActions"
                      (actionClicked)="handleDropdownAction($event)"
                    >
                    </app-table-action-dropdown>
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <td>133</td>
              <td>
                <app-table-img-item
                  [img]="'assets/property/property-img-1.png'"
                  [title]="'Novastis AG'"
                />
              </td>
              <td>A</td>
              <td>A102</td>
              <td>
                <app-table-img-item
                  [img]="'assets/property/property-img-1.png'"
                  [title]="'Jenshin'"
                />
              </td>

              <td>
                <app-badge title="Ongoing" status="green"></app-badge>
              </td>
              <td>1BHK</td>
              <td>
                <app-badge title="Occupied" status="green"></app-badge>
              </td>
              <td>3g real estate</td>
              <td>
                <app-rental-amount [amount]="1200" [percentage]="12">
                </app-rental-amount>
              </td>
              <td>1,300.00</td>
              <td align="center">--</td>
              <td align="center">
                <div class="tbl-action-inline">
                  <app-edit-icon></app-edit-icon>

                  <div class="cmmnTblActnBtnDiv">
                    <app-table-action-dropdown
                      [dropdownItems]="documentActions"
                      (actionClicked)="handleDropdownAction($event)"
                    >
                    </app-table-action-dropdown>
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <td>133</td>
              <td>
                <app-table-img-item
                  [img]="'assets/property/property-img-1.png'"
                  [title]="'Novastis AG'"
                />
              </td>
              <td>A</td>
              <td>A102</td>
              <td>
                <app-table-img-item
                  [img]="'assets/property/property-img-1.png'"
                  [title]="'Jenshin'"
                />
              </td>

              <td>
                <app-badge title="Ongoing" status="green"></app-badge>
              </td>
              <td>1BHK</td>
              <td>
                <app-badge title="Occupied" status="green"></app-badge>
              </td>
              <td>3g real estate</td>
              <td>
                <app-rental-amount [amount]="1200" [percentage]="12">
                </app-rental-amount>
              </td>
              <td>1,300.00</td>
              <td align="center">--</td>
              <td align="center">
                <div class="tbl-action-inline">
                  <app-edit-icon></app-edit-icon>

                  <div class="cmmnTblActnBtnDiv">
                    <app-table-action-dropdown
                      [dropdownItems]="documentActions"
                      (actionClicked)="handleDropdownAction($event)"
                    >
                    </app-table-action-dropdown>
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <td>133</td>
              <td>
                <app-table-img-item
                  [img]="'assets/property/property-img-1.png'"
                  [title]="'Novastis AG'"
                />
              </td>
              <td>A</td>
              <td>A102</td>
              <td>
                <app-table-img-item
                  [img]="'assets/property/property-img-1.png'"
                  [title]="'Jenshin'"
                />
              </td>

              <td>
                <app-badge title="Ongoing" status="green"></app-badge>
              </td>
              <td>1BHK</td>
              <td>
                <app-badge title="Occupied" status="green"></app-badge>
              </td>
              <td>3g real estate</td>
              <td>
                <app-rental-amount [amount]="1200" [percentage]="12">
                </app-rental-amount>
              </td>
              <td>1,300.00</td>
              <td align="center">
                <img src="assets/platfrom/platfrom-1.png" />

                <img src="assets/platfrom/platfrom-2.png" />
                <img src="assets/icons/property-finder.svg" />
              </td>
              <td align="center">
                <div class="tbl-action-inline">
                  <app-edit-icon></app-edit-icon>

                  <div class="cmmnTblActnBtnDiv">
                    <app-table-action-dropdown
                      [dropdownItems]="documentActions"
                      (actionClicked)="handleDropdownAction($event)"
                    >
                    </app-table-action-dropdown>
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="cmmnTblFtr">
      <app-table-select
        [componentName]="componentName"
        [rowsPerPage]="rowsPerPage"
        [rowsPerPageOptions]="rowsPerPageOptions"
        (rowsPerPageChange)="onPageSizeChange($event)"
      />
      <app-table-pagination
        [componentName]="componentName"
        [currentPage]="currentPage"
        [totalRecords]="totalRecords"
        [rowsPerPage]="rowsPerPage"
        (pageChange)="onPageChange($event)"
      />
    </div>
  </div>
</ng-container>
