<div class="cmnStepLayout">
  <div class="cmnStepLayoutLft">
    <div class="cmnStepNav">
      <app-white-card [title]="leftCardTitle">
        <h6>{{ "CONFIGURATIONS" | translate }}</h6>
        <ul>
          <li
            *ngFor="let step of filteredSteps; let i = index"
            [class.active]="i === currentStep"
          >
            <button type="button" (click)="goToStep(i)">
              <!--[disabled]="getStatus(i) === 'LOCKED' || getStatus(i) === 'READY'" -->
              <span>{{ step.title }}</span>
              <i *ngIf="i < currentStep">
                <img
                  src="../../../../assets/completeIcon.gif"
                  width="20"
                  height="20"
                  [alt]="step.title"
                />
              </i>
            </button>
          </li>
        </ul>
      </app-white-card>
    </div>
  </div>

  <div class="cmnStepLayoutRght">
    <ng-container *ngFor="let group of stepGroups; let i = index">
      <ng-container *ngIf="i === currentStep">
        <app-white-card>
          <div class="cmnStepFrmHdr mb-4">
            <app-card-title
              [title]="group.main.pageTitle"
              [description]="group.main.description"
              [blockCount]="group.main.blockCount"
            >
            </app-card-title>
            <span class="blockCount" *ngIf="i === 1">
              {{ totalBlocks }}
            </span>
            <div class="stepActionBtns">
              <button
                type="button"
                class="bulkUploadBtn"
                *ngIf="group.main.showBulkUpload"
                (click)="openBulkUploadModal(bulkuploadContent)"
              >
                <i class="uploadIcon"
                  ><app-download-icon></app-download-icon
                ></i>
                Bulk Uploads
              </button>
              <button
                type="button"
                class="btnWhite btnCommon"
                *ngIf="group.main.showEditButton"
                (click)="nextStep()"
              >
                {{ "Add/Edit Fields" | translate }}
              </button>
              <button
                type="button"
                class="btn btnCommon"
                *ngIf="i < stepGroups.length - 1"
                (click)="nextStep()"
              >
                {{ "SAVE_&_NEXT" | translate }}
              </button>

              <button
                type="button"
                class="btn btnCommon"
                *ngIf="i === stepGroups.length - 1"
                (click)="nextStep()"
              >
                {{ finishButtonText }}
              </button>
              <button class="closeBtn">
                <app-circular-cross-btn-icon></app-circular-cross-btn-icon>
              </button>
            </div>
          </div>
          <div class="cmnStepFrmOuter">
            <app-dash-form>
              <ng-container
                *ngTemplateOutlet="group.main.content"
              ></ng-container>
            </app-dash-form>
          </div>
        </app-white-card>

        <ng-container *ngFor="let sub of group.sub">
          <div class="mt-3">
            <app-white-card>
              <div class="cmnStepFrmHdr mb-4">
                <app-card-title
                  [title]="sub.title"
                  [description]="sub.description"
                ></app-card-title>
                @if (sub.showInvitePmcBtn) {
                  <app-invite-pmc-btn />
                }
                @if (sub.showInviteOwnerBtn) {
                  <app-invite-owner-btn />
                }
              </div>
              <div class="cmnStepFrmOuter">
                <app-dash-form>
                  <ng-container *ngTemplateOutlet="sub.content"></ng-container>
                </app-dash-form>
              </div>
            </app-white-card>
          </div>
        </ng-container>
      </ng-container>
    </ng-container>
  </div>
</div>

<!-----------bulk model ----------------------------------------->

<ng-template #bulkuploadContent let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-title">
      {{ "Bulk Upload" | translate }}
    </h4>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    ></button>
  </div>
  <div class="modal-body">
    <app-bulk-upload
      [columns]="bulkColumns"
      (dataImported)="onBulkDataReady($event)"
    />
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btnCommon btnTransparent"
      (click)="modal.dismiss('Cancel click')"
    >
      {{ "CANCEL" | translate }}
    </button>
    <button
      type="button"
      class="btn btnCommon"
      (click)="onBulkUploadConfirm(modal)"
    >
      {{ "Upload" | translate }}
    </button>
  </div>
</ng-template>
