<svg
  width="16"
  height="16"
  viewBox="0 0 16 16"
  fill="none"
  xmlns="http://www.w3.org/2000/svg"
>
  <path
    d="M2 14V5.33333L8 2L14 5.33333V14"
    stroke="currentColor"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
  <path d="M1.33301 14H14.6663" stroke="currentColor" stroke-linecap="round" />
  <rect
    x="6"
    y="9.33203"
    width="4"
    height="4.66667"
    stroke="currentColor"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
  <rect
    x="3.33301"
    y="6.66797"
    width="2.33333"
    height="2"
    stroke="currentColor"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
  <rect
    x="10.333"
    y="6.66797"
    width="2.33333"
    height="2"
    stroke="currentColor"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
