.receipt-actions {
  position: absolute;
  right: 60px;
  top: 7px;
  display: flex;
  gap: 15px;
}

.icon-btn {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 18px;
  color: var(--iconColor);
}

.icon-btn:hover {
  color: var(--iconHoverColor);
}
