<div class="page-header">
  <h3>
    {{ isEditMode ? ("EDIT" | translate) : ("ADD_RENTAL_ACCOUNT" | translate) }}
  </h3>
  <div class="actions">
    <button
      class="btn-primary btnCommon"
      (click)="isEditMode ? onSaveChanges() : onEdit()"
    >
      {{
        isEditMode
          ? ("SAVE_CHANGES" | translate)
          : ("UPDATE_ACCOUNT" | translate)
      }}
    </button>
    <span class="close" (click)="onClose()">×</span>
  </div>
</div>

<!-- <div class="card"> -->
<app-white-card>
  <form [formGroup]="rentalForm">
    <div class="form-grid">
      <div class="photo-upload">
        <div class="circle">
          <i><app-upload-icon /></i>
        </div>
        <label>{{ "TENANT_PHOTO" | translate }} <span>*</span></label>
        <small>Max 5MB, PNG</small>
      </div>

      <div class="mb-0">
        <label for="assignedProperty" class="form-label"
          >{{ "LEASE" | translate }}<span>*</span></label
        >
        <app-custom-select
          [options]="assignedPropertyList"
          key="key"
          value="value"
          [placeholder]="'SELECT_PROPERTY' | translate"
          [selectedOption]="selectedAssignedProperty"
          (optionSelected)="onAssignedPropertySelected($event)"
          (click)="onLinkPropertyClick()"
        >
          <!-- (click)="handleFilterClick()" -->
        </app-custom-select>
      </div>

      <div>
        <label>{{ "TENANT_NAME" | translate }} <span>*</span></label>
        <app-custom-select> </app-custom-select>
      </div>

      <div>
        <label>{{ "EMAIL_ADDRESS" | translate }} <span>*</span></label>
        <input
          type="email"
          [placeholder]="'ENTER_EMAIL_HERE' | translate"
          formControlName="email"
        />
      </div>

      <div>
        <label>{{ "CONTACT_NUMBER" | translate }} <span>*</span></label>
        <div class="phone">
          <select class="code">
            <option>+91</option>
          </select>
          <input type="text" formControlName="contact_number" />
        </div>
      </div>

      <div>
        <label class="form-label"
          >{{ "PERIOD_FROM" | translate }}<span>*</span></label
        >
        <div class="datePicker">
          <input
            class="form-control"
            placeholder="YYYY-MM-DD"
            ngbDatepicker
            #startDate="ngbDatepicker"
            formControlName="periodFrom"
          />
          <button type="button" (click)="startDate.toggle()">
            <app-date-icon />
          </button>
        </div>
        @if (isInvalid(rentalForm, "periodFrom").status) {
          <small class="errorMsg">
            {{ isInvalid(rentalForm, "periodFrom").msg }}
          </small>
        }
      </div>
      <div>
        <label class="form-label"
          >{{ "PERIOD_TO" | translate }}<span>*</span></label
        >
        <div class="datePicker">
          <input
            class="form-control"
            placeholder="YYYY-MM-DD"
            ngbDatepicker
            #endDate="ngbDatepicker"
            formControlName="periodTo"
          />
          <button type="button" (click)="endDate.toggle()">
            <app-date-icon />
          </button>
        </div>
        @if (isInvalid(rentalForm, "periodTo").status) {
          <small class="errorMsg">
            {{ isInvalid(rentalForm, "periodTo").msg }}
          </small>
        }
      </div>

      <div>
        <label>{{ "UNIT_TYPE" | translate }} <span>*</span></label>
        <app-custom-select> </app-custom-select>
      </div>

      <div>
        <label>{{ "RENT" | translate }} <span>*</span></label>
        <input
          type="text"
          [placeholder]="'ENTER_AMOUNT' | translate"
          formControlName="rent"
        />
      </div>
    </div>
  </form>
</app-white-card>
<!-- </div> -->

<div class="mb-3 d-xl-none">
  <div class="row align-items-center justify-content-between g-3">
    <div class="col-auto"></div>
  </div>
</div>

<div class="cmmnTblOuter mt-3">
  <div class="cmmnTblHdr">
    <div class="row g-3 align-items-center">
      <div class="col-md">
        <app-table-title
          [title]="'BANKS_AND_CHEQUES' | translate"
          [subtitle]="'(' + totalRecords + ')'"
        ></app-table-title>
      </div>
      <div class="col-md-auto">
        <div class="d-flex btnCommons align-items-center">
          <button
            type="button"
            class="btn"
            (click)="openScanChargesModal(addChargesContent)"
          >
            <app-plus-icon></app-plus-icon>
            {{ "ADD_CHEQUE" | translate }}
          </button>
          <span>|</span>
          <button type="button" class="btn">
            <app-scannericon></app-scannericon>
            {{ "SCAN_CHEQUE" | translate }}
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="cmmnTblBody">
    <div class="table-responsive">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>{{ "BANK_NAME" | translate }}</th>
            <th>
              <button type="button">
                {{ "BANK_ACCOUNT" | translate }}
              </button>
            </th>
            <th>{{ "CHEQUE_NUMBER" | translate }}</th>
            <th>{{ "CHEQUE_DATE" | translate }}</th>
            <th>{{ "PAYMENT_TYPE" | translate }}</th>
            <th width="200">{{ "PURPOSE" | translate }}</th>
            <th width="200">{{ "AMOUNT" | translate }}</th>
            <th width="200">{{ "STATUS" | translate }}</th>
          </tr>
        </thead>

        <tbody>
          @for (row of rentalPayments; track $index) {
            <tr>
              <td>
                <select class="form-control">
                  <option value="">{{ row.bank || "Select Bank" }}</option>
                </select>
              </td>

              <td>
                <input
                  type="text"
                  class="form-control"
                  [value]="row.bank_account"
                />
              </td>

              <td>
                <input
                  type="text"
                  class="form-control"
                  [value]="row.cheque_number"
                />
              </td>

              <td>
                <input
                  type="date"
                  class="form-control"
                  [value]="row.cheque_date | date: 'yyyy-MM-dd'"
                />
              </td>

              <td>
                {{ row.payment_type?.value || "-" }}
              </td>

              <td>
                {{ row.purpose || "-" }}
              </td>

              <td>
                {{ row.amount }}
              </td>

              <td>
                {{ row.status }}
              </td>
            </tr>
          } @empty {
            <tr>
              <td colspan="8" class="text-center">No records found</td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  </div>
  <div class="cmmnTblFtr">
    <app-table-select
      [componentName]="componentName"
      [rowsPerPage]="rowsPerPage"
      [rowsPerPageOptions]="rowsPerPageOptions"
      (rowsPerPageChange)="onPageSizeChange($event)"
    />
    <app-table-pagination
      [componentName]="componentName"
      [currentPage]="currentPage"
      [totalRecords]="totalRecords"
      [rowsPerPage]="rowsPerPage"
      (pageChange)="onPageChange($event)"
    />
  </div>
</div>
<!----other chnagres section ------------------------------------------------------------------------------------->
<div class="mb-3 d-xl-none">
  <div class="row align-items-center justify-content-between g-3">
    <div class="col-auto"></div>
  </div>
</div>

<div class="cmmnTblOuter mt-3">
  <div class="cmmnTblHdr">
    <div class="row g-3 align-items-center">
      <div class="col-md">
        <app-table-title
          [title]="'OTHER_CHARGES' | translate"
        ></app-table-title>
      </div>
      <div class="col-md-auto">
        <div class="d-flex align-items-center gap-2 gap-md-3">
          <button
            class="btnCommonsx"
            (click)="openAddChargesModal(addChargesContent)"
          >
            {{ "ADD_CHARGES" | translate }}
          </button>
          <button class="btn total-btn">
            {{ "TOTAL" | translate }} : {{ totalAmount | number: "1.0-0" }}
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="cmmnTblBody">
    <div class="table-responsive">
      <table class="charges-table">
        <thead>
          <tr>
            <th>{{ "DESCRIPTION" | translate }}</th>
            <th>
              {{ "AMOUNT" | translate }}
            </th>
            <th>{{ "TAX_CODE" | translate }}</th>
            <th>{{ "VAT" | translate }}</th>
            <th>{{ "TOTAL_AMOUNT" | translate }}</th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let c of charges">
            <td>
              <label class="checkbox">
                <input type="checkbox" [(ngModel)]="c.checked" />
                <span class="desc-cell"></span>
                {{ c.label }}
              </label>
            </td>
            <td>{{ c.amount | number: "1.2-2" }}</td>
            <td>{{ c.tax }}</td>
            <td>{{ c.vat | number: "1.2-2" }}</td>
            <td>{{ c.total | number: "1.2-2" }}</td>
          </tr>
        </tbody>
      </table>

      <ng-template #addChargesContent let-modal>
        <div class="modal-header">
          <h6 class="modal-title" id="modal-title" *ngIf="!showReason">
            {{ "ADD_CHARGES" | translate }}
          </h6>
          <h6 class="modal-title" id="modal-title" *ngIf="showReason">
            {{ "ADD_CHEQUES" | translate }}
          </h6>
          <button
            type="button"
            class="btn-close"
            aria-label="Close"
            (click)="modal.dismiss('Cross click')"
          ></button>
        </div>

        <div class="modal-body">
          <div class="d-flex align-items-center gap-2 mb-3" *ngIf="!showReason">
            <span>{{ "CHEQUE" | translate }}</span>
            <app-toggleicon></app-toggleicon>
            <!-- <div class="form-check form-switch">
              <input
                class="form-check-input"
                type="checkbox"
                role="switch"
                id="cashSwitch"
                (change)="onPaymentToggle($event)"
              />
            </div> -->

            <span>{{ "CASH" | translate }}</span>
          </div>

          <div class="row g-3 mb-3">
            <div class="col-md-4">
              <label class="form-label">{{ "AMOUNT" | translate }}</label>
              <input type="text" class="form-control" placeholder="11,000" />
            </div>

            <div class="col-md-4">
              <label class="form-label">{{ "BANK" | translate }}</label>
              <select class="form-select">
                <option>EIB</option>
              </select>
            </div>

            <div class="col-md-4">
              <label class="form-label">{{
                "ACCOUNT_NUMBER" | translate
              }}</label>
              <input type="text" class="form-control" value="89475639" />
            </div>
          </div>

          <div *ngIf="!isCash">
            <label class="form-label">{{ "CHEQUE" | translate }}</label>

            <div class="input-group">
              <input
                type="text"
                class="form-control"
                [placeholder]="'ENTER_NUMBER_HERE' | translate"
              />

              <button class="btn btn-outline">
                <app-scannericon></app-scannericon>
                {{ "SCAN" | translate }}
              </button>
            </div>
            <div class="mt-3" *ngIf="showReason">
              <div class="mt-3">
                <label class="form-label d-block mb-2">{{
                  "REASON_FOR_ADDING" | translate
                }}</label>
                <div class="d-flex align-items-center gap-3">
                  <span>{{ "RENT" | translate }}</span>
                  <!-- <div class="form-check form-switch mb-0">
                    <input
                      type="checkbox"
                      class="form-check-input"
                      id="reasonSwitch"
                      [(ngModel)]="isOtherCharges"
                    />
                  </div> -->
                  <app-toggleicon></app-toggleicon>
                  <span>{{ "OTHER_CHARGES" | translate }}</span>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="modal-footer">
          <button class="btn btnPrimary btnCommon" (click)="addCharge(modal)">
            {{ "ADD_CHEQUE" | translate }}
          </button>
        </div>
      </ng-template>
    </div>
  </div>
</div>
