<!-- Platform -->
<div class="platform-row">
  <span class="label">Platform</span>

  <div class="platform">
    <span
      ><img
        src="assets/platfrom/platfrom-1.png"
        style="width: 65px; height: 37px"
    /></span>
  </div>
</div>

<!-- Tenant Details -->
<div class="section tenant-section">
  <div class="section-title">Tenant Details</div>

  <div class="details-grid">
    <div class="item">
      <label>Name :</label>
      <p>Ali Aman</p>
    </div>

    <div class="item">
      <label>Email :</label>
      <p>Ali"&#64;"gmail.com</p>
    </div>

    <div class="item">
      <label>Contact :</label>
      <p>+41-7822829927</p>
    </div>

    <div class="item">
      <label>Status:</label>
      <p>Interested</p>
    </div>
  </div>
</div>

<!-- Property Details -->
<div class="section property-section">
  <div class="section-title">Property Details</div>

  <div class="details-grid">
    <div class="item">
      <label>Name:</label>
      <p>Property 1</p>
    </div>

    <div class="item">
      <label>Block / Tower :</label>
      <p>BlockA</p>
    </div>

    <div class="item">
      <label>Unit :</label>
      <p>302</p>
    </div>

    <div class="item">
      <label>Rent:</label>
      <p>AED345.00</p>
    </div>
  </div>
</div>
