.statusWrapper {
  position: relative;
  width: fit-content;
}

.statusText {
  cursor: pointer;
  padding: 10px;
  transition: 0.2s;

  width: 158px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.statusText:hover {
  color: var(--status-text-color);
  font-weight: 500;
  background-color: var(--status-hover-bg);
  border-radius: 10px;
}

.status-green {
  background-color: var(--status-green);
  color: var(--status-text-color);
  border-radius: 10px;
  font-weight: 500;
}
.status-orange {
  background-color: var(--status-orange);
  color: var(--status-text-color);
  border-radius: 10px;
  font-weight: 500;
}
.status-grey {
  background-color: var(--status-grey);
  color: var(--status-text-color);
  border-radius: 10px;
  font-weight: 500;
}
.status-yellow {
  background-color: var(--status-yellow);
  color: var(--status-text-color);
  border-radius: 10px;
  font-weight: 500;
}

.status-green:hover {
  filter: brightness(1.1);
  background-color: var(--status-green);
}
.status-orange:hover {
  filter: brightness(1.1);
  background-color: var(--status-orange);
}
.status-grey:hover {
  filter: brightness(1.1);
  background-color: var(--status-grey);
}
.status-yellow:hover {
  filter: brightness(1.1);
  background-color: var(--status-yellow);
}

.dropdownItem:hover {
  background: var(--dropdown-hover-bg);
}

.arrowIcon {
  opacity: 0;
  transition: 0.2s;
}

.statusText:hover .arrowIcon,
.status-green .arrowIcon,
.status-orange .arrowIcon,
.status-grey .arrowIcon,
.status-yellow .arrowIcon {
  opacity: 1;
}
.report-top-bar {
  gap: 12px;
}
.dropdownMenu {
  position: absolute;
  top: 35px;
  left: 0;
  width: 180px;
  background: var(--dropdown-bg);
  border-radius: 10px;
  box-shadow: 0 6px 18px var(--dropdown-shadow);
  z-index: 10;

  display: flex; /* 👈 add */
  flex-direction: column; /* 👈 add */
  gap: 6px; /* 👈 THIS gives space */
  padding: 6px; /* 👈 outer spacing */
}

.report-top-bar {
  gap: 12px;
}
.dropdownItem {
  display: flex; /* 🔥 add */
  align-items: center; /* 🔥 center align */
  gap: 8px; /* 🔥 icon-text gap */

  padding: 10px 12px;
  cursor: pointer;
  border-radius: 6px;
  border: none;
}
