.statusWrapper {
  position: relative;
  width: fit-content;
}

.statusText {
  cursor: pointer;
  padding: 10px;
  transition: 0.2s;
}

.statusText:hover {
  color: white;
  font-weight: 500;
  background-color: #1f6ed4;
  border-radius: 10px;
}

.dropdownMenu {
  position: absolute;
  top: 35px;
  left: 0;
  width: 180px;
  background: white;
  border-radius: 10px;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.15);
  overflow: hidden;
  z-index: 10;
}

.dropdownItem {
  padding: 12px 14px;
  border-bottom: 1px solid #eee;
  cursor: pointer;
}

.dropdownItem:hover {
  background: #f5f7fb;
}

.arrowIcon {
  opacity: 0;
  transition: 0.2s;
}

.statusText:hover .arrowIcon {
  opacity: 1;
}
