<div class="bank-statement-upload">
  <input
    type="file"
    accept=".csv"
    (change)="onFileSelect($event)"
    [disabled]="uploading"
  />

  <button
    type="button"
    class="btn btn-primary"
    [disabled]="!selectedFile || uploading"
    (click)="upload()"
  >
    {{ uploading ? 'Uploading…' : 'Upload' }}
  </button>

  <p *ngIf="resultMessage">
    {{ resultMessage }}
    <ng-container *ngIf="createdCount !== null">
      ({{ createdCount }} created)
    </ng-container>
  </p>
</div>
