<app-modal-form-card>
  <form [formGroup]="assignedPrpertyForm">
    <div class="mb-3">
      <label for="myProperty" class="form-label"
        >{{ "MY_PROPERTY" | translate }}<span>*</span></label
      >
      <app-custom-select
        [options]="myPropertyList"
        key="key"
        value="value"
        formControlName="myProperty"
      ></app-custom-select>
      @if (isInvalid(assignedPrpertyForm, 'myProperty').status) {
      <small class="errorMsg">
        {{ isInvalid(assignedPrpertyForm, "myProperty").msg }}
      </small>
      }
    </div>
    <div class="mb-0">
      <label for="pmc" class="form-label"
        >{{ "PMC" | translate }}<span>*</span></label
      >
      <app-custom-select
        [options]="pmcList"
        key="key"
        value="value"
        formControlName="pmc"
      ></app-custom-select>
      @if (isInvalid(assignedPrpertyForm, 'pmc').status) {
      <small class="errorMsg">
        {{ isInvalid(assignedPrpertyForm, "pmc").msg }}
      </small>
      }
    </div>
  </form>
</app-modal-form-card>
