.upload-section {
  background: #fff;
  border: 1px solid #dee2e6;
  border-radius: 8px;
  padding: 16px;
  transition: all 0.2s ease-in-out;
}

.uploaded-file {
  background-color: var(--muteBg);
  border-radius: 8px;
}

.uploaded-file + .uploaded-file {
  margin-top: 8px;
}

.frmBtns {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.accordion-item {
  border: hidden;
  border-radius: 8px;
  overflow: hidden;
}
.authFrmCol {
  position: relative;
  background-color: var(--whiteBg);
  padding: 24px;
  border-radius: 16px;
  box-shadow: 4px 4px 15px 0 #0000004d;
  width: 800px;
  max-width: 100%;
  margin: 0 auto;
}

.accordion-button {
  background-color: #e7f1ff;
  font-weight: 10;
}

.accordion-button:not(.collapsed) {
  background-color: #d6e9ff;
}

.accordion-button:focus {
  box-shadow: none;
  border-color: #0d6efd;
}

.accordion-body {
  background-color: #fff;
}

.custom-shadow {
  box-shadow: 0 4px 6px rgba(190, 187, 187, 0.8);
}
.btn-wide {
  width: 120px;
}

.custom-width-card {
  width: 600px !important;
  max-width: 100%;
  margin: auto;
}
.upload-box.card {
  cursor: pointer;
  border-radius: 0.5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s, box-shadow 0.2s;

  width: 180px;
  height: 85px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  box-sizing: border-box;
}

.upload-box.card:hover {
  transform: translateY(-2px);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.15);
}

.upload-boxes {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: center;
}

.custom-width-height {
  width: 600px;
  height: 500px;
}
.icon-btn {
  border: none;
  background: transparent;
  padding: 0;
  margin: 0 0.25rem;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
