<div class="change-password-popup p-3">
  <div class="popup-title mb-3 bold-title fw-bold justify-content-between">
    Change Password

    <button
      type="button"
      class="close-btn justify-content-end"
      (click)="close()"
    >
      <app-cross-icon />
    </button>
  </div>

  <form [formGroup]="changePasswordForm">
    <div class="row g-3">
      <div class="col-12">
        <label class="form-label">Current Password</label>

        <div class="iconInput password">
          <i><app-password-icon /></i>
          <input
            type="password"
            [type]="showConfirmPassword ? 'text' : 'password'"
            class="form-control"
            formControlName="oldPassword"
            placeholder="Enter your Current password"
            name="oldPassword"
          />
          <i class="right" (click)="toggleConfirmPasswordVisibility()">
            <app-password-show-icon
              *ngIf="!showConfirmPassword"
            ></app-password-show-icon>
            <app-password-hide-icon
              *ngIf="showConfirmPassword"
            ></app-password-hide-icon>
          </i>
        </div>
      </div>
      <div class="col-12">
        <label class="form-label">New Password</label>
        <div class="iconInput password">
          <i><app-password-icon /></i>
          <input
            type="password"
            [type]="showConfirmPassword ? 'text' : 'password'"
            class="form-control"
            formControlName="newPassword"
            placeholder="Enter your New password"
            name="newPassword"
          />
          <i class="right" (click)="toggleConfirmPasswordVisibility()">
            <app-password-show-icon
              *ngIf="!showConfirmPassword"
            ></app-password-show-icon>
            <app-password-hide-icon
              *ngIf="showConfirmPassword"
            ></app-password-hide-icon>
          </i>
        </div>
      </div>
      <div class="col-12">
        <label class="form-label">Confirm Password</label>

        <div class="iconInput password">
          <i><app-password-icon /></i>
          <input
            type="password"
            [type]="showConfirmPassword ? 'text' : 'password'"
            class="form-control"
            formControlName="confirmPassword"
            placeholder="Enter Confirm password"
            name="confirmPassword"
          />
          <i class="right" (click)="toggleConfirmPasswordVisibility()">
            <app-password-show-icon
              *ngIf="!showConfirmPassword"
            ></app-password-show-icon>
            <app-password-hide-icon
              *ngIf="showConfirmPassword"
            ></app-password-hide-icon>
          </i>
        </div>
      </div>
      <div class="actions-end">
        <button type="button" class="btn btnCommon" (click)="applyChange()">
          Save
        </button>
      </div>
    </div>
  </form>
</div>
