<div class="change-password-popup p-3">
  <div class="popup-title mb-3 bold-title fw-bold justify-content-between">
    Change Password

    <button
      type="button"
      class="close-btn justify-content-end"
      (click)="close()"
    >
      <app-cross-icon />
    </button>
  </div>

  <form [formGroup]="changePasswordForm">
    <div class="row g-3">
      <div class="col-12">
        <label class="form-label">Current Password</label>
        <div class="iconInput password">
          <i><app-password-icon /></i>
          <input
            [type]="showCurrentPassword ? 'text' : 'password'"
            class="form-control"
            autocomplete="current-password"
            formControlName="oldPassword"
            placeholder="Enter your current password"
          />
          <i class="right" (click)="showCurrentPassword = !showCurrentPassword">
            <app-password-show-icon *ngIf="!showCurrentPassword" />
            <app-password-hide-icon *ngIf="showCurrentPassword" />
          </i>
        </div>
        @if (changePasswordForm.get('oldPassword')?.touched && changePasswordForm.get('oldPassword')?.hasError('required')) {
          <small class="errorMsg">Current password is required</small>
        }
      </div>

      <div class="col-12">
        <label class="form-label">New Password</label>
        <div class="iconInput password">
          <i><app-password-icon /></i>
          <input
            [type]="showNewPassword ? 'text' : 'password'"
            class="form-control"
            formControlName="newPassword"
            placeholder="Enter your new password (min 6 chars)"
            autocomplete="new-password"
          />
          <i class="right" (click)="showNewPassword = !showNewPassword">
            <app-password-show-icon *ngIf="!showNewPassword" />
            <app-password-hide-icon *ngIf="showNewPassword" />
          </i>
        </div>
        @if (changePasswordForm.get('newPassword')?.touched) {
          @if (changePasswordForm.get('newPassword')?.hasError('required')) {
            <small class="errorMsg">New password is required</small>
          } @else if (changePasswordForm.get('newPassword')?.hasError('minlength')) {
            <small class="errorMsg">Password must be at least 6 characters</small>
          }
        }
      </div>

      <div class="col-12">
        <label class="form-label">Confirm Password</label>
        <div class="iconInput password">
          <i><app-password-icon /></i>
          <input
            [type]="showConfirmPassword ? 'text' : 'password'"
            class="form-control"
            formControlName="confirmPassword"
            placeholder="Re-enter your new password"
            autocomplete="new-password"
          />
          <i class="right" (click)="showConfirmPassword = !showConfirmPassword">
            <app-password-show-icon *ngIf="!showConfirmPassword" />
            <app-password-hide-icon *ngIf="showConfirmPassword" />
          </i>
        </div>
        @if (changePasswordForm.get('confirmPassword')?.touched && changePasswordForm.get('confirmPassword')?.hasError('required')) {
          <small class="errorMsg">Please confirm your new password</small>
        } @else if (changePasswordForm.touched && changePasswordForm.hasError('passwordMismatch')) {
          <small class="errorMsg">Passwords do not match</small>
        }
      </div>
      <div class="actions-end">
        <button type="button" class="btn btnCommon" (click)="applyChange()" [disabled]="changePasswordForm.invalid">
          Save
        </button>
      </div>
    </div>
  </form>
</div>
