<div class="mb-3">
  <app-white-card>
    <app-payments-info-card
      [overallAmountPaid]="overallAmountPaid"
      [monthlyRent]="monthlyRent"
      [maintenanceCharges]="maintenanceCharges"
      [dueTime]="dueTime"
      [lastDate]="lastDate"
    >
      <app-custom-select
        [options]="[
          'Property Name: All',
          'Property Name: Novatis AG...',
          'Property Name: Agriculture',
          'Property Name: Honda',
          'Property Name: TVS',
          'Property Name: Samsung',
        ]"
        [placeholder]="selected"
        [selectedOption]="selected"
        (optionSelected)="onOptionSelected($event)"
        [isGrey]="true"
      >
      </app-custom-select>
    </app-payments-info-card>

    <div rental class="other-charges-box mt-3">
      <h6 class="section-title">{{ "OTHER_CHARGES" | translate }}</h6>

      <div class="charges-grid">
        <div class="charge-item">
          <label>Admin Fee <span>VAT &#64;5%</span></label>
          <small>32.71 + 1.64</small>
          <strong>34.35</strong>
        </div>

        <div class="charge-item">
          <label>Ejari Charge Disb... <span>VAT &#64;5%</span></label>
          <small>175.65 + 1.64</small>
          <strong>175.65</strong>
        </div>

        <div class="charge-item">
          <label>Gas Charges <span>VAT &#64;5%</span></label>
          <small>1,000.00 + 50.00</small>
          <strong>1,050.00</strong>
        </div>

        <div class="charge-item">
          <label>Commission - Dubai <span>VAT &#64;5%</span></label>
          <small>1,200.00 + 60.00</small>
          <strong>1,260.00</strong>
        </div>

        <div class="charge-item">
          <label>Security Deposit <span>VAT &#64;nill</span></label>
          <small>2,400.00 + 0.00</small>
          <strong>2,400.00</strong>
        </div>
      </div>

      <div class="payment-info">
        <div>
          <label>{{ "STATUS" | translate }}</label>
          <span class="paid">Paid</span>
        </div>

        <div>
          <label>{{ "PAYMENT_TYPE" | translate }}</label>
          <strong>Cheque</strong>
        </div>

        <div>
          <label>{{ "CHEQUE_NUMBER" | translate }}</label>
          <strong>6738398268291</strong>
        </div>

        <div>
          <label>{{ "TOTAL_AMOUNT" | translate }}</label>
          <strong>11,260.00</strong>
        </div>
      </div>
    </div>
  </app-white-card>
</div>

<div class="cmmnTblOuter">
  <div class="cmmnTblHdr">
    <div class="row align-items-center">
      <div class="col-md">
        <app-table-title
          title="{{ 'RECENT_PAYMENTS/INVOICE' | translate }}"
          [subtitle]="'(' + totalRecords + ')'"
          (onRefresh)="onRefresh()"
        ></app-table-title>
      </div>
      <div class="col-md-auto">
        <div class="d-flex align-items-center gap-2 gap-md-3">
          <app-table-search [placeholder]="'SEARCH_HERE' | translate" />
          <app-table-filter-btn
            [title]="'FILTER' | translate"
            [hasIcon]="true"
            (clicked)="handleFilterClick()"
          >
            <app-filter-icon />
          </app-table-filter-btn>
          <app-table-filter-btn
            [title]="'EXPORT' | translate"
            [hasIcon]="true"
            (clicked)="handleExportClick()"
          >
            <app-export-icon />
          </app-table-filter-btn>
        </div>
      </div>
    </div>
  </div>

  <div class="cmmnTbl">
    <div class="table-responsive">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>{{ "TRANSACTION_ID" | translate }}</th>
            <th>
              {{ "BANK_NAME" | translate }}
            </th>
            <th>
              {{ "BANK_ACCOUNT" | translate }}
            </th>
            <th>{{ "CHEQUE_NUMBER" | translate }}</th>
            <th>{{ "CHEQUE_DATE" | translate }}</th>
            <th>{{ "PAYMENT_TYPE" | translate }}</th>
            <th>{{ "PURPOSE" | translate }}</th>
            <th>{{ "STATUS" | translate }}</th>
            <th>{{ "AMOUNT" | translate }}</th>
            <th>{{ "ACTION" | translate }}</th>
          </tr>
        </thead>
        <tbody *ngIf="invoiceList.length > 0">
          <ng-container *ngFor="let invoice of invoiceList">
            <tr *ngFor="let transaction of invoice.transactions">
              <td>{{ transaction.code || "-" }}</td>

              <td>{{ transaction.origin_bank_name || "-" }}</td>

              <td>{{ transaction.origin_account_number || "-" }}</td>

              <td>{{ transaction.cheque_number || "-" }}</td>

              <td>{{ transaction.cheque_date | date: "dd/MM/yyyy" }}</td>

              <td>{{ transaction.payment_type || "-" }}</td>

              <td>{{ transaction.description || "-" }}</td>

              <td>
                {{ transaction.status }}
              </td>

              <td>{{ transaction.total | number: "1.2-2" }}</td>

              <td align="center">
                <div class="cmmnTblActnBtnDiv">
                  <app-table-action-btn
                    type="download"
                    (clicked)="handleDownloadClick()"
                  >
                  </app-table-action-btn>

                  <app-table-action-btn
                    type="preview"
                    (clicked)="handlePreviewClick()"
                  >
                  </app-table-action-btn>
                </div>
              </td>
            </tr>
          </ng-container>
        </tbody>

        <tbody *ngIf="invoiceList.length === 0">
          <tr>
            <td colspan="10">
              <app-no-data></app-no-data>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="cmmnTblFtr">
    <app-table-select
      [componentName]="componentName"
      [rowsPerPage]="rowsPerPage"
      [rowsPerPageOptions]="rowsPerPageOptions"
      (rowsPerPageChange)="onPageSizeChange($event)"
    />
    <app-table-pagination
      [componentName]="componentName"
      [currentPage]="currentPage"
      [totalRecords]="totalRecords"
      [rowsPerPage]="rowsPerPage"
      (pageChange)="onPageChange($event)"
    />
  </div>
</div>
