<div class="pdfDcmntItem" (click)="onClick()">
  <i>
    <img [src]="icon" [alt]="title" />
  </i>
  <div>
    <span>{{ title }}</span>
    <span>{{ subtitle }}</span>
    <em *ngIf="size">{{ size }}</em>
  </div>
  <span *ngIf="showReplace" class="replace-wrap">
    <span class="replace-text">Replace</span>
    <span class="replace-icon">⚠</span>
  </span>
</div>

<div *ngIf="status !== 'none'" class="status-wrap">
  <span
    [ngClass]="{
      'status-icon check': status === 'success',
      'status-icon warn': status === 'warning',
    }"
  >
    {{ status === "success" ? "✔" : "⚠" }}
  </span>
</div>
