body {
  background: #2f2f2f;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    sans-serif;
}

.invoice-page {
  width: 820px;
  margin: 30px auto;
  background: #fff;
  padding: 24px;
  border-radius: 6px;
}

.invoice-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #e5e7eb;
  padding-bottom: 12px;
}

.logo {
  font-weight: 700;
  color: #0b3c8c;
}

.invoice-title h2 {
  margin: 0;
  color: #19438c;
  font-weight: bold;
}

.info-row {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
  gap: 16px;
}

.info-box {
  font-size: 13px;
  line-height: 1.5;
}

.info-box.right {
  text-align: right;
}

.brand img {
  width: 225px;
  height: 78px;
}
.totals {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.summary {
  text-align: right;
}

.summary .grand {
  background: #1e3a8a;
  color: #fff;
  padding: 6px 10px;
  border-radius: 6px;
  margin-top: 6px;
}

.payment {
  background: #f3f4f6;
  padding: 12px;
  margin-top: 20px;
  font-size: 13px;
  border-radius: 6px;
}

.invoice-footer {
  margin-top: 28px;
  font-size: 12px;
  color: #374151;
}

/* TOP SECTION */
.footer-top {
  display: flex;
  justify-content: space-between;
  gap: 24px;
}

.terms {
  width: 65%;
}

.terms h4 {
  margin-bottom: 6px;
  font-size: 12px;
  font-weight: 700;
}

.terms p {
  line-height: 1.6;
  margin-bottom: 6px;
}

/* SIGNATURE */
.signature {
  width: 30%;
  text-align: right;
}

.sign-img {
  font-family: "Brush Script MT", cursive;
  font-size: 22px;
  margin-bottom: 6px;
}

.signature .name {
  font-weight: 600;
  font-size: 21px;
}

.signature .role {
  font-size: 11px;
  color: #0a0a0b;
}

/* NOTE */
.footer-note {
  text-align: center;
  font-size: 11px;
  margin: 16px 0;
  color: #6b7280;
}

/* BOTTOM BAR */
.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #e5e7eb;
  padding-top: 10px;
  font-size: 11px;
  color: #374151;
}

.sign {
  text-align: right;
}

/*header tabel-------------------------------------------*/
.invoice-table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  font-size: 13px;
}

/* HEADER ROW */
.invoice-table thead tr {
  background: #1e3a8a;
}

/* HEADER CELLS */
.invoice-table th {
  color: #fff;
  padding: 10px 12px;
  font-weight: 500;
  text-align: center;
  border-right: 2px solid #ffffff40;
}

/* LEFT ROUND */
.invoice-table th:first-child {
  text-align: left;
  padding-left: 14px;
  border-top-left-radius: 14px;
  border-bottom-left-radius: 14px;
}

/* RIGHT ROUND */
.invoice-table th:last-child {
  border-right: none;
  border-top-right-radius: 14px;
  border-bottom-right-radius: 14px;
}

/* BODY CELLS */
.invoice-table td {
  padding: 10px 8px;
  border-bottom: 1px solid #e5e7eb;
  text-align: center;
}

.invoice-table td:first-child {
  text-align: left;
}

/*invoice-info-card-----------------------------------------*/
.invoice-info {
  display: flex;
  gap: 32px;
  background: #f5f7f8;
  padding: 20px;
  border-radius: 8px;
  font-size: 13px;
  color: #374151;
  margin-top: 38px;
  margin-bottom: 38px;
}

/* LEFT & MIDDLE */
.info-col {
  flex: 1;
}

.info-col h5 {
  margin: 0 0 6px;
  font-size: 13px;
  font-weight: 600;
  color: #6b7280;
}

.info-col p {
  margin: 3px 0;
}

.info-col .bold {
  font-weight: 700;
  color: #111827;
}

/* RIGHT WHITE CARD */
.info-card {
  width: 260px;
  background: #ffffff;
  border-radius: 14px;
  padding: 14px 16px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}

.info-card p {
  margin: 6px 0;
  color: #374151;
}

.info-card strong {
  color: #111827;
}
.payment p {
  color: #536c76;
}

:host ::ng-deep app-call-icons-new svg,
:host ::ng-deep app-call-icons-new svg * {
  color: #1b448d !important;
}
:host ::ng-deep app-email-icon svg * {
  color: #1b448d;
}

.totals {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 24px;
}

.words {
  max-width: 55%;
}

.words p {
  margin: 4px 0;
  line-height: 1.6;
}

.summary {
  min-width: 260px;
  text-align: right;
}

.summary p {
  margin: 6px 0;
  font-size: 14px;
}

.summary .grand {
  display: inline-block;
  background: #1e3a8a;
  color: #fff;
  padding: 8px 14px;
  border-radius: 8px;
  margin-top: 10px;
  font-weight: 600;
}

.invoice-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 14px;
  border-bottom: 1px solid #e5e7eb;
}

.brand img {
  width: 230px;
  height: auto;
}

/* RIGHT SIDE */
.invoice-title {
  text-align: right;
}

.invoice-title h2 {
  margin: 0;
  font-size: 28px; /* bigger like first image */
  font-weight: 800;
  letter-spacing: 0.5px;
  color: #1e3a8a;
}

.invoice-title p {
  margin-top: 4px;
  font-size: 13px;
  color: #6b7280; /* lighter TRN */
  font-weight: 500;
}
