<div class="invoice-page">
  <div class="invoice-header">
    <div class="brand">
      <img src="assets/tax-invoice logo.png" alt="Doqfy Logo" />
    </div>

    <div class="invoice-title">
      <h2>TAX INVOICE</h2>
      <p>TRN 100300564000003</p>
    </div>
  </div>
  <div class="invoice-info">
    <!-- LEFT -->
    <div class="info-col">
      <h5>Invoice to:</h5>
      <p class="bold">MOHAMMED ALI</p>
      <p>Addr: P.O. BOX # 95801, Sharjah</p>
      <p>Phone: +41-827282982</p>
      <p>TRN: 100300564000003</p>
    </div>

    <!-- MIDDLE -->
    <div class="info-col">
      <h5>Property Details:</h5>
      <p class="bold">CRESCENT TOWER | 505</p>
      <p>Period: 01-Sep-2025 TO 31-Aug-2026</p>
      <p>Lease No: LV-25-01335</p>
      <p>Ref No: P48/LGI-25-13230</p>
    </div>

    <!-- RIGHT CARD -->
    <div class="info-card">
      <p><strong>Invoice No: LGI-25-09-00821</strong></p>

      <p><strong>Prepared By:</strong> AURANGZAIB</p>
      <p><strong>Invoice Date:</strong> 02-Sep-2025</p>
      <p><strong>Due Date:</strong> 02-Sep-2025</p>
    </div>
  </div>

  <table class="invoice-table">
    <thead>
      <tr>
        <th>Description</th>
        <th>Quantity</th>
        <th>Rate</th>
        <th>Amount</th>
        <th>VAT</th>
        <th>VAT Amount</th>
        <th>Total</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Rent for the Period [Sep-2025 - Oct-2025]</td>
        <td>1</td>
        <td>14,576.20</td>
        <td>14,576.20</td>
        <td>VAT &#64;5%</td>
        <td>728.80</td>
        <td>15,305.00</td>
      </tr>
    </tbody>
  </table>

  <div class="totals">
    <div class="words">
      <p><strong>Amount in words:</strong></p>
      <p>Fifteen Thousand Three Hundred Five Dirhams And Zero Fils</p>
    </div>

    <div class="summary">
      <p>Sub Total: <strong>14,576.20</strong></p>
      <p>VAT Amount: <strong>728.80</strong></p>
      <p class="grand">Grand Total: <strong>15,305.00</strong></p>
    </div>
  </div>

  <div class="payment">
    <p>Payment Method:</p>
    <p><strong>TYPE: CHEQUE</strong></p>
    <p>Cheque No:<strong> 4514736827262</strong></p>
    <p>Transaction ID: <strong> 827289282</strong></p>
  </div>

  <!-- FOOTER -->
  <div class="invoice-footer">
    <!-- TERMS -->
    <div class="footer-top">
      <div class="terms">
        <h4>TERMS & CONDITIONS</h4>
        <p>
          All payments must be settled by the due date specified on this
          invoice, with any late payments subject to a penalty fee as per the
          signed Tenancy Contract. For payments made by cheque, the receipt
          remains valid only upon successful fund realization and any bounced
          cheques will incur standard administrative charges.
        </p>
        <p>
          This invoice is inclusive of 5% VAT in compliance with UAE Federal
          Law, and all disputes shall be subject to the exclusive jurisdiction
          of the UAE courts.
        </p>
      </div>

      <!-- SIGNATURE -->
      <div class="signature">
        <img src="assets/Signature.png" width="83%" />
        <p class="name">Imran ali khan</p>
        <p class="role">Approved By</p>
      </div>
    </div>

    <!-- NOTE -->
    <p class="footer-note">
      Note: This system generated Receipt and does not require any signature
    </p>

    <!-- BOTTOM BAR -->
    <div class="footer-bottom">
      <span
        ><app-location-icon></app-location-icon> Sheikh Zayed Road, P.O Box 825,
        Dubai, United Arab Emirates</span
      >
      <span class="blue-call-icon"
        ><app-call-icons-new></app-call-icons-new> 043390000</span
      >
      <span><app-email-icon></app-email-icon> mail&#64;gmail.com</span>
    </div>
  </div>
</div>
