<ng-container *ngIf="!showDetailView">
  <div class="cmmnTblOuter">
    <div class="cmmnTblHdr">
      <div class="row g-3 align-items-center">
        <div class="col-md">
          <app-table-title
            [title]="'ALL_PROPERTIES' | translate"
            [subtitle]="'(' + totalRecords + ')'"
            (onRefresh)="onRefresh()"
          ></app-table-title>
        </div>
        <div class="col-md-auto">
          <div class="d-flex align-items-center gap-2 gap-md-3">
            <app-table-search [placeholder]="'SEARCH_HERE' | translate" />

            <app-table-filter-btn
              [title]="'FILTER' | translate"
              [hasIcon]="true"
            >
              <app-filter-icon />
            </app-table-filter-btn>

            <app-table-filter-btn
              [title]="'EXPORT' | translate"
              [hasIcon]="true"
            >
              <app-export-icon />
            </app-table-filter-btn>
          </div>
        </div>
      </div>
    </div>

    <div class="cmmnTbl">
      <div class="table-responsive">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Property ID</th>
              <th>
                Property Name <i><app-sorting-icon></app-sorting-icon></i>
              </th>
              <th>Location</th>
              <th>Owner</th>
              <th>Total Blocks /Tower</th>
              <th>Total No of Units</th>
              <th>PMC</th>
              <th>Plot No</th>
              <th>Plot Area(Sqft)</th>
              <th>Makani No</th>
              <th>Dewa No</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>133</td>
              <td>
                <app-table-img-item
                  [img]="'assets/property/property-img-1.png'"
                  [title]="'Novastis AG'"
                />
              </td>
              <td>Al Wasl,Dubai</td>
              <td>Owner1,Owner2</td>
              <td>10</td>
              <td>112</td>
              <td>3g real estate</td>
              <td>123</td>
              <td>12345</td>
              <td>2043***7733</td>
              <td>2043***7733</td>
              <td align="center">
                <div class="tbl-action-inline">
                  <app-edit-icon></app-edit-icon>

                  <div class="cmmnTblActnBtnDiv">
                    <app-table-action-dropdown
                      [dropdownItems]="documentActions"
                      (actionClicked)="handleDropdownAction($event)"
                    >
                    </app-table-action-dropdown>
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <td>12333</td>
              <td>
                <app-table-img-item
                  [img]="'assets/property/property-img-2.png'"
                  [title]="'Siliechi tower'"
                />
              </td>
              <td>Bur Dubai,Dubai</td>
              <td>Owner1</td>
              <td>11</td>
              <td>234</td>
              <td>3g real estate</td>
              <td>455</td>
              <td>234554</td>
              <td>2043***7733</td>
              <td>2043***7755</td>
              <td align="center">
                <div class="tbl-action-inline">
                  <app-edit-icon></app-edit-icon>

                  <div class="cmmnTblActnBtnDiv">
                    <app-table-action-dropdown
                      [dropdownItems]="documentActions"
                      (actionClicked)="handleDropdownAction($event)"
                    >
                    </app-table-action-dropdown>
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <td>1233</td>
              <td>
                <app-table-img-item
                  [img]="'assets/property/property-img-3.png'"
                  [title]="'Jainhailia'"
                />
              </td>
              <td>Al Barshi,Dubai</td>
              <td>Owner1</td>
              <td>24</td>
              <td>112</td>
              <td>3g real estate</td>
              <td>234</td>
              <td>234567</td>
              <td>2043***7733</td>
              <td>2043***7766</td>
              <td align="center">
                <div class="tbl-action-inline">
                  <app-edit-icon></app-edit-icon>

                  <div class="cmmnTblActnBtnDiv">
                    <app-table-action-dropdown
                      [dropdownItems]="documentActions"
                      (actionClicked)="handleDropdownAction($event)"
                    >
                    </app-table-action-dropdown>
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <td>123</td>
              <td>
                <app-table-img-item
                  [img]="'assets/property/property-img-4.png'"
                  [title]="'Property C'"
                />
              </td>
              <td>jumeriah,Dubai</td>
              <td>Owner1</td>
              <td>05</td>
              <td>222</td>
              <td>3g real estate</td>
              <td>125</td>
              <td>3456</td>
              <td>2043***7733</td>
              <td>2043***7788</td>
              <td align="center">
                <div class="tbl-action-inline">
                  <app-edit-icon></app-edit-icon>

                  <div class="cmmnTblActnBtnDiv">
                    <app-table-action-dropdown
                      [dropdownItems]="documentActions"
                      (actionClicked)="handleDropdownAction($event)"
                    >
                    </app-table-action-dropdown>
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <td>134</td>
              <td>
                <app-table-img-item
                  [img]="'assets/property/property-img-5.png'"
                  [title]="'Rithi Tower B'"
                />
              </td>
              <td>Deira,Dubai</td>
              <td>Owner1</td>
              <td>11</td>
              <td>234</td>
              <td>3g real estate</td>
              <td>678</td>
              <td>1200</td>
              <td>2043***7733</td>
              <td>2043***7799</td>
              <td align="center">
                <div class="tbl-action-inline">
                  <app-edit-icon></app-edit-icon>

                  <div class="cmmnTblActnBtnDiv">
                    <app-table-action-dropdown
                      [dropdownItems]="documentActions"
                      (actionClicked)="handleDropdownAction($event)"
                    >
                    </app-table-action-dropdown>
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="cmmnTblFtr">
      <app-table-select
        [componentName]="componentName"
        [rowsPerPage]="rowsPerPage"
        [rowsPerPageOptions]="rowsPerPageOptions"
        (rowsPerPageChange)="onPageSizeChange($event)"
      />
      <app-table-pagination
        [componentName]="componentName"
        [currentPage]="currentPage"
        [totalRecords]="totalRecords"
        [rowsPerPage]="rowsPerPage"
        (pageChange)="onPageChange($event)"
      />
    </div>
  </div>
</ng-container>
