<ng-container *ngIf="!showDetailView">
  <div class="cmmnTblOuter">
    <div class="cmmnTblHdr">
      <div class="row g-3 align-items-center">
        <div class="col-md">
          <app-table-title [title]="'ALL_PROPERTIES' | translate" [subtitle]="'(' + totalRecords + ')'"
            (onRefresh)="onRefresh()"></app-table-title>
        </div>
        <div class="col-md-auto">
          <div class="d-flex align-items-center gap-2 gap-md-3">
            <app-table-search [placeholder]="'SEARCH_HERE' | translate" />

            <app-table-filter-btn [title]="'FILTER' | translate" [hasIcon]="true">
              <app-filter-icon />
            </app-table-filter-btn>

            <app-table-filter-btn [title]="'EXPORT' | translate" [hasIcon]="true">
              <app-export-icon />
            </app-table-filter-btn>
          </div>
        </div>
      </div>
    </div>

    <div class="cmmnTbl">
      <div class="table-responsive">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Property ID</th>
              <th>
                Property Name <i><app-sorting-icon></app-sorting-icon></i>
              </th>
              <th>Location</th>
              <th>Owner</th>
              <th>Total Blocks /Tower</th>
              <th>Total No of Units</th>
              <th>PMC</th>
              <th>Plot No</th>
              <th>Plot Area(Sqft)</th>
              <th>Makani No</th>
              <th>Dewa No</th>
              <th>Platform</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let prop of properties">
              <td>{{ prop.code }}</td>
              <td style="cursor:pointer" (click)="onViewClick(prop.id)">
                <app-table-img-item [img]="prop.thumbnail || 'assets/property/property-img-1.png'" [title]="prop.property_name" />
              </td>
              <td>{{ prop.address_line_1 || '--' }}</td>
              <td>
                <span *ngFor="let o of prop.property_owners; let last = last">
                  {{ o.name || o.email }}<span *ngIf="!last">, </span>
                </span>
                <span *ngIf="!prop.property_owners?.length">--</span>
              </td>
              <td>{{ prop.no_of_blocks }}</td>
              <td>{{ prop.no_of_units }}</td>
              <td>{{ prop.pmc?.value || '--' }}</td>
              <td>{{ prop.plot_no || '--' }}</td>
              <td>{{ prop.land_area ? (prop.land_area + ' ' + prop.land_area_unit) : '--' }}</td>
              <td>{{ prop.makani_no || '--' }}</td>
              <td>{{ prop.dewa_no || '--' }}</td>
              <td>--</td>
              <td align="center">
                <div class="tbl-action-inline">
                  <app-edit-icon (click)="onEditClick(prop.id)"></app-edit-icon>
                  <div class="cmmnTblActnBtnDiv">
                    <app-table-action-dropdown [dropdownItems]="documentActions"
                      (actionClicked)="handleDropdownAction($event)">
                    </app-table-action-dropdown>
                  </div>
                </div>
              </td>
            </tr>
            <tr *ngIf="properties.length === 0">
              <td colspan="13" style="text-align:center; padding: 24px; color: #aaa;">No properties found</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="cmmnTblFtr">
      <app-table-select [componentName]="componentName" [rowsPerPage]="rowsPerPage"
        [rowsPerPageOptions]="rowsPerPageOptions" (rowsPerPageChange)="onPageSizeChange($event)" />
      <app-table-pagination [componentName]="componentName" [currentPage]="currentPage" [totalRecords]="totalRecords"
        [rowsPerPage]="rowsPerPage" (pageChange)="onPageChange($event)" />
    </div>
  </div>
</ng-container>