<ng-container *ngIf="!showDetailView">
  <div class="cmmnTblOuter">
    <div class="cmmnTblHdr">
      <div class="row g-3 align-items-center">
        <div class="col-md">
          <app-table-title
            [title]="'ALL_PROPERTIES' | translate"
            [subtitle]="'(' + totalRecords + ')'"
            (onRefresh)="onRefresh()"
          ></app-table-title>
        </div>
        <div class="col-md-auto">
          <div class="d-flex align-items-center gap-2 gap-md-3">
            <div class="selected-filters d-flex gap-2 flex-wrap">
              <div class="filter-chip" *ngIf="selectedPropertyType">
                {{ selectedPropertyType?.value }}
                <span class="cross-icon" (click)="clearPropertyType()">
                  ✕
                </span>
              </div>

              <div class="filter-chip" *ngIf="selectedStatus">
                {{ selectedStatus?.value }}
                <span class="cross-icon" (click)="clearStatus()"> ✕ </span>
              </div>

              <div class="filter-chip" *ngIf="selectedPMC">
                {{ selectedPMC?.value }}
                <span class="cross-icon" (click)="clearPMC()"> ✕ </span>
              </div>
            </div>
            <app-table-search
              [placeholder]="'SEARCH_HERE' | translate"
              (onValueChange)="searchTextChange($event)"
            />

            <app-filter-popup-btn #filterPopup>
              <ng-container form>
                <div class="row g-3">
                  <div class="col-12">
                    <label class="form-label">{{
                      "PROPERTY_TYPE" | translate
                    }}</label>
                    <app-custom-select
                      [options]="propertyTypeOptions"
                      key="key"
                      value="value"
                      [(ngModel)]="selectedPropertyType"
                      [placeholder]="'SELECT_PROPERTY' | translate"
                      (optionSelected)="filterPropertyType = $event?.key"
                    >
                    </app-custom-select>
                  </div>
                  <div class="col-12">
                    <label class="form-label">{{ "STATUS" | translate }}</label>
                    <app-custom-select
                      [options]="statusOptions"
                      key="key"
                      value="value"
                      [(ngModel)]="selectedStatus"
                      [placeholder]="'SELECT_STATUS' | translate"
                      (optionSelected)="filterStatus = $event?.key"
                    >
                    </app-custom-select>
                  </div>
                  <div class="col-12">
                    <label class="form-label">{{ "PMC" | translate }}</label>
                    <app-custom-select
                      [options]="pmcOptions"
                      key="key"
                      value="value"
                      [(ngModel)]="selectedPMC"
                      [placeholder]="'SELECT_PMC' | translate"
                      (optionSelected)="
                        selectedPMC = $event; filterPMC = $event?.key
                      "
                    >
                    </app-custom-select>
                  </div>
                </div>
              </ng-container>
              <ng-container action>
                <button
                  type="button"
                  class="btn btnCommon"
                  (click)="removeFilter(); filterPopup.closePopup()"
                >
                  {{ "REMOVE_ALL" | translate }}
                </button>
                <button
                  type="button"
                  class="btn btnCommon"
                  (click)="applyFilter(); filterPopup.closePopup()"
                >
                  {{ "APPLY" | translate }}
                </button>
              </ng-container>
            </app-filter-popup-btn>

            <app-table-filter-btn
              [title]="'EXPORT' | translate"
              [hasIcon]="true"
              (clicked)="handleExport()"
            >
              <app-export-icon />
            </app-table-filter-btn>
          </div>
        </div>
      </div>
    </div>

    <div class="cmmnTbl">
      <div class="table-responsive">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>{{ "PROPERTY_ID" | translate }}</th>
              <th style="cursor: pointer" (click)="sort('property_name')">
                {{ "PROPERTY_NAME" | translate
                }}<i><app-sorting-icon></app-sorting-icon></i>
              </th>
              <th style="cursor: pointer" (click)="sort('property_name')">
                {{ "PMC" | translate }}
              </th>
              <th>{{ "LOCATION" | translate }}</th>
              <th>{{ "TOTAL_BLOCKS_TOWERS" | translate }}</th>
              <th>{{ "TOTAL_UNITS" | translate }}</th>
              <th>{{ "PLOT_NO" | translate }}</th>
              <th>{{ "PLOT_AREA" | translate }}</th>
              <th>{{ "DEWA_NO" | translate }}</th>
              <th>{{ "STATUS" | translate }}</th>
              <th>{{ "PLATFORM" | translate }}</th>
              <th>{{ "ACTIONS" | translate }}</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let prop of properties">
              <td>{{ prop.code }}</td>
              <td style="cursor: pointer" (click)="onViewClick(prop.id)">
                <app-table-img-item
                  [img]="prop.thumbnail || 'assets/property/property-img-1.png'"
                  [title]="prop.property_name"
                />
              </td>
              <td>{{ prop.pmc?.value || "--" }}</td>
              <td>{{ prop.address_line_1 || "--" }}</td>
              <td>{{ prop.no_of_blocks }}</td>
              <td>{{ prop.no_of_units }}</td>
              <td>{{ prop.plot_no || "--" }}</td>
              <td>
                {{
                  prop.land_area
                    ? prop.land_area + " " + prop.land_area_unit
                    : "--"
                }}
              </td>
              <td>{{ prop.dewa_no || "--" }}</td>
              <td>
                <span
                  class="badge text-white"
                  [ngClass]="
                    prop.status === 'PUBLIC' ? 'bg-success' : 'bg-secondary'
                  "
                >
                  {{ prop.status === "PUBLIC" ? "Public" : "Draft" }}
                </span>
              </td>
              <td>
                {{ prop.platforms?.join(", ") || "--" }}
              </td>
              <td align="center">
                <div class="tbl-action-inline">
                  <app-edit-icon (click)="onEditClick(prop.id)"></app-edit-icon>
                  <div class="cmmnTblActnBtnDiv">
                    <app-table-action-dropdown
                      [dropdownItems]="documentActions"
                      (actionClicked)="handleDropdownAction($event, prop)"
                    >
                    </app-table-action-dropdown>
                  </div>
                </div>
              </td>
            </tr>
            <tr *ngIf="properties.length === 0">
              <td colspan="13" align="center"><app-no-data /></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="cmmnTblFtr">
      <app-table-select
        [componentName]="componentName"
        [rowsPerPage]="rowsPerPage"
        [rowsPerPageOptions]="rowsPerPageOptions"
        (rowsPerPageChange)="onPageSizeChange($event)"
      />
      <app-table-pagination
        [componentName]="componentName"
        [currentPage]="currentPage"
        [totalRecords]="totalRecords"
        [rowsPerPage]="rowsPerPage"
        (pageChange)="onPageChange($event)"
      />
    </div>
  </div>
</ng-container>
