<div *ngIf="currentRole === 'property-manager'" class="mb-3 d-xl-none">
  <div class="row align-items-center justify-content-between g-3">
    <div class="col">
      <app-dash-title title="Lease" />
    </div>
    <div class="col-auto">
      <button type="button" class="btn btnCommon" (click)="goToAddLease()">
        <i><app-plus-icon /></i>Add Lease
      </button>
    </div>
  </div>
</div>

<div class="cmmnTblOuter">
  <div class="cmmnTblHdr">
    <div class="row g-3 align-items-center">
      <div class="col-md">
        <app-table-title
          [title]="'LEASE/TENANCY' | translate"
          [subtitle]="'(' + totalRecords + ')'"
        ></app-table-title>
      </div>
      <div class="col-md-auto">
        <div class="d-flex align-items-center gap-2 gap-md-3">
          <app-table-search [placeholder]="'SEARCH_HERE' | translate" />
          <app-table-filter-btn
            [title]="'FILTER' | translate"
            [hasIcon]="true"
            (clicked)="handleFilterClick()"
          >
            <app-filter-icon />
          </app-table-filter-btn>
          <app-table-filter-btn
            [title]="'EXPORT' | translate"
            [hasIcon]="true"
            (clicked)="handleExportClick()"
          >
            <app-export-icon />
          </app-table-filter-btn>
        </div>
      </div>
    </div>
  </div>
  <div class="cmmnTblBody">
    <div class="table-responsive">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>{{ "PROPERTY_CODE" | translate }}</th>
            <th>
              <button type="button">
                {{ "AGREEMENT_WITH" | translate }} <i><app-sorting-icon /></i>
              </button>
            </th>
            <th>{{ "CONTACT_NUMBER" | translate }}</th>
            <th>{{ "AGREEMENT START & END DATE" | translate }}</th>
            <th>{{ "STATUS" | translate }}</th>
            <th width="200">{{ "DOCUMENT" | translate }}</th>
          </tr>
        </thead>
        <tbody>
          @for (lease of leaseList; track $index){
          <tr>
            <td>{{ lease.property_code ?? "N/A" }}</td>
            <td>
              <app-table-img-item
                [img]="
                  lease?.tenant?.profile_image ??
                  '../../../../assets/userDefaultProImg.png'
                "
                [title]="lease.tenant.name ?? 'N/A'"
              />
            </td>
            <td>{{ lease?.contact_number ?? "N/A" }}</td>
            <td>
              {{ lease?.lease_start_date | date : "dd/MM/yyyy" }} -
              {{ lease?.lease_end_date | date : "dd/MM/yyyy" }}
            </td>
            <td>
              <app-badge title="Active" status="green" />
            </td>
            <td align="center">
              <div class="cmmnTblActnBtnDiv">
                <app-table-action-btn
                  type="edit"
                  (clicked)="handleEditClick(lease.id)"
                />
                <app-table-action-btn
                  type="download"
                  (clicked)="handleDownloadClick()"
                />
                <app-table-action-btn
                  type="preview"
                  (clicked)="handlePreviewClick()"
                />
              </div>
            </td>
          </tr>
          }@empty {
          <tr>
            <td colspan="20" align="center"><app-no-data></app-no-data></td>
          </tr>
          }
        </tbody>
      </table>
    </div>
  </div>
  <div class="cmmnTblFtr">
    <app-table-select
      [componentName]="componentName"
      [rowsPerPage]="rowsPerPage"
      [rowsPerPageOptions]="rowsPerPageOptions"
      (rowsPerPageChange)="onPageSizeChange($event)"
    />
    <app-table-pagination
      [componentName]="componentName"
      [currentPage]="currentPage"
      [totalRecords]="totalRecords"
      [rowsPerPage]="rowsPerPage"
      (pageChange)="onPageChange($event)"
    />
  </div>
</div>
