<div class="infrmtnHdr mb-3">
  <h3>{{ "PRIVACY_POLICY" | translate }}</h3>
  <p>
    {{ "PRIVACY_POLICY_UPDATE" | translate }}
  </p>
  <p>
    {{ "PRIVACY_POLICY_SUMMARY_NOTE" | translate }}
  </p>
</div>

<app-white-card>
  <div class="infrmtnBody">
    <div class="infrmtnLft">
      <h4>{{ "POLICY_COVERAGE" | translate }}</h4>
      <p>
        {{ "LOREM_IPSUM_TEXT" | translate }}
      </p>

      <h4>{{ "POLICY_COVERAGE" | translate }}</h4>
      <p>
        {{ "LOREM_IPSUM_TEXT" | translate }}
      </p>

      <h4>{{ "POLICY_COVERAGE" | translate }}</h4>

      <p>
        {{ "LOREM_IPSUM_TEXT" | translate }}
      </p>
    </div>
    <div class="infrmtnRght">
      <h4>{{ "OTHER_POLICY" | translate }}</h4>
      <ul>
        <li>{{ "TENANT_SERVICE_TERMS" | translate }}</li>
        <li>{{ "PROPERTY_OWNER_AGREEMENT" | translate }}</li>
        <li>{{ "DATA_PRIVACY&PROCESSING_ADDENDUM" | translate }}</li>
        <li>{{ "RENT_PAYMENT&REFUND_POLICY" | translate }}</li>
        <li>
          <a href="javascript:void(0);">{{
            "MAINTENANCE_REQUEST_POLICY" | translate
          }}</a>
        </li>
        <li>{{ "COMMUNITY_GUIDELINES&CONDUCT_POLICY" | translate }}</li>
        <li>{{ "PROPERTY_LISTING&VERIFICATION_TERMS" | translate }}</li>
        <li>S{{ "SUBSCRIPTION_&_BILLING_AGREEMENT" | translate }}</li>
        <li>{{ "TERMS_OF_USE" | translate }}</li>
      </ul>
    </div>
  </div>
</app-white-card>
