<div class="infrmtnHdr mb-3">
  <h3>{{ "Privacy Policy" | translate }}</h3>
  <p>
    {{
      "This Privacy Policy was last updated on July 14, 2025. See previous versions of the Privacy Policy"
        | translate
    }}
  </p>
  <p>
    {{
      "The highlighted text is aimed to give a plain English summary of our Privacy Policy. Please ensure you read the main text, as the plain English summary is just a summary and doesn’t capture all of the terms"
        | translate
    }}
  </p>
</div>

<app-white-card>
  <div class="infrmtnBody">
    <div class="infrmtnLft">
      <h4>{{ "What does this policy cover" | translate }}</h4>
      <p>
        {{
          "Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text eversince the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release  of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum."
            | translate
        }}
      </p>

      <h4>{{ "What does this policy cover" | translate }}</h4>
      <p>
        {{
          "Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining  essentially unchanged. It was popularised in the 1960s with the release  of Letraset sheets containing Lorem Ipsum passages, and more recently  with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum."
            | translate
        }}
      </p>

      <h4>{{ "What does this policy cover" | translate }}</h4>

      <p>
        {{
          "Lorem Ipsum is simply dummy text of the printing and typesetting  industry. Lorem Ipsum has been the industry's standard dummy text eversince the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum."
            | translate
        }}
      </p>
    </div>
    <div class="infrmtnRght">
      <h4>{{ "Other Policy" | translate }}</h4>
      <ul>
        <li>{{ "Tenant Service Terms" | translate }}</li>
        <li>{{ "Property Owner Agreement" | translate }}</li>
        <li>{{ "Data Privacy & Processing Addendum" | translate }}</li>
        <li>{{ "Rent Payment & Refund Policy" | translate }}</li>
        <li>
          <a href="javascript:void(0);">{{
            "Maintenance Request Policy" | translate
          }}</a>
        </li>
        <li>{{ "Community Guidelines & Conduct Policy" | translate }}</li>
        <li>{{ "Property Listing & Verification Terms" | translate }}</li>
        <li>S{{ "ubscription & Billing Agreement" | translate }}</li>
        <li>{{ "Terms of Use" | translate }}</li>
      </ul>
    </div>
  </div>
</app-white-card>
