<div class="mb-3">
  <app-white-card>
    <div class="row align-items-center justify-content-between g-3">
      <div class="col-md">
        <div class="commonBoxTabs">
          <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
              <button
                class="nav-link active"
                id="allUsers-tab"
                data-bs-toggle="tab"
                data-bs-target="#allUsers-tab-pane"
                type="button"
                role="tab"
                aria-controls="allUsers-tab-pane"
                aria-selected="true"
              >
                {{ "All_user" | translate }}
              </button>
            </li>
            <li class="nav-item" role="presentation">
              <button
                class="nav-link"
                id="newUsers-tab"
                data-bs-toggle="tab"
                data-bs-target="#newUsers-tab-pane"
                type="button"
                role="tab"
                aria-controls="newUsers-tab-pane"
                aria-selected="false"
              >
                {{ "New_Users" | translate }}
              </button>
            </li>
            <li class="nav-item" role="presentation">
              <button
                class="nav-link"
                id="deletedUsers-tab"
                data-bs-toggle="tab"
                data-bs-target="#deletedUsers-tab-pane"
                type="button"
                role="tab"
                aria-controls="deletedUsers-tab-pane"
                aria-selected="false"
                (click)="fetchDeletedUser()"
              >
                {{ "Deleted_Users" | translate }}
              </button>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-auto">
        <button
          type="button"
          class="btn btnCommon"
          (click)="openAddUserModal(addUserContent)"
        >
          <i><app-plus-icon /></i>{{ "New_User" | translate }}
        </button>
      </div>
    </div>
  </app-white-card>
</div>
<div class="tab-content" id="myTabContent">
  <div
    class="tab-pane fade show active"
    id="allUsers-tab-pane"
    role="tabpanel"
    aria-labelledby="allUsers-tab"
    tabindex="0"
  >
    <div class="cmmnTblOuter">
      <div class="cmmnTblHdr">
        <div class="row align-items-center">
          <div class="col-md">
            <app-table-title title="6" subtitle="users Found"></app-table-title>
          </div>
          <div class="col-md-auto">
            <div class="d-flex align-items-center gap-2 gap-md-3"></div>
          </div>
        </div>
      </div>
      <div class="cmmnTblBody">
        <div class="table-responsive">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>
                  <button type="button">
                    {{ "User_Name" | translate }} <i><app-sorting-icon /></i>
                  </button>
                </th>
                <th>{{ "Phone" | translate }}</th>
                <th>{{ "Role" | translate }}</th>
                <th>{{ "Email" | translate }}</th>
                <th>
                  <button type="button">
                    {{ "Created_On" | translate }} <i><app-sorting-icon /></i>
                  </button>
                </th>
                <th>
                  <button type="button">
                    {{ "Last_Login" | translate }} <i><app-sorting-icon /></i>
                  </button>
                </th>
                <th>{{ "Status" | translate }}</th>
                <th width="200"></th>
              </tr>
            </thead>
            <tbody>
              @for (user of users; track $index) {
              <tr>
                <td>
                  <app-table-img-item
                    [img]="
                      user.profile_image || '../../../../assets/user/user-1.png'
                    "
                    [title]="user.email"
                  >
                  </app-table-img-item>
                </td>
                <td>+91-{{ user.phone_number || "XXXXXXX" }}</td>
                <td>{{ user.role }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.created_at | date : "dd MMM yyyy" }}</td>
                <td>{{ user.last_login || "-" }}</td>
                <td>
                  <div class="form-check form-switch">
                    <input
                      class="form-check-input"
                      type="checkbox"
                      role="switch"
                      [checked]="user.is_deleted"
                    />
                  </div>
                </td>
                <td align="center">
                  <div class="cmmnTblActnBtnDiv">
                    <app-table-action-btn
                      type="edit"
                      (clicked)="handleEditClick()"
                    />
                    <app-table-action-btn
                      type="delete"
                      (clicked)="handleDeleteClick()"
                    />
                  </div>
                </td>
              </tr>
              } @empty {
              <tr>
                <td colspan="6" align="center">No Data to Show</td>
              </tr>
              }
            </tbody>
          </table>
        </div>
      </div>
      <div class="cmmnTblFtr">
        <app-table-select />
        <app-table-pagination />
      </div>
    </div>
  </div>
  <div
    class="tab-pane fade"
    id="newUsers-tab-pane"
    role="tabpanel"
    aria-labelledby="newUsers-tab"
    tabindex="0"
  >
    <div class="cmmnTblOuter">
      <div class="cmmnTblHdr">
        <div class="row align-items-center">
          <div class="col-md">
            <app-table-title title="6" subtitle="users Found"></app-table-title>
          </div>
          <div class="col-md-auto">
            <div class="d-flex align-items-center gap-2 gap-md-3"></div>
          </div>
        </div>
      </div>
      <div class="cmmnTblBody">
        <div class="table-responsive">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>
                  <button type="button">
                    User Name <i><app-sorting-icon /></i>
                  </button>
                </th>
                <th>Phone</th>
                <th>Role</th>
                <th>Email</th>
                <th>
                  <button type="button">
                    Created On <i><app-sorting-icon /></i>
                  </button>
                </th>
                <th>
                  <button type="button">
                    Last Login <i><app-sorting-icon /></i>
                  </button>
                </th>
                <th>Status</th>
                <th width="200"></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <app-table-img-item
                    img="../../../../assets/user/user-1.png"
                    title="Jensi"
                  />
                </td>
                <td>+91 98765 XXX10</td>
                <td>Admin</td>
                <td>budget&#64;company.com</td>
                <td>15 Sep 2024</td>
                <td>2 min ago</td>
                <td>
                  <div class="form-check form-switch">
                    <input
                      class="form-check-input"
                      type="checkbox"
                      role="switch"
                      id="switchCheckDefault"
                      checked
                    />
                  </div>
                </td>
                <td align="center">
                  <div class="cmmnTblActnBtnDiv">
                    <app-table-action-btn
                      type="edit"
                      (clicked)="handleEditClick()"
                    />
                    <app-table-action-btn
                      type="delete"
                      (clicked)="handleDeleteClick()"
                    />
                  </div>
                </td>
              </tr>
              <tr>
                <td>
                  <app-table-img-item
                    img="../../../../assets/user/user-2.png"
                    title="Richard"
                  />
                </td>
                <td>+91 87654 XXX09</td>
                <td>User</td>
                <td>team&#64;company.com</td>
                <td>20 Sep 2024</td>
                <td>Yesterday</td>
                <td>
                  <div class="form-check form-switch">
                    <input
                      class="form-check-input"
                      type="checkbox"
                      role="switch"
                      id="switchCheckDefault"
                      checked
                    />
                  </div>
                </td>
                <td align="center">
                  <div class="cmmnTblActnBtnDiv">
                    <app-table-action-btn
                      type="edit"
                      (clicked)="handleEditClick()"
                    />
                    <app-table-action-btn
                      type="delete"
                      (clicked)="handleDeleteClick()"
                    />
                  </div>
                </td>
              </tr>
              <tr>
                <td>
                  <app-table-img-item
                    img="../../../../assets/user/user-3.png"
                    title="Thaomas"
                  />
                </td>
                <td>+91 76543 XXX98</td>
                <td>Lead</td>
                <td>client&#64;company.com</td>
                <td>25 Sep 2024</td>
                <td>5 days ago</td>
                <td>
                  <div class="form-check form-switch">
                    <input
                      class="form-check-input"
                      type="checkbox"
                      role="switch"
                      id="switchCheckDefault"
                      checked
                    />
                  </div>
                </td>
                <td align="center">
                  <div class="cmmnTblActnBtnDiv">
                    <app-table-action-btn
                      type="edit"
                      (clicked)="handleEditClick()"
                    />
                    <app-table-action-btn
                      type="delete"
                      (clicked)="handleDeleteClick()"
                    />
                  </div>
                </td>
              </tr>
              <tr>
                <td>
                  <app-table-img-item
                    img="../../../../assets/user/user-4.png"
                    title="Akshay"
                  />
                </td>
                <td>+91 65432 XXX87</td>
                <td>Lead</td>
                <td>research&#64;company.com</td>
                <td>30 Sep 2024</td>
                <td>Today</td>
                <td>
                  <div class="form-check form-switch">
                    <input
                      class="form-check-input"
                      type="checkbox"
                      role="switch"
                      id="switchCheckDefault"
                      checked
                    />
                  </div>
                </td>
                <td align="center">
                  <div class="cmmnTblActnBtnDiv">
                    <app-table-action-btn
                      type="edit"
                      (clicked)="handleEditClick()"
                    />
                    <app-table-action-btn
                      type="delete"
                      (clicked)="handleDeleteClick()"
                    />
                  </div>
                </td>
              </tr>
              <tr>
                <td>
                  <app-table-img-item
                    img="../../../../assets/user/user-5.png"
                    title="Avanshi"
                  />
                </td>
                <td>+91 54321 XXX76</td>
                <td>User</td>
                <td>marketing&#64;company.com</td>
                <td>05 Oct 2024</td>
                <td>Online</td>
                <td>
                  <div class="form-check form-switch">
                    <input
                      class="form-check-input"
                      type="checkbox"
                      role="switch"
                      id="switchCheckDefault"
                      checked
                    />
                  </div>
                </td>
                <td align="center">
                  <div class="cmmnTblActnBtnDiv">
                    <app-table-action-btn
                      type="edit"
                      (clicked)="handleEditClick()"
                    />
                    <app-table-action-btn
                      type="delete"
                      (clicked)="handleDeleteClick()"
                    />
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="cmmnTblFtr">
        <app-table-select />
        <app-table-pagination />
      </div>
    </div>
  </div>
  <div
    class="tab-pane fade"
    id="deletedUsers-tab-pane"
    role="tabpanel"
    aria-labelledby="deletedUsers-tab"
    tabindex="0"
  >
    <div class="cmmnTblOuter">
      <div class="cmmnTblHdr">
        <div class="row align-items-center">
          <div class="col-md">
            <app-table-title title="6" subtitle="users Found"></app-table-title>
          </div>
          <div class="col-md-auto">
            <div class="d-flex align-items-center gap-2 gap-md-3"></div>
          </div>
        </div>
      </div>
      <div class="cmmnTblBody">
        <div class="table-responsive">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>
                  <button type="button">
                    User Name <i><app-sorting-icon /></i>
                  </button>
                </th>
                <th>Phone</th>
                <th>Role</th>
                <th>Email</th>
                <th>
                  <button type="button">
                    Created On <i><app-sorting-icon /></i>
                  </button>
                </th>
                <th>
                  <button type="button">
                    Last Login <i><app-sorting-icon /></i>
                  </button>
                </th>
                <th>Status</th>
                <th width="200"></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <app-table-img-item
                    img="../../../../assets/user/user-1.png"
                    title="Jensi"
                  />
                </td>
                <td>+91 98765 XXX10</td>
                <td>Admin</td>
                <td>budget&#64;company.com</td>
                <td>15 Sep 2024</td>
                <td>2 min ago</td>
                <td>
                  <div class="form-check form-switch">
                    <input
                      class="form-check-input"
                      type="checkbox"
                      role="switch"
                      id="switchCheckDefault"
                      checked
                    />
                  </div>
                </td>
                <td align="center">
                  <div class="cmmnTblActnBtnDiv">
                    <app-table-action-btn
                      type="edit"
                      (clicked)="handleEditClick()"
                    />
                    <app-table-action-btn
                      type="delete"
                      (clicked)="handleDeleteClick()"
                    />
                  </div>
                </td>
              </tr>
              <tr>
                <td>
                  <app-table-img-item
                    img="../../../../assets/user/user-2.png"
                    title="Richard"
                  />
                </td>
                <td>+91 87654 XXX09</td>
                <td>User</td>
                <td>team&#64;company.com</td>
                <td>20 Sep 2024</td>
                <td>Yesterday</td>
                <td>
                  <div class="form-check form-switch">
                    <input
                      class="form-check-input"
                      type="checkbox"
                      role="switch"
                      id="switchCheckDefault"
                      checked
                    />
                  </div>
                </td>
                <td align="center">
                  <div class="cmmnTblActnBtnDiv">
                    <app-table-action-btn
                      type="edit"
                      (clicked)="handleEditClick()"
                    />
                    <app-table-action-btn
                      type="delete"
                      (clicked)="handleDeleteClick()"
                    />
                  </div>
                </td>
              </tr>
              <tr>
                <td>
                  <app-table-img-item
                    img="../../../../assets/user/user-3.png"
                    title="Thaomas"
                  />
                </td>
                <td>+91 76543 XXX98</td>
                <td>Lead</td>
                <td>client&#64;company.com</td>
                <td>25 Sep 2024</td>
                <td>5 days ago</td>
                <td>
                  <div class="form-check form-switch">
                    <input
                      class="form-check-input"
                      type="checkbox"
                      role="switch"
                      id="switchCheckDefault"
                      checked
                    />
                  </div>
                </td>
                <td align="center">
                  <div class="cmmnTblActnBtnDiv">
                    <app-table-action-btn
                      type="edit"
                      (clicked)="handleEditClick()"
                    />
                    <app-table-action-btn
                      type="delete"
                      (clicked)="handleDeleteClick()"
                    />
                  </div>
                </td>
              </tr>
              <tr>
                <td>
                  <app-table-img-item
                    img="../../../../assets/user/user-4.png"
                    title="Akshay"
                  />
                </td>
                <td>+91 65432 XXX87</td>
                <td>Lead</td>
                <td>research&#64;company.com</td>
                <td>30 Sep 2024</td>
                <td>Today</td>
                <td>
                  <div class="form-check form-switch">
                    <input
                      class="form-check-input"
                      type="checkbox"
                      role="switch"
                      id="switchCheckDefault"
                      checked
                    />
                  </div>
                </td>
                <td align="center">
                  <div class="cmmnTblActnBtnDiv">
                    <app-table-action-btn
                      type="edit"
                      (clicked)="handleEditClick()"
                    />
                    <app-table-action-btn
                      type="delete"
                      (clicked)="handleDeleteClick()"
                    />
                  </div>
                </td>
              </tr>
              <tr>
                <td>
                  <app-table-img-item
                    img="../../../../assets/user/user-5.png"
                    title="Avanshi"
                  />
                </td>
                <td>+91 54321 XXX76</td>
                <td>User</td>
                <td>marketing&#64;company.com</td>
                <td>05 Oct 2024</td>
                <td>Online</td>
                <td>
                  <div class="form-check form-switch">
                    <input
                      class="form-check-input"
                      type="checkbox"
                      role="switch"
                      id="switchCheckDefault"
                      checked
                    />
                  </div>
                </td>
                <td align="center">
                  <div class="cmmnTblActnBtnDiv">
                    <app-table-action-btn
                      type="edit"
                      (clicked)="handleEditClick()"
                    />
                    <app-table-action-btn
                      type="delete"
                      (clicked)="handleDeleteClick()"
                    />
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="cmmnTblFtr">
        <app-table-select />
        <app-table-pagination />
      </div>
    </div>
  </div>
</div>

<ng-template #addUserContent let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-title">Add New User</h4>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    ></button>
  </div>
  <div class="modal-body">
    <app-add-user-form />
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btnCommon btnTransparent"
      (click)="modal.dismiss('Save click')"
    >
      Cancel
    </button>
    <button
      type="button"
      class="btn btnCommon"
      (click)="modal.close('Save click')"
    >
      Submit Details
    </button>
  </div>
</ng-template>
