<div class="form-group">
  <label>{{ "DOCUMENTS" | translate }} <span class="required">*</span></label>

  <div class="multi-select">
    <span class="tag">
      {{ "EMIRATES_ID" | translate }}
      <i>
        <button type="button" class="btn-close" aria-label="Close"></button
      ></i>
    </span>
    <span class="tag">
      {{ "OTHER_DOCUMENT1" | translate }}
      <i>
        <button type="button" class="btn-close" aria-label="Close"></button
      ></i>
    </span>
    <span class="tag">
      {{ "OTHER_DOCUMENT1" | translate }}
      <i>
        <button type="button" class="btn-close" aria-label="Close"></button
      ></i>
    </span>
    <span class="arrow"><app-arrow-down-icon></app-arrow-down-icon></span>
  </div>
</div>

<div class="form-group">
  <label>{{ "COMMENT" | translate }} <span class="required">*</span></label>
  <textarea [placeholder]="'ENTER_HERE' | translate"></textarea>
</div>
