<div class="form-group">
  <label>Documents <span class="required">*</span></label>

  <div class="multi-select">
    <span class="tag">
      Emirates ID
      <i>
        <button type="button" class="btn-close" aria-label="Close"></button
      ></i>
    </span>
    <span class="tag">
      Other document1
      <i>
        <button type="button" class="btn-close" aria-label="Close"></button
      ></i>
    </span>
    <span class="tag">
      Other document1
      <i>
        <button type="button" class="btn-close" aria-label="Close"></button
      ></i>
    </span>
    <span class="arrow"><app-arrow-down-icon></app-arrow-down-icon></span>
  </div>
</div>

<div class="form-group">
  <label>Comment <span class="required">*</span></label>
  <textarea placeholder="enter here"></textarea>
</div>
