<div class="activityWrapper">
  <div class="year">2025</div>

  <div class="weekLabel">This week</div>

  <div class="activityItem">
    <div class="icon orange">H</div>

    <div class="content">
      <div class="title"><strong>Hajji</strong> added notes</div>

      <div class="noteCard">Note Name comes here</div>
    </div>
  </div>

  <div class="activityItem">
    <div class="icon orange">H</div>
    <div class="content simple"><strong>Hajji</strong> added attributes</div>
  </div>

  <div class="activityItem">
    <div class="icon blue">P</div>

    <div class="content simple">
      <strong>Prnjitha</strong> account was created by <strong>Hajji</strong>
    </div>
  </div>
</div>
