.passwordTooltip {
    position: relative;
    display: inline-flex;
    transition: all 0.3s ease 0s;
    z-index: 1;
}

.passwordTooltipIcon {
    background-color: transparent;
    color: var(--blackText);
    padding: 0;
    border: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.passwordTooltipInfo {
    background-color: var(--whiteBg);
    position: absolute;
    width: 240px;
    padding: 16px;
    border: 1px solid var(--muteBorde2);
    border-radius: 8px;
    box-shadow: 4px 4px 15px 0 #0000001A;
    visibility: hidden;
    top: 100%;
    transition: all 0.3s ease 0s;
}

.passwordTooltip:hover .passwordTooltipInfo {
    visibility: visible;
}

.passwordTooltipInfo ul li {
    font-size: 14px;
    color: var(--greenDarkText);
    font-weight: 500;
    line-height: 20px;
    display: flex;
    align-items: flex-start;
    gap: 8px;
    text-align: left;
}

.passwordTooltipInfo ul li+li {
    margin-top: 16px;
}