<app-modal-form-card>
  <form [formGroup]="tenantForm">
    <div class="row g-3">
      <div class="col-md1-2">
        <div class="tenantProCol">
          <div class="tenantProIcon">
            <button type="button" (click)="triggerFileInput()">
              <i *ngIf="!imageBase64"><app-upload-icon /></i>
              <img
                *ngIf="imageBase64"
                [src]="imageBase64"
                width="56"
                height="56"
                alt="Tenant Profile Image"
              />
            </button>
            <input
              type="file"
              #fileInput
              (change)="onFileSelected($event)"
              accept=".png, .jpg, .jpeg"
              hidden
            />
          </div>
          @if (isInvalid(tenantForm, 'imageBase64').status) {
          <small class="errorMsg">
            {{ isInvalid(tenantForm, "imageBase64").msg }}
          </small>
          }
          <div class="tenantProTtl">
            <label class="form-label"
              >{{ "TENANT_PHTOT" | translate }}<span>*</span></label
            >
            <p>Max 5MB, PNG, JPG, JPEG</p>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="mb-0">
          <label for="staffName" class="form-label"
            >First Name<span>*</span></label
          >
          <input
            class="form-control"
            type="text"
            name="staffName"
            placeholder="Enter name here"
            formControlName="firstName"
          />
          @if (isInvalid(tenantForm, 'firstName').status) {
          <small class="errorMsg">
            {{ isInvalid(tenantForm, "firstName").msg }}
          </small>
          }
        </div>
      </div>
      <div class="col-md-6">
        <div class="mb-0">
          <label for="staffName" class="form-label"
            >Last Name<span>*</span></label
          >
          <input
            class="form-control"
            type="text"
            name="staffName"
            placeholder="Enter name here"
            formControlName="lastName"
          />
          @if (isInvalid(tenantForm, 'lastName').status) {
          <small class="errorMsg">
            {{ isInvalid(tenantForm, "lastName").msg }}
          </small>
          }
        </div>
      </div>
      <div class="col-md-6">
        <div class="mb-0">
          <label for="email" class="form-label"
            >{{ "EMAIL_ADDRESS" | translate }}<span>*</span></label
          >
          <input
            class="form-control"
            type="email"
            name="email"
            [placeholder]="'ENTER_EMAIL_HERE' | translate"
            formControlName="email"
          />
          @if (isInvalid(tenantForm, 'email').status) {
          <small class="errorMsg">
            {{ isInvalid(tenantForm, "email").msg }}
          </small>
          }
        </div>
      </div>
      <div class="col-md-6">
        <div class="mb-0">
          <label for="contact" class="form-label"
            >{{ "CONTACT_NUMBER" | translate }}<span>*</span></label
          >
          <input
            class="form-control"
            type="number"
            name="contact"
            [placeholder]="'ENTER_CONTACT_HERE' | translate"
            formControlName="contactNumber"
          />
          @if (isInvalid(tenantForm, 'contactNumber').status) {
          <small class="errorMsg">
            {{ isInvalid(tenantForm, "contactNumber").msg }}
          </small>
          }
        </div>
      </div>
      <div class="col-md-12">
        <div class="mb-0">
          <label for="emiratesID" class="form-label"
            >{{ "EMIRATES_ID" | translate }}<span>*</span></label
          >
          <input
            class="form-control"
            type="text"
            name="emiratesID"
            [placeholder]="'ENTER_ID_HERE' | translate"
            formControlName="emiratesID"
          />
          @if (isInvalid(tenantForm, 'emiratesID').status) {
          <small class="errorMsg">
            {{ isInvalid(tenantForm, "emiratesID").msg }}
          </small>
          }
        </div>
      </div>
      <div class="col-md-12">
        <div class="mb-0">
          <label for="linkProperty" class="form-label"
            >{{ "LINK_PROPERTY" | translate }}<span>*</span></label
          >
          <app-custom-select
            [options]="propertyList"
            key="id"
            value="property_name"
            formControlName="property"
          ></app-custom-select>
          @if (isInvalid(tenantForm, 'property').status) {
          <small class="errorMsg">
            {{ isInvalid(tenantForm, "property").msg }}
          </small>
          }
        </div>
      </div>
    </div>
  </form>
</app-modal-form-card>
