.grid-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px 20px;
}

.col-span-2 {
  grid-column: span 2;
}

.loginRoleSelection {
  display: flex;
  align-items: center;
  justify-content: center;
}

.loginRoleOptions {
  background-color: var(--muteBg1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 4px;
  border-radius: 12px;
}

.loginRoleOptions label {
  font-size: 14px;
  color: var(--greyText);
  font-weight: 500;
  line-height: 18px;
  padding: 0;
  margin: 0;
}

.loginRoleOptions label input {
  display: none;
}

.loginRoleOptions label span {
  display: block;
  font-size: 14px;
  color: var(--greyText);
  font-weight: 500;
  line-height: 18px;
  padding: 8px 16px;
  border-radius: 8px;
  cursor: pointer;
}

.loginRoleOptions label input:checked ~ span {
  background-color: var(--whiteBg);
}
.custom-shadow {
  box-shadow: 4px 4px 6px rgba(190, 187, 187, 0.8);
  font-size: 13px;
  font-weight: 500;
  width: 120px;
}
.btn-wide {
  width: 10px;
}

.btnCommons {
  background: var(--ownerGradientBg);
  font-size: 14px;
  color: var(--whiteText);
  width: 90px;
}

.custom-time-color {
  color: blue;
}
.otpVerifyLogo {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.customSelect {
  position: relative;
  display: flex;
  align-items: center;
  transition: all 0.3s ease 0s;
}

.customSelectInput {
  background-color: var(--whiteBg);
  font-size: 14px;
  color: var(--blackText);
  font-weight: 400;
  padding: 8px 12px;
  border: 1px solid var(--formBorder);
  border-radius: 6px;
  width: 100%;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 6px;
  cursor: pointer;
  z-index: 1;
}

.customSelectDropdown {
  background-color: var(--whiteBg);
  position: absolute;
  left: 0;
  top: 100%;
  right: 0;
  width: 100%;
  padding: 4px;
  border: 1px solid var(--grayBorder);
  border-radius: 6px;
  box-shadow: 4px 4px 15px 0 rgba(0, 0, 0, 0.15);
  min-width: 180px;
  max-height: 200px;
  overflow: auto;
  z-index: 2;
}

.customSelectDropdown li {
  font-size: 14px;
  color: var(--blackText);
  font-weight: 400;
  line-height: 20px;
  padding: 10px 8px;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.customSelectDropdown li + li {
  border-top: 1px solid var(--muteBorde2);
}

.customSelectDropdown li:hover {
  background: var(--muteBg1);
  color: var(--blackText);
}

.customSelectDropdown li.active,
.customSelectDropdown li.active:hover {
  background: var(--muteBg2);
  color: var(--blackText);
}

.customSelectSearchInput {
  width: 100%;
  border: none;
  outline: none;
  background: transparent;
  font-size: 14px;
  color: var(--blackText);
  font-weight: 400;
}

.customSelectSearchInput::placeholder {
  color: var(--blackText4);
}

.close-btn {
  position: absolute;
  top: 3px;
  right: 10px;

  background: transparent;
  border: none;
  padding: 0;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
}
