.grid-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px 20px;
}

.loginRoleSelection {
  display: flex;
  align-items: center;
  justify-content: center;
}

.loginRoleOptions {
  background-color: var(--muteBg1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 4px;
  border-radius: 12px;
}

.loginRoleOptions label {
  font-size: 14px;
  color: var(--greyText);
  font-weight: 500;
  line-height: 18px;
  padding: 0;
  margin: 0;
}

.loginRoleOptions label input {
  display: none;
}

.loginRoleOptions label span {
  display: block;
  font-size: 14px;
  color: var(--greyText);
  font-weight: 500;
  line-height: 18px;
  padding: 8px 16px;
  border-radius: 8px;
  cursor: pointer;
}

.loginRoleOptions label input:checked ~ span {
  background-color: var(--whiteBg);
}
.custom-shadow {
  box-shadow: 4px 4px 6px rgba(190, 187, 187, 0.8);
  font-size: 13px;
  font-weight: 500;
  width: 120px;
}
.btn-wide {
  width: 10px;
}

.btnCommons {
  background: var(--ownerGradientBg);
  font-size: 14px;
  color: var(--whiteText);
  width: 90px;
}
/* form {
  height: 300px;
} */

.custom-time-color {
  color: blue;
}
