<form [formGroup]="form">
  <div class="doc-form-wrapper">
    <!-- Left: Document Preview -->
    <app-white-card>
      <div class="doc-preview">
        <img src="assets/Ejari-Doc-signature.svg" alt="Tenancy Contract" />
      </div>
    </app-white-card>
    <app-white-card>
      <!-- Right: Form -->
      <div class="doc-form">
        <div class="form-group">
          <label>Dewa No</label>
          <input type="text" placeholder="12345 2622 6282" />
        </div>
      </div>
    </app-white-card>
  </div>
</form>
<!-- 
<div class="modal-backdrop">
  <div class="success-modal">
    <div class="success-icon">
      <img src="assets/Verify.svg" />
    </div>

    <h3>Tenant Activated Successfully</h3>

    <p>
      The tenant has been activated and the invoice has been generated
      successfully.
    </p>
    <div class="modal-actions">
      <button class="btn btnCommonsx">Go to Invoice</button>

      <span class="mt-3">
        <a href="#" class="secondary-link">View Tenant Profile</a>
      </span>
    </div>
  </div>
</div> -->
