<div
  class="top-alert"
  *ngIf="showMsg$()"
  [ngClass]="{
    'waiting-alert': msgText$() === 'Waiting for Signature',
    'success-alert': msgText$() === 'Signed Successfully',
  }"
>
  <span class="icon">
    <app-warning-icon
      *ngIf="msgText$() === 'Waiting for Signature'"
    ></app-warning-icon>

    <!-- Success icon -->
    <app-signed-successfully-icon
      *ngIf="msgText$() === 'Signed Successfully'"
    ></app-signed-successfully-icon>
  </span>
  <span class="text">{{ msgText$() }}</span>
</div>
<form [formGroup]="form">
  <div class="doc-form-wrapper mt-3">
    <app-white-card>
      <div class="doc-preview">
        <img src="assets/Ejari-Doc-signature.svg" alt="Tenancy Contract" />
      </div>
    </app-white-card>
    <app-white-card>
      <div class="doc-form">
        <div class="form-group">
          <label>Dewa No</label>
          <input type="text" placeholder="12345 2622 6282" />
        </div>
      </div>
    </app-white-card>
  </div>
</form>
