.activityHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.headerLeft {
  display: flex;
  align-items: center;
  gap: 8px;
}

.headerLeft i {
  font-size: 18px;
}

.headerRight {
  display: flex;
  align-items: center;
  gap: 12px;
}

.scheduleBtn {
  border: 1px solid #e5e7eb;
  background: #fff;
  padding: 10px;
  border-radius: 10px;
  gap: 10px;
  font-size: 14px;
  max-width: 162px;
  height: auto;
  max-height: 38px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.12);
}

.activityBody {
  max-height: 70vh;
  overflow-y: auto;
}

.closeCircle {
  all: unset; /* 🔥 removes ALL default styles */
  box-sizing: border-box;

  width: 19px;
  height: 19px;
  border: 1px solid #000;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
}

.scheduleBtn {
  display: inline-flex;
  align-items: center;
  gap: 8px;

  white-space: nowrap; /* 🔥 KEY FIX */
  flex-wrap: nowrap; /* 🔥 KEY FIX */

  border: 1px solid #e5e7eb;
  background: #fff;
  padding: 8px 14px;
  border-radius: 10px;

  font-size: 14px;
  line-height: 1;
}
.scheduleBtn app-calender-icon {
  flex-shrink: 0;
}
@media (max-width: 576px) {
  .scheduleBtn {
    width: auto; /* full width cancel */
    max-width: 100%;
  }
}
