<div class="pmntInfoCol">
  <div class="pmntInfoSelect">
    <ng-content></ng-content>
  </div>
  <div class="pmntInfoBtm">
    <div class="pmntInfoList">
      <ul>
        <li>
          <i>{{ "Overall Amount Paid" | translate }}</i>
          <span>{{ overallAmountPaid }}</span>
        </li>
        <li>
          <i>{{ "Monthly Rent" | translate }}</i> <span>{{ monthlyRent }}</span>
        </li>
        <li>
          <i>{{ "Maintenance Charges" | translate }}</i>
          <span>{{ maintenanceCharges }}</span>
        </li>
      </ul>
      <div class="pmntInfoDue">
        <span>{{ "Due in" | translate }} {{ dueTime }}</span> ,{{
          "Last date" | translate
        }}
        {{ lastDate }}
      </div>
    </div>
    <div class="pmntInfoBtn">
      <button type="button" (click)="goToPayment()" class="btn btnCommon">
        {{ "Pay My Dues" | translate }}
      </button>
    </div>
  </div>
</div>
