<div class="pmntInfoCol">
  <div class="pmntInfoSelect">
    <ng-content></ng-content>
  </div>
  <div class="pmntInfoBtm">
    <div class="pmntInfoList">
      <ul>
        <li>
          <i>{{ "OVERALL_AMOUNT_PAID" | translate }}</i>
          <span>{{ overallAmountPaid }}</span>
        </li>
        <li>
          <i>{{ "MONTHLY_RENT" | translate }}</i> <span>{{ monthlyRent }}</span>
        </li>
        <li>
          <i>{{ "MAINTENCE_CHARGES" | translate }}</i>
          <span>{{ maintenanceCharges }}</span>
        </li>
      </ul>
      <div class="pmntInfoDue">
        <span>{{ "DUE_IN" | translate }} {{ dueTime }}</span> ,{{
          "LAST_DATE" | translate
        }}
        {{ lastDate }}
      </div>
    </div>
    <div class="pmntInfoBtn">
      <button type="button" (click)="goToPayment()" class="btn btnCommon">
        {{ "PAY_MY_DUES" | translate }}
      </button>
    </div>
  </div>
</div>
