.call-summary-col {
  width: 260px;
  min-width: 260px;
  max-width: 260px;
}
.call-summary-col,
.call-summary-col td {
  overflow: hidden;
}

.table td:last-child::before,
.table th:last-child::before {
  content: "";
  position: absolute;
  top: 0;
  left: -12px;
  width: 12px;
  height: 100%;
  pointer-events: none;

  background: linear-gradient(
    to left,
    rgba(0, 0, 0, 0.12),
    rgba(0, 0, 0, 0.05),
    transparent
  );
}

.table-responsive {
  overflow-x: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.table-responsive::-webkit-scrollbar {
  display: none;
}

.call-lead-table thead tr th:last-child,
.call-lead-table tbody tr td:last-child {
  position: sticky;
  right: 0;
  z-index: 2;
  min-width: 100px;
}

.call-lead-table thead tr th:last-child {
  z-index: 3;
  background-color: var(--activeBg);
  box-shadow: none;
}

.call-lead-table tbody tr td:last-child {
  background-color: var(--whiteBg);
  box-shadow: -2px 0 4px rgba(0, 0, 0, 0.06);
}
