<app-table-filter-btn
  [title]="'INVITE_PMC' | translate"
  [hasIcon]="true"
  (clicked)="openInvitePMCModal(invitePMCContent)"
>
  <app-invite-icon />
</app-table-filter-btn>

<ng-template #invitePMCContent let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-title">{{ "INVITE_PMC" | translate }}</h4>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    ></button>
  </div>

  <div class="modal-body">
    <app-invite-pmc-form #invitePmcForm />
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btnCommon btnTransparent"
      (click)="modal.dismiss('Save click')"
    >
      {{ "CANCEL" | translate }}
    </button>
    <button
      type="button"
      class="btn btnCommon"
      (click)="invitePmc(modal, invitePmcForm)"
    >
      <i><app-send-icon /></i>{{ "SEND_INVITATION" | translate }}
    </button>
  </div>
</ng-template>
