<header class="authHdrMain">
  <div class="row align-items-center justify-space-between">
    <div class="col">
      <div class="authHdrLogo">
        <a href="javascript:void(0);" (click)="goToLogin()">
          <img src="../../../../assets/mainLogoWhite.svg" alt="Doqfy Logo" />
        </a>
      </div>
    </div>
    <div class="col-auto">
      <div class="authHdrOptns">
        <div class="authHdrLinks">
          <a href="javascript:void(0);">Terms & Conditions</a>
          <a href="javascript:void(0);">Privacy Policy</a>
        </div>
        <div class="needHlpBtn">
          <button type="button">
            Need Help
            <i>
              <app-help-icon></app-help-icon>
            </i>
          </button>
        </div>
      </div>
    </div>
  </div>
</header>
