<header class="authHdrMain">
  <div class="row align-items-center justify-space-between">
    <div class="col">
      <div class="authHdrLogo">
        <a href="javascript:void(0);" (click)="goToLogin()">
          <img src="../../../../assets/unitsLogo.png" alt="Units Logo" />
        </a>
      </div>
    </div>
    <div class="col-auto">
      <div class="authHdrOptns">
        <div class="authHdrLinks">
          <a class="cursor-pointer" routerLink="/auth/terms-conditions">
            Terms & Conditions
          </a>

          <a class="cursor-pointer" routerLink="/auth/privacy-policy">
            Privacy Policy
          </a>
        </div>
        <div class="needHlpBtn">
          <button type="button" routerLink="/auth/help">
            Need Help
            <i>
              <app-help-icon></app-help-icon>
            </i>
          </button>
        </div>
      </div>
    </div>
  </div>
</header>
