<div
  class="top-alert"
  *ngIf="showMsg$()"
  [ngClass]="{
    'waiting-alert': msgText$() === 'Waiting for Signature',
    'success-alert': msgText$() === 'Signed Successfully',
  }"
>
  <span class="icon">
    <app-warning-icon
      *ngIf="msgText$() === 'Waiting for Signature'"
    ></app-warning-icon>

    <!-- Success icon -->
    <app-signed-successfully-icon
      *ngIf="msgText$() === 'Signed Successfully'"
    ></app-signed-successfully-icon>
  </span>
  <span class="text">{{ msgText$() }}</span>
</div>

<div class="page-wrapper mt-3" [class.blur]="showMsg$()">
  <app-white-card>
    <div class="template-header">
      <app-custom-select
        placeholder="Temaplate: Lease Agreement"
      ></app-custom-select>
    </div>
  </app-white-card>
</div>
