<div class="cmmnPrprtyViewCol">
  <div class="cmmnPrprtyViewSldr" *ngIf="propertyImages.length > 0; else noImages">
    <div class="thumbSwiperOuter">
      <swiper-container
        #thumbSwiper
        init="false"
        slides-per-view="4"
        space-between="6"
        watch-slides-progress="true"
        navigation="true"
        class="thumbSwiper verticalThumbs"
      >
        <swiper-slide *ngFor="let propertyImage of propertyImages">
          <img [src]="propertyImage.imgSrc" />
        </swiper-slide>
      </swiper-container>
    </div>
    <swiper-container
      #mainSwiper
      init="false"
      navigation="false"
      effect="fade"
      pagination="false"
      autoplay="false"
      class="mainSwiper"
    >
      <swiper-slide *ngFor="let propertyImage of propertyImages">
        <div class="prprtyViewSldrImg">
          <img [src]="propertyImage.imgSrc" />
        </div>
      </swiper-slide>
    </swiper-container>
  </div>
  <ng-template #noImages>
    <div class="cmmnPrprtyViewSldr no-img-placeholder">
      <div class="no-img-box">No Images</div>
    </div>
  </ng-template>
  <div class="cmmnPrprtyViewCntnt">
    <div class="cmmnPrprtyViewTop">
      <p>{{ infoLabel | translate }}</p>
      <div>
        <div class="statusIcons" *ngIf="showPlatformIcons">
          <img src="assets/platfrom/property-finder.svg" />
          <img src="assets/platfrom/buyut.svg" />
          <div class="shareIconWrapper">
            <img
              src="assets/platfrom/list-more-icon.svg"
              (click)="toggleShare()"
              class="clickIcon"
            />

            <!-- Popup -->
            <div class="sharePopup" *ngIf="showSharePopup">
              <div class="shareItem">
                <input type="checkbox" checked />
                <span class="propertyFinder"
                  ><img src="assets/platfrom/platfrom-1.png"
                /></span>
              </div>

              <div class="shareItem">
                <input type="checkbox" checked />
                <span class="bayut"
                  ><img src="assets/platfrom/platfrom-2.png"
                /></span>
              </div>

              <button class="shareBtn">
                <i class="fa fa-paper-plane"
                  ><app-share-platfrom-icon></app-share-platfrom-icon>
                </i>
                Share
              </button>
            </div>
          </div>
        </div>
        <p>
          {{ "STATUS" | translate }}: <span>{{ status }}</span>
        </p>

        <button
          type="button"
          class="btn btnCommon btnWhite"
          *ngIf="showBack"
          (click)="onBackClick()"
        >
          <i><app-back-icon /></i> {{ "BACK" | translate }}
        </button>
      </div>
    </div>
    <div class="cmmnPrprtyViewTtl">
      <h4>{{ name }}</h4>
      <h5>{{ location }}</h5>
    </div>
    <div class="cmmnPrprtyViewCost">
      <div class="rentRow">
        <div class="rentLeft">
          <span>{{ "RENT_COST" | translate }}</span>
          <h3>{{ price }}</h3>
        </div>
        <div class="reraBox" *ngIf="priceLabel">
          <h6 class="reraTitle">{{ priceLabel }}</h6>
          <h4 class="reraValue">{{ priceValue }}</h4>
        </div>
      </div>
      <ul>
        <li *ngIf="sqft">
          <i><app-bhk-icon /></i> {{ bhk }}
        </li>
        <li *ngIf="sqft">
          <i><app-sqaure-feet-icon /></i> {{ sqft }}
        </li>
      </ul>
    </div>
    <div class="cmmnPrprtyViewInfo">
      <app-property-accordian-card [accordianData]="sections" />
    </div>
  </div>
</div>
