<div class="mb-4">
  <app-white-card [title]="'CHARGES' | translate"></app-white-card>
  <form [formGroup]="chargesForm">
    <div class="mt-3">
      <div class="cmmnTblHdr">
        <div class="row g-3 align-items-center">
          <div class="col-md">{{ "ADD_DELETE" | translate }}</div>
          <div class="col-md-auto">
            <button
              *ngIf="!showSave"
              class="btn btnCommonsx"
              (click)="addNewRow()"
            >
              <app-plus-icon></app-plus-icon>
              {{ "ADD_MORE" | translate }}
            </button>

            <button *ngIf="showSave" class="btnCommon" (click)="saveRow()">
              <i><app-save-icon></app-save-icon> </i>{{ "SAVE" | translate }}
            </button>
          </div>
        </div>
      </div>

      <div class="cmmnTblBody">
        <div class="table-responsive">
          <table class="charges-table">
            <thead>
              <tr>
                <th>{{ "DESCRIPTION" | translate }}</th>
                <th>{{ "AMOUNT" | translate }}</th>
                <th>{{ "TAX_CODE" | translate }}</th>
                <th>{{ "VAT" | translate }}</th>
                <th>{{ "EDITABLE" | translate }}</th>
                <th>{{ "TOTAL_AMOUNT" | translate }}</th>
              </tr>
            </thead>

            <tbody formArrayName="charges">
              <tr *ngIf="!chargesArray.controls.length">
                <td colspan="6" align="center"><app-no-data /></td>
              </tr>
              <tr
                *ngFor="let c of chargesArray.controls; let i = index"
                [formGroupName]="i"
                class="charges-row"
                (click)="activeRow = activeRow === i ? null : i"
              >
                <td>
                  {{ i + 1 }}
                  <ng-container *ngIf="c.value.isEdit || c.value.isNew">
                    <input
                      class="inline-input"
                      [class.input-error]="
                        c.get('description')?.invalid &&
                        c.get('description')?.touched
                      "
                      placeholder="Enter here"
                      formControlName="description"
                    />
                    <div
                      class="field-error"
                      *ngIf="
                        c.get('description')?.invalid &&
                        c.get('description')?.touched
                      "
                    >
                      <span
                        *ngIf="c.get('description')?.errors?.['required']"
                        >{{ "REQUIRED" | translate }}</span
                      >
                      <span
                        *ngIf="c.get('description')?.errors?.['minlength']"
                        >{{ "MIN_LENGTH_2" | translate }}</span
                      >
                      <span
                        *ngIf="c.get('description')?.errors?.['maxlength']"
                        >{{ "MAX_LENGTH_100" | translate }}</span
                      >
                    </div>
                  </ng-container>
                  <span
                    *ngIf="!c.value.isEdit && !c.value.isNew"
                    (click)="editRow(i)"
                    class="desc-text"
                  >
                    {{ c.value.description }}
                  </span>
                </td>
                <td>
                  <ng-container *ngIf="c.value.isEdit || c.value.isNew">
                    <input
                      class="inline-input"
                      [class.input-error]="
                        c.get('amount')?.invalid && c.get('amount')?.touched
                      "
                      type="number"
                      placeholder="Enter here"
                      formControlName="amount"
                    />
                    <div
                      class="field-error"
                      *ngIf="
                        c.get('amount')?.invalid && c.get('amount')?.touched
                      "
                    >
                      <span *ngIf="c.get('amount')?.errors?.['required']">{{
                        "REQUIRED" | translate
                      }}</span>
                      <span *ngIf="c.get('amount')?.errors?.['min']">{{
                        "AMOUNT_MIN" | translate
                      }}</span>
                      <span *ngIf="c.get('amount')?.errors?.['pattern']">{{
                        "AMOUNT_PATTERN" | translate
                      }}</span>
                    </div>
                  </ng-container>
                  <span *ngIf="!c.value.isEdit && !c.value.isNew">
                    {{ c.value.amount | number: "1.2-2" }}
                  </span>
                </td>

                <td>
                  <ng-container *ngIf="c.value.isEdit || c.value.isNew">
                    <input
                      class="inline-input"
                      [class.input-error]="
                        c.get('tax_code')?.invalid && c.get('tax_code')?.touched
                      "
                      placeholder="Enter here"
                      formControlName="tax_code"
                    />
                    <div
                      class="field-error"
                      *ngIf="
                        c.get('tax_code')?.invalid && c.get('tax_code')?.touched
                      "
                    >
                      <span *ngIf="c.get('tax_code')?.errors?.['required']">{{
                        "REQUIRED" | translate
                      }}</span>
                      <span *ngIf="c.get('tax_code')?.errors?.['maxlength']">{{
                        "MAX_LENGTH_20" | translate
                      }}</span>
                    </div>
                  </ng-container>
                  <span *ngIf="!c.value.isEdit && !c.value.isNew">
                    {{ c.value.tax_code }}
                  </span>
                </td>

                <td>
                  <span>{{ c.value.vat | number: "1.2-2" }}</span>
                </td>

                <td class="text-center">
                  <div class="form-check form-switch">
                    <input
                      class="form-check-input"
                      type="checkbox"
                      formControlName="is_editable"
                    />
                  </div>
                </td>

                <td class="total-cell">
                  <span>
                    {{ c.value.total | number: "1.2-2" }}
                  </span>

                  <div
                    class="hover-actions"
                    [class.show-actions]="activeRow === i"
                  >
                    <button class="btn btn-sm btn-edit" *ngIf="!c.value.isEdit">
                      <app-edit-icon (click)="editRow(i)"></app-edit-icon>
                    </button>
                    <button
                      *ngIf="c.value.isEdit"
                      class="saveBtn"
                      (click)="saveRow(i); $event.stopPropagation()"
                    >
                      Save
                    </button>
                    <button
                      class="btn btn-sm btn-delete"
                      (click)="deleteRow(i)"
                      *ngIf="!c.value.isEdit"
                    >
                      <app-delete-icon></app-delete-icon>
                    </button>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </form>
</div>
