.btnCommonsx {
  background-color: var(--whiteBg);
  /* box-shadow: 0 0 6px 0 var(--shadowLight); */
  border-radius: 10px;
  padding: 6px 14px;
}
.mt-3 {
  background: var(--whiteBg);
  border-radius: 10px;
}
.cmmnTblBody table thead tr th {
  color: var(--textBlack);
}

.desc-cell {
  display: flex;
  align-items: center;
  gap: 6px;
}

.sr-no {
  color: var(--textSecondary);
  font-weight: 500;
  min-width: 18px;
}

.charges-row:hover {
  background-color: var(--muteBg1);
}

.new-row {
  background: var(--rowNewBg);
}

.inline-input {
  width: 100%;
  border: none;
  outline: none;
  border-bottom: 2px solid var(--inputUnderline);
  background: transparent;
  padding: 4px 6px;
  font-size: 14px;
}

.total-cell {
  position: relative;
  padding-right: 50px;
}

.hover-actions {
  display: none;
  position: absolute;
  right: 6px;
  top: 50%;
  transform: translateY(-50%);
  gap: 6px;
}

.charges-row:hover .hover-actions {
  display: flex;
}

.btn-edit,
.btn-delete {
  border: none;
  background: transparent;
  padding: 3px;
  cursor: pointer;
}

.form-switch .form-check-input:checked {
  background-color: var(--primaryBlue) !important;
  border-color: var(--primaryBlue) !important;
}
/* underline clickable text */
.edit-text {
  border-bottom: 2px solid var(--borderAccent);
  cursor: pointer;
  padding-bottom: 2px;
}

/* edit input */
.edit-input {
  border: none;
  border-bottom: 2px solid var(--borderAccent);
  outline: none;
  background: transparent;
  width: 100%;
}

.editMode {
  background: var(--editModeBg);
  border-radius: 8px;
}

.saveBtn {
  background: var(--successBtn);
  color: var(--whiteText);
  border: none;
  padding: 4px 12px;
  border-radius: 6px;
  margin-left: 10px;
}

.edit-underline {
  border-bottom: 2px solid var(--borderAccent);
}
