<div class="upldDocCol">
  <div
    class="upldDocIcon"
    [class.dragging]="isDragging"
    (dragover)="onDragOver($event)"
    (dragleave)="onDragLeave($event)"
    (drop)="onDrop($event)"
  >
    <div class="upldDocText">
      <i><app-upload-doc-icon /></i>
      <h4>{{ "DROP_FILES" | translate }}</h4>
      <p>
        {{ "OR" | translate }}
        <span>{{ "CLICK_SELECT" | translate }}</span>
        {{ fileTypes.join(", ") }} (max. {{ maxSize }}MB)
      </p>
    </div>

    <input
      type="file"
      [attr.multiple]="isMultipleFiles ? '' : null"
      [attr.accept]="acceptTypes"
      (change)="onFileSelect($event)"
    />
  </div>
</div>
