<app-auth-title
  title="Forgot Password?"
  description="No worries! Enter your registered email, and we'll send you an OTP to reset your password."
/>

<app-auth-form>
  <form class="mb-4" [formGroup]="forgetForm" (ngSubmit)="sendOtp()">
    <div class="mb-4">
      <label for="email" class="form-label">Email Address</label>
      <div class="iconInput">
        <i><app-email-icon /></i>

        <input
          class="form-control"
          type="email"
          formControlName="email"
          placeholder="Enter your email"
        />
        @if (isInvalid(forgetForm, 'email').status) {
        <small class="errorMsg">
          {{ isInvalid(forgetForm, "email").msg }}
        </small>
        }
      </div>
    </div>
    <div class="frmBtns">
      <button type="button" class="btn btnCommon" (click)="sendOtp()">
        <!-- (click)="openOtpVerifyModal(otpVerifyContent)" -->

        Send OTP
      </button>
    </div>
  </form>
</app-auth-form>

<app-new-user-link type="back" />

<ng-template #otpVerifyContent let-modal>
  <div class="modal-body otpVerifyMdlBody">
    <div class="otpVerifyLogo">
      <a href="javascript:void(0);" (click)="goToLogin()">
        <img src="../../../../assets/mainLogoWhite.svg" alt="Doqfy Logo" />
      </a>
      <button
        type="button"
        class="close-btn"
        (click)="modal.dismiss('Cross click')"
      >
        <app-cross-icon />
      </button>
    </div>
    <div class="otpVerifyMdlInfo my-4">
      <p>
        Please enter the Verification code sent to
        <span>{{ forgetForm.get("email")?.value }}</span
        >&nbsp;<button type="button" (click)="modal.dismiss('Cross click')">
          Edit
        </button>
      </p>
    </div>

    <div class="otpVerifyForm">
      <app-auth-form>
        <form>
          <div class="mb-2">
            <ng-otp-input
              class="formOtpInput"
              (onInputChange)="onOtpChange($event)"
              [config]="{
                length: 6,
                placeholder: '',
                disableAutoFocus: true,
                allowNumbersOnly: true
              }"
            ></ng-otp-input>
          </div>
          <div class="d-flex align-items-center justify-content-between mb-4">
            <div></div>
            Timer
            <app-timer-text
              label="Resend verification code in"
              *ngIf="otpSent && otpTimer > 0"
              [time]="timerDisplay"
            />
            Resend link
            <button
              *ngIf="showResend"
              type="button"
              class="link"
              (click)="resendOtp()"
            >
              Resend OTP
            </button>
          </div>
          <div class="frmBtns">
            <button
              type="button"
              class="btn btnCommon"
              (click)="signInWithOtp()"
            >
              Reset Password
            </button>
          </div>
        </form>
      </app-auth-form>
    </div>
  </div>
</ng-template>
