<div class="row g-4">
  <div class="col-md-6 col-xxl-7">
    <app-white-card [title]="'DETAILS' | translate" size="md">
      <div class="pymntMthdOuter">
        <div class="pymntMthdOptns">
          <label>
            <input
              type="radio"
              name="paymentMethod"
              value="credit-Debit-card"
              [(ngModel)]="paymentMethodView"
            />
            <span>Credit/Debit Card </span>
          </label>
          <label>
            <input
              type="radio"
              name="paymentMethod"
              value="NEFT-bank-transfer"
              [(ngModel)]="paymentMethodView"
            />
            <span> NEFT/Bank Transfer </span>
          </label>
          <label>
            <input
              type="radio"
              name="paymentMethod"
              value="PayPal"
              [(ngModel)]="paymentMethodView"
            />
            <span><app-paypal-icon /></span>
          </label>
        </div>
        <div
          class="pymntMthdCol"
          *ngIf="paymentMethodView === 'credit-Debit-card'"
        >
          <div class="commonForm pymntMthdForm">
            <app-dash-form>
              <form>
                <div class="row g-3">
                  <div class="col-12">
                    <div class="mb-0">
                      <input
                        class="form-control"
                        type="text"
                        name="cardholderName"
                        [placeholder]="'CARDHOLDER_NAME' | translate"
                      />
                    </div>
                  </div>
                  <div class="col-6">
                    <div class="mb-0 iconGroup">
                      <input
                        class="form-control"
                        type="number"
                        name="carNumber"
                        [placeholder]="'CARD_NUMBER' | translate"
                      />
                      <!-- <i><app-card-icon /></i> -->
                    </div>
                  </div>
                  <div class="col-3">
                    <div class="mb-0">
                      <input
                        class="form-control"
                        type="text"
                        name="expiryDate"
                        [placeholder]="'Expiry date' | translate"
                      />
                    </div>
                  </div>
                  <div class="col-3">
                    <div class="mb-0">
                      <input
                        class="form-control"
                        type="text"
                        name="cvv"
                        placeholder="CVV"
                      />
                    </div>
                  </div>
                </div>
              </form>
            </app-dash-form>
          </div>
          <p>{{ "SECURE SSL PAYMENT" | translate }}</p>
        </div>
      </div>
    </app-white-card>
  </div>
  <div class="col-md-6 col-xxl-5">
    <app-white-card [title]="'PLAN_INFO' | translate" size="md">
      <div class="pmntPlanOuter">
        <div class="pmntPlanHdr">
          <ul>
            <li>
              <span>{{ "RENT" | translate }}:</span> AED32,99
            </li>
            <li>
              <span>{{ "MAINTENANCE" | translate }}:</span> AED120
            </li>
            <li>
              <span>{{ "OTHERS" | translate }}:</span> --
            </li>
          </ul>
        </div>
        <div class="pmntPlanBdy">
          <div>
            <p>{{ "NO_OF_TENANTS" | translate }}</p>
            <div class="pmntPlanQty">
              <button type="button" (click)="decreaseQty()">
                <app-minus-icon />
              </button>
              <input
                class="form-control"
                type="text"
                name="quantity"
                [(ngModel)]="quantity"
              />
              <button type="button" (click)="increaseQty()">
                <app-plus-icon />
              </button>
            </div>
          </div>
          <div>
            <div>
              <p>
                <b>{{ "BILLING" | translate }}</b>
              </p>
              <p>{{ "MONTHLY_YEARLY" | translate }}</p>
            </div>
            <h5>AED13.89 /{{ "YEAR" | translate }}</h5>
          </div>
          <div class="commonForm">
            <div class="w-100">
              <input
                class="form-control"
                type="text"
                name="promoCode"
                [placeholder]="'HAVE_PROMO_CODE' | translate"
              />
            </div>
            <button type="button" class="btn btnCommon btnBorder">
              {{ "APPLY" | translate }}
            </button>
          </div>
          <div>
            <div>
              <p>
                <b>{{ "CHARGED_TODAY" | translate }}</b>
              </p>
              <p>
                <small
                  >{{ "TAXES_INCLUDED" | translate }} (18%): 3,645.00 AED/{{
                    "YEAR" | translate
                  }}</small
                >
              </p>
            </div>
            <h4>AED123.89 / {{ "YEAR" | translate }}</h4>
          </div>
        </div>
        <div class="pmntPlanFtr">
          <button
            type="button"
            class="btn btnCommon btnBorder"
            (click)="goToPaymentsAndInvoice()"
          >
            {{ "CANCEL" | translate }}
          </button>
          <button type="button" class="btnCommon w-100">
            {{ "CONFIRM_AND_PAY" | translate }}
          </button>
        </div>
      </div>
    </app-white-card>
  </div>
</div>
