<!-- <ng-container *ngIf="!showDetailView">
  <div class="cmmnTblOuter">
    <div class="cmmnTblHdr">
      <div class="row g-3 align-items-center">
        <div class="col-md">
          <app-table-title
            [title]="'ALL_TENANTS' | translate"
            [subtitle]="'(' + totalRecords + ')'"
            (onRefresh)="onRefresh()"
          ></app-table-title>
        </div>
        <div class="col-md-auto">
          <div class="d-flex align-items-center gap-2 gap-md-3">
            <app-table-search
              [placeholder]="'SEARCH_HERE' | translate"
              (onValueChange)="searchTextChange($event)"
            />

         <app-table-filter-btn
              [title]="'FILTER' | translate"
              [hasIcon]="true"
            >
              <app-filter-icon />
            </app-table-filter-btn>

            <app-table-filter-btn
              [title]="'EXPORT' | translate"
              [hasIcon]="true"
              (clicked)="handleExportClick()"
            >
              <app-export-icon />
            </app-table-filter-btn>
            <app-table-filter-btn
              *ngIf="currentRole === 'owner'"
              [title]="'ADD_TENANT' | translate"
              [hasIcon]="true"
              (clicked)="openAddTenantModal(addTenantContent)"
            >
              <app-plus-icon />
            </app-table-filter-btn>
            <app-table-filter-btn
              *ngIf="currentRole === 'property-manager'"
              [title]="'INVITE_TENANT' | translate"
              [hasIcon]="true"
              (clicked)="openInviteTenantModal(inviteTenantContent)"
            >
              <app-invite-icon />
            </app-table-filter-btn>
          </div>
        </div>
      </div>
    </div>
    <div class="cmmnTblBody">
      <div class="table-responsive">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>
                <button type="button">
                  {{ "TENANT_NAME" | translate }} <i><app-sorting-icon /></i>
                </button>
              </th>
              <th>{{ "CODE" | translate }}</th>
              <th>{{ "CONTACT_NUMBER" | translate }}</th>
              <th>
                <button type="button">
                  {{ "PROPERTY_ASSIGED" | translate }}
                  <i><app-sorting-icon /></i>
                </button>
              </th>
              <th>{{ "EJARI_CERTIFICATE" | translate }}</th>

         <th>{{ "RENTAL_AGREEMENT" | translate }}</th>
              <th width="200"></th>
            </tr>
          </thead>
          <tbody>
            @for (tenant of tenantsList; track $index) {
              <tr>
                <td>
                  <app-table-img-item
                    [img]="
                      tenant?.tenant_profile_image ||
                      '../../../../assets/userDefaultProImg.png'
                    "
                    [title]="tenant?.tenant_name"
                    [clickable]="true"
                    (clicked)="handleViewClick(tenant.tenant_id)"
                  />
                </td>

                <td>{{ tenant?.user_code || "N/A" }}</td>
                <td>{{ tenant.contact_number | maskPhone }}</td>

                <td>
                  <app-table-img-item
                    img="../../../../assets/property/property-img-default.svg"
                    size="md"
                    [title]="tenant.property_assigned ?? 'N/A'"
                  />
                </td>
                <td>
                  <app-document-type-item
                    title="Lease_001.pdf"
                    subtitle="1.2 MB"
                    (clicked)="handleViewPdf(tenant.lease_id)"
                  />
                  <ng-template #waitingDoc>
                    <span class="waiting-text">Waiting for document</span>
                  </ng-template>
                </td>
               <td>
                <app-document-type-item
                  title="Lease_001.pdf"
                  subtitle="1.2 MB"
                  (clicked)="handleViewPdf(tenant.lease_id)"
                />
              </td> 
                <td align="center">
                  <div class="cmmnTblActnBtnDiv">
                    <app-table-action-btn
                    type="edit"
                    (clicked)="handleEditClick()"
                  />
                  <app-table-action-btn
                    type="delete"
                    (clicked)="handleDeleteClick()"
                  /> 
                    <app-table-action-dropdown
                      [dropdownItems]="documentActions"
                      (actionClicked)="handleDropdownAction($event)"
                    >
                    </app-table-action-dropdown>
                  </div>
                </td>
              </tr>
            } @empty {
              <tr>
                <td colspan="6" align="center"><app-no-data></app-no-data></td>
              </tr>
            }
          </tbody>
        </table>
      </div>
    </div>
    <div class="cmmnTblFtr">
      <app-table-select
        [componentName]="componentName"
        [rowsPerPage]="rowsPerPage"
        [rowsPerPageOptions]="rowsPerPageOptions"
        (rowsPerPageChange)="onPageSizeChange($event)"
      />
      <app-table-pagination
        [componentName]="componentName"
        [currentPage]="currentPage"
        [totalRecords]="totalRecords"
        [rowsPerPage]="rowsPerPage"
        (pageChange)="onPageChange($event)"
      />
    </div>
  </div>

  -------------------- ADD Tenant Form --------------------
  <ng-template #addTenantContent let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-title">
        {{ "ADD_TENANT" | translate }}
      </h4>
      <button
        type="button"
        class="btn-close"
        aria-label="Close"
        (click)="modal.dismiss('Cross click')"
      ></button>
    </div>
    <div class="modal-body">
      <app-add-tenant-form #addTenantFormComponent />
    </div>
    <div class="modal-footer">
      <button
        type="button"
        class="btn btnCommon btnTransparent"
        (click)="modal.dismiss('Save click')"
      >
        {{ "CANCEL" | translate }}
      </button>
      <button
        type="button"
        class="btn btnCommon"
        (click)="onTenantSave(addTenantFormComponent, modal)"
      >
        {{ "SUBMIT_DETAILS" | translate }}
      </button>
    </div>
  </ng-template>

  -------------------- Invite Tenant Form --------------------
  <ng-template #inviteTenantContent let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-title">
        {{ "INVITE_TENANT" | translate }}
      </h4>
      <button
        type="button"
        class="btn-close"
        aria-label="Close"
        (click)="modal.dismiss('Cross click')"
      ></button>
    </div>
    <div class="modal-body">
      <app-invite-tenant-form #inviteFormRef />
    </div>
    <div class="modal-footer">
      <button
        type="button"
        class="btn btnCommon btnTransparent"
        (click)="modal.dismiss('Save click')"
      >
        {{ "CANCEL" | translate }}
      </button>
      <button
        type="button"
        class="btn btnCommon"
        (click)="sendInvite(inviteFormRef, modal)"
      >
        <i><app-send-icon /></i>{{ "SEND_INVITATION" | translate }}
      </button>
    </div>
  </ng-template>
</ng-container>

<ng-container *ngIf="showDetailView && selectedTenant">
  <app-table-view-card
    [title]="selectedTenant?.first_name + ' ' + selectedTenant?.last_name"
    [imgSrc]="selectedTenant?.profile_image || ''"
    [items]="[
      { label: getLabel('EMAIL'), value: selectedTenant?.email },
      {
        label: getLabel('PHONE_NUMBER'),
        value: selectedTenant?.contact_number,
      },
      {
        label: getLabel('EMIRATES_ID'),
        value: selectedTenant?.emirate_id,
      },
      { label: getLabel('CITY'), value: selectedTenant?.city },
      { label: getLabel('LOCALITY'), value: selectedTenant?.location },
      {
        label: getLabel('POSTAL_CODE'),
        value: selectedTenant?.postal_code,
      },
      {
        label: getLabel('ADDRESS_LINE_1'),
        value: selectedTenant?.address,
      },
      {
        label: getLabel('ADDRESS_LINE_2'),
        value: selectedTenant?.address,
      },
      {
        label: getLabel('LINKED_PROPERTY'),
        value: 'Prestige Builders',
        link: '/dashboard/tenants',
      },
    ]"
    [showEdit]="true"
    (edit)="handleEditClick()"
    (back)="handleBackClick()"
  ></app-table-view-card>

  <div class="mt-3">
    <app-white-card [title]="'PHOTOS_&_DOCUMENTS' | translate">
      <div class="commonTabs">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
          @for (type of tenantDocumentType; track type.key) {
            <li class="nav-item" role="presentation">
              <button
                class="nav-link active"
                [class.active]="type.key === activeDocTypeKey"
                [id]="type.key + '-tab'"
                data-bs-toggle="tab"
                [attr.data-bs-target]="'#' + type.key + '-tab-pane'"
                type="button"
                role="tab"
                [attr.aria-controls]="type.key + '-tab-pane'"
                [attr.aria-selected]="type.key === activeDocTypeKey"
                (click)="onDocTabClick(type)"
              >
              id="tenantDocument-tab" data-bs-target="#tenantDocument-tab-pane"
              aria-controls="tenantDocument-tab-pane" aria-selected="true"
              Tenant Document 
                {{ type.value }}
              </button>
            </li>
          }
         <li class="nav-item" role="presentation">
            <button
              class="nav-link"
              id="ejariDocuments-tab"
              data-bs-toggle="tab"
              data-bs-target="#ejariDocuments-tab-pane"
              type="button"
              role="tab"
              aria-controls="ejariDocuments-tab-pane"
              aria-selected="false"
            >
              Ejari Documents
            </button>
          </li> 
        </ul>
      </div>
      <div class="commonTabsContent">
        <div class="tab-content" id="myTabContent">
          @for (type of tenantDocumentType; track type.key; let i = $index) {
          <div
            class="tab-pane fade show active"
            id="tenantDocument-tab-pane"
            role="tabpanel"
            aria-labelledby="tenantDocument-tab"
            tabindex="0"
          > 

            <div
              [ngClass]="{
                'tab-pane': true,
                fade: true,
                show: type.key === activeDocTypeKey,
                active: type.key === activeDocTypeKey,
              }"
              [id]="type.key + '-tab-pane'"
              role="tabpanel"
              [attr.aria-labelledby]="type.key + '-tab'"
              [tabindex]="i"
            >
              <div class="row g-2">
                @for (
                  docsGroup of tennatDocuments[activeDocTypeKey];
                  track docsGroup.id
                ) {
                  <div class="col-auto">
                    <app-document-type-item [title]="docsGroup.file_name" />
                  </div>
                } @empty {
                  <div class="col-auto m-auto">Documents not available!</div>
                }
              </div>
            </div>
          }
          <div class="col-auto">
                <app-document-type-item title="Contract.pdf" size="1.2 MB" />
              </div>
              <div class="col-auto">
                <app-document-type-item title="Finances.png" size="1.2 MB" />
              </div>
              <div class="col-auto">
                <app-document-type-item title="Marketing.pdf" size="1.2 MB" />
              </div>
              <div class="col-auto">
                <app-document-type-item title="LaunchPlan.pdf" size="1.2 MB" />
              </div>
            </div>
          </div>
          <div
            class="tab-pane fade"
            id="ejariDocuments-tab-pane"
            role="tabpanel"
            aria-labelledby="ejariDocuments-tab"
            tabindex="0"
          >
            <div class="row g-2">
              <div class="col-auto">
                <app-document-type-item title="Contract.pdf" size="1.2 MB" />
              </div>
              <div class="col-auto">
                <app-document-type-item title="Finances.png" size="1.2 MB" />
              </div>
              <div class="col-auto">
                <app-document-type-item title="Marketing.pdf" size="1.2 MB" />
              </div>
              <div class="col-auto">
                <app-document-type-item title="LaunchPlan.pdf" size="1.2 MB" />
              </div>
            </div>
          </div> 
        </div>
      </div>
    </app-white-card>
  </div>
</ng-container> -->

<div class="mb-3">
  <app-white-card>
    <div class="commonTabs">
      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
          <button
            class="nav-link active"
            id="inOnboarding-tab"
            data-bs-toggle="tab"
            data-bs-target="#inOnboarding-tab-pane"
            type="button"
            role="tab"
            aria-controls="inOnboarding-tab-pane"
            aria-selected="true"
          >
            {{ "Onboarding Tenants" | translate }}
          </button>
        </li>
        <li class="nav-item" role="presentation">
          <button
            class="nav-link"
            id="activeTenants-tab"
            data-bs-toggle="tab"
            data-bs-target="#activeTenants-tab-pane"
            type="button"
            role="tab"
            aria-controls="activeTenants-tab-pane"
            aria-selected="false"
          >
            Active Tenants
          </button>
        </li>
      </ul>
      <button class="btn">
        <i class="btn-icon"><app-plus-icon></app-plus-icon></i>
        Add Tenant
      </button>
    </div>
  </app-white-card>
</div>

<div class="tab-content" id="myTabContent">
  <div
    class="tab-pane fade show active"
    id="inOnboarding-tab-pane"
    role="tabpanel"
    aria-labelledby="inOnboarding-tab"
    tabindex="0"
  >
    <div class="cmmnTblOuter">
      <div class="cmmnTblHdr">
        <div class="row g-3 align-items-center">
          <div class="col-md">
            <app-table-title
              [title]="'ALL_TENANTS' | translate"
              [subtitle]="'(' + totalRecords + ')'"
            ></app-table-title>

            <!-- (onRefresh)="onRefresh()" -->
          </div>
          <div class="col-md-auto">
            <div class="d-flex align-items-center gap-2 gap-md-3">
              <app-table-search
                [placeholder]="'SEARCH_HERE' | translate"
                (onValueChange)="searchTextChange($event)"
              />

              <app-table-filter-btn
                [title]="'EXPORT' | translate"
                [hasIcon]="true"
                (clicked)="handleExportClick()"
              >
                <app-export-icon />
              </app-table-filter-btn>
            </div>
          </div>
        </div>
      </div>
      <div class="cmmnTbl">
        <div class="table-responsive">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>
                  {{ "SI.No" | translate }}
                </th>
                <th>{{ "Tenant ID" | translate }}</th>
                <th>
                  {{ "Tenanat Name" | translate }}
                  <i><app-sorting-icon></app-sorting-icon></i>
                </th>
                <th>{{ "Tenure Start & End Date" | translate }}</th>
                <th>
                  {{ "Property Name " | translate
                  }}<i><app-sorting-icon></app-sorting-icon></i>
                </th>
                <th>Block /Tower</th>
                <th>Unit</th>
                <th>Contact Number</th>
                <th>Email</th>
                <th>Rent(AED)</th>
                <th>Platform</th>
                <th>Status</th>
              </tr>
            </thead>

            <tbody>
              <tr>
                <td>01</td>
                <td>LP9021</td>
                <td>
                  <app-table-img-item
                    img="assets/user/user-1.png"
                    title="Jensi"
                  ></app-table-img-item>
                </td>
                <td>1Feb 25 -2 Mar 26</td>
                <td>
                  <app-table-img-item
                    img="assets/property/property-list-1.png"
                    title="Novatis AG"
                  ></app-table-img-item>
                </td>
                <td>Evergreen(B)</td>
                <td>Evergreen(B) 204</td>
                <td>+91-70*******23</td>
                <td>Jensi&#64;***kmail.com</td>
                <td>1,800.00</td>
                <td>
                  <app-platfrom-badge
                    [platform]="{ type: 'propertyFinder' }"
                    logo="assets/platfrom/platfrom-1.png"
                  ></app-platfrom-badge>
                </td>

                <td style="display: flex; align-items: center; gap: 8px">
                  <app-badge title="Invitation Sent" status="green"></app-badge>
                  <app-table-action-dropdown
                    [dropdownItems]="documentActions"
                    (actionClicked)="handleDropdownAction($event)"
                  >
                  </app-table-action-dropdown>
                </td>
              </tr>
              <tr>
                <td>02</td>
                <td>LP9021</td>
                <td>
                  <app-table-img-item
                    img="assets/user/user-2.png"
                    title="Richard"
                  ></app-table-img-item>
                </td>
                <td>1Mar 25 -2 Apr 26</td>
                <td>
                  <app-table-img-item
                    img="assets/property/property-list-2.png"
                    title="Sliechi Tower"
                  ></app-table-img-item>
                </td>
                <td>Harmony(B)</td>
                <td>Harmony(c) 302</td>
                <td>+91-70*******76</td>
                <td>richard&#64;***kmail.com</td>
                <td>1,145.00</td>
                <td>
                  <app-platfrom-badge
                    [platform]="{ type: 'bayut' }"
                    logo="assets/platfrom/platfrom-2.png"
                  ></app-platfrom-badge>
                </td>

                <td style="display: flex; align-items: center; gap: 8px">
                  <app-badge
                    title="Waiting for physical Documents"
                    status="orange"
                  ></app-badge>
                  <app-table-action-dropdown
                    [dropdownItems]="documentActions"
                    (actionClicked)="handleDropdownAction($event)"
                  >
                  </app-table-action-dropdown>
                </td>
              </tr>
              <tr>
                <td>03</td>
                <td>VP9021</td>
                <td>
                  <app-table-img-item
                    img="assets/user/user-3.png"
                    title="Thomas"
                  ></app-table-img-item>
                </td>
                <td>3Apr 25 -2 Apr 26</td>
                <td>
                  <app-table-img-item
                    img="assets/property/property-list-2.png"
                    title="Jainhailia"
                  ></app-table-img-item>
                </td>
                <td>Sunrise(D)</td>
                <td>Sunrise(D) 101</td>
                <td>+91-70*******12</td>
                <td>thomas&#64;***mail.com</td>
                <td>1,350.00</td>
                <td>
                  <app-platfrom-badge
                    [platform]="{ type: 'direct' }"
                  ></app-platfrom-badge>
                </td>

                <td style="display: flex; align-items: center; gap: 8px">
                  <app-badge
                    title="Waiting for Ejari"
                    status="orange"
                  ></app-badge>
                  <app-table-action-dropdown
                    [dropdownItems]="documentActions"
                    (actionClicked)="handleDropdownAction($event)"
                  >
                  </app-table-action-dropdown>
                </td>
              </tr>
              <tr>
                <td>04</td>
                <td>VC9021</td>
                <td>
                  <app-table-img-item
                    img="assets/user/user-4.png"
                    title="Thomas"
                  ></app-table-img-item>
                </td>
                <td>3Apr 25 -2 Apr 26</td>
                <td>
                  <app-table-img-item
                    img="assets/property/property-list-2.png"
                    title="Jainhailia"
                  ></app-table-img-item>
                </td>
                <td>Sunrise(D)</td>
                <td>Sunrise(D) 101</td>
                <td>+91-70*******12</td>
                <td>thomas&#64;***mail.com</td>
                <td>1,350.00</td>
                <td>
                  <app-platfrom-badge
                    [platform]="{ type: 'referral' }"
                  ></app-platfrom-badge>
                </td>

                <td style="display: flex; align-items: center; gap: 8px">
                  <app-badge
                    title="Waiting for Approval"
                    status="orange"
                  ></app-badge>
                  <app-table-action-dropdown
                    [dropdownItems]="documentActions"
                    (actionClicked)="handleDropdownAction($event)"
                  >
                  </app-table-action-dropdown>
                </td>
              </tr>
              <tr>
                <td>05</td>
                <td>VC9021</td>
                <td>
                  <app-table-img-item
                    img="assets/user/user-4.png"
                    title="Thomas"
                  ></app-table-img-item>
                </td>
                <td>3Apr 25 -2 Apr 26</td>
                <td>
                  <app-table-img-item
                    img="assets/property/property-list-2.png"
                    title="Jainhailia"
                  ></app-table-img-item>
                </td>
                <td>Sunrise(D)</td>
                <td>Sunrise(D) 101</td>
                <td>+91-70*******12</td>
                <td>thomas&#64;***mail.com</td>
                <td>1,350.00</td>
                <td>
                  <app-platfrom-badge
                    [platform]="{ type: 'bayut' }"
                    logo="assets/platfrom/platfrom-2.png"
                  ></app-platfrom-badge>
                </td>

                <td style="display: flex; align-items: center; gap: 8px">
                  <app-badge
                    title="Waiting for Signature"
                    status="orange"
                  ></app-badge>
                  <app-table-action-dropdown
                    [dropdownItems]="documentActions"
                    (actionClicked)="handleDropdownAction($event)"
                  >
                  </app-table-action-dropdown>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="cmmnTblFtr">
        <app-table-select
          [componentName]="componentName"
          [rowsPerPage]="rowsPerPage"
          [rowsPerPageOptions]="rowsPerPageOptions"
        />
        <!-- (rowsPerPageChange)="onPageSizeChange($event)" -->

        <app-table-pagination
          [componentName]="componentName"
          [currentPage]="currentPage"
          [totalRecords]="totalRecords"
          [rowsPerPage]="rowsPerPage"
        />
        <!-- (pageChange)="onPageChange($event)" -->
      </div>
    </div>
  </div>
</div>
<div
  class="tab-pane fade"
  id="activeTenants-tab-pane"
  role="tabpanel"
  aria-labelledby="activeTenants-tab"
  tabindex="0"
>
  <app-active-tenant-tab></app-active-tenant-tab>
</div>
