<div class="prgrsBarTbl table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th>#</th>
        <th>{{ "NAME" | translate }}</th>
        <th>{{ "OCCUPANCY_RATE" | translate }}</th>
        <th style="text-align: center">{{ "FIGURES" | translate }}</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngIf="!rows.length">
        <td colspan="4" align="center"><app-no-data /></td>
      </tr>
      <tr *ngFor="let row of rows; let i = index">
        <td>{{ row.id || i + 1 }}</td>
        <td>{{ row.name }}</td>
        <td>
          <ngb-progressbar
            [showValue]="false"
            [value]="row.value"
          ></ngb-progressbar>
        </td>
        <td align="center">
          <span class="value">{{ row.value }}%</span>
        </td>
      </tr>
    </tbody>
  </table>
</div>
