<app-auth-title title="Reset Password?" description="Enter password" />

<app-auth-form>
  <form class="mb-4" [formGroup]="resetForm" (ngSubmit)="resetPassword()">
    <div class="mb-4">
      <app-password-strength-field
        [(value)]="password"
        [value]="resetForm.get('password')?.value"
        (valueChange)="resetForm.get('password')?.setValue($event)"
        formControlName="password"
      />
    </div>
    <div class="mb-4">
      <label for="repeatPassword" class="form-label">Confirm Password</label>
      <div class="iconInput password">
        <i><app-password-icon /></i>
        <input
          class="form-control"
          [type]="showConfirmPassword ? 'text' : 'password'"
          name="repeatPassword"
          formControlName="confirm_password"
          placeholder="Repeat your password"
        />
        <i class="right" (click)="toggleConfirmPasswordVisibility()">
          <app-password-show-icon
            *ngIf="!showConfirmPassword"
          ></app-password-show-icon>
          <app-password-hide-icon
            *ngIf="showConfirmPassword"
          ></app-password-hide-icon>
        </i>
      </div>
    </div>
    <div class="frmBtns">
      <button type="submit" class="btn btnCommon">Reset & Login</button>
    </div>
  </form>
</app-auth-form>
