<ng-container *ngIf="!showDetailView">
  <div class="cmmnTblOuter">
    <div class="cmmnTblHdr">
      <div class="row g-3 align-items-center">
        <div class="col-md">
          <app-table-title
            [title]="'All Units' | translate"
            [subtitle]="'(' + totalRecords + ')'"
            (onRefresh)="onRefresh()"
          ></app-table-title>
        </div>
        <div class="col-md-auto">
          <div class="d-flex align-items-center gap-2 gap-md-3">
            <app-table-search [placeholder]="'SEARCH_HERE' | translate" />

            <app-table-filter-btn
              [title]="'FILTER' | translate"
              [hasIcon]="true"
            >
              <app-filter-icon />
            </app-table-filter-btn>

            <app-table-filter-btn
              [title]="'EXPORT' | translate"
              [hasIcon]="true"
            >
              <app-export-icon />
            </app-table-filter-btn>
          </div>
        </div>
      </div>
    </div>
    <div class="cmmnTbl">
      <div class="table-responsive">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Unit ID</th>
              <th>
                Property Name <i><app-sorting-icon></app-sorting-icon></i>
              </th>
              <th>Unit Name</th>
              <th>Blocks /Tower</th>
              <th>Floor No</th>
              <th>Location</th>
              <th>PMC</th>
              <th>Plot No</th>
              <th>Plot Area(Sqft)</th>
              <th>Makani No</th>
              <th>Dewa No</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>133</td>
              <td>
                <app-table-img-item
                  [img]="'assets/property/property-img-1.png'"
                  [title]="'Novastis AG'"
                  (click)="handleViewClick(property.property_unit_id)"
                />
              </td>
              <td>A122</td>
              <td>10</td>
              <td>12</td>
              <td>Al Wasl,Dubai</td>

              <td>3g real estate</td>
              <td>123</td>
              <td>12345</td>
              <td>2043***7733</td>
              <td>2043***7733</td>
              <td align="center">
                <div class="tbl-action-inline">
                  <app-edit-icon></app-edit-icon>

                  <div class="cmmnTblActnBtnDiv">
                    <app-table-action-dropdown
                      [dropdownItems]="documentActions"
                      (actionClicked)="handleDropdownAction($event)"
                    >
                    </app-table-action-dropdown>
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <td>11333</td>
              <td>
                <app-table-img-item
                  [img]="'assets/property/property-img-2.png'"
                  [title]="'Siliechi tower'"
                />
              </td>
              <td>A234</td>
              <td>11</td>
              <td>1</td>
              <td>Bur Dubai,Dubai</td>

              <td>3g real estate</td>
              <td>455</td>
              <td>3456</td>
              <td>2043***7733</td>
              <td>2043***7755</td>
              <td align="center">
                <div class="tbl-action-inline">
                  <app-edit-icon></app-edit-icon>

                  <div class="cmmnTblActnBtnDiv">
                    <app-table-action-dropdown
                      [dropdownItems]="documentActions"
                      (actionClicked)="handleDropdownAction($event)"
                    >
                    </app-table-action-dropdown>
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <td>12333</td>
              <td>
                <app-table-img-item
                  [img]="'assets/property/property-img-3.png'"
                  [title]="'Jainhailia'"
                />
              </td>
              <td>B234</td>
              <td>24</td>
              <td>24</td>
              <td>Al Barshi,Dubai</td>

              <td>3g real estate</td>
              <td>455</td>
              <td>3456</td>
              <td>2043***7733</td>
              <td>2043***7755</td>
              <td align="center">
                <div class="tbl-action-inline">
                  <app-edit-icon></app-edit-icon>

                  <div class="cmmnTblActnBtnDiv">
                    <app-table-action-dropdown
                      [dropdownItems]="documentActions"
                      (actionClicked)="handleDropdownAction($event)"
                    >
                    </app-table-action-dropdown>
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <td>123</td>
              <td>
                <app-table-img-item
                  [img]="'assets/property/property-img-4.png'"
                  [title]="'Property C'"
                />
              </td>

              <td>C222</td>
              <td>05</td>
              <td>11</td>
              <td>jumeriah,Dubai</td>
              <td>3g real estate</td>
              <td>123</td>
              <td>12345</td>
              <td>2043***7733</td>
              <td>2043***7733</td>
              <td align="center">
                <div class="tbl-action-inline">
                  <app-edit-icon></app-edit-icon>

                  <div class="cmmnTblActnBtnDiv">
                    <app-table-action-dropdown
                      [dropdownItems]="documentActions"
                      (actionClicked)="handleDropdownAction($event)"
                    >
                    </app-table-action-dropdown>
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <td>133</td>
              <td>
                <app-table-img-item
                  [img]="'assets/property/property-img-5.png'"
                  [title]="'Rithi Tower B'"
                />
              </td>
              <td>S222</td>
              <td>11</td>
              <td>11</td>
              <td>Deira,Dubai</td>

              <td>3g real estate</td>
              <td>678</td>
              <td>1200</td>
              <td>2043***7733</td>
              <td>2043***7799</td>
              <td align="center">
                <div class="tbl-action-inline">
                  <app-edit-icon></app-edit-icon>

                  <div class="cmmnTblActnBtnDiv">
                    <app-table-action-dropdown
                      [dropdownItems]="documentActions"
                      (actionClicked)="handleDropdownAction($event)"
                    >
                    </app-table-action-dropdown>
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="cmmnTblFtr">
      <app-table-select
        [componentName]="componentName"
        [rowsPerPage]="rowsPerPage"
        [rowsPerPageOptions]="rowsPerPageOptions"
        (rowsPerPageChange)="onPageSizeChange($event)"
      />
      <app-table-pagination
        [componentName]="componentName"
        [currentPage]="currentPage"
        [totalRecords]="totalRecords"
        [rowsPerPage]="rowsPerPage"
        (pageChange)="onPageChange($event)"
      />
    </div>
  </div>
</ng-container>

<ng-container *ngIf="showDetailView">
  <app-white-card>
    <app-property-view-card
      [propertyImages]="property.propertyImages"
      [name]="property.name"
      [location]="property.location"
      [status]="property.status"
      [price]="property.rent"
      [bhk]="property.bhk"
      [sqft]="property.sqft"
      [sections]="property.sections"
      [showBack]="true"
      (back)="handleBackClick()"
    >
    </app-property-view-card>
  </app-white-card>
  <div class="mt-3">
    <app-white-card [title]="'ALL_DOCUMENTS' | translate">
      <div class="commonTabs">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
          <li class="nav-item" role="presentation">
            <button
              class="nav-link active"
              id="emiratesID-tab"
              data-bs-toggle="tab"
              data-bs-target="#emiratesID-tab-pane"
              type="button"
              role="tab"
              aria-controls="emiratesID-tab-pane"
              aria-selected="true"
            >
              Rental Document
            </button>
          </li>
          <li class="nav-item" role="presentation">
            <button
              class="nav-link"
              id="passportSelf-tab"
              data-bs-toggle="tab"
              data-bs-target="#passportSelf-tab-pane"
              type="button"
              role="tab"
              aria-controls="passportSelf-tab-pane"
              aria-selected="false"
            >
              Tenant Doc
            </button>
          </li>
          <li class="nav-item" role="presentation">
            <button
              class="nav-link"
              id="passportFamily-tab"
              data-bs-toggle="tab"
              data-bs-target="#passportFamily-tab-pane"
              type="button"
              role="tab"
              aria-controls="passportFamily-tab-pane"
              aria-selected="false"
            >
              Ejari Certificates
            </button>
          </li>
          <li class="nav-item" role="presentation">
            <button
              class="nav-link"
              id="employmentProof-tab"
              data-bs-toggle="tab"
              data-bs-target="#employmentProof-tab-pane"
              type="button"
              role="tab"
              aria-controls="employmentProof-tab-pane"
              aria-selected="false"
            >
              Owner Docs
            </button>
          </li>
          <li class="nav-item" role="presentation">
            <button
              class="nav-link"
              id="visaSelf-tab"
              data-bs-toggle="tab"
              data-bs-target="#visaSelf-tab-pane"
              type="button"
              role="tab"
              aria-controls="visaSelf-tab-pane"
              aria-selected="false"
            >
              Cheque
            </button>
          </li>
        </ul>
      </div>
      <div class="commonTabsContent">
        <div class="tab-content" id="myTabContent">
          <div
            class="tab-pane fade show active"
            id="emiratesID-tab-pane"
            role="tabpanel"
            aria-labelledby="emiratesID-tab"
            tabindex="0"
          >
            <div class="row g-2">
              <div
                class="col-auto"
                *ngFor="let item of documentsByType.EMIRATES_ID"
              >
                <app-document-type-item
                  [title]="item.file_name"
                  size="1.2 MB"
                  [fileUrl]="item.data"
                />
              </div>
              <div class="col-auto">
                <app-document-type-item title="dsfds.pdf" size="1.2 MB" />
              </div>
              <div class="col-auto">
                <app-document-type-item title="Marketing.pdf" size="1.2 MB" />
              </div>
              <div class="col-auto">
                <app-document-type-item title="LaunchPlan.pdf" size="1.2 MB" />
              </div>
            </div>
          </div>
          <div
            class="tab-pane fade"
            id="passportSelf-tab-pane"
            role="tabpanel"
            aria-labelledby="passportSelf-tab"
            tabindex="0"
          >
            <div class="row g-2">
              <div class="col-auto">
                <app-document-type-item title="Contract.pdf" size="1.2 MB" />
              </div>
              <div class="col-auto">
                <app-document-type-item title="Finances.png" size="1.2 MB" />
              </div>
              <div class="col-auto">
                <app-document-type-item title="Marketing.pdf" size="1.2 MB" />
              </div>
              <div class="col-auto">
                <app-document-type-item title="LaunchPlan.pdf" size="1.2 MB" />
              </div>
            </div>
          </div>
          <div
            class="tab-pane fade"
            id="passportFamily-tab-pane"
            role="tabpanel"
            aria-labelledby="passportFamily-tab"
            tabindex="0"
          >
            <div class="row g-2">
              <div class="col-auto">
                <app-document-type-item title="Contract.pdf" size="1.2 MB" />
              </div>
              <div class="col-auto">
                <app-document-type-item title="Finances.png" size="1.2 MB" />
              </div>
              <div class="col-auto">
                <app-document-type-item title="Marketing.pdf" size="1.2 MB" />
              </div>
              <div class="col-auto">
                <app-document-type-item title="LaunchPlan.pdf" size="1.2 MB" />
              </div>
            </div>
          </div>
          <div
            class="tab-pane fade"
            id="employmentProof-tab-pane"
            role="tabpanel"
            aria-labelledby="employmentProof-tab"
            tabindex="0"
          >
            <div class="row g-2">
              <div class="col-auto">
                <app-document-type-item title="Contract.pdf" size="1.2 MB" />
              </div>
              <div class="col-auto">
                <app-document-type-item title="Finances.png" size="1.2 MB" />
              </div>
              <div class="col-auto">
                <app-document-type-item title="Marketing.pdf" size="1.2 MB" />
              </div>
              <div class="col-auto">
                <app-document-type-item title="LaunchPlan.pdf" size="1.2 MB" />
              </div>
            </div>
          </div>
          <div
            class="tab-pane fade"
            id="visaSelf-tab-pane"
            role="tabpanel"
            aria-labelledby="visaSelf-tab"
            tabindex="0"
          >
            <div class="row g-2">
              <div class="col-auto">
                <app-document-type-item title="Contract.pdf" size="1.2 MB" />
              </div>
              <div class="col-auto">
                <app-document-type-item title="Finances.png" size="1.2 MB" />
              </div>
              <div class="col-auto">
                <app-document-type-item title="Marketing.pdf" size="1.2 MB" />
              </div>
              <div class="col-auto">
                <app-document-type-item title="LaunchPlan.pdf" size="1.2 MB" />
              </div>
            </div>
          </div>
          <div
            class="tab-pane fade"
            id="visaFamily-tab-pane"
            role="tabpanel"
            aria-labelledby="visaFamily-tab"
            tabindex="0"
          >
            <div class="row g-2">
              <div class="col-auto">
                <app-document-type-item title="Contract.pdf" size="1.2 MB" />
              </div>
              <div class="col-auto">
                <app-document-type-item title="Finances.png" size="1.2 MB" />
              </div>
              <div class="col-auto">
                <app-document-type-item title="Marketing.pdf" size="1.2 MB" />
              </div>
              <div class="col-auto">
                <app-document-type-item title="LaunchPlan.pdf" size="1.2 MB" />
              </div>
            </div>
          </div>
          <div
            class="tab-pane fade"
            id="bankStatement-tab-pane"
            role="tabpanel"
            aria-labelledby="bankStatement-tab"
            tabindex="0"
          >
            <div class="row g-2">
              <div class="col-auto">
                <app-document-type-item title="Contract.pdf" size="1.2 MB" />
              </div>
              <div class="col-auto">
                <app-document-type-item title="Finances.png" size="1.2 MB" />
              </div>
              <div class="col-auto">
                <app-document-type-item title="Marketing.pdf" size="1.2 MB" />
              </div>
              <div class="col-auto">
                <app-document-type-item title="LaunchPlan.pdf" size="1.2 MB" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </app-white-card>
  </div>
</ng-container>
