.tbl-action-inline {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 14px;
}

:host ::ng-deep app-edit-icon i,
:host ::ng-deep app-edit-icon svg {
  font-size: 16px;
  color: var(--icon-color);
  cursor: pointer;
}

:host ::ng-deep .cmmnTblActnBtnDiv i,
:host ::ng-deep .cmmnTblActnBtnDiv svg,
:host ::ng-deep .cmmnTblActnBtnDiv button {
  font-size: 18px;
  color: var(--icon-color);
  cursor: pointer;
  background: transparent;
  border: none;
  padding: 0;
}

.tbl-action-inline app-edit-icon:hover,
.tbl-action-inline .cmmnTblActnBtnDiv:hover {
  color: var(--icon-hover-color);
}

.table-responsive {
  overflow-x: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.table-responsive::-webkit-scrollbar {
  display: none;
}

.units-table thead tr th:last-child,
.units-table tbody tr td:last-child {
  position: sticky;
  right: 0;
  z-index: 2;
  min-width: 100px;
}

.units-table thead tr th:last-child {
  z-index: 3;
  background-color: var(--activeBg1);
  box-shadow: none;
}

.units-table tbody tr td:last-child {
  background-color: var(--whiteBg);
  box-shadow: -2px 0 4px var(--table-shadow);
}

.table td:last-child::before,
.table th:last-child::before {
  content: "";
  position: absolute;
  top: 0;
  left: -12px;
  width: 12px;
  height: 100%;
  pointer-events: none;

  background: linear-gradient(
    to left,
    var(--table-fade-shadow),
    rgba(0, 0, 0, 0.05),
    transparent
  );
}
.selected-filters {
  display: flex;
  align-items: center;
}

.filter-chip {
  display: flex;
  align-items: center;
  gap: 8px;
  color: white;
  background-color: rgb(151, 151, 248);
  padding: 1px 5px;
  border-radius: 6px;
  font-size: 10px;
  width: fit-content;
}

.cross-icon {
  cursor: pointer;
  font-size: 9px;
  font-weight: 600;
}
