<div class="dashboardStatWrap">
  <div class="dashboardStatCard">
    <div class="statRow">
      <div class="statItem total">
        <h4>
          {{ summary.total_complaints }}
          <span class="badge green"> 12% <app-arrow></app-arrow> </span>
          <small>last month</small>
        </h4>
        <h6>Total Complaints</h6>
      </div>

      <div class="statItem">
        <h4>{{ summary.total_completed }}</h4>
        <h6>Completed</h6>
      </div>

      <div class="statItem">
        <h4>{{ summary.total_in_progress }}</h4>
        <h6>In-Progress</h6>
      </div>

      <div class="statItem">
        <h4>{{ summary.total_rejected }}</h4>
        <h6>Rejected</h6>
      </div>
    </div>

    <ng-container *ngIf="isOwnerOrPmc" card-actions>
      <app-custom-select
        [options]="[
          'All',
          'Dubai hiils golf club',
          'Sillicon central mall',
          'Falcon city of wonders',
          'Majan'
        ]"
        [placeholder]="selected"
        [selectedOption]="selected"
        (optionSelected)="onOptionSelected($event)"
        [isFilter]="true"
      >
      </app-custom-select>
    </ng-container>
    <ng-container *ngIf="isTenant" card-actions>
      <button class="btn btnCommon btnPrimary" (click)="openComplaintModal()">
        New Complaint
      </button>
    </ng-container>

    <!-- MODAL -->
    <div class="modalOverlay" *ngIf="showComplaintModal">
      <div class="modalCard">
        <!-- Header -->
        <div class="modalHeader">
          <h3>New Complaint <span>#LP2672</span></h3>
          <button class="closeBtn" (click)="closeComplaintModal()">✕</button>
        </div>

        <!-- Body -->
        <div class="modalBody">
          <div class="row">
            <div class="col">
              <label>Complaint By</label>
              <input type="text" placeholder="User Name" />
            </div>

            <div class="col">
              <label>Issue on</label>
              <select>
                <option>--Select--</option>
              </select>
            </div>
          </div>

          <label>Description / Detail</label>
          <textarea placeholder="Write here"></textarea>

          <label>Upload Images</label>
          <!-- <div class="uploadBox"> -->
          <!-- <p>☁️</p>
            <strong>Drop your files here</strong>
            <span>or click to select file · PNG (max 20MB)</span> -->
          <!-- <div class="uploadSection"> -->
          <app-upload-document
            [isMultipleFiles]="true"
            [fileTypes]="['jpg', 'jpeg', 'png']"
            [maxSize]="20"
            (uploadProgress)="onUpload($event)"
          ></app-upload-document>

          <div class="uploads-list" *ngIf="uploadedImages.length">
            <app-file-upload-item
              *ngFor="let image of uploadedImages"
              [item]="image"
              (remove)="removeImage(image)"
            ></app-file-upload-item>
          </div>
          <!-- </div> -->
          <!-- </div> -->
        </div>

        <!-- Footer -->
        <div class="modalFooter">
          <button class="btnAdd">Add Complaint</button>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-container *ngIf="!showDetailView">
  <div class="cmmnTblOuter">
    <div class="cmmnTblHdr">
      <div class="row g-3 align-items-center">
        <div class="col-md">
          <app-table-title
            [title]="'COMPLAINTS' | translate"
            [subtitle]="'(' + totalRecords + ')'"
            (onRefresh)="onRefresh()"
          ></app-table-title>
        </div>
        <div class="col-md-auto">
          <div class="d-flex align-items-center gap-2 gap-md-3">
            <app-table-search
              placeholder="{{ 'SEARCH_HERE' | translate }}"
              #searchComp
              (onValueChange)="searchTextChange($event)"
            />
            <app-filter-popup-btn #filterPopup>
              <app-table-filter-btn
                [title]="'FILTER' | translate"
                [hasIcon]="true"
              >
                <app-filter-icon />
              </app-table-filter-btn>

              <ng-container form>
                <form>
                  <div class="row g-3">
                    <div class="col-md-6">
                      <label class="form-label">{{
                        "COMPLAINT_STATUS" | translate
                      }}</label>
                      <app-custom-select
                        [options]="complaintsStatus"
                        key="key"
                        value="value"
                        placeholder="Select complaints status"
                        (optionSelected)="selectedComplaintstatus = $event"
                        (click)="onHandleComplaintsStatusClick()"
                      >
                      </app-custom-select>
                    </div>
                  </div>
                </form>
              </ng-container>
              <ng-container action>
                <button
                  type="button"
                  class="btn btnCommon"
                  (click)="removeFilter(); filterPopup.closePopup()"
                >
                  {{ "REMOVE_ALL" | translate }}
                </button>
                <button
                  type="button"
                  class="btn btnCommon"
                  (click)="applyFilter()"
                >
                  {{ "APPLY" | translate }}
                </button>
              </ng-container>
            </app-filter-popup-btn>
          </div>
        </div>
      </div>
    </div>

    <div class="cmmnTblBody">
      <div class="table-responsive">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Sl.No</th>
              <th>Complaint ID</th>
              <th>Property Name</th>
              <th>Raised By</th>
              <th>Raised Date</th>
              <th width="300">Description</th>
              <th>Photos</th>
              <th>Status</th>
              <th width="120">Actions</th>
            </tr>
          </thead>

          <tbody>
            @for(item of complaints;track $index){
            <tr>
              <td>{{ $index + 1 }}</td>
              <td>{{ item.complaint_id || "N/A" }}</td>
              <td>
                <app-table-img-item
                  [img]="
                    item?.raised_by_image ??
                    '../../../../assets/userDefaultProImg.png'
                  "
                  [title]="item.property_unit_name || 'N/A'"
                />
              </td>
              <td>
                <app-table-img-item
                  [img]="
                    item?.raised_by_image ??
                    '../../../../assets/userDefaultProImg.png'
                  "
                  [title]="item.raised_by_name || 'N/A'"
                />
              </td>
              <td>{{ item.raised_date | date : "dd/mm/yyyy" : "-" }}</td>
              <td>
                {{ item.description || "N/A" }}
              </td>
              <td>
                <app-table-multi-img-item
                  [images]="[item.property_image || 'N/A']"
                  size="md"
                ></app-table-multi-img-item>
              </td>
              <td>
                <app-badge
                  [title]="item?.status.value"
                  status="green"
                ></app-badge>
              </td>
              <td align="center">
                <div class="cmmnTblActnBtnDiv">
                  <app-table-action-btn type="up-arrow" />
                  <app-table-action-btn type="complete" />

                  <app-table-action-btn type="preview" />
                  <app-table-action-btn type="disable" />
                </div>
              </td>
            </tr>

            }@empty{
            <tr>
              <td colspan="20" align="center">No data found</td>
            </tr>
            }
          </tbody>
        </table>
      </div>
    </div>

    <div class="cmmnTblFtr">
      <app-table-select
        [componentName]="componentName"
        [rowsPerPage]="rowsPerPage"
        [rowsPerPageOptions]="rowsPerPageOptions"
        (rowsPerPageChange)="onPageSizeChange($event)"
      />
      <app-table-pagination
        [componentName]="componentName"
        [currentPage]="currentPage"
        [totalRecords]="totalRecords"
        [rowsPerPage]="rowsPerPage"
        (pageChange)="onPageChange($event)"
      />
    </div>
  </div>
</ng-container>

<!-------------------------------------------------  Assign Engineer modal From ----------------------------------------------->
<!-- <ng-template #addRoleContent let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-title">
      {{ "ASSIGN_ENGINEER" | translate }}
    </h4>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    ></button>
  </div>
  <div class="modal-body">
    <app-add-assign-engineer-form [form]="assignEnginnerForm" />
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btnCommon btnTransparent"
      (click)="modal.dismiss('Save click')"
    >
      {{ "CANCEL" | translate }}
    </button>
    <button type="button" class="btn btnCommon">
       (click)="createRole()" 
      (click)="modal.close('Save click')" 

      {{ "ASSIGN_ENGINEER" | translate }}
    </button>
  </div>
</ng-template> -->
